[2019-05-31 18:21] #411 closed

[2019-06-01 10:44] chakrihacker commented on #382
I would like to take this

[2019-06-02 19:57] sibelius commented on #411
they have a .podspec in a different location

https://github.com/FormidableLabs/react-native-app-auth/blob/master/ios/RNAppAuth.podspec

how can I let `cli` knows about this?

[2019-06-02 21:21] thymikee commented on #411
I think that should do in your `react-native.config.js`:

[code]

You can also send them PR with this configuration added:
[code]

You'll also find the docs on configuration helpful: https://github.com/react-native-community/cli/blob/master/docs/configuration.md

[2019-06-03 13:21] sibelius opened #412 "bug on custom config for podspec on autolinking"
## Environment

[code]

## Description

I'm following this doc https://github.com/react-native-community/cli/blob/master/docs/dependencies.md to provide a custom path for podspec for react-native-app-auth

https://github.com/react-native-community/cli/blob/master/docs/dependencies.md

My config is like this:

[code]

If I add `ios/RNAppAuth.podspec`, it will re-add another .podspec to Podfile loca

[2019-06-03 17:08] skhameneh commented on #48
@Esemesek what's the path moving forward for `autolinking`?
I'm having linking issues with local fonts, could be a race condition in `0.59.8`.

I get a lot of, changes font file names listed on every run
[code]

[2019-06-03 19:48] thymikee commented on #48
cc @grabbou ^

[2019-06-03 20:57] skhameneh commented on #48
I double checked, `0.59.X` and higher give me race conditions when linking on Windows.
`0.58.X` has the pathing bug on windows that causes Windows paths (`\`) to be linked.

[2019-06-04 06:09] thymikee commented on #48
@skhameneh whole you're investigating that, would you mind sending a PR with a fix? We don't use Windows for development unfortunately and that would much appreciated

[2019-06-04 15:03] skhameneh commented on #48
@thymikee I don't have a fix at the moment.
I found killing `adb.exe` releases some of the file locks on my fonts.

Here's some extra info for possible repro:

[code]

[code]

[2019-06-04 23:25] invig commented on #381
I've fixed this in #414

[2019-06-05 05:00] thymikee commented on #381
Which is now merged. Will be available in next release

[2019-06-05 05:00] #381 closed

[2019-06-05 06:39] lucarge commented on #381
Thanks guys ❤️

[2019-06-06 08:14] d3vhound opened #418 "error Could not find iPhone X simulator"
## Environment

[code]

## Description

Not related to
https://github.com/facebook/react-native/issues/21824
https://github.com/facebook/react-native/issues/23282
as they have older versions of react-native. 59.9 doesn't even have the files they mentions because this repo now handles it.

Since 59.9 and upgrading to xcode 10.2 `react-native run-ios` always produces an error. I've tried reinstallin

[2019-06-06 08:19] thymikee commented on #418
I'm using Xcode `10.2.1` and never encountered this error. Can you post the full error you get (ideally with `--verbose` flag passed to the command)?

[2019-06-06 08:20] thymikee commented on #418
Also, make sure you have the latest CLI (so remove `@react-native-community/cli` from lockfile and run install again)

[2019-06-06 08:21] d3vhound commented on #418
here's with --verbose
[code]

[2019-06-06 08:25] d3vhound commented on #418
Delete my lock file and reran npm install. This is the top of the @react-native-community/cli/package.json

[code]

So which version do I have? 1.2.1 or 1.9.7?

[2019-06-06 08:27] thymikee commented on #418
You have 1.9.7 now which is good. Still happening?

[2019-06-06 08:30] d3vhound commented on #418
Here's all the sims I have. I may be reaching but do you think it's something to do with 12.2 components not showing up in xcode?
<img width="786" alt="Screen Shot 2019-06-06 at 3 26 15 AM" src="https://user-images.githubusercontent.com/17565159/59018315-3cf1ad00-880b-11e9-8761-74c40a10c89c.png">

Even though they show up when running `xcrun simctl list devices`
[code]

[2019-06-06 08:34] d3vhound commented on #418
Yeah issue still exists. Also forgot to mention that building from Xcode works. That's why iPhone XR is booted in the cli output above. Just weird that the cli broke down on me. Another repro could be to download the new xcode beta. I regret doing it now but that could be the root cause

[2019-06-06 08:36] thymikee commented on #418
Oh, that's weird, because your envinfo shows `Xcode: 10.2.1/10E1001 - /usr/bin/xcodebuild`.

Then you may hit this: https://github.com/react-native-community/cli/pull/414 (will make a release soon)

[2019-06-06 08:38] d3vhound commented on #418
Yeah I've uninstalled the beta and wiped all the related xcode files before reinstalling 10.2. Just weird that the issue still exists when last week I had downloaded xcode 10.2 and everything was fine.

[2019-06-06 08:44] thymikee commented on #418
Can you try if applying that diff in your node_modules helps?

[2019-06-06 08:45] d3vhound commented on #418
That pull request makes sense though and might be the solution. Do we know what causes it to persist in my case though? I do remember when I tried to delete xcode files following this forum post (https://forums.developer.apple.com/thread/110227) I couldn't and maybe the "issue" got persisted on to my machine

Couldn't delete these with sudo
`/System/Library/Receipts/com.apple.pkg.XcodeExtensionSup

[2019-06-06 08:47] thymikee commented on #418
You could probably delete them (if you're sure about that) in [Safe Mode](https://www.wikihow.com/Start-Your-Mac-in-Safe-Mode). Apple prevents deleting some of the files in regular mode

[2019-06-06 08:48] d3vhound commented on #418
That diff is the solution. Works now.

[2019-06-06 08:48] thymikee commented on #418
Thanks! I'll close the issue then

[2019-06-06 08:49] d3vhound commented on #418
Once I have more time I'll try and reproduce this whole issue with a mac VM. Pretty sure downloading the beta caused this.

[2019-06-06 13:02] thymikee commented on #418
Released 1.9.8 with the fix

[2019-06-08 20:36] pvinis opened #422 "cli upgrade and binary files"
## Description

this is an upgrade issue with the current way, so let's keep it here and decide what to do.

one example is https://github.com/react-native-community/rn-diff-purge/issues/17#issuecomment-500160950

[2019-06-09 16:31] matei-radu opened #423 "Standardize how we make HTTP requests?"
During the review of [#268](https://github.com/react-native-community/cli/pull/268), we noticed that we are using multiple fetch implementations across the CLI. These are:

1. `fetch` function from [`cli/src/tools/fetch.js `](https://github.com/react-native-community/cli/blob/master/packages/cli/src/tools/fetch.js). This is a very, very minimalistic GET-only wrapper around the standard `https` mod

[2019-06-09 19:42] thymikee commented on #423
Thanks for bringing this up. I'm also for using `node-fetch` since we have it already. However, I'd build a small abstraction around it, so we can switch the implementation easily in the future, and call it `tools/networking.js` or so. Then it will be pretty obvious what we use to handle network requests :)

[2019-06-10 06:51] thymikee commented on #422
Yea, we need to somehow tell `git apply` to overwrite binary files. Not sure how to do it yet.

[2019-06-12 09:25] justynasowinska commented on #48
react-native link doesn't link fonts for now.
react-native: 0.59.8

[2019-06-12 11:34] thymikee commented on #48
@justynasowinska can you share a minimal repro so we can investigate what's the issue?

[2019-06-12 14:16] thymikee commented on #308
Bump: https://github.com/react-native-community/discussions-and-proposals/issues/134#issuecomment-501259954

[2019-06-12 22:30] empyrical opened #425 "`react-native init` has an issue when providing a Git version of React Native to `--version`"
## Environment

[code]
## Description

In older versions of the React Native CLI (I think this was before it got moved back into its own repo) I was able to provide GitHub repos/`file:` paths (basically whatever npm/yarn are able to install from) to `--version` and it would successfully init a new React Native project using a Git version or a local working version of the React Native repo.

It sti

[2019-06-13 05:30] thymikee commented on #425
Legacy init is not actively developed anymore. Please use new init for such use cases: https://github.com/react-native-community/cli/blob/master/docs/init.md#for-react-native0600-or-greater

The `--version` argument in new init can only be a valid npm tag, for all else `--template` is used.

[2019-06-13 05:30] #425 closed

[2019-06-13 07:46] iremlopsum commented on #308
I have had aliases to reload and shake android for awhile now, never figured out how to do it for iOS, but maybe my android commands will help

`alias shake="adb -d shell input keyevent 82"`
`alias reload="adb -d shell input keyevent KEYCODE_MENU && adb -d shell input keyevent ENTER && adb -d shell input keyevent ENTER"`

[2019-06-13 16:16] empyrical commented on #425
Thanks!

These work partially:

[code]

Seem to get this error however:

[code]

A similar bug seems to be affecting users in invertase/react-native-firebase#2126. I will see if I can figure out what's going on there.

[2019-06-13 16:19] thymikee commented on #425
init will take the RN from `latest` tag by default (which is 0.59.9 currently). You need to pass `--template` argument:

[code]

[2019-06-13 16:37] empyrical commented on #425
I get the same error when providing the git repo as a template too.

[2019-06-13 17:03] thymikee commented on #425
So I tried locally:
[code]

and it fails for clear reason:

[code]

Forgot to tell you that RN uses `1000.0.0` as a version on master :D You need to checkout RN locally, change the version to `$pwd` (absolute path to React Native) and pass `--template /absolute/path/to/react-native`.

Maybe, since 1000.0.0 is pretty special, we could apply some special handling to it.

[2019-06-14 10:53] maheshaarkenea commented on #48
i am trying to use this to link fonts. but unfortunate its not working as posted 2 days ago. need alternative. :(

[2019-06-14 15:11] RomanKontsevoy commented on #48
Used this because of example on this page: https://www.npmjs.com/package/react-native-fetch-blob

[2019-06-14 15:48] thymikee opened #429 "Support pre-/postlink hooks in autolinking"
## Describe the Feature

Currently `prelink` and `postlink` are not executed when autolinking happens. That's because the linking logic moved to CocoaPods and Gradle scripts.

## Possible Implementations

Hooks should be available in `config` already: https://github.com/react-native-community/cli/blob/7dec6541a88ba3496d43a20a832b3150166522aa/types/index.js#L123-L127

Hope @orta and @Salakar have i

[2019-06-14 15:51] thymikee commented on #89
`--verbose` is now available, can you make sure to install latest CLI (v1.9.9) and re-run this?

[2019-06-15 04:06] KingAmo opened #430 "linking failed after change android package"
## Environment

[code]
## Description
i changed my package from `com.fastHealthExam` to `com.cmlabs.fastHealthExam`，when i install a new dependency，`react native link`  seems like not recognize it .
the new directory of  `MainApplication.java` is in `com/cmlabs/fastHealthExam/MainApplication.java`, not the error info below
[code]
the location of my `MainApplication.java` is wrong

- new package hi

[2019-06-15 05:39] KingAmo commented on #430
i solved this problem: in `AndroidManifest.java` ,  change `package="com.cmlabs.fastHealthExam"`

[2019-06-15 05:43] thymikee commented on #430
Check out https://github.com/react-native-community/cli/blob/master/docs/projects.md#project-1 and packageFolder option. The docs are written for newer config available in next major version, but there's a migration guide on the bottom which should give you some hints on how to do it with "rnpm" old config format.

Even better, check how RN Firebase does it: https://github.com/invertase/react-nati

[2019-06-15 05:43] #430 closed

[2019-06-17 14:07] #422 closed

[2019-06-18 11:53] Miyaguisan commented on #48
I use this command to link my fonts.
Everything else I link manually.

[2019-06-19 12:23] ammoradi commented on #48
I created a new project with updated react-native version and at once I added all of the project dependencies. in this case, `react-native link` command were useful.

[2019-06-20 01:05] robertying opened #434 "Autolink failed to get `react-native-code-push` deployment key"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i3-8100B CPU @ 3.60GHz
    Memory: 224.80 MB / 8.00 GB
    Shell: 5.7.1 - /usr/local/bin/zsh
  Binaries:
    Node: 12.4.0 - /usr/local/Cellar/node/12.4.0/bin/node
    Yarn: 1.16.0 - /usr/local/Cellar/node/12.4.0/bin/yarn
    npm: 6.9.0 - /usr/local/Cellar/node/12.4.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchm

[2019-06-20 11:55] #434 closed

[2019-06-20 13:14] daniyal-intellicel commented on #48
I use it to link custom fonts

[2019-06-20 13:15] daniyal-intellicel commented on #48
I use it to link custom fonts

[2019-06-22 08:42] ghasemikasra39 opened #437 "adb: error: cannot bind listener: Operation not permitted"
## Environment

[code]
## Description

When I run `react-native run-android` the packager stops after some seconds
[code]

![image](https://user-images.githubusercontent.com/24314029/59961600-3479c180-94ef-11e9-83a5-0c4e347e27f0.png)

[2019-06-22 08:46] thymikee commented on #437
Can you provide a repro we can download? Otherwise it's not actionable on our side.

[2019-06-22 09:23] thymikee commented on #429
I was thinking for this topic for a while recently and I'm considering killing prelink/postlink hooks in the CLI. It occurs to me that the whole concept is not so good after all, even if helpful at times. Here's the list of pain points I have with these "hooks":
- **incoherent DX** – some do background work, some ask questions, some run even when already linked,
- **potential for security vulnerab

[2019-06-24 02:50] astulip opened #438 "Android import BuildConfig and R"
Should applicationId be changed to packageName
My configuration is as follows
Manifest packageName: com.noohle
Gradle applicationId: com.noohle.wk.erp

But BuildConfig and R are packageName information.

https://github.com/react-native-community/cli/pull/435/commits/e46b9687582e17292d76ee69bc3b036226ba5692

[2019-06-24 06:58] thymikee commented on #438
Cc @robertying

[2019-06-24 09:52] robertying commented on #438
Hey @astulip, thanks for pointing out the problem. I tested it and you were right! Awesome job 😊

So for my commit, I just added extra `import *.R`, totally unware of the problem since `import *.BuildConfig` was already using `applicationId`.

Now that you brought that up, I did some study and found `R` and `BuildConfig` are located using `packageName` rather than `applicationId`.

I figured out a

[2019-06-24 09:58] KristineTrona commented on #374
I have the same issue. How can I fix it?

here is my react-native info output:
[code]

My project is experiencing an issue, where the main.jsbundle file is not automatically created. I try to run ``react-native bundle --entry-file='index.js' --platform='ios' --dev=false --bundle-output='ios/YouTalk/main.jsbundle'``which gives me the following error:

[code]

If I look into the DependencyGraph.js a

[2019-06-24 10:02] thymikee commented on #374
@KristineTrona remove `@react-native-community/cli` from the lockfile and regenerate it (reinstall packages). That should fetch the latest version with has a fix.

[2019-06-24 10:07] astulip commented on #438
@robertying

At first, I also wanted to change the source code.
But I found a temporary alternative to not changing the script.
applicationId == packageName
Use applicationIdSuffix

[2019-06-24 10:12] robertying commented on #438
@astulip glad you found a way. But can you confirm the pull request work for you as well?

[2019-06-24 10:17] KristineTrona commented on #374
@thymikee Thank you! Indeed, removing the lockfile and reinstalling the packages solved the issue!

[2019-06-24 11:54] zidniryi commented on #48
I use link if I forgot about the package name, and to linking fonts and my custom styles.

[2019-06-24 12:02] thymikee commented on #48
Thanks for all the input, it's really valuable. As @Esemesek [already noted](https://github.com/react-native-community/cli/issues/48#issuecomment-477716648) here, we're not gonna introduce this change.

Since React Native 0.60, we hope the need for `react-native link` will massively drop because of the autolinking feature, which we hope you'll love. However, we don't deprecate it just yet. In fact

[2019-06-24 12:57] lucasbento commented on #51
Bump: https://github.com/react-native-community/discussions-and-proposals/issues/134#issuecomment-504419361 cc @huextrat :)

[2019-06-24 13:42] grabbou opened #441 "Better placeholder name for the template"
## Description

Cross-posting https://github.com/microsoft/react-native-windows/issues/2663.

## Reproducible Demo

Running `react-native init helloworld_test` will result in `helloworld_test_test` name being used in `package.json`, because:
- our placeholder name is `HelloWorld`
- the regex is case insensitive (?) and will replace `helloworld` in `helloworld_test` (not looking for a whole word, b

[2019-06-24 13:55] grabbou commented on #429
In their current form and implementation, I considered them deprecated and that was one of the reasons I didn't push on implementing them as a part of `autolinking` which should solve the primary use-case for them.

I am generally in favour of leaving them as a thing of the past and not adding support for the future linking.

One thing that I would like to make sure though is whether consumers of

[2019-06-24 14:15] #438 closed

[2019-06-24 14:54] thymikee commented on #412
@sibelius I've checked that recently and with current design we expect podspec to be inside root of the project only. We'd be very welcome to support broader use cases though.

[2019-06-24 15:03] sibelius commented on #412
isn't react-native.config.js to enable this kind of customizations?

[2019-06-24 15:05] thymikee commented on #412
It is, that's why I'm not closing this issue :D

[2019-06-24 19:01] thymikee commented on #412
@sibelius mind checking if this works for you? https://github.com/react-native-community/cli/pull/442
To test it, checkout CLI locally, `yarn link` all modules inside `packages/` dir, then in your test project
[code]
and then `pod install`

[2019-06-24 19:34] #412 closed

[2019-06-25 03:42] ghasemikasra39 commented on #437
I cannot provide you with my repo. Its's very strange, I only get this error on my new ubuntu installation. any idea?

[2019-06-25 11:21] odeyatwi commented on #437
happend to me too, looks like android api 29 not allowing adb reverse

[2019-06-25 11:22] thymikee commented on #437
Is this a bug in adb/API29 or can we do something about it?

[2019-06-25 18:03] RubenSandwich opened #443 "Pretty print console logs"
## Describe the Feature
Now that console.log is forwarded to the CLI, we should think about formatting those logs to be easily readable in the terminal.

## Possible Implementations
Here is an idea of displaying arrays and objects to the console using some basic ASCII graphics. (The format below is loosely based upon [console.table](https://developer.mozilla.org/en-US/docs/Web/API/Console/table) a

[2019-06-25 18:35] thymikee commented on #443
Thanks for filing this feature request!

I'm really not sure if this is more readable than running logs through Prettier or `util.format`, especially the last example (I'm already confused by reading it). What if you log some really nested object, with a depth of at least 5 with obscure prototypes etc?

We could have this formatting for `console.table`, however it's currently not supported (not on

[2019-06-25 19:44] RubenSandwich commented on #443
@thymikee I'll be honest I did not think of using Prettier. I looked around the JS ecosystem again and found pretty-format which is what Jest uses: https://github.com/facebook/jest/tree/master/packages/pretty-format.

As for using util.format; I think it would be more difficult to read deeply nested objects then the pseudo console.table output I defined above.

[2019-06-26 09:05] anutheriddle commented on #437
Well that could be the issue for adb reserve command but solution of your error is as follows :-
Steps:-
1. create a assets folder under android src/main
2. run greadlew clean command
3. After that if you are able to see only one index.js file then run below command

react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.b

[2019-06-26 10:59] anutheriddle commented on #437
Follow below steps:-
1. adb kill-server
2. adb root

[2019-06-27 12:47] thymikee opened #445 "Warn about `link`-linked packages when using autolinking"
## Describe the Feature

In order for autolink to work properly, the libraries linked with `link` need to be unlinked, otherwise the build will likely fail because of duplicate headers declaration or similar.

## Possible Implementations

We could dry-run `link` before `run-ios` and `run-android` commands, collect the information about already linked modules and output a descriptive warning. Some

[2019-06-27 14:19] KevinHu2014 commented on #441
@grabbou May I give it a try ?

[2019-06-27 18:36] thymikee commented on #445
I have something like this for now:

![image](https://user-images.githubusercontent.com/5106466/60291373-0d6e2600-991b-11e9-9f41-9390707db986.png)

[2019-06-28 10:53] kelset opened #446 "Autolink doesn't add pod for some 3rd party libs"
## Environment

Latest RC3.

## Description

Basically, for some "fully native" libraries like [`react-native-app-auth`](https://github.com/FormidableLabs/react-native-app-auth), the autolinking feature doesn't add the pod in the Podspec.

I spoke with @thymikee about this and it seems that we have two options:
1) document that you need to add the pod, and then just run pod install, that's it, no

[2019-06-28 11:14] kadikraman commented on #446
Hi 👋 - it looks like this works when the `.podspec` is in the root level, but not when it's in the `/ios` directory.

I've ended up in a weird situation when I've got two. When I add the [AppAuth](https://github.com/FormidableLabs/react-native-app-auth/pull/338/commits/b0eb1746c240dd3bdbcd7370b5021af81825cb48) dependency in the root level Podspec, this does work.

[2019-06-28 11:26] thymikee commented on #446
I just tried on a latest CLI and it understands the `ios/*.podspec` and installs `AppAuth` correctly. Are you sure you have `@react-native-community/cli@2.0.0-rc.3`? That's where this improvement landed. If you do, we can close this issue, as it's solved through proper CocoaPods usage.

[2019-06-28 11:35] kadikraman commented on #446
Try
[code]
^^ this is the commit before I added the AppAuth dependency to the root level podspec

[2019-06-28 11:36] thymikee commented on #446
Also it's worth to note that since `rc.3` we first look at root level and then fall back to the directory where the Xcode project is located. If you didn't have the `s.dependency` in the root `.podspec`, I'd suspect that's why it didn't work

[2019-06-28 11:39] kadikraman commented on #446
I see, I thought that might be the case. I recently merged a PR from a contributor that added a `.podspec` to the root level, which is how I've ended up with two. Sorry about the confusion.

Would you be able to advise, would it be preferred for the `.podspec` live in the root lever or in the `/ios` directory?

[2019-06-28 11:41] thymikee commented on #446
Yep. That's the issue exactly. If you depend on a certain pod, you're supposed to have in depenencies, that's expected and works just fine with autolinking.

You can get rid of the second podspec if you don't bother supporting RN 0.59 and 0.60 at the same time because that would be a breaking change if someone passes path to your podfile in `/ios` and now it's gone.

It's totally up to you, we sup

[2019-06-28 11:41] thymikee commented on #446
Thank you very much for participating in this and have it sorted, we can close this now :)

[2019-06-28 11:41] #446 closed

[2019-06-28 11:42] kadikraman commented on #446
Thanks for your help! 🙌

[2019-06-29 10:43] lgj1993 opened #448 "[!] Invalid `Podfile` file: 784: unexpected token at '(node:12804)"
## Environment

[code]

## Description

when i run `react-native init RN060 --version react-native@next` on Mac OS  terminal

report follow error information:

[code]

pod --version
1.7.3

## Reproducible Demo

no demo

[2019-06-29 10:52] thymikee commented on #448
I tried using CocoaPods 1.6.1 and 1.7.3 on macOS, same Node version, newer Yarn (1.16), but cannot repro. Is this happening consistently? Can you try with Yarn 1.16?

[2019-06-29 11:07] thymikee commented on #448
@orta @alloy ideas on what could go wrong? Seems like the error is coming from CocoaPods and it happens only on some environments/machines.

[2019-06-29 11:47] lgj1993 commented on #448
Computers at colleagues work normally. I think it's probably not about the version.------------------ 原始邮件 ------------------
发件人: "Micha&#x142; Pierzcha&#x142;a"<notifications@github.com>
发送时间: 2019年6月29日(星期六) 晚上6:52
收件人: "react-native-community/cli"<cli@noreply.github.com>;
抄送: "lgj1993"<940937795@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [react-native-community/cli] [!] Invalid `Podf

[2019-06-29 14:14] Kennytian commented on #448
@lgj1993  Hey guys!  upgrade the your yarn to 1.16 can be fix this issue.

[2019-06-29 14:23] lgj1993 commented on #448
Cheers，just lick you say, upgrade the yarn to latest version, `pod install` is working.  @thymikee and @Kennytian , you're are smart guys!

Supper thanks from Wuhan, China! 🇨🇳

[2019-06-29 15:25] Kennytian commented on #448
@thymikee This problem is because `yarn --silent run-native config` with Yarn version 1.3.2?

[2019-06-29 19:22] thymikee commented on #448
@Kennytian looks like `--silent` is supported in Yarn 1.3.1, however it also spawns some Node deprecation messages what are corrupting the JSON output. I've sent #449 to address that by removing running `config` through Yarn.

[2019-06-29 19:23] thymikee commented on #441
@KevinHu2014 sure! @Esemesek ideas on the name or how to make the replacing more correct?

[2019-06-30 07:17] michalchudziak commented on #448
It might not be caused by a specific `yarn` version, I'm experiencing the same issue on the following environment:

[code]

[2019-06-30 08:38] thymikee commented on #448
Yarn may output some other validation messages that are not stripped out when ran with `--silent`. We'll just use `node` to run the command.

[2019-06-30 08:39] #448 closed

[2019-06-30 08:45] #445 closed

[2019-06-30 09:21] #429 closed

[2019-07-01 02:59] xiankunzhu commented on #342
I have similar error, the reason is different node version, I have two node, there a path setting in .bash_profile is different with the one (node@6/bin), I temporary set in command window as different one.
Now I change the path setting in .bash_profile to same with the command window(node/bin)
this issue disappear.
Thanks for reminder

[2019-07-01 08:26] thymikee opened #452 "Use `xed ios` for opening Xcode instructions after `init`"
## Describe the Feature

We can point users to using `xed -b ios` to open Xcode project after running init (legacy and new one). https://twitter.com/lbentosilva/status/1143055879664783360?s=20

The `-b` flag is added for opening Xcode in the background, so it doesn't block the terminal session.

cc @lucasbento

[2019-07-01 08:42] Quadriphobs1 commented on #408
I setup a monorepo using yarn-workspace but if I want to link it keep complaining that I must be inside a `react-native` project and that is because of `node_modules` in the root folder, I am wondering how you get to link ios @Federkun

[2019-07-01 08:55] lucasbento commented on #452
Where would this be best placed? Maybe [printRunInstructions.js](https://github.com/react-native-community/cli/blob/master/packages/cli/src/commands/init/printRunInstructions.js)?

[2019-07-01 09:00] thymikee commented on #452
We could adjust this line:
https://github.com/react-native-community/cli/blob/f6b546e83a3b51711f48fe320e1ea5d454019c8c/packages/cli/src/commands/init/printRunInstructions.js#L34

To say:

[code]

However, now that I think of it, cmd+press on the xcode project path is easier than running a command, it's good to know though.

[2019-07-01 09:03] lucasbento commented on #452
Agreed :)

[2019-07-01 09:21] princiya commented on #452
Is this taken? I would like to work on this.

[2019-07-01 09:24] thymikee commented on #452
@princiya feel free to take it, but please think about users, especially new ones, as I don't expect experienced RN devs to read this (not every time anyway). If you have ideas on how to make the message more approachable and less confusing, that's very welcome!

[2019-07-01 09:26] princiya commented on #452
@thymikee thank you. will look into it.

[2019-07-01 09:33] Federkun commented on #408
v2.0.0-alpha.23 currently works fine for me, for both ios and android. When you run `react-native link` you must be inside the packages with react native in it ( in my case is `packages/mobile` ), not the root folder.

v2.0.0-rc.1 is not working in my project, as soon as I find a bit of time I'll try to correct it. Sorry for the delay.

[2019-07-01 09:54] alloy commented on #448
@thymikee Yep, that sounds like the best course 👍

[2019-07-01 09:55] thymikee commented on #448
Thanks @alloy 🚀

[2019-07-01 13:25] wmertens commented on #437
@anutheriddle so the problem is that the user needs root access to open a listening port? Weird… is that from a certain Android version?

[2019-07-02 13:12] KingAmo opened #456 "error: Trying to upgrade from newer version "0.59.8" to older "0.59.10""
## Environment

[code]
## Description
when i run `react-native upgrade`,  an error come in terminal:
[code]
i think it is because the cli think `10` is lower than `8` ?

## Reproducible Demo

[2019-07-02 13:13] thymikee commented on #456
Fixed in https://github.com/react-native-community/cli/pull/455, please upgrade `@react-native-community/cli` to v1.9.12 (by removing the entry from a lockfile and re-installing).

[2019-07-02 13:13] #456 closed

[2019-07-03 07:05] CallMeLaNN opened #459 "Cannot read property 'VERBOSE' of undefined"
## Environment

[code]

## Description

`react-native log-android` not working for RN 0.60 RC, tested in 0.60.0-rc.2 and 0.60.0-rc.3. It throw the error at this line:

[code]

`Priority` has been changed to `AndroidPriority` in the recent patch release of logkitty@0.4.1 but we are using "^0.4.0". I think I can help on this one.

## Reproducible Demo

[code]

[2019-07-03 07:25] thymikee commented on #459
Sure, can you send a PR? 🙂

[2019-07-03 07:35] CallMeLaNN commented on #459
ok, I will be back with a new PR soon.

[2019-07-03 11:25] thymikee commented on #459
I've contacted the maintainer of logkitty and he's going to revert this change in `0.4.x` release.

[2019-07-03 12:02] CallMeLaNN commented on #459
I saw the new releases, that should fix it for now. So maybe I can create PR for the v0.5.0 breaking change?

[2019-07-03 12:26] thymikee commented on #459
Sure, as long as it works :)

[2019-07-03 14:26] nielsmadan opened #462 "Default release configuration does not build on ios"
## Environment

[code]

## Description

Select release configuration for ios does not build.

## Reproducible Demo

1. `react-native init testproject`
2. Open the project in xcode.
3. Product > Scheme > Edit Scheme...
4. Change `Build Configuration` to `Release`.
5. Build.

Describe what you expected to happen:

Successful build.

What actually happens.

Getting error:

[code]

You can get around

[2019-07-03 15:28] jenbuzz opened #465 "Command "react-native config" in native_moduless.gradle throws error"
## Environment

System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz
    Memory: 5.47 GB / 15.88 GB
Binaries:
    Node: 10.15.3 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.9.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
IDEs:
    Android Studio: Version  3.0.0.0 AI-171.4443003

## Description

After changes react-na

[2019-07-03 15:29] thymikee commented on #465
Fix incoming: https://github.com/react-native-community/cli/pull/464

[2019-07-03 15:31] jenbuzz commented on #465
Awesome. Thanks for the quick fix.

[2019-07-03 15:44] #465 closed

[2019-07-03 23:36] Frekansapp opened #467 "MainApplication cannot be converted to ReactNativeHost List<ReactPackage> packages = new PackageList(this).getPackages();"
## Environment

System:
    OS: Linux 4.15 Linux Mint 19.1 (Tessa)
    CPU: (4) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
    Memory: 269.00 MB / 4.74 GB
    Shell: 4.4.19 - /bin/bash
  Binaries:
    Node: 10.16.0 - /usr/local/bin/node
    npm: 6.9.0 - /usr/local/bin/npm
  npmPackages:
    react: 16.8.6 => 16.8.6
    react-native: 0.60.0 => 0.60.0
  npmGlobalPackages:
    react-native-cli: 2.0

[2019-07-04 00:22] mikehardy commented on #467
You can disable auto-link for any given package for android like so (change package name) in root of your app:

https://github.com/mikehardy/rn-androidx-demo/commit/51d1e70fe074af29c1d1f8948d8f03b76e828b9f#diff-c8e33fe90e78d567b713e8dab48e5d87R56

[code]

[2019-07-04 00:36] Frekansapp commented on #467
@mikehardy i think this line  List<ReactPackage> packages = new PackageList(**this**).getPackages()  should never work because it's expect ReactNativeHost but when we use react-native-navigation this object (MainApplication) not ReactNativeHost because it's extends from NavigationApplication not extends ReactActivity. Not sure maybe i got it wrong. I need to disable it completely for all packages,

[2019-07-04 00:38] Frekansapp commented on #467
PackageList(this).getPackages() this call causing problem

[2019-07-04 02:30] ryohlan opened #468 ""Text must not be null or empty" error occurs on Android Studio."
## Environment

System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 168.03 MB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 10.13.0 - ~/.nvm/versions/node/v10.13.0/bin/node
    Yarn: 1.2.1 - /usr/local/bin/yarn
    npm: 6.8.0 - ~/.nvm/versions/node/v10.13.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2019-07-04 03:59] darknblack commented on #467
I knew it, there would be an issue with react native navigation. Hopefully It would get solved quickly.

[2019-07-04 05:10] thymikee commented on #468
You'll need to set custom root (likely same for iOS). Here are the docs on it :) https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#custom-root-monorepos-1

[2019-07-04 05:10] #468 closed

[2019-07-04 05:12] thymikee commented on #468
Oh I just thought that outputting a helpful message with autolinking docs link if the config command output is empty would be really helpful. Would you like to contribute that?

[2019-07-04 05:17] thymikee commented on #467
Cc @michalchudziak @Salakar @Krizzu @ferrannp ideas on how to resolve it on our or native navigation side? It's gonna be pretty common with brownfield apps I guess.

[2019-07-04 06:39] theweavrs opened #470 "Autolinking fails on Windows"
## Environment
[code]
Output of `react-native --version`:
[code]
## Description
This is the error I am getting while running `react-native run-android` or `.\gradlew app:installDebug`:
[code]
I tried running the `gradlew app:installDebug` command on Git Bash but still got the same error.
## Reproducible Demo
1. Create a new project using `react-native init`
2. Run `yarn add react-native-track-play

[2019-07-04 07:09] thymikee commented on #470
Hey! Thanks for filing this issue. Unfortunately we don't have Windows machines to test on. We used to do `node ./node_modules/.bin/react-native config`, but we got a report that it doesn't work on Windows, but `./node_modules/.bin/react-native config` works. So could you share some more information about that?

[2019-07-04 07:34] lucasbento opened #471 "Run tests on a Windows CI"
## Describe the Feature

The CLI should run tests automatically for each PR (and `master` push) on Windows to be sure that future releases work well on that platform.

## Possible Implementations

We can configure [Azure Pipelines](https://azure.microsoft.com/en-us/services/devops/pipelines/) for that, it seems to be pretty straightforward.

[2019-07-04 08:02] #459 closed

[2019-07-04 08:30] guyca commented on #467
No need to override `createReactGateway` - just override the method which creates the host:

[code]

[2019-07-04 08:47] thymikee commented on #467
Maybe I'm wrong, but it seems that these private methods are not really used (unless getters have side effects I'm not aware of):
https://github.com/react-native-community/cli/blob/7220d3ef19e9344e6e3d10863a9090ac9ac729ef/packages/platform-android/native_modules.gradle#L20-L39

If that's true, we could remove passing the `ReactNativeHost` entirely.

[2019-07-04 09:23] Frekansapp commented on #467
@guyca can you remove CodePush key and i will try it remove override createReactGateway and let you know if the problem is resolved.

[2019-07-04 09:35] kidandcat commented on #468
This error is still happening. And the autolinking doesn't help, because it is happening on a fresh initialized project: https://github.com/facebook/react-native/issues/25479#issuecomment-508413174

[2019-07-04 09:44] Frekansapp commented on #467
@thymikee maybe using here
   new CodePush(getResources().getString(R.string.reactNativeCodePush_androidDeploymentKey), getApplicationContext(), BuildConfig.DEBUG), but it's throw error and i remove autolinking for codepush and add manuel

/home/rn/Desktop/denetmenapp/android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java:72: error: cannot find symbol
      new CodePus

[2019-07-04 10:00] Frekansapp commented on #467
@guyca i'am getting this error now
`
/home/rn/Desktop/denetmenapp/android/app/src/main/java/com/denetmen/MainApplication.java:19: error: MainApplication is not abstract and does not override abstract method createAdditionalReactPackages() in NavigationApplication
public class MainApplication extends NavigationApplication {`

here is my full MainApplication.java

[code]

[2019-07-04 15:50] mehulmpt opened #473 "Manual linking of packages is not working"
## Environment

[code]

## Description

Auto linking of FBSDKPackage fails with the message

[code]

which makes sense because earlier I was passing a callback manager when initializing this. So I try to manually link it using

[code]

But the exact same error (i.e. no arguments passed) is still there. It seems like my manually linked package is not picked up and like I’m missing something with Ma

[2019-07-04 16:07] mehulmpt commented on #473
Okay I just found this commit ( https://github.com/facebook/react-native-fbsdk/commit/321923e800f03c41b9c0c2802ee6e529af4024e2 ) which removes the need for passing a callback manager to the constructor which makes it work with autolink. But I’m still curious about how I could make the previous version work with manual linking.

[2019-07-04 16:10] victorwpbastos commented on #470
I confirm that `./node_modules/.bin/react-native config` works on Windows 10 and `node ./node_modules/.bin/react-native config` doesn't.

[2019-07-04 16:14] thymikee commented on #473
Are you sure you recompiled your project, maybe clean as well?

Anyway, use the 1.0.0-rc.4 of fbsdk or higher, it works with autolinking

[2019-07-04 16:14] #473 closed

[2019-07-04 16:16] thymikee commented on #470
It's already resolved and fixed in @react-native-community/cli@2.0.2, make sure you have it installed (check the lock file)

[2019-07-04 16:18] victorwpbastos commented on #470
I already have the version 2.0.2 installed:

[code]

[2019-07-04 16:22] thymikee commented on #470
Then you have a caching issue :) check your node modules, the updated code is there

[2019-07-04 16:30] victorwpbastos commented on #470
I deleted the `node_modules` folder and run `yarn` again. I confirm that `@react-native-community/cli@2.0.2` was installed correctly, but the error still persists:

[code]

[2019-07-04 19:05] bmeverett opened #474 "Error applying patch during react-native upgrade"
## Environment

[code]
## Description
I'm trying to upgrade from react-native 59.9 to 60.0 using `react-native upgrade`. I'm getting the following error when trying to do so.

[code]

This is a customized react-native project that includes some cocoa pods already and some linked libraries, is this to far gone that I will have to manually upgrade every time?

Another thing I did in trying to pinpoi

[2019-07-04 19:21] thymikee commented on #474
This error happens because of wrongly generated diff in rn-diff-purge project. I thought they fixed that but likely not every diff. Cc @pvinis
Also please make sure you're on the latest cli before upgrading, we pushed some nice improvements there (delete cli entry in lock file and reinstall)

[2019-07-04 20:04] theweavrs commented on #470
Okay so doing `node ./node_modules/.bin/react-native config` gives this:

[code]

And doing `node ./node_modules/react-native/cli.js config` stops the gradle from proceeding, stucking on this:
[code]

In the second case, the `node` process never exits so `cmdProcess.waitFor()` keeps waiting and waiting. In the first case, the command only inits the `node` without executing the command.

Adding a d

[2019-07-04 20:08] theweavrs commented on #470
@thymikee I upgraded to 2.0.2 but the error still persists. I have this command `./node_modules/.bin/react-native config` in my `native_modules.gradle` file.

[2019-07-04 20:45] theweavrs commented on #470
@thymikee after deleting `node_modules` folder, doing `yarn cache clean` the problem is still there. I tried on Git Bash, Powershell and CMD. And version is 2.0.2. So can we please reopen this?

[2019-07-04 21:10] thymikee commented on #470
Sure. But you'll need to help us make it work with your environment. We got signals that it works on some Windows, but looks like not all of them. Help appreciated :)

[2019-07-04 21:13] thymikee commented on #470
Also check if running this command alone, run from terminal, produces a json output. Maybe it takes too long

[2019-07-04 21:29] thebylito commented on #470
same here, i will retry in MacOS

[2019-07-04 21:44] pvinis commented on #474
i can try this tomorrow. all the diffs should be correct now.

[2019-07-05 01:46] tmtung144 commented on #470
`"@react-native-community/cli-tools@^2.0.2":
  version "2.0.2"
  resolved "https://registry.yarnpkg.com/@react-native-community/cli-tools/-/cli-tools-2.0.2.tgz#1dc4055f27f1b2fe3d0493959a6fc20467e93fe0"
  integrity sha512-6OOKrE1Sdq1Lmcdp2K68J5PsG5G80a9USa9I1Kv92wvPHUup6IRt+Dy7E8IZqxmskzC/mlOR62Oh1CB3sFm84g==
  dependencies:
    chalk "^1.1.1"
    lodash "^4.17.5"
    mime "^2.4.1"
    node-fetch "

[2019-07-05 02:40] linhnguyengts commented on #470
same here

[2019-07-05 03:48] Riant commented on #470
Windows 10, same error even after `node ./node_modules/react-native/cli.js config` (got a big json), and `./node_modules/react-native config` which got a small json.

And the I am sure the cli version is 2.0.2.

### Error:
The system cannot find the file specified, ... Automatic import of native modules failed
···
info Installing the app...
:ReactNative:Cannot run program "./node_modules/.bin/reac

[2019-07-05 06:17] Salakar commented on #467
They were added for backwards compatibility as some modules use them, e.g. : https://github.com/microsoft/react-native-code-push/blob/master/package.json#L45

[2019-07-05 06:25] darknblack commented on #467
Hi, just wondering whether you were able to run react native navigation in the latest version or RN (0.6)?

[2019-07-05 06:50] emin93 opened #475 "Support versioned/tagged shorthand templates"
## Environment

[code]

## Description

When creating a project with a template that has an npm dist tag on it, the CLI fails with the following error:
[code]

The issue doesn't happen when I initialize the project with the local version of the template. I checked the npm tarball (`npm pack react-native-template-typescript@next`) and the `template.config.js` is there. I quickly had a look at the `

[2019-07-05 06:53] Salakar commented on #467
Hey all, could you try this patch locally (change in node_modules):

https://github.com/react-native-community/cli/compare/@salakar/android-al-mainapplication?expand=1#diff-375026a0607eb034a6fc70cca7d74689

[2019-07-05 07:11] thymikee commented on #467
Thanks @Salakar!

[2019-07-05 07:15] theweavrs commented on #470
@thymikee Running `./node_modules/.bin/react-native config` from the root directory of the projects directly using Powershell gives the correct output.

I have currently changed my `native_modules.gradle`'s `getReactNativeConfig()` to this and it works correctly:
[code]

[2019-07-05 07:17] thymikee commented on #475
Typescript template is in the process of adding support for new init. Please give them some time.

[2019-07-05 07:19] emin93 commented on #475
Ummm, I am the maintainer of the TypeScript template and having the issue while trying to add support for the new init 😅.

[2019-07-05 07:54] thymikee commented on #475
Ah, I see. It's because we don't yet support versions/tags of shorthand templates. Would you like to add it? :)

[2019-07-05 07:56] thymikee commented on #475
The code is here: https://github.com/react-native-community/cli/blob/7220d3ef19e9344e6e3d10863a9090ac9ac729ef/packages/cli/src/commands/init/templateName.js#L74-L91
We take `latest` currently, but need to take whatever user passed after `@` and fall back to `latest`.

[2019-07-05 07:57] emin93 commented on #475
Oh okay, I thought so 😄. Yes, let me take a deep dive into how the template setup works. Unfortunately I think I can't find the time anymore this week, so please be a little patient with me 🙈.

[2019-07-05 07:58] emin93 commented on #475
Ah I see, seems to be easier than I thought.

[2019-07-05 07:59] thymikee commented on #475
Sure, take your time 👍. Or maybe @Esemesek or @maciejsimka would like to take a stab :)

[2019-07-05 09:07] scerelli opened #476 "Fails to upgrade while version is specified."
## Environment

[code]

## Description
I'm trying to upgrade from `0.59.8` to ` 0.59.10` but i get this message:
![Screenshot 2019-07-05 at 10 49 11](https://user-images.githubusercontent.com/4821190/60710431-ff1f9b80-9f12-11e9-9c4f-c991a6cdb3fe.png)

I checked the code and by reading it I suppose it must be something related to this function:
https://github.com/react-native-community/cli/blob/870

[2019-07-05 09:09] thymikee commented on #476
Duplicate of https://github.com/react-native-community/cli/issues/456. Fixed in a patch release.

[2019-07-05 09:09] #476 closed

[2019-07-05 09:13] thymikee commented on #474
@pvinis pre-`0.59.10` diffs are not updated, to list a few:
- https://github.com/react-native-community/rn-diff-purge/compare/release/0.59.9..release/0.60.0
- https://github.com/react-native-community/rn-diff-purge/compare/release/0.59.8..release/0.60.0

[2019-07-05 09:15] thymikee commented on #408
We're moving away from `react-native link` in favor of autolinking in RN 0.60. I don't think we should spend too much time fixing it, but move quicker to a better solution.

[2019-07-05 09:24] thymikee commented on #474
@bmeverett I think I know what the issue is. Can you please update the `@react-native-community/cli` to the latest `1.x` version? Remove it from the lockfile and run install again, then try upgrading once more.

[2019-07-05 09:24] #474 closed

[2019-07-05 10:25] Rishabh-Rathod opened #477 "Consuming lot of RAM : Continous increase in RAM consumption"
## Environment

System:
OS: Linux 4.15 Ubuntu 18.04 LTS (Bionic Beaver)
CPU: (4) x64 Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz
Memory: 3.42 GB / 7.65 GB
Shell: 4.4.19 - /bin/bash
Binaries:
Node: 12.5.0 - /usr/bin/node
npm: 6.10.0 - /usr/bin/npm
Watchman: 4.9.0 - /home/linuxbrew/.linuxbrew/bin/watchman
npmPackages:
react: 16.8.6 => 16.8.6
react-native: 0.60.0 => 0.60.0
npmGlobalPackages:
react-nativ

[2019-07-05 10:28] #477 closed

[2019-07-05 10:29] thymikee commented on #477
Please send a detailed report. We haven't observed issues with memory yet. Pointing to some numbers, how it worked previously, etc will be helpful. For now I'm closing the issue, because it's not actionable. Happy to reopen, once you spent some time investigating what's happening.

[2019-07-05 10:43] mi5ha commented on #470
How should we supposed to create the new RN project? When instructions on main RN site are followed, 2.0.1 of global CLI is installed and this error happens.

I also cant run mu RN app because of this (windows). It was running yesterday and just stopped.

[2019-07-05 10:48] mi5ha commented on #470
None of the developers of RN cli have windows machine?

[2019-07-05 10:48] thymikee commented on #470
None, could you believe that?

[2019-07-05 10:53] mi5ha commented on #470
Sure I can believe it :-), but that's the big problem... At this moment, you start new RN project on windows, do everything described on official site, and it doesn't run. Is there a way to help?

[2019-07-05 10:53] thymikee commented on #470
If it worked for you yesterday, then likely your environment is ok with running:

[code]
(inside `node_modules/@react-native-community/cli-platform-android/native_modules.gradle`).

It baffles me how hard it is to get regular node scripts running in Windows. Since you guys are experienced in working with this environment, we expect some help and your expertise.

We could technically run this cross

[2019-07-05 10:59] Jushcare opened #478 "ReactNative:Cannot run program "./node_modules/.bin/react-native" (in directory "C:\Users\user\mobile\result\android\.."): CreateProcess error=2, The system cannot find the file specified"
:ReactNative:Cannot run program "./node_modules/.bin/react-native" (in directory "C:\Users\proj_folder\android\.."): CreateProcess error=2, The system cannot find the file specified
:ReactNative:Automatic import of native modules failed.

:ReactNative:Cannot run program "./node_modules/.bin/react-native" (in directory "C:\Users\proj_folder\android\.."): CreateProcess error=2, The system cannot fin

[2019-07-05 11:01] thymikee commented on #478
Duplicate of https://github.com/react-native-community/cli/issues/470

[2019-07-05 11:01] #478 closed

[2019-07-05 11:04] Jushcare commented on #478
So, Mr. Mike, what can I/We do to fix this bug... Plz

[2019-07-05 11:05] thymikee commented on #470
I wonder if running through `node.cmd` works universally on Windows?
[code]

Could you folks try and let me know?

[2019-07-05 11:06] theweavrs commented on #470
Got this error:
[code]

[2019-07-05 11:07] thymikee commented on #478
If you'd like to help, please check this question of mine and answer: https://github.com/react-native-community/cli/issues/470#issuecomment-508723151

[2019-07-05 11:07] mi5ha commented on #470
This `node ./node_modules/.bin/react-native config`, produces this:

`C:\wamp64\www\test-membrane\rn 01\node_modules\.bin\react-native:2
basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^

SyntaxError: missing ) after argument list
    at new Script (vm.js:79:7)
    at createScript (vm.js:251:10)
    at Object.runInThisContext (vm.js:303:10)
    at Module._compile (internal/mo

[2019-07-05 11:10] theweavrs commented on #470
@thymikee the script can execute in many different ways, the problem is that it never ends so the cli stays stuck on 0%. I tried the command with absolute path and it worked but got stuck. The only way to bypass it is to put a timeout.

[2019-07-05 11:11] thymikee commented on #470
The point is to make it work like you'd do this in you terminal (not running Android or anything):
[code]
How can I run it on Windows but without tools like `yarn` or `npx`? Or is there any guarantee I could get from `npx` (since the version bundled with Node 8.3) to not output _literally anything_ except from user script output?

[2019-07-05 11:12] mi5ha commented on #470
There is npx on windows, and it works correctly. When I run `npx react-native config`, I get some json

[2019-07-05 11:12] theweavrs commented on #470
`yarn` or `npx` both don't work via the java `exec`.

[2019-07-05 11:14] thymikee commented on #470
Ok, so there's something we can do on performance side of things as well. This command traverses your file system a lot, which is known to be slow on Windows. We could probably make it faster, but that needs some investigation.

[2019-07-05 11:16] theweavrs commented on #470
It's not slow, it never ends. `Gradle` never executes past `cmdProcess.waitFor` because it keeps waiting for the command to give the `exit` signal but it never does for some reason. Only putting a 5s timeout makes it work.

[2019-07-05 11:16] Jushcare commented on #470
Same as mine...

[2019-07-05 11:17] mi5ha commented on #470
Maybe java exec doesnt take PATH into consideration? Btw why is this important?

[2019-07-05 11:18] theweavrs commented on #470
Because that's what's happening behind the scenes in the `native_modules.gradle`.

[2019-07-05 11:19] thymikee commented on #470
@theweavrs oh I know why it happens! Lemme construct the fix for that. In the meantime, can we all agree on what's the preferred way to run this command? We can also try/catch a bunch of them.

[2019-07-05 11:28] theweavrs commented on #470
@thymikee great!

These are all the ways that seem to work (but need a timeout):
1. `powershell ./node_modules/.bin/react-native config`
2. Running the command with absolute path to `/node_modules/.bin/react-native`

And these are the ones that don't need timeout but they return empty output:
1.  `node ./node_modules/.bin/react-native config`
2.  `cmd ./node_modules/.bin/react-native config`

[2019-07-05 11:49] Taym95 commented on #475
I am new to `react-native-cli`world I would like to give this issue a try!

[2019-07-05 11:50] thymikee commented on #475
@Taym95 go for it! Looks like @emin93 is busy and I'm sure you can make it :)

[2019-07-05 12:00] theweavrs commented on #470
@thymikee I applied your latest fix (by manually removing `checkForNewRelease` from cliEntry.js) and unfortunately, the issue remains. `gradle` `exec` does not exit and stays stuck on `0% INITIALIZING`.

[2019-07-05 12:08] theweavrs commented on #470
@thymikee from the JDK docs:

So it seems we will need to read the output continuously using I/O stream classes.

[2019-07-05 12:16] thymikee commented on #470
@theweavrs while you're onto it, would you like to propose a good solution to that in a PR?

[2019-07-05 12:21] theweavrs commented on #470
@thymikee working on it.

[2019-07-05 12:22] thymikee commented on #470
You're amazing, thank you!

[2019-07-05 12:23] theweavrs commented on #470
@thymikee which command should I use?

[2019-07-05 12:24] thymikee commented on #470
For now we can go with `node ./node_modules/react-native/cli.js config ` because it works in UNIX envs as well

[2019-07-05 12:25] theweavrs commented on #470
@thymikee okay great!

[2019-07-05 12:30] bmeverett commented on #474
Yea so I deleted my lock file and reran yarn install and then the upgrade command and it worked$ thanks guys!

[2019-07-05 12:50] #470 closed

[2019-07-05 13:16] thymikee commented on #470
Thank you all! I've just released v2.1.0 of the CLI, can you verify if that works? 🤞

[2019-07-05 13:43] theweavrs commented on #470
Works for me.

[2019-07-05 13:45] mi5ha commented on #470
Congrats, previous error is solved. But now something else happens.

Previously I only had to run `react-native run-android`, and that command would first open JS server and then run the app on the emulator.

Now, it does not open JS server. I.e. it opens it and quickly closes it. So I need to run `react-native start` manually before running `react-native run-android`

[2019-07-05 13:46] theweavrs commented on #470
@mi5ha I was having that issue even before this one. I thought that was only me...

[2019-07-05 13:47] mi5ha commented on #470
I did not have that issue before the bug we are discussing.

Btw when I `npm -g install react-native-cli` it installs cli v.2.0.1

[2019-07-05 13:49] theweavrs commented on #470
There are 2 cli, `react-native-cli` is global. The local one is accessed via `yarn react-native`. Read the `README.md` of this project.

[2019-07-05 13:49] thymikee commented on #470
@mi5ha `react-native-cli` is something different. It's a global proxy to `@react-native-community/cli` used mostly for legacy `init` command.

You should go to you lock file, remove `@react-native-community/cli` entry and re-install, so it goes up to 2.1.0

[2019-07-05 13:59] zenz commented on #470
it seems not working for me.
I use yarn add --dev @react-native-community/cli to install the new cli.
then react-native run-android
Same issue as before. but fix the compile issue.
Metro Bundler make a splash then automatically closed.
Still have to run react-native start to start it manually.

[2019-07-05 14:03] thymikee commented on #470
@zenz @mi5ha starting Metro is a separate issue, can you please create a new one for that? We changed some logic around that and that's likely the cause.

[2019-07-05 14:04] theweavrs opened #484 "Metro Bundler immediately closes after react-native run-android"
## Environment
[code]
[code]
## Description
Doing `yarn react-native run-android` opens the `metro bundler` but it immediately closes. Don't know if its a bug with the `cli` or the `metro` itself. This only happens on Windows, I think.

Things I have tried:
1. Restarting my system
2. Clearing cache etc.

## Reproducible Demo
1. Create a new project using `react-native init`
2. Run `yarn react-nati

[2019-07-05 14:04] PK-INTENSIO opened #485 ""react-native start" ends with "out of memory"-failure"
## Environment

System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i7-4510U CPU @ 2.00GHz
    Memory: 5.40 GB / 7.88 GB
  Binaries:
    Node: 12.6.0 - C:\Program Files\nodejs\node.EXE
    npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD
  IDEs:
    Android Studio: Version  3.4.0.0 AI-183.6156.11.34.5522156

## Description

"react-native start" ends with "out of memory"-failure

C:\Temp\FRNA

[2019-07-05 14:05] theweavrs commented on #470
@zenz @mi5ha @thymikee  created one at #484

[2019-07-05 14:07] zenz commented on #470
@thymikee all right, then the new cli can pass the compile steps. but some error messages shown as previous commends said. like
[code]

[2019-07-05 14:08] theweavrs commented on #485
Kindly put the output of `react-native --version` here.

[2019-07-05 14:09] thymikee commented on #470
Seeing `./node_modules/.bin/react-native` proves you're not on the latest version. The command is now `node node_modules/react-native/cli.js config`. Remove the entry in lock file and install again. Or remove the whole lock file and install again if you have issues.

[2019-07-05 14:11] ddzirt opened #486 "A broken link on a warning about "rnpm""
## Description

Add appcenter to fresh RN project using 0.60 and run:
[code]

you will get:
<img width="698" alt="Screen Shot 2019-07-05 at 15 17 56" src="https://user-images.githubusercontent.com/973562/60727896-afa79280-9f47-11e9-9203-423f7bef40dd.png">

where is link after "You can find more details at" is broken:
<img width="734" alt="Screen Shot 2019-07-05 at 15 21 04" src="https://user-image

[2019-07-05 14:11] theweavrs commented on #470
@zenz do what @thymikee said and if it still doesn't work, try adding these in your `package.json` under `devDependencies`:
[code]
Afterwards, do `yarn` or `npm i`

[2019-07-05 14:13] thymikee commented on #486
The link is fixed in `v2.1.0`. Please update `@react-native-community/cli` entry in you lock file (remove it and run install again)

[2019-07-05 14:13] #486 closed

[2019-07-05 14:16] mi5ha commented on #470
@theweavrs So instructions on official site are basically wrong?

I managed to make it work by:

- Uninstalled global react-native-cli
- Created new project with `npx react-native init MyApp`
- Started JS server with `npx react-native start`
- Run in android emulator with `npx react-native run-android`

And it worked! 🎉

[2019-07-05 14:18] theweavrs commented on #470
@mi5ha not really but there are always several ways of doing things. Sometimes, one works and the other doesn't or one is easier to do than the other.

[2019-07-05 14:23] mi5ha commented on #470
@theweavrs If you follow what is written on official site you get the solution that doesn't run, just saying... 😃

[2019-07-05 14:24] thymikee commented on #484
We'll need help debugging what's causing this. What does it mean that "it closes"? Can you share more details?

[2019-07-05 14:25] zenz commented on #470
@theweavrs @thymikee yes! I removed yarn.lock and run yarn again. this time, the error message gone.

[2019-07-05 14:26] theweavrs commented on #470
@mi5ha I don't think they updated it correctly/fully after 0.60 release and after `npx` was added.

[2019-07-05 14:27] theweavrs commented on #484
@thymikee well I can't see the error on it as it only blinks. How can I debug it?

[2019-07-05 14:30] thymikee commented on #484
Can you post a video? :D Set up some console.logs in `commands/server/runServer.js`

[2019-07-05 14:32] mi5ha commented on #470
@thymikee Today is deffinatelly not a good day 😭 Now this breaks `npx react-native init xxx02 --template typescript`

`× Copying template
error Error: Cannot find module 'C:\Users\misha\AppData\Local\Temp\rncli-init-template-c4zbhI\node_modules\react-native-template-typescript\template.config'
error EBUSY: resource busy or locked, rmdir 'C:\wamp64\www\xxx02'. Run CLI with --verbose flag for more d

[2019-07-05 14:35] thymikee commented on #470
@mi5ha by using `npx react-native init` you're using a new init, which uses different templates. We're working on supporting `typescript` template here: https://github.com/react-native-community/cli/pull/483. Please bear with us.

For now, if you want to use template `typescript`, I suggest using the _legacy init_ through the `react-native-cli` package:
[code]

[2019-07-05 14:35] m2mathew opened #487 "CocoaPods install error on RN 0.60.0 init"
## Environment

[code]

## Description

On this machine, this is my first time to install Xcode and CocoaPods followed by React-Native.

The first time I ever ran the `react-native init` command, I realized that I didn't have CocoaPods installed. I deleted the new directory created by `init`, installed CocoaPods and its CLI, and re-ran `react-native init`.

The install process seemed to be going f

[2019-07-05 14:39] jpolo opened #488 "Avoid using absolute path for podspec for version control"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (8) x64 Intel(R) Core(TM) i7-7920HQ CPU @ 3.10GHz
    Memory: 88.32 MB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 8.11.3 - /var/folders/78/3_1gd4qx1gj_qtw62hhywmtm0000gn/T/yarn--1562337540193-0.22427215859470917/node
    Yarn: 1.16.0 - /var/folders/78/3_1gd4qx1gj_qtw62hhywmtm0000gn/T/yarn--1562337540193-0.22427215859470917/yarn

[2019-07-05 14:39] thymikee commented on #487
It seems like this scenario is only valid for folks without CocoaPods installed or that just installed it now, right? During `init` we actually ask, if you'd like us to install CocoaPods. Did you get that prompt? I think once we get a confirmation from the user we should also run `pod repo update`. Otherwise it's unnecessary because we only use local pods in init.

What do you think? Would you lik

[2019-07-05 14:45] thymikee commented on #488
Would you like to send a PR with this improvement? :) We'll need to make changes to this file: https://github.com/react-native-community/cli/blob/master/packages/platform-ios/native_modules.rb

[2019-07-05 14:51] mi5ha commented on #470
@thymikee Got it, so quite a turbulent times it seems. I confirm that previous command works.

 Thanx

[2019-07-05 14:52] theweavrs commented on #484
@thymikee runServer gives nothing so it's not even getting there.

[2019-07-05 14:53] thymikee commented on #470
Yea, sorry for the confusion. We're in a big transition period, things are moving fast, but we're heading in a good direction, even if at times it seems like things get worse. It's only temporary :)

[2019-07-05 14:56] thymikee commented on #484
Btw, does running `yarn react-native start` works without issues? If so, check files related to this diff: https://github.com/react-native-community/cli/pull/310

[2019-07-05 14:56] theweavrs commented on #484
Running `launchPackager.bat` directly gives this error:
`error: unknown option `--projectRoot'`

[2019-07-05 15:02] m2mathew commented on #487
@thymikee I was prompted to install CocoaPods as you described, but it seemed like nothing happened. I left it running for 5-6 minutes. If that process was doing something, is there a way to improve the communication in the user's terminal?

That being said, I am not new to OSS, but a bit new to RN. I will poke around and see if I can see any improvements for the first-timers. 😆

[2019-07-05 15:03] theweavrs commented on #484
Doing `yarn react-native start` gives me the console.logs I had set so I am guessing, `runServer` is getting called in that case.

[2019-07-05 15:04] theweavrs commented on #484
Running `node .\node_modules\react-native\cli.js --projectRoot` also gives this error:
error: unknown option `--projectRoot'

[2019-07-05 15:05] thymikee commented on #484
Yea, because we removed this option. It's not necessary now. Can you remove it from https://github.com/facebook/react-native/blob/master/scripts/launchPackager.bat and see if that works?

[2019-07-05 15:06] theweavrs commented on #484
@thymikee yup. Working without a hitch.

[2019-07-05 15:07] thymikee commented on #484
Yea, can you send a PR to RN? The patch release make take a while (cc @kelset). I think we should own these files, but that may be a bit bigger change.

[2019-07-05 15:08] theweavrs commented on #484
@thymikee okay, I will do that.

[2019-07-05 15:09] zenz commented on #484
removing node_modules/react-native/scripts/launchPackager.bat then even the splash window of Metro Bundler will not show, of course it's not running.

[2019-07-05 15:10] thymikee commented on #487
We prompt after ~30s that we're still running, but I think that's only when running `pod install`. We should definitely have this behavior when installing CocoaPods on the system as well.

I'd really like to avoid running `pod repo update` before every `pod install` because that's gonna be slow and in 90% unnecessary in init.

[2019-07-05 15:11] thymikee commented on #484
@zenz it's not about rmeoving the file, but doing this diff:
[code]

[2019-07-05 15:12] zenz commented on #484
@thymikee  oops... yes, it's working now.

[2019-07-05 15:12] theweavrs commented on #484
@thymikee can't we ship a temporary fix with the cli until RN releases the fix?

[2019-07-05 15:13] thymikee commented on #484
If you'd like to contribute this then of yea. I don't have too much bandwidth currently, just trying to be helpful.

[2019-07-05 15:18] zenz commented on #484
It seems that another problem raised after modify this launchPackager.bat file. Metro Bundler tells me there's no index file
`Error: Unable to resolve module `./index` from `C:\Users\zenz\programs\test_app\node_modules\react-native\scripts/.`: The module `./index` could not be found from `C:\Users\zenz\programs\test_app\node_modules\react-native\scripts/.`. Indeed, none of these files exist:`
But

[2019-07-05 15:21] victorwpbastos commented on #484
@zenz same here. I changed `lanchPackager.bat`, Metro bundler shows up, but with this error.

[2019-07-05 15:22] victorwpbastos commented on #484
Maybe `projectRoot` parameter is necessary after all.

[2019-07-05 15:22] zenz commented on #484
modify it like this, solves the problem:
[code]

[2019-07-05 15:24] thymikee commented on #484
I think that makes sense, this is similar to what Linux script does: https://github.com/facebook/react-native/blob/master/scripts/launchPackager.command

[2019-07-05 15:26] theweavrs commented on #484
@thymikee should I add it to the PR?

[2019-07-05 15:27] thymikee commented on #484
Let's make sure it works as intended, and then yes

[2019-07-05 15:29] theweavrs commented on #484
@thymikee after adding the `cd` command, the packager loads and bundles successfully. So it is working.

[2019-07-05 15:30] mehranabi commented on #470
Hello guys, thanks for taking time and solving this problem!
I thought it'd be good to have a conclusion after all :)

This instructions worked for me:
1- Add dependencies below to `devDependencies`:
[code]
2- Run `yarn install`
3- Run `react-native run-android`

And everything works fine! (till now at least lol)

[2019-07-05 15:31] jpolo commented on #488
I have to confess that I am not quite fluent in Ruby language.
I'll wait a few days and if nobody react to this issue for help, I'll try and tinker a fix.

[2019-07-05 15:32] theweavrs commented on #470
@mehranabi you should instead just delete the .lock files and run `yarn`/`npm i`. That is a far better solution than this one.

[2019-07-05 15:32] victorwpbastos commented on #484
After the `cd ../../../` command, it works successfully!

[2019-07-05 15:33] mehranabi commented on #470
@theweavrs  Hey, Thanks but i tried to update react-native-cli globally but it installed 2.0.1 so i had to do that in my comment

[2019-07-05 15:36] theweavrs commented on #470
@mehranabi `react-native-cli` is just a proxy. [See this comment](https://github.com/react-native-community/cli/issues/470#issuecomment-508764869)

[2019-07-05 15:38] thymikee commented on #470
@mehranabi this is not a solution we're after. Let's get some facts straight:

1. `@react-native-community/cli` is a dependency of `react-native`.
1. `react-native-cli` is a global package, we discourage to use it, it's kind of a proxy to `@react-native-community/cli`, but it's a bit more complicated that that.
1. We update the CLI independently of React Native itself.

Now that we know the facts,

[2019-07-05 15:41] mehranabi commented on #470
@theweavrs , Oh yes, I missed that comment! Thanks
Got it @thymikee , Thank you for clearification!

[2019-07-05 15:41] theweavrs commented on #470
@thymikee We should add this **Updating Guide** to the README. Also the facts :D

[2019-07-05 15:42] thymikee commented on #470
Yes please! PR welcome <3

[2019-07-05 16:33] Andersonfrfilho commented on #470
I already did all the previous steps and nothing solved
Even following the steps the problem persists.

Environment
[code]
react-native --version
[code]
react-native run-android

`D:\ADS\curso-react-native\ReactNativeReduxGraphQl>react-native run-android
info Starting JS server...
info Installing the app...

01:20:29 V/ddms: execute: running am get-config
01:20:29 V/ddms: execute 'am get-config' o

[2019-07-05 22:58] Inovassist-dev commented on #484
Hey guys, still having problems...
Today I started a new RN project, after the setupe, my Metro Bundler opens, starts, but it keeps in the "Loading Depedency Graph..." screen. It starts to consume my computer memory like crazy and everything gets really slow, but the Metro Bundler don't finish the Dependency Graph proccess.
Any workaround to that?

P.S.: I already tried the steps above!

[2019-07-05 23:45] zenz commented on #484
@Inovassist-dev
kill all background node process, run
react-native start
is it running correct or not?

[2019-07-05 23:52] zenz commented on #470
@Andersonfrfilho
you need another patch
https://github.com/react-native-community/cli/issues/484

[2019-07-06 03:41] Andersonfrfilho commented on #484
Thx, zenz
I have this problem

Environment
[code]
react-native --version
[code]
react-native run-android

`D:\ADS\curso-react-native\ReactNativeReduxGraphQl>react-native run-android
info Starting JS server...
info Installing the app...

01:20:29 V/ddms: execute: running am get-config
01:20:29 V/ddms: execute 'am get-config' on 'emulator-5554' : EOF hit. Read: -1
01:20:29 V/ddms: execute: returning

[2019-07-06 03:44] Andersonfrfilho commented on #470
Thx, moved.

[2019-07-06 03:52] theweavrs commented on #484
@Andersonfrfilho I don't see any error in your output. What's the problem?

[2019-07-06 03:58] zenz commented on #484
I run @Andersonfrfilho 's code with modifyed launchPackager.bat.
No errors and it runs well.

So I think he didn't modify the launchPackager.bat file

[2019-07-06 06:40] theweavrs commented on #484
Just created a PR (#489) that should fix this for now. @thymikee waiting for your review.

[2019-07-06 07:46] vishesh3006 commented on #470
Thanks bro. It worked. :

[2019-07-06 07:49] zenz commented on #484
@theweavrs good, this PR moves the commands into same place.

[2019-07-06 09:17] ruhaim commented on #484
when i applied the pr, i get a "fs is not defined error"

[2019-07-06 09:45] EnKrypt commented on #484
This is kind of sad. How do new releases get rolled out without some basic checks?

I assume this is breaking for everyone using Windows, given that I found this issue organically after facing the same issue, and I'm sure more will find this issue after me, wondering what on earth could have gone wrong.

[2019-07-06 10:02] EnKrypt commented on #484
As a temporary solution, I've found a little workaround :

* Run the Metro Bundler manually  with `react-native start`

* Then run as usual. I'm doing `react-native run-android`

You might be stuck with a blank screen after this, meaning you have to run again after Metro generated a build/bundle once. So force close the app, and then run as usual again while keeping the Metro Bundler running in th

[2019-07-06 12:46] Andersonfrfilho commented on #484
Good as I saw the difficulty to find the error I posted a video showing what is happening now when I execute the commands
https://youtu.be/6qiBeKnHYSc
thank you to the impenetrate for trying to solve the problem

[2019-07-06 13:08] zenz commented on #484
@Andersonfrfilho
Please read above comments to find out the temporary solution.
Modify node_modules/react-native/scripts/launchPackager.bat
Change the contents like below:
[code]

[2019-07-06 13:23] Andersonfrfilho commented on #484
Again I apologize for the inconvenience, but there is neither this executable nor the file in my node_modules

img:
https://ibb.co/kBnmCzG

[2019-07-06 13:35] thymikee commented on #484
@Andersonfrfilho the path is `./node_modules/react-native/scripts/launchPackager.bat`, please read carefully.

[2019-07-06 13:43] Andersonfrfilho commented on #484
sorry, I just review here I'll try, thx

[2019-07-06 17:36] janicduplessis opened #492 "Allow configuring metro root"
## Describe the Feature
AFAIK it is currently impossible to configure the metro root from the cli config file. This is the only thing missing to make it work properly in a monorepo setup where the metro root is the repo root and projects use entry points like `apps/app/index`. This setup allows running multiple apps on a single metro instance.

## Possible Implementations
This could use a value fr

[2019-07-06 23:20] Frekansapp commented on #467
@Salakar I managed to run

[2019-07-06 23:59] Salakar commented on #467
@Frekansapp thanks for confirming - PR is now up: #493

[2019-07-07 00:17] mohammed-3li opened #494 "the metro bundle close immediately and the project didn't reload"
In the event of a new project with four days' time, all the solutions were tested with no useful solution. If the problem was solved by the problem, the problem is that the Metro server bundle is a reaction-native run. -android opens up a second and disappears. I am a genius for four days. I have never had a sincere solution, and for knowledge I tried to change the port for live instead of 8081 fo

[2019-07-07 00:32] Andersonfrfilho commented on #484
Hey guys worked with the change in the .bat file ok, vlw but once thanks. Sorry for the inconvenience

[2019-07-07 05:57] Moshiour027 commented on #494
i experienced the same issue but if you run react-native start from another command line / terminal
then it will work.

[2019-07-07 06:25] gforro commented on #494
The problem is caused by the unknown option "--projectRoot", which was probably removed from cli version 2, but the script launchPackager.bat file in reacte-native/script node module still use it:
`node "%~dp0..\cli.js" --projectRoot ../../../ start`

The problem is present for Windows only probably.

[2019-07-07 06:28] Moshiour027 commented on #494
@gforro  yep.. are you experience eslnit  '@react-native-community' relaed problems ?

[2019-07-07 06:30] gforro commented on #494
This problem is related to issue #484. Possible fix is:
https://github.com/react-native-community/cli/issues/484#issuecomment-508792593

[2019-07-07 08:14] #467 closed

[2019-07-07 08:16] thymikee commented on #494
Duplicate of #484

[2019-07-07 08:16] #494 closed

[2019-07-07 08:56] thymikee commented on #484
Closed via https://github.com/react-native-community/cli/pull/489. Published in 2.1.1, please try give it a try (see how to [update the CLI](https://github.com/react-native-community/cli#updating-the-cli))

[2019-07-07 08:56] #484 closed

[2019-07-07 12:17] theweavrs commented on #51
@thymikee Is anyone working on this?

[2019-07-07 12:48] thymikee commented on #51
@theweavrs nope, feel free to take it!

[2019-07-07 15:20] MarcoDo99 opened #498 "react-native link @react-native-community/async-storage Failed to get dependency config"
## Environment

React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU: (8) x64 Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
      Memory: 205.29 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 9.4.0 - ~/.nvm/versions/node/v9.4.0/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.9.0 - ~/.nvm/versions/node/v9.4.0/bin/npm
    IDEs:
      Xcode: /

[2019-07-07 15:34] thymikee commented on #51
@theweavrs I just got a message from @lucasbento that he's working on it. Can you wait for him, or maybe cooperate if possible? :)

[2019-07-07 15:36] thymikee commented on #498
Duplicate of https://github.com/react-native-community/cli/issues/273

[2019-07-07 15:36] #498 closed

[2019-07-07 17:12] theweavrs commented on #51
Sure would love to collaborate. Where is his PR?

[2019-07-07 17:29] thymikee commented on #51
@lucasbento could you post a draft?

[2019-07-07 19:09] TartagliaEG commented on #485
I'm facing the same issue.

Just updated from node v11.7 to 12.6, and now the command "react-native start" progressively consumes the entire system memory.

**OS**
Linux Mint 19.1 Tessa - 4.15.0-54-generic x86_64

**npm -v**
6.9.0

**node -v**
v12.6.0

**react-native --version**
react-native-cli: 2.0.1
react-native: 0.60.0

Rolling back to the previous node version solves the issue

[2019-07-07 19:40] #492 closed

[2019-07-07 19:41] thymikee commented on #485
Interesting. Are you able to provide a repro case we can download and investigate?

[2019-07-07 19:46] patrickkempff opened #499 "Project directory missing from run instructions"
## Environment

[code]

## Description

I initialised a new project called "example" inside of the sailor folder. The run instructions show the following path:

 cd /Users/patrickkempff/Development/projects/sailor && react-native run-ios

instead of

cd /Users/patrickkempff/Development/projects/sailor/**example** && react-native run-ios

same goes for the android path. See the screenshot below

<i

[2019-07-07 19:57] thymikee commented on #499
Yea, looks like we pass wrong directory to the `printRunInstructions`:
https://github.com/react-native-community/cli/blob/212587fa2a8e2cfb9cfce07ef042cbb411671004/packages/cli/src/commands/init/init.js#L212-L221
We likely need to join `rootFolder` with `directoryName`, at least that would be my guess.

Anybody willing to fix it? :)

[2019-07-07 21:04] TartagliaEG commented on #485
It was a new empty project without any modification:

[code]
![image](https://user-images.githubusercontent.com/18357965/60773809-730f9e80-a0e1-11e9-9af1-3f7f59c3100a.png)

[2019-07-07 21:12] theweavrs commented on #485
This will need to be tested and reproduced. Maybe there is a memory leak somewhere....

[2019-07-07 21:14] thymikee commented on #8
Since v2 `link` only affects assets by default. Closing :)

[2019-07-07 21:14] #8 closed

[2019-07-07 21:16] thymikee commented on #76
We're not getting rid of it, however some day we'll remove the legacy `init` living there and make it to be only a proxy to the actual CLI for convenience if some prefer global packages.

[2019-07-07 21:16] #76 closed

[2019-07-07 21:17] thymikee commented on #19
With [new init](https://github.com/react-native-community/cli/blob/master/docs/init.md) it's now straight-forward to create a Kotlin template as a community package :)

[2019-07-07 21:17] #19 closed

[2019-07-07 21:18] thymikee commented on #159
This is now fixed in default template and in most 3rd party libraries out there. Not actionable on our side. Closing.

[2019-07-07 21:18] #159 closed

[2019-07-07 21:20] thymikee commented on #36
This is mostly done now. What we need now is small incremental adjustments to the UI, no need to track it in this ticket.

[2019-07-07 21:20] #36 closed

[2019-07-07 21:20] thymikee commented on #230
Fixed in v2

[2019-07-07 21:20] #230 closed

[2019-07-07 21:22] thymikee commented on #236
`link` is obsolete now and we're not going to spend too much time on it. [Autolinking](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md) is a way to go, available since v2 (ships with RN 0.60).

[2019-07-07 21:22] #236 closed

[2019-07-07 21:22] thymikee commented on #124
Is this still an issue?

[2019-07-07 21:23] thymikee commented on #189
New version is done. Now we can discuss whether we'd like to show the release notes.

[2019-07-07 21:38] thymikee commented on #3
@grabbou autolinking hasn't solve it yet, we still need to think about better solution to handle assets on both platforms.

[2019-07-07 21:39] #143 closed

[2019-07-07 21:39] thymikee commented on #143
AFAIK this is done.

[2019-07-07 21:40] thymikee commented on #326
Ping, anybody willing to tackle it? :)

[2019-07-07 21:42] thymikee commented on #96
Who's willing to make a list of commands that have `logger.debug` calls and ones that don't? :)

[2019-07-07 21:42] thymikee commented on #238
Ping @JoelMarcey :)

[2019-07-07 21:43] thymikee commented on #375
This should be checked by #51

[2019-07-07 21:44] thymikee commented on #51
Make sure to verify ANDROID_HOME is set: https://github.com/react-native-community/cli/issues/375

[2019-07-07 21:44] thymikee commented on #352
CocoaPods are now autolinked since RN 0.60, closing.

[2019-07-07 21:44] #352 closed

[2019-07-07 21:45] thymikee commented on #322
CocoaPods are now autolinked, closing.

[2019-07-07 21:45] #322 closed

[2019-07-07 21:48] #380 closed

[2019-07-08 00:54] Rishabh-Rathod commented on #477
Detailed reported including what ?
Well i tried downgrading my node version to 10.x and now it works fine.

[2019-07-08 02:28] Dom-Mac commented on #485
**Same problem**

I had node v.12.6, downgrading to a previous version solves the issue.

### Environment
System:
    OS: Linux 4.18 Ubuntu 18.04.2 LTS (Bionic Beaver)
    CPU: (4) x64 Intel(R) Core(TM) i5-3230M CPU @ 2.60GHz
    Memory: 155.97 MB / 3.72 GB
  Binaries:
    Node: 10.16.0 - /usr/local/bin/node
    npm: 6.9.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  npmPac

[2019-07-08 03:48] theweavrs commented on #485
@Dom-Mac seems a problem with `node` rather than `react-native-cli`

[2019-07-08 06:08] lucasbento commented on #51
@theweavrs, @thymikee: gonna open a PR this week :)

[2019-07-08 07:00] thymikee commented on #477
We track it here now: https://github.com/react-native-community/cli/issues/485

[2019-07-08 09:21] Matrixbirds opened #500 "0.59.10 template Cannot find module 'react-native/Libraries/NewAppScreen' #42"
# Bug

## Environment info

[code]

## Reproducible sample code

[code]
I got this error

[code]

It seems template code using 0.60.x react native feature.

[2019-07-08 09:37] Taym95 commented on #499
I would like to take this issue!

[2019-07-08 09:44] maciejsimka commented on #488
if this one's not taken, I'd be happy to try ;)

[2019-07-08 09:48] thymikee commented on #499
@Taym95 sure, I marked this issue as taken, it's yours now

[2019-07-08 09:51] patrickkempff commented on #499
awesome @Taym95 👍

[2019-07-08 10:20] PK-INTENSIO commented on #485
Downgrading to node v.12.4.0 solved my issue on Windows 10, too. node v 12.5.0 has the same problem as v 12.6.0.

react-native-cli: 2.0.1
react-native: 0.60.0

[2019-07-08 12:45] thymikee commented on #485
Possibly related issues in Node.js:
- https://github.com/nodejs/node/issues/28558
- https://github.com/nodejs/node/issues/28571

Closing, as that's unrelated to this CLI. Please send your detailed reports to Node.js maintainers.

[2019-07-08 12:45] #485 closed

[2019-07-08 13:04] thymikee commented on #500
Looks like a bug that https://github.com/react-native-community/react-native-template-typescript introduced, they changed the template on `latest` tag. Please file this issue there.

[2019-07-08 13:04] #500 closed

[2019-07-08 13:05] #375 closed

[2019-07-08 13:21] thymikee commented on #199
@bartolkaruza now that RN 0.60 uses autolinking, this issue doesn't exist (it still does for earlier versions, but we'll likely not gonna touch fragile `link` logic too much). Closing.

[2019-07-08 13:21] #199 closed

[2019-07-08 13:27] thymikee commented on #213
Just to be sure, it's about custom-placed `metro.config.js` passed through `--config` flag passed to `start` or `bundle` commands?

[2019-07-08 13:30] JoelMarcey commented on #238
Oh sorry - yep. What I said looks to be correct. So if you have been following that approach, please continue to do so.

[2019-07-08 13:30] #238 closed

[2019-07-08 13:36] thymikee commented on #452
@princiya ping. Do you need any help?

[2019-07-08 13:53] princiya commented on #452
@thymikee I am on it, sorry it's taking a lot more time. I need help in getting more time for myself :) Is this like a time critical issue, then I might free this one for someone else. If not, I will see if I can push some changes by the end of this weekend.

[2019-07-08 14:20] matei-radu commented on #96
@thymikee I can do that. Should I create a new issue for this?

[2019-07-08 14:21] thymikee commented on #96
Nah, let's add this list here and I can keep it updated :)

[2019-07-08 14:27] ajfick opened #503 "react-native eject in latest version"
With the new release which coincides with React Native 0.60, the `react-native eject` command has been removed. Is there any replacement for `react-native eject`?

If for some reason I need to remove and recreate the Android or iOS directories, there is now no simple way to recreate those from what I can tell. Having the eject command or something similar would be very useful.

[2019-07-08 14:47] jpolo commented on #488
Thanks @maciejsimka ! I looked at your solution to learn some Ruby.
As I understand the code does not seems portable to systems with folder separator than Unix (i.e. Windows).
Is that a problem ? (The real question behind that, is does react native cli officially supports Windows?)

[2019-07-08 14:48] thymikee commented on #503
cc @Esemesek

[2019-07-08 14:51] thymikee commented on #488
@jpolo iOS project is only available for development on macOS, so no Windows there. Windows is supported by the CLI. We're working on making sure we don't break things there, but it can take some time. If you'd like to help: #471

[2019-07-08 14:58] thymikee commented on #503
Here's the diff that removed `eject`: https://github.com/react-native-community/cli/pull/275. Feel free to create a [custom plugin](https://github.com/react-native-community/cli/blob/master/docs/plugins.md) for that if you care about this functionality :)

[2019-07-08 15:07] jpolo commented on #488
@thymikee You're right, the ruby part is only for iOS platform, so there is no problem...

[2019-07-08 16:28] naderabdalghani commented on #484
![image](https://user-images.githubusercontent.com/33901325/60826274-c64f2300-a1ad-11e9-958a-27f5dc3239e9.png)
The changes in the .bat file worked. However, the metro bundler takes too long to load the dependency graph and then the app crashes in the emulator as soon as the BUNDLE process reaches 100%

[2019-07-08 16:42] thymikee commented on #484
@naderabdalghani I suppose you use Node >=12.5, please downgrade to 12.4. See https://github.com/react-native-community/cli/issues/485#issuecomment-509210382

[2019-07-08 17:18] #344 closed

[2019-07-08 17:31] ugursogukpinar commented on #503
+1

[2019-07-08 17:31] naderabdalghani commented on #484
Memory usage has significantly improved after downgrading to node 12.4.0. However, the app still crashes after BUNDLE process reaches 100% or I manually open it
![image](https://user-images.githubusercontent.com/33901325/60830235-08309700-a1b7-11e9-944c-a7c445461885.png)

[2019-07-08 17:36] thymikee commented on #484
@naderabdalghani That's different issue, likely caused by configuration in your app. Please try a new project with a set of libraries you use and try to find the bug. If you're then sure it's something inside React Native or CLI, please file an issue accordingly.

[2019-07-08 17:43] ajfick commented on #503
@thymikee I will look into that! Thanks!

[2019-07-08 17:43] #503 closed

[2019-07-08 19:13] RyanThomas73 opened #506 "Invalid Podfile Error - dependency with no podspec"
## Environment

System:
    OS: macOS 10.14.4
    CPU: (8) x64 Intel(R) Core(TM) i7-3740QM CPU @ 2.70GHz
    Memory: 391.61 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 11.13.0 - /var/folders/st/dpvzyxq913s2mxv8dzb_fcv979pvgz/T/yarn--1562612651190-0.6482734780758797/node
    Yarn: 1.15.2 - /var/folders/st/dpvzyxq913s2mxv8dzb_fcv979pvgz/T/yarn--1562612651190-0.6482734780758797/y

[2019-07-08 19:19] thymikee commented on #506
Would you like to submit a PR for that? :) The error should state that you should contact library maintainers or send them PR with a podspec, based on e.g. https://github.com/react-native-community/react-native-webview/blob/master/react-native-webview.podspec

[2019-07-08 19:53] RyanThomas73 commented on #506
@thymikee I don't mind submitting a PR. Are you ok with me making the .rb script log a warning message about each dependency with no `.podspec` and allowing it to continue? Or do you feel there is a specific reason why it needs to fail the install task?

[2019-07-08 20:58] thymikee commented on #506
It should fail the build and tell you how you can disable autolinking for a certain platform and link manually: https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#how-can-i-disable-autolinking-for-unsupported-library, but I'd really like to prioritize helping the community to move forward

[2019-07-08 21:10] RyanThomas73 commented on #506
Ok I'll update my PR to raise an error and include the disable autolinking documentation as a 3rd suggestion for a possible action

[2019-07-09 02:32] AnOptimistSeePessimist opened #508 "Missing resource file"
## Ask your Question
my english is not very good....

Missing resource file. please help me, thanks.

![IMG_1363](https://user-images.githubusercontent.com/27407218/60854876-5041cf00-a234-11e9-993d-2137b0321a25.JPG)
![QQ截图20190709095619](https://user-images.githubusercontent.com/27407218/60854882-520b9280-a234-11e9-8fd3-1b9d5e3a6252.png)
![QQ截图20190709102650](https://user-images.githubusercontent.

[2019-07-09 03:06] wizebin commented on #508
Please refer to the library you are trying to use:
https://github.com/oblador/react-native-vector-icons/

This has nothing to do with the react native cli

[2019-07-09 03:28] yozman opened #509 "Automatic import of native modules failed on windows"
## Environment

[code]
## Description

error with `react-native run-android` on windows
[code]

## Reproducible Demo

[2019-07-09 03:29] xliank commented on #470
i found out trying new project `react-native init awesomeproject` Some problem with dependency issue., but start `gradlew clean` without any problem.  (Windows Machine)

I've tried remove "node_modules" folder, "yarn.lock" (i use yarn),
Run `yarn cache clean` , and `yarn install`
It did works.

[2019-07-09 05:50] yozman commented on #509
fix with v2.1.1

[2019-07-09 05:50] #509 closed

[2019-07-09 07:05] #488 closed

[2019-07-09 07:12] thymikee commented on #506
Closed via https://github.com/react-native-community/cli/pull/507

[2019-07-09 07:12] #506 closed

[2019-07-09 07:32] skrypak commented on #484
It's the same error on Ubuntu 16.04

[2019-07-09 07:37] thymikee commented on #508
Autolinking doesn't support copying assets yet. You need to manually link assets for `react-native-vector-icons`. Please run `react-native link` after running `pod install` – this will trigger linking of assets on both platforms.

[2019-07-09 07:37] #508 closed

[2019-07-09 07:40] #499 closed

[2019-07-09 09:13] jarandmi commented on #277
I'm still having problems installing react-native@0.60 in a monorepo. It works fine if  i try to `init` in the root folder, but when I try to install it as a package (etc `/package/mobile`) i get this error:
[code]

All the files is also deleted so i can't do the suggested `cd ./mobile/ios && pod install`

[2019-07-09 09:28] thymikee commented on #277
@jarandmi please read the docs: https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#custom-root-monorepos

[2019-07-09 09:29] thymikee commented on #277
`pod install` is the last step, so you can safely ignore this failure, adjust paths in the Podfile and run `pod install` again.

[2019-07-09 10:44] maciejsimka commented on #487
I'd like to claim this one, if nobody is working on it.

I removed CocoaPods gem and `~/.cocoapods` on my machine to see how completely fresh installation looks like and I'd add `logger` to CocoaPods installation step - previous step use it, this one doesn't and it looks a bit jarring. I imagine I'd think something is broken seeing basically nothing happen for a while.

As for the prompt after ~30

[2019-07-09 10:45] thymikee commented on #487
Awesome, go for it!

[2019-07-09 10:55] thymikee commented on #441
@KevinHu2014 are you still interested in this issue?

[2019-07-09 12:19] Rahish opened #512 "Issue in React native Version 0.60 ->null is not an object ( evaluating 'RNGestureHandlerModule.Direction')"
## Environment
info Fetching system and libraries information...
System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz
    Memory: 70.09 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.3.1 - /usr/local/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.9.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iO

[2019-07-09 12:26] thymikee commented on #512
Unlink your project for iOS and make sure to run `pod install`, because you're now in Xcode Workspace with CocoaPods. Please see my comment with detailed instructions on what to do: https://github.com/kmagiera/react-native-gesture-handler/issues/671#issuecomment-508903588

[2019-07-09 12:26] #512 closed

[2019-07-09 12:37] KevinHu2014 commented on #441
@thymikee I might not have time working on this recently. Free to release it to the community!

[2019-07-09 15:55] Kida007 commented on #487
@thymikee  I faced something similar :

due to the unavailability of 'Cocoa Pods' , `pod install `may have failed. and I can't remember any Prompt for installing Cocoa Pods.

Now completely unaware of the fact that i'm missing the whole project.xcworkspace, when i ran **react-native run-ios**  build was failing with error : '<React/RCTBridgeDelegate.h> file not found'

so beginners can be clueless

[2019-07-09 19:34] jarandmi commented on #277
Thanks for replying. The problem is that when the `react-native init mobile`command fails. I can see the `mobile` folder being created with all its files, but then removed when the last step fails, so i have no podfile.

Should i interrupt the cli when it comes to the last step, update the path, and the rund pod install manually?

[2019-07-09 21:33] mescalito commented on #470
nothing is working!

[2019-07-10 08:00] thymikee commented on #277
Yup, sounds fine for now. Since this is a workaround, we may want to introduce a `--no-pod-install` flag, that's going to prevent from running `pod install` and let you do that manually. I'm not sure if that's the best we can do though.

[2019-07-10 09:46] #475 closed

[2019-07-10 10:01] Taym95 commented on #452
I can take care of this issue!

[2019-07-10 10:24] #452 closed

[2019-07-10 11:45] pvinis opened #515 "cli thinks 0.59.8 is newer than 0.59.10"
## Environment

[code]

I made sure I have the latest. from `react-native -v`:
[code]

## Description

I ran `react-native upgrade` in a repo using a forked RN. This is what I got.
`error Trying to upgrade from newer version "0.59.8" to older "0.59.10"`

## Reproducible Demo

[2019-07-10 11:46] thymikee commented on #515
Please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version, it's fixed there.

[2019-07-10 11:46] #515 closed

[2019-07-10 11:47] pvinis commented on #515
I just edited.
[code]

[2019-07-10 11:48] pvinis commented on #515
oh oops.. interesting. not the latest. trying again.

[2019-07-10 11:55] pvinis commented on #515
I still had `react-native-cli`, instead of `@react-native-community/cli`. Thanks and sorry :D

[2019-07-10 11:55] thymikee commented on #515
Yea, I advice to uninstall the global `react-native-cli`, it's not necessary anymore.

[2019-07-10 12:18] #487 closed

[2019-07-10 12:38] thymikee commented on #487
@m2mathew just published v2.4.0 with a fix for this. Could you verify?

[2019-07-10 13:31] Taym95 commented on #441
I can give this issue a try, but I have a question is this has something to do with the `NAME_REGEX`?

https://github.com/react-native-community/cli/blob/master/packages/cli/src/commands/init/validate.js#L5L10

[2019-07-10 13:43] thymikee commented on #441
We can't really change the template name, since it lives inside `react-native` and is likely coupled with global `react-native-cli` which we don't want to break.

We could disable using "helloworld" and alike as a template name, but maybe there's something else we can do.

@Esemesek what do you think?

[2019-07-10 14:14] Esemesek commented on #441
Okay, I think I know how to fix this. I'll assign myself to this issue and post PR soon.

[2019-07-10 17:34] Kida007 commented on #326
I can try it (with a bit of mentorship)

[2019-07-10 18:02] grabbou commented on #441
Sounds good!

PS. Blacklisting "helloworld" sounds like a fair workaround in case we can't fix it! @thymikee, good idea

[2019-07-10 19:39] mikehardy opened #516 "CLI seems to depend on recent chalk, but it is not a devDependency"
## Environment

[code]
...`react-native info` hangs at that point on my system, which I suppose is a different issue

## Description

[code]

This line depends on a "modern" chalk library:

https://github.com/react-native-community/cli/blob/master/packages/platform-android/src/link/warnAboutManuallyLinkedLibs.js#L42

But my setup for whatever reason had an old one (0.4.0). After I did `npm i --sav

[2019-07-10 19:59] thymikee commented on #516
Thanks! `cli-platform-android` needs to have a `dependency` on `chalk`.

[2019-07-10 20:10] #516 closed

[2019-07-11 00:03] DaviRJ commented on #484
Same error on Linux (Elementary OS).
For a temporary fix, [this](https://github.com/react-native-community/cli/issues/484#issuecomment-508913679) works fine.

[2019-07-11 04:03] MANTENN commented on #352
It's not working.

I am using Lerna, and Yarn Workspaces.

After setting `use_native_modules` to `../../../`.

Running `pod install` crashes again with `Errno::ENOENT - No such file or directory @ rb_sysopen` because its looking for those files relatively rather than whats being set.

[2019-07-11 05:44] thymikee commented on #352
Can you set up a repro we can download?

[2019-07-11 06:19] arryanggaputra commented on #484
Metro cannot start, so I run `react-native start` then I got this error, anyone know how to fix this?
[code]

[2019-07-11 07:21] ShaMan123 opened #518 "Autolinking example apps"
## Autolinking example apps
How do I run an example app from within a library I'm developing?
Formerly it was done using `metro.config.js` and manual linking.
How can I do it with `autolinking`?

I tried configuring `react-native.config.js` and got this error on android:
`Multiple projects in this build have project directory`

It is very unclear how to configure projects/dependencies using `react

[2019-07-11 07:27] thymikee commented on #518
Please see https://github.com/react-native-community/react-native-slider/

How can we make it easier for you in the documentation? It's here: https://github.com/react-native-community/cli/blob/master/docs/dependencies.md

The naming is confusing and we definitely need to think about it more.

[2019-07-11 07:28] thymikee commented on #518
Also the Migration Guide may be helpful to get a grasp of the config: https://github.com/react-native-community/cli/blob/master/docs/configuration.md#migration-guide

[2019-07-11 07:33] ShaMan123 commented on #518
tried the migration guide.
It seems `react-native-slider` does not have a standalone example app

[2019-07-11 07:39] thymikee commented on #518
Isn't it? https://github.com/react-native-community/react-native-slider/tree/master/example

[2019-07-11 08:11] ShaMan123 commented on #518
don't think so.
but it seems there's a bug regarding path resolution that `react-native-slider/react-native.config.js` works around successfully using `process.cwd()`

[2019-07-11 08:30] thymikee commented on #518
It's not a bug, it's how we tell the CLI where to look for a local package. You're also expected (at least for now) to run the CLI from the root of your project, hence tricks like this one are needed: https://github.com/react-native-community/react-native-slider/blob/master/package.json#L15

[2019-07-11 08:34] ShaMan123 commented on #518
This must be documented. So to my understanding it is good practice to specify absolute paths.

[2019-07-11 08:36] thymikee commented on #518
It's documented here: https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#how-can-i-autolink-a-local-library

If you have ideas on how to make it all a bit more approachable, please send a PR!

[2019-07-11 10:18] ShaMan123 commented on #518
This works for me:

`example/react-native.config.js`

[code]

[2019-07-11 10:35] thymikee commented on #518
Do you really need the `...config.dependency`? What's inside?

[2019-07-11 11:41] ShaMan123 commented on #518
I do 'cause it doesn't read the root config file for some reason.

בתאריך יום ה׳, 11 ביולי 2019, 13:36, מאת Michał Pierzchała ‏<
notifications@github.com>:

[2019-07-11 12:39] simonepizzamiglio commented on #487
I'm facing the same issue, v2.4.0 doesn't solve the problem for me, it doesn't even create the project folder.

react-native-cli: 2.0.1
@react-native-community/cli: 2.4.0

[2019-07-11 13:20] satya164 opened #521 "Make it easier to use libraries which don't support autolinking"
Maybe we could improve the experience when using libraries which don't support autolinking and/or android x.

This can involve as little as detecting if a library uses old support libraries and showing a warning with instructions on how to use `jetifier`. Similar for autolinking (we could have a list of libraries/support some key in `package.json` to allow a library to say if it can be autolinked)

[2019-07-11 13:24] thymikee commented on #521
Like it. I think it proved to be a good tool. Can you send a PR to `react-native`? That's where the template lives.

If we ever gonna do that, I'd go with a list of unsupported libraries that we know of (like appcenter and gesture-handler). I'm hesitating, because it will cause these libraries to migrate later (I know that appcenter is working hard on being compatible though, but no signs from RNG

[2019-07-11 13:25] satya164 commented on #521
What do you think about a key in `package.json` to tell the CLI that it shouldn't try to autolink a library?

[2019-07-11 13:27] thymikee commented on #521
They can control it by publishing with `react-native.config.js` that disables autolinking. However that's buggy and I'd like to work on that – seems like a good path forward.

[2019-07-11 15:57] kqzh commented on #512
I met the same problem of you , how did you solve this problem later?

[2019-07-11 16:33] maciejsimka commented on #487
@simonepizzamiglio do you mind sharing how the output of running `init` command looks in your case? Is there any error?

[2019-07-11 16:36] LucienChu commented on #142
Hello guys, I try to run my app on my Android phone which is connected properly. However, when I run the react-nativet run-android on the root of my project, it failed. It seems like the project keeps looking for my emulator to load the app other than smartly install it on my device. Any idea?

List of adb devices.
`lucienchu$ adb devices
List of devices attached
RPG0218C17003182        device`

e

[2019-07-11 17:13] simonepizzamiglio commented on #487
This is without the v2.4.0
<img width="1431" alt="Screenshot 2019-07-11 at 19 08 31" src="https://user-images.githubusercontent.com/12150102/61070576-59d35e80-a40f-11e9-9620-af0452d0ef2c.png">

And this is with the v2.4.0, but I think the error is the same
<img width="1355" alt="Screenshot 2019-07-11 at 19 12 36" src="https://user-images.githubusercontent.com/12150102/61070844-e1b96880-a40f-11e9-9

[2019-07-11 17:28] maciejsimka commented on #487
I think that's actually problem with gems/ruby. Are you using some kind of version manager like rvm or anything that would allow you to have multiple ruby versions installed?

[2019-07-11 18:13] simonepizzamiglio commented on #487
Yes I have rvm installed and I'm on ruby v2.5.1p57

[2019-07-12 03:12] MANTENN commented on #352
Yes, here is roughly what I got so far.
https://github.com/MANTENN/react-native-cli-podfile.

[2019-07-12 06:23] ShaMan123 commented on #518
I think I found the reason.
when specifying `platform.android.folder | platform.android.sourceDir` config read fails

[2019-07-12 11:15] RobTS opened #523 "Possibility to prevent autolinking for a module?"
I have a module that I only need for iOS and would prefer not to have imported on android, with the recent 0.60.0 changes, all that I seem to be able to do to prevent this is removing the module from package.json temporarily.

Is there a better way to do this already, or are you planning to support some form of exceptions?

[2019-07-12 11:16] thymikee commented on #523
Here you go: https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#how-can-i-disable-autolinking-for-unsupported-library

[2019-07-12 11:16] #523 closed

[2019-07-12 13:11] maciejsimka commented on #212
I'd like to work on this issue, if nobody works on it yet

[2019-07-12 13:13] thymikee commented on #212
Sure, take it 👍 However, I'd only run it after the upgrade was successful. Otherwise just log to the console something like 'hey, don't forget to run "pod install" once your done upgrading manually'.

[2019-07-12 13:51] orta opened #524 "CLI completion message for iOS requires an extra path element"
## Environment

N/A

## Description

First off, love this messaging!

<img width="870" alt="Screen Shot 2019-07-12 at 9 49 57 AM" src="https://user-images.githubusercontent.com/49038/61132950-6e087180-a48a-11e9-8c3f-638a99055ac4.png">

This line

Should probably not make the assumption you're in your root dir because none of the others do.

[2019-07-12 14:15] thymikee commented on #524
Good catch. Do you think we should make it an absolute path, or prepend project name?

[2019-07-12 14:22] orta commented on #524
project name IMO, ideally all of them have that

[2019-07-12 14:32] thymikee commented on #524
I'm a fan of that. We tried that earlier with @Esemesek but failed with the implementation. Should be easier now.

[2019-07-12 15:47] thymikee commented on #521
AndroidX is tackled here: https://github.com/react-native-community/cli/pull/526

[2019-07-12 22:19] sw-yx opened #528 "warn and exit when `xcrun` is not installed"
## Environment

## Description

i have cocoapods installed
![image](https://user-images.githubusercontent.com/6764957/61161346-6b7d3a80-a4d1-11e9-8c51-519f32a277b0.png)

but the cli thinks i dont
![image](https://user-images.githubusercontent.com/6764957/61161361-7932c000-a4d1-11e9-9651-8f8b0945a851.png)

i think this is because i have an implicit dependency on xcode and i didnt know i needed it

[2019-07-12 22:30] sw-yx commented on #528
furthermore, i've been using xcode 11 beta, and it looks like i need xcode 10 so i am downgrading.

[2019-07-12 22:36] sw-yx commented on #528
output of `git -v`:

![image](https://user-images.githubusercontent.com/6764957/61161871-eb0c0900-a4d3-11e9-9c6c-fa670f6f2d6b.png)

[2019-07-13 06:26] thymikee commented on #528
We can print the error output when it's failing. Would that help?

[2019-07-13 07:07] ShaMan123 commented on #518
You are right, no need ` ...config.dependency`.
The problem was caused by `platform.android.folder & platform.android.sourceDir` in the library's `react-native.config.js` file

[code]

[2019-07-13 07:21] ShaMan123 opened #529 "config file read fails"
## Environment

System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
    Memory: 1.23 GB / 7.87 GB
  Binaries:
    Node: 8.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.16.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.10.1 - C:\Program Files\nodejs\npm.CMD
  IDEs:
    Android Studio: Version  3.4.0.0 AI-183.6156.11.34.5692245

## Description
when spe

[2019-07-13 07:21] #518 closed

[2019-07-13 08:51] ShaMan123 opened #530 "metro config override?"
## Ask your Question
Does the cli config override metro config?
I'm having trouble with `resolver.extraNodeModules`, they are not being read for some reason

[2019-07-13 09:10] thymikee commented on #529
It's platforms (plural), not platform: https://github.com/react-native-community/cli/blob/master/docs/dependencies.md#platforms

[2019-07-13 12:13] maximedupre opened #531 "Can't upgrade from 0.59.9 to 0.60.0 with `react-native upgrade`"
React Native version:

    System:
      OS: macOS 10.14.5
      CPU: (8) x64 Intel(R) Core(TM) i7-3820QM CPU @ 2.70GHz
      Memory: 2.94 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.6.0 - /usr/local/bin/node
      npm: 6.9.0 - /usr/local/bin/npm
    SDKs:
      iOS SDK:
        Platforms: iOS 12.2, macOS 10.14, tvOS 12.2, watchOS 5.2
    IDEs:
      Xcode: 10.2.1/10

[2019-07-13 12:15] maximedupre commented on #531
Ah...it seems I needed to install @react-native-community/cli. Perhaps an old version is bundled with react-native?

[2019-07-13 18:16] sw-yx commented on #528
yes! would be better than what i suggested.

[2019-07-13 23:40] Taym95 commented on #524
I will take care of this issue.

[2019-07-14 04:56] sijad commented on #485
I have same issue, when I run `yarn start`, metro start eating memory (> 10GB) with 100% cpu usage.

this my package dependencies. when I remove `lint-staged`, metro works as alright.

[code]

downgrading node solved it.

[2019-07-14 06:12] jamonholmgren commented on #429
I haven't really thought through the implications of the changes you've done, yet; right now I'm focused on the [Bowser boilerplate](https://github.com/infinitered/ignite-bowser) more than [Ignite CLI](https://github.com/infinitered/ignite). I'll probably shift back sometime later this year.

[2019-07-14 21:32] thymikee commented on #531
Here's how to update the CLI to the latest version compatible with your RN version: https://github.com/react-native-community/cli#updating-the-cli. You can also use a standalone using `npx @react-native-community/cli`, no need to install it as a dependency.

[2019-07-15 08:31] lucasbento commented on #51
Initial draft at #532.

[2019-07-15 08:54] arryanggaputra commented on #467
@thymikee  Hi man, did you solve the issue?

[2019-07-15 10:01] grabbou commented on #521
Right now, a library can disable link entirely. That said, not just auto-linking.

What kind of libraries do not support autolinking, except for CocoaPods-less iOS projects? I'd like to better understand this use case.

[2019-07-15 11:26] owinter86 opened #534 "Jetify within cli does not work"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz
    Memory: 106.50 MB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 10.16.0 - ~/.nvm/versions/node/v10.16.0/bin/node
    Yarn: 1.17.0 - /usr/local/bin/yarn
    npm: 6.9.0 - ~/.nvm/versions/node/v10.16.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2019-07-15 11:50] thymikee commented on #534
Ah, it looks like a race condition because jetifier spawns a worker but doesn't wait for it. Cc @grabbou, feel free to work on it :)

[2019-07-15 12:53] maximedupre commented on #531
The upgrade process from my working application on `v0.59.9` to `v0.60.0` does not work.

Running `npx @react-native-community/cli upgrade 0.60.3` produces the following output:

	info Fetching diff between v0.59.9 and v0.60.3...
	info Applying diff...
	warn Excluding files that exist in the template, but not in your project:
	- App.js
	error Excluding files that failed to apply the diff:
	- .giti

[2019-07-15 12:58] Titozzz commented on #534
I don't see "Jetifier found XXX file(s) to forward-jetify. Using 4 workers..." when relying on the CLI at all! I'm available if you need me to run tests 🙂

[2019-07-15 13:16] simonepizzamiglio commented on #487
@maciejsimka Do you actually know how I could solve this?

[2019-07-15 16:23] thymikee commented on #467
Yup, [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version to get the fix.

[2019-07-15 16:26] thymikee commented on #531
@maximedupre this is completely different issue. Please open a new one. The upgrade command should return failure, indeed.

[2019-07-15 16:26] #531 closed

[2019-07-15 18:33] #534 closed

[2019-07-15 18:59] thymikee commented on #534
Fixed in v2.6.0

[2019-07-16 02:57] yozman opened #537 "autoLinking doesn't work with monorepo"
## Environment

[code]

## Description

I have a project use monorepo with yarn workspace feature.
it's fail when I `cd ios && pod install`.
[code]
then I run `react-native config`

<details>
<summary>Details</summary>

[code]

</details>

I guess this comes with this commit <https://github.com/react-native-community/cli/commit/c9aec255627c80dc6bab853ad9433ef7e864cde9>
<https://github.com/react-na

[2019-07-16 03:42] indigoviolet commented on #230
I think this is happening again, with v2:

[code]

[2019-07-16 07:18] thymikee commented on #537
Did you adjust the root? https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#custom-root-monorepos

[2019-07-16 07:41] yozman commented on #537
@thymikee
I didn't do anything.
my project structure is like this
[code]

it work well with

[code]

[2019-07-16 07:43] thymikee commented on #537
@yozman oh, that's good to know. Would you like to give it a shot and fix it? :)

[2019-07-16 08:32] #524 closed

[2019-07-16 09:20] ShaMan123 commented on #529
It's a typo that doesn't exist in the config file.

[2019-07-16 09:27] maciejsimka commented on #487
@simonepizzamiglio Not sure, I had this problem long time ago with a completely different gem. AFAIR it happens with some version managers when you've installed a gem while using X version of Ruby and try to use said gems while using Y version of ruby, or something along these lines. `gem pristine --all` may help, but you might want to consult Stack Overflow first, as far as i can see it's quite a

[2019-07-16 09:28] thymikee commented on #529
Can you send a repro we can download and investigate?

[2019-07-16 10:27] thymikee commented on #529
I cannot repro. Setting `sourceDir` works just fine:

[code]
As a result I can see the output in `react-native config` run from package that imports `react-native-math-view`:
<img width="564" alt="Screenshot 2019-07-16 at 12 25 23" src="https://user-images.githubusercontent.com/5106466/61287298-dd50cf00-a7c4-11e9-8238-a25a8dc48a98.png">

FYI, folder is not configurable, as per https://github.com/r

[2019-07-16 10:32] #529 closed

[2019-07-16 11:09] ShaMan123 commented on #529
Documentation is rather confusing.
But none the less `autolinking` is a major step forward!
Thanks for the follow up

[2019-07-16 11:48] thymikee commented on #529
@ShaMan123 psst, we accept PRs to improve the docs 😉 it's a joined effort and every contribution counts.

[2019-07-16 12:10] maximedupre opened #540 "error: bundling failed: Error: Unable to resolve module `[...]/HMRClient` after upgrading from 0.59.9 to 0.60.3 using the cli"
## Environment

	info Fetching system and libraries information...
	System:
		OS: macOS 10.14.5
		CPU: (8) x64 Intel(R) Core(TM) i7-3820QM CPU @ 2.70GHz
		Memory: 3.03 GB / 16.00 GB
		Shell: 3.2.57 - /bin/bash
	Binaries:
		Node: 11.6.0 - /usr/local/bin/node
		npm: 6.9.0 - /usr/local/bin/npm
		Watchman: 4.9.0 - /usr/local/bin/watchman
	SDKs:
		iOS SDK:
		Platforms: iOS 12.2, macOS 10.14, tvOS 12.2,

[2019-07-16 12:18] thymikee commented on #540
Did you restart Metro after upgrading? Is the `node_modules/metro/src/lib/bundle-modules/HMRClient.js` file present? Do you have a repro?

This is likely not an issue with the CLI, but after figuring out what's the root cause, we can think if there's anything we can do to make it easier in the future.

[2019-07-16 12:21] #89 closed

[2019-07-16 12:22] thymikee commented on #537
cc @maciejsimka

[2019-07-16 12:25] maximedupre commented on #540
Thanks for the quick response :-). Metro was restarted after the upgrade and the `HMRClient.js` is definitely present. I don't have a repro, because the project I'm working on is private.

I guess that to fix the problem, I would need to create a new `react-native init` application and transfer all the code over there.

I would respectfully argue that it is an issue with the CLI, since the goal of

[2019-07-16 12:39] thymikee commented on #540
I hope you understand that without a repro it's impossible to tackle this. If the file is there, and Metro doesn't see it through Haste module system, it's clearly Metro or Watchman fault. The question is – why it still fails after you cleared the caches. Or maybe you didn't? I cannot be sure about that unfortunately.

[2019-07-16 13:02] maximedupre commented on #540
Yep I understand, that's why I'm saying the only other alternative I see is to start from a blank react-native init project.

I just ran the 4 steps again:

    1. Clear watchman watches: `watchman watch-del-all`.
    2. Delete the `node_modules` folder: `rm -rf node_modules && npm install`.
    3. Reset Metro Bundler cache: `rm -rf /tmp/metro-bundler-cache-*` or `npm start -- --reset-cache`.

[2019-07-16 13:06] maximedupre commented on #540
Actually I just realized now that the error message alternates with the one I posted previously and this one:

    console.error "React Native version mismatch.

    JavaScript version: 0.60.3
    Native version: 0.59.9

    Make sure that you have rebuilt the native code. If the problem persists try clearing the Watchman and packager caches with `watchman watch-del-all && react-native start --res

[2019-07-16 13:08] thymikee commented on #540
Maybe you could try this? https://github.com/pmadruga/react-native-clean-project#readme

[2019-07-16 13:17] maximedupre commented on #540
Awesome lib! I ran it and it cleaned my project, but I still get the `React Native version mismatch` error. It seems to be pretty consistent with this error now.

[2019-07-16 13:18] thymikee commented on #540
Did you run `pod install` if you're on iOS?

[2019-07-16 13:23] maximedupre commented on #540
Indeed I forgot to run `pod install`:

	pod install
	Detected React Native module pods for RNCAsyncStorage and RNVectorIcons
	Analyzing dependencies
	Fetching podspec for `DoubleConversion` from `../node_modules/react-native/third-party-podspecs/DoubleConversion.podspec`
	Fetching podspec for `Folly` from `../node_modules/react-native/third-party-podspecs/Folly.podspec`
	Fetching podspec for `RNCA

[2019-07-16 13:25] thymikee commented on #540
I have no other ideas, provided that your files are migrated correctly :<. Closing, but please keep me updated as you go debugging this.

[2019-07-16 13:25] #540 closed

[2019-07-16 18:53] #423 closed

[2019-07-16 19:28] sm1th commented on #537
I'm experiencing this issue as well. @yozman What is the temporary fix you are using?

[2019-07-16 19:29] thymikee commented on #537
@sm1th you can use Yarn resolutions: https://yarnpkg.com/lang/en/docs/selective-version-resolutions/ and pin `"@react-native-community/cli-platform-ios": "2.1.1"`

[2019-07-16 20:07] sm1th commented on #537
@thymikee TIL, thanks!

[2019-07-16 20:08] Inovassist-dev opened #545 "Metro Bundler doesn't start and consumes a lot of memory"
## Environment

System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz
    Memory: 2.43 GB / 7.89 GB
  Binaries:
    Node: 12.6.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.17.3 - C:\Users\xades\AppData\Roaming\npm\yarn.CMD
    npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD
    Watchman: 4.9.4 - C:\Users\xades\Documents\watchman\watchman.EXE
  IDEs:
    Android Stud

[2019-07-16 20:14] Esemesek commented on #545
This is probably an issue with `metro` bundler. What version of `react-native` do you use? Was this issue happening with older versions of `react-native`?

[2019-07-16 20:17] thymikee commented on #545
Known issue with latest Node https://github.com/react-native-community/cli/issues/485#issuecomment-509210382

[2019-07-16 20:17] #545 closed

[2019-07-17 03:26] yozman commented on #537
@thymikee
I tried with my pool ruby programing knowledge,
wish ur code review and merge

[2019-07-17 06:19] gShrey opened #549 "Disable sourcemap generation for release build"
## Disable sourcemap generation for release build

Is there any argument to disable sourcemaps? We have js bundle size of 2mb and sourcemap size if around half mb. Disabling sourcemap can help in optimizing apk size further.

[2019-07-17 07:27] thymikee commented on #549
Have you tried https://github.com/react-native-community/cli/blob/master/docs/commands.md#--sourcemap-output-string ?

[2019-07-17 11:43] Johan-dutoit commented on #189
I think it would be a great addition to link to the upgrade-helper site.
We know what version they are one and what the new version is, so should be easy to add.

i.e. https://react-native-community.github.io/upgrade-helper/?from=0.58.0&to=0.59.0 as per the image shared above.

[2019-07-17 11:59] thymikee commented on #189
@Johan-dutoit we already do that, you'll see it once you [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version or use v2 directly.

[2019-07-17 12:28] Johan-dutoit commented on #189
@thymikee I am aware it's part of the upgrade process, but feel it would be useful to view the changes before actually committing to the upgrade process.

[2019-07-17 12:29] thymikee commented on #189
Ah, yea, you're right!

[2019-07-17 12:30] Johan-dutoit commented on #189
I'll submit a PR soon!

[2019-07-17 15:31] maximedupre commented on #540
Everything works fine after creating a blank project with `react-native init` and transferring all my code over there. I don't know what the problem was and I don't think we'll ever know :p. Thanks for the help!

[2019-07-17 21:50] sandeepperkariappdev opened #558 "Cannot resolve symbol 'Main Application' - Android React Native"
## Environment
System:
    OS: macOS 10.14.5
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 42.71 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.0 - ~/.nvm/versions/node/v10.16.0/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.9.0 - ~/.nvm/versions/node/v10.16.0/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 12.2, macOS 10.14, tvOS 12.

[2019-07-18 07:24] thymikee commented on #558
Hey! This happens because appcenter doesn't support autolinking yet.

See my comment in appcenter repo on how to make it work: https://github.com/microsoft/appcenter-sdk-react-native/issues/613#issuecomment-512152876

[2019-07-18 07:24] #558 closed

[2019-07-18 10:06] Gardens18 commented on #173
Any solution to this issue ?

[2019-07-18 11:49] koredefashokun commented on #448
I'm still experiencing this error. Here's my `react-native info` output:
[code]

I'd really appreciate any help on this. Is there a `--verbose` flag to get more information on what may be causing the issue?

[2019-07-18 11:58] thymikee commented on #448
This looks fishy. Do you have a working Xcode environment?

You can run `pod install --verbose`.

Also, please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version, we're constantly rolling fixes and improvements.

[2019-07-18 12:09] koredefashokun commented on #448
@thymikee I don't - I have Xcode CLT (Command-Line Tools) installed, though. Does CocoaPods require Xcode itself to run commands? Another thing I noticed is, after this error, the new project is deleted, so I can't run `pod install` manually.

[2019-07-18 12:10] thymikee commented on #448
Ugh, we need to fix that, because it's not productive in this case. Would you like to contribute that?

[2019-07-18 12:33] koredefashokun commented on #448
Sure @thymikee I'll look into it and submit a pull request. any edge cases to consider?

[2019-07-18 12:36] thymikee commented on #448
We should always remove the temporary directory where template lives, but I think we can safely get rid of removing the new project when something fails

[2019-07-18 13:13] Titozzz commented on #549
Related to https://github.com/facebook/react-native/issues/25693#issuecomment-512723607.

[2019-07-18 14:57] pvinis opened #561 "When we init a new project, some template strings are not replaced"
## Environment

[code]

## Description

Two files, one for ios and one for android have a template string as the name of the app. In both files it's `Hello App Display Name`.

I tried running `react-native init Bla` using the latest `react-native-cli` and it worked well, replacing these strings with `Bla`.
Using the latest `@react-native-community/cli`, the strings were not replaced.

## Reproduci

[2019-07-18 15:39] leech74 opened #562 "Unrecognised font family - React Native 0.60.4"
I created a new project with react native 0.60.4 and found out rnpm is deprecated. I follow instruction to migrate to react-native.config.js but still getting error with 'Unrecognised font family'. Following is my react-native.config.js:
module.exports = {
  project: {
    ios: {},
    android: {}, // grouped into "project"
  },
  	assets: ['./assets/fonts'], // stays the same
  };

[2019-07-18 15:50] thymikee commented on #562
Now you need to run `yarn react-native link` to link assets

[2019-07-18 16:44] leech74 commented on #562
O thank you. I thought auto linking works for assets too. It is working now.

[2019-07-18 16:44] #562 closed

[2019-07-19 02:24] superchenwb opened #564 "Could not open development server on Apple_Terminal"
## Environment

## Description

## Reproducible Demo

[2019-07-19 02:25] superchenwb commented on #564
## Environment

info Fetching system and libraries information...
System:
    OS: macOS 10.14.5
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 3.50 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.0 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.9.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:

[2019-07-19 10:21] sinodko commented on #564
same problem

[2019-07-19 12:04] whenmoon commented on #487
What ever I try to fix in the Cocoapods installation, and even with updating the repo, when I use `react-native init` I get this error:

[code]

[2019-07-19 12:19] whenmoon commented on #487
Fixed with this - Open Xcode and go to Xcode → Preferences → Locations, and make sure the command line tools is set to the version of Xcode you’re using.

[2019-07-19 13:37] sm1th commented on #537
Is this fix included in react-native 0.60.4?

[2019-07-19 13:39] thymikee commented on #537
@sm1th it's in the range, here's how to [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version (it's a direct dependency of React Native).

[2019-07-19 16:12] sm1th commented on #537
I followed the upgrade instructions but I'm still having trouble linking a monorepo.

[code]
react-native.config.js:

[code]

[code]

[2019-07-19 16:21] thymikee commented on #537
Are you able to prepare a repro we could download and test?

[2019-07-19 16:56] sm1th commented on #537
Sure, please see my branch [here](https://github.com/sm1th/react-native-msal-plugin/tree/feature/upgrade-to-rn-60).

1. `cd example`
2. `yarn install`
3. `cd ios`
4. `pod install`

I figured out why this structure breaks the native_modules script:

If I have

`project_root = "/Users/joshua/Projects/react-native-msal-plugin/example"`

and

`podspec_path = "/Users/joshua/Projects/react-native-msal-p

[2019-07-19 19:26] Pita opened #567 "Adding the package react-native-clean-project to the dependencies makes the config command never exit"
## Environment

System:
OS: macOS 10.14.5
CPU: (8) x64 Intel(R) Core(TM) i7-8559U CPU @ 2.70GHz
Memory: 1.04 GB / 16.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 10.14.1 - /usr/local/bin/node
Yarn: 1.17.3 - /usr/local/bin/yarn
npm: 6.9.0 - /usr/local/bin/npm
SDKs:
iOS SDK:
Platforms: iOS 12.2, macOS 10.14, tvOS 12.2, watchOS 5.2
IDEs:
Android Studio: 3.2 AI-181.5540.7.32.5056338
Xcode: 10.2.1/1

[2019-07-19 19:40] thymikee commented on #567
That's odd. I can reproduce this. Seems like commander refuses to exit cleanly, likely because of some leak (possibly in the mentioned library). In the meantime, here's a workaround (to apply e.g. with patch-package):
[code]

[2019-07-19 19:45] Pita commented on #567
@thymikee Thanks for the quick response!

Managed to fix it in the library: https://github.com/pmadruga/react-native-clean-project/pull/23/files

I guess a simple json file for defining these commands would better than running a js file of untrusted code. But I guess thats no simple migration. In the meanwhile `process.exit()` should mitigate the worst

[2019-07-19 20:00] thymikee commented on #567
Glad you fixed the issue so quickly :)

That's a valid concern, and this example shows that the current mechanism can be exploited. Having JS-based config makes it hard to avid. We could require users to explicitly define commands and get rid of auto-discovery, but not sure what's the best path forward here.

[2019-07-19 20:00] #567 closed

[2019-07-19 20:11] thymikee opened #568 "Rethink automatic discovery of commands"
By installing a 3rd party dependency, which exposed a custom command with a side-effectful code loaded eagerly, CLI bailed on cleanly exiting after executing a command.

See https://github.com/react-native-community/cli/issues/567 for details.

This scenario revealed a flaw in our plugin design, where any package may, consciously or not, abuse the user workflow. We should rethink the automatic dis

[2019-07-20 12:44] Ravi448 commented on #562
I am facing same issue in RN 0.60.4
I have tried `react-native link` & `yarn react-native link` both, but none of these are working.

My config file is ::
[code]

Please help 🆘

[2019-07-20 12:51] Ravi448 commented on #562
got the mistake,

Config should look like ::
[code]
###### Instead of

[code]

This should be mentioned in the doc.
And both ```react-native link``` & ```yarn react-native link``` work fine

[2019-07-20 19:38] koredefashokun commented on #448
@thymikee PR created here: [#569](https://github.com/react-native-community/cli/pull/569)

[2019-07-21 00:45] abdul-elah-js commented on #487
Solved my issue .. Thanks 👍🏽

[2019-07-22 00:37] koredefashokun commented on #537
Also having this issue with Android: running the `react-native run-android` command inside the monorepo package containing the RN app gives the following error: `Cannot get property 'packageName' on null object`. Apparently the `getReactNativeRoot` method in the `@react-native-community/cli-platform-android/native_modules.gradle` file resolves to the root of the monorepo, and not the actual packag

[2019-07-22 02:53] usrbowe opened #570 "A problem occurred evaluating settings: Text must not be null or empty"
## Environment
[code]

## Description

After I run `react-native run-android`, the entire react-native command will break on this line.
[code]
It seems that this package is not even used, so I fixed this error, by just removing the entire line.
The interesting part is, that I haven't seen this error, when running ios app. It broke completely the first time I run the `run-android`.

Doesn't seem to

[2019-07-22 07:09] thymikee commented on #570
There's no such call in the source and build output on latest version. Please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli).

[2019-07-22 07:09] #570 closed

[2019-07-22 07:14] thymikee commented on #537
@koredefashokun can you try the latest cli?
Here's how to [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version.

[2019-07-22 08:40] usrbowe commented on #570
Not even cli issue. I was using `react-native-debugger`
Which has this template:
https://github.com/jhen0409/react-native-debugger/blob/master/npm-package/lib/injectDevToolsMiddleware.tmpl.js
 to inject in`getDevToolsMiddleware.js` file.
This ultimately break the latest CLI.

[2019-07-22 13:25] m2mathew commented on #487
@thymikee Issue tested and fixed on newest CLI (2.7.1). Thanks!

[2019-07-22 13:32] koredefashokun commented on #537
@thymikee Just confirmed that the latest CLI gives the same error. Was able to get the stacktrace by running the command directly. I can share that if it would be useful as well.

[2019-07-22 14:04] sibelius commented on #537
not sure if this is related or not

but react-native is showing the following warning in a monorepo

[code]

it looks like it is trying to autolinking a package in a yarn workspaces

we have like this:
packages
- app
- core

I've created a `react-native.config.js` like this:

[code]

to avoid this warning

[2019-07-22 18:54] TheSavior opened #573 "Installing CocoaPods takes a long time with no status indicator"
## Environment

[code]

## Description
When init'ing a new project, I got a prompt that CocoaPods is not installed. I entered my password and gave it permission to install. The installation took a long time but there was no progress indicator so it wasn't clear if it hung or not. All I know is that my CPU usage was high.

[code]

A progress indicator, or even passing through stdout during this pro

[2019-07-22 18:55] TheSavior commented on #573
Ah, this actually looks like it should have been solved by https://github.com/react-native-community/cli/issues/487

I just created this project so I imagine I would have been on 2.7.1. I'll check again when I get back to my computer.

[2019-07-22 19:46] TheSavior commented on #573
Yep, still repros on 2.7.1

[code]

[2019-07-22 19:46] TheSavior commented on #487
This issue still occurs for me on 2.7.1. I created a new issue here: https://github.com/react-native-community/cli/issues/573

Feel free to close it as a duplicate and move the convo back here if you'd like

[2019-07-22 21:38] thymikee commented on #573
Maybe it really makes sense to pass stdout here. We'll investigate what can be done

[2019-07-23 00:43] jasonivers commented on #418
I realize this is closed, but given the similarity of the error messages, it seemed appropriate to post this here, rather than as a new issue, though I can do that if it's preferable... I just encountered this error with xCode 10.3 and react-native-community 1.10.0.  The "verbose" has changed slightly:

debug Error: Could not find iPhone X simulator
at runOnSimulator (./node_modules/@react-native-

[2019-07-23 03:24] usrbowe opened #575 "[PROPOSAL] allow custom package path to MainActivity"
## Describe the Feature
Add `--companyName` to set enable customise path to MainActivity.

## Example
rn-cli will try to launch activity from: `com.packagename.dev/com.packagename.MainActivity`,
but actual activity is here: `com.companyname.app.dev/com.packagename.MainActivity`

[2019-07-23 04:22] MANTENN commented on #277
Is there an issue created for it?

Would you mind referencing it in this thread?

[2019-07-23 04:27] MANTENN commented on #352
I didn't include any JS? What.

[2019-07-23 05:16] MANTENN commented on #537
I also get an issue with `use_native_modules!` when I use it as:

[code]

Adjusting the paths like in this Podfile:
[code]

Running `pod install` works.

[2019-07-23 07:34] Taym95 commented on #561
I would like to give this issue a try!

[2019-07-23 07:40] thymikee commented on #575
You can configure this through `project` config option: https://github.com/react-native-community/cli/blob/master/docs/projects.md#project-1, the thing you look to change is `packageName`.

[2019-07-23 07:40] #575 closed

[2019-07-23 07:42] thymikee commented on #277
There's no issue. However in v2.7.1 we removed the cleanup of project directory once failed, so now you're able to cancel the init process and go back where you've been.

[2019-07-23 07:46] thymikee commented on #537
You're expected to use `use_native_modules!` inside the target because it defined `pod`s.

[2019-07-23 08:12] usrbowe commented on #575
[code]

[2019-07-23 08:14] thymikee commented on #575
Thanks for sharing :) FYI, you don't have to declare `dependencies` if they're empty

[2019-07-23 08:15] usrbowe commented on #575
@thymikee actually in my case, there should be an option to just override the `packageName` for MainActivity path, otherwise it will fail to `import companyname` during `compileJavaWithJavaC`, which doesn't exist.

[2019-07-23 08:24] thymikee commented on #575
I think you could also play with `sourceDir` option, but not sure about that

Also, why would you have multiple MainActivity.java files? It's preferred to use variants (with `--variant` flag) to distinguish builds.

[2019-07-23 08:26] raen79 opened #576 "Installing pods in CI (specifically CircleCI)"
Hey guys,

I run into no trouble installing pods locally, but when attempting to install the pods in my CI, using the same XCode, Ruby, and Gemfile version, I run into an error that I see has been reported here before:
`Invalid Podfile file: 784: unexpected token at `

Is there anything you can think of that could cause this when running `pod install`. The only other issue that was opened about it

[2019-07-23 08:31] pvinis commented on #561
What details do you need @Taym95?

[2019-07-23 08:32] thymikee commented on #576
Have you tried [updating the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version?

[2019-07-23 08:35] raen79 commented on #576
@thymikee Yes, my CLI is at 2.7.1.

[2019-07-23 08:40] raen79 commented on #576
I see someone else had this issue and posted it on the CircleCI forum: https://discuss.circleci.com/t/react-native-0-60-use-native-modules/31474

[2019-07-23 08:41] thymikee commented on #576
I'd suspect the terminal buffer output being clipped, and hence invalid JSON. We had these issues on some Windows terminals, where it's very common to have this buffer small.

[2019-07-23 08:43] thymikee commented on #576
@alloy is it possible to stream the output and read line-by-line in Ruby like we do in Gradle script?

https://github.com/react-native-community/cli/blob/57fc8ebfb60928f7a82228de3f4b778cf7946854/packages/platform-android/native_modules.gradle#L176-L183

[2019-07-23 09:04] thymikee commented on #576
@raen79 can you try if applying this diff (e.g. through `patch-package`) helps?:

[code]

It will make the output smaller

[2019-07-23 09:06] raen79 commented on #576
I'll have a look, I am also attempting to stream the output.

[2019-07-23 09:54] usrbowe commented on #575
Ok, so basically I just need to set `--appID`, which is entire first part of the MainActivity.
Like this `--appId=com.companyname.app.dev`

So basically to customise the launch, we can use either `--appId` which overwrites entire first part (before `/`), or just `--appIdSuffix`, which appends `packageName.{appSuffix}`.

`com.packagename.app/com.packagename.MainActivity`

`com.packagename.app.dev/c

[2019-07-23 10:07] #576 closed

[2019-07-23 10:11] thymikee commented on #576
Fix published in v2.8.0, thank you!

[2019-07-23 10:56] Pita commented on #418
+1 this recocurring for me as well, probably caused by a recent apple update

[2019-07-23 11:00] thymikee commented on #418
Ah, Xcode breaking things all the time :D PRs welcome, as I'm not on Xcode 12.3 yet (and seeing folks having their simulators gone and not able to start, I'm not gonna do it yet)

[2019-07-23 11:37] Pita commented on #418
Debugged a bit into this. I think the CLI does everything correctly, xcode is reporting the simulator as unavailable, see `xcrun simctl list devices`. But a simple reboot fixes it....

@thymikee Thanks for the quick response though!

[2019-07-23 11:53] thymikee commented on #418
@jasonivers have you tried what @Pita did?

[2019-07-23 16:01] jasonivers commented on #418
A reboot does seem to have fixed it.  I encountered the issue as I was trying to do one last build before signing off yesterday, or I probably would have rebooted myself.  Either way, it appears a reboot is necessary, and then it is fixed.

[2019-07-23 16:02] #418 closed

[2019-07-23 23:23] sbkl opened #581 "Could not connect to development server"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (8) x64 Intel(R) Core(TM) i7-6920HQ CPU @ 2.90GHz
    Memory: 327.96 MB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 8.11.3 - /usr/local/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 5.6.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 12.4, macOS 10.14, tvO

[2019-07-24 07:05] thymikee commented on #581
It's likely an issue with Xcode 10.3 update. Can you reboot and try again?

[2019-07-24 07:10] sbkl commented on #581
I've been experiencing this issue before upgrading to Xcode 10.3.
Thought upgrading Xcode would have helped but not. And yes I rebooted my machine and tried again.
I've been looking for a while on the web but can't find a resolution.
Any step I could take to try to debug?

[2019-07-24 07:14] plouh commented on #581
Are the devices in the same network?  This usually happens when iOS device is not connected to the same wifi as the computer running metro bundler.

[2019-07-24 07:16] sbkl commented on #581
Forgot to mention. Trying to run on iOS simulator.

[2019-07-24 08:28] wygkzqa opened #582 "AutoLinking can generate relative paths in Podfile.lock?"
## AutoLinking can generate relative paths in Podfile.lock?

I'm using `react-native-webview` on my project.  When I execute `pod install`, `Podfile.lock` looks like this

[code]

That's not what I wanted. So, is there any way to generate relative paths? like `../node_modules/react-native-webview`

Thanks.

[2019-07-24 08:46] GavricMario opened #583 "TypeError: Cannot convert undefined or null to object when building for android"
## Environment

System:
    OS: Windows 10
    CPU: (6) x64 Intel(R) Core(TM) i5-8500 CPU @ 3.00GHz
    Memory: 8.59 GB / 15.94 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    npm: 6.10.0 - C:\Program Files\nodejs\npm.CMD
  IDEs:
    Android Studio: Version  3.3.0.0 AI-182.5107.16.33.5314842

## Description

After updating app react-native from 0.57.8 to 0.60.4 and all othe

[2019-07-24 10:25] affanhashone commented on #583
Same error i am getting

[2019-07-24 10:48] N1ghtly commented on #583
Same error here. Happens when I try to exclude a dependency from autolinking.

This is my react-native.config.js:

`module.exports = {
  dependencies: {
    'react-native-background-location': {
      platforms: {
        android: null, // disable Android platform, other platforms will still autolink
      },
    },
  },
}
`

[2019-07-24 11:33] GavricMario commented on #583
@N1ghtly
Removing that file fixes my problem yes... That is weird, but thank you
I'll be removing my react-native.config.js
Until I find out more.

[2019-07-24 11:58] N1ghtly commented on #583
Unfortunately I can't remove that file because i *need* that module to be excluded from autolinking...

[2019-07-24 13:25] theweavrs commented on #583
This needs to be investigated. This seems to be a problem with parsing `react-native.config.js`. I will take a look.

[2019-07-24 13:39] affanhashone commented on #583
Just check do you have any empty space in dependencies, I was having  empty space. now it works

[2019-07-24 16:05] thymikee commented on #582
Yup! Please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version and you'll see relative paths.

[2019-07-24 16:05] #582 closed

[2019-07-24 16:26] thymikee commented on #583
@affanhashone what do you mean by that?

[2019-07-24 18:53] olistic opened #584 "Assets not linked if not linking dependencies"
## Environment

[code]

## Description

For `react-native-cli` version 1.3.0, project assets are not linked when running `react-native link` if not linking dependencies. I think the bug is at [this line](https://github.com/react-native-community/cli/blob/d1db45a386273fa78dbc580859001d65d595bfaa/packages/cli/src/commands/link/linkAll.js#L46). `linkAssets` is called for each dependency config, inste

[2019-07-24 19:04] thymikee commented on #584
You're right, it's fixed in v2, see how it works here: https://github.com/react-native-community/cli/blob/master/packages/cli/src/commands/link/linkAll.js

If you care enough, feel free to send a PR to the `1.x` branch :)

[2019-07-24 19:18] olistic commented on #584
@thymikee Thanks for your quick response. I'm stuck with RN 0.59.10 (and thus the v1.3.0 of the CLI, right? 🤔) because I couldn't make 0.60 work on my monorepo yet.

I'm sending the PR shortly!

[2019-07-24 20:24] thymikee commented on #584
The 1.x is currently at 1.11.0, here's how to [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version.

[2019-07-24 23:01] stevelacy commented on #583
I edited the file directly in `node_modules` and added `&&` everywhere there could be an or Array.length call:

`node_modules/@react-native-community/cli/build/commands/config/config.js`
[code]
And it builds/cleans correctly

[2019-07-25 02:52] mindlapse opened #586 "Fails: react-native init helloworld --version 0.59.10"
## Environment
[code]
## Description

```react-native init helloworld --version 0.59.10```

fails with:

[code]

full log: https://gist.github.com/mindlapse/625ceece338c17954e32d96497290672

## Reproducible Demo

```react-native init helloworld --version 0.59.10```

[2019-07-25 03:15] mindlapse commented on #586
Issue appears on multiple npm versions, including npm@next and npm@5.10.0, and with node 10.16.0 (LTS)

[2019-07-25 03:22] ekwoodrich commented on #586
Really struggling with this, experienced the same error on node v10.16.0 and node v12.7.0 with npm@6.10.0.

[2019-07-25 03:25] MANTENN commented on #537
Please add that to the documentation, I went on that page 10 times. I tried it more than 5 times.

[2019-07-25 03:26] MANTENN commented on #537
Also, every pod dependency has to be updated in order for it to work, which is not specified. I am not familiar with Cocoa Pods.

[2019-07-25 03:44] mindlapse commented on #586
Affects react-native `0.59.0` to `0.59.10` that have the `"@react-native-community/cli": "^1.2.1"` dependency.

Does not impact react-native `0.60.0` and above with the `"@react-native-community/cli": "^2.0.1"` dependency.

[2019-07-25 03:46] mindlapse commented on #586
This just started happening within the past 24 hours

[2019-07-25 04:12] LiWeiQiangAndroid commented on #586
Same problem

react-native-cli: 2.0.1
react-native: 0.59.10

Error: Cannot find module '../../tools/PackageManager'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal/modules/cjs/helpers.js:22:18)
    at Object.<ano

[2019-07-25 04:31] haohongwei commented on #586
we met with the same problem.

11:10:46 internal/modules/cjs/loader.js:638
11:10:46     throw err;
11:10:46     ^
11:10:46
11:10:46 Error: Cannot find module '../../tools/PackageManager'
11:10:46     at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
11:10:46     at Function.Module._load (internal/modules/cjs/loader.js:562:25)
11:10:46     at Module.require (internal/modul

[2019-07-25 04:32] thymikee commented on #537
Now you have this knowledge! Can you share it in the firm of a PR to the docs? :)

[2019-07-25 04:36] thymikee commented on #586
Gonna fix that once I have access to my workstation. In the meantime (and generally in future, global cli is unnecessary now) use npx: `npx react-native init App -- version 0.59.10`. It will use the latest cli with 0.59 template.

[2019-07-25 04:49] mindlapse commented on #586
Thank you for the fast response!  As expected, the same issue is appearing with `npx react-native init App --version 0.59.10`

[2019-07-25 05:01] thymikee commented on #586
Bummer, looks like npx is taking some local RN of yours instead of from network

[2019-07-25 05:09] thymikee commented on #586
Published a fix. Can you try again?

[2019-07-25 05:30] mindlapse commented on #586
I'm seeing the same error

[2019-07-25 06:47] thymikee commented on #586
Does it happen with yarn?

[2019-07-25 07:05] abhrp-hs commented on #586
Resolved this currently by forcing **v1.10.0** of the library in package.json. Working fine with node v11.0.0 and npm v6.10.0

[2019-07-25 07:21] N1ghtly commented on #583
@stevelacy works. I previously edited my dependency config to include all the parameters they're trying to access, which works as well.

[2019-07-25 07:30] thymikee commented on #583
Mind sending a PR with that?

[2019-07-25 07:40] oleksandr-dziuban commented on #581
@sbkl @plouh
I have the same issue. Simulator and MacBook connected to the same network, i'm using `cli@2.8.0`.
`react-native run-ios` doesn't run development server terminal window automatically.
 `react-native run-android` works as expected. Also want to mention that this issue was reproduced on `cli@2.7.0` too, on Xcode 10.2.1 and 10.3.0. So maybe issue is in cli settings

[2019-07-25 08:03] haohongwei commented on #586
In a computer with ubuntu,  I met with this problem.
But in a Mac, it works well.
I do not know whether it is related with computer system.

[2019-07-25 08:39] rmariscal13 commented on #586
I do not use dependecy @react-native-community/cli and i have the same problem since i have donde rm -rf node_modules > npm install.
And i have other project that do not use @react-native-community/cli either and works.
(Or almost i do not see this dependency in my package.json)

[2019-07-25 08:50] amitme0014 commented on #586
We are facing the same issue, any hacks for now to get this running? I am on linux machine, using jenkins server to build a project.

[2019-07-25 08:51] shanmuksrinu opened #587 "PackageManger module not found in 1.11.1"
## Environment

~ @react-native-community/cli@current version
internal/modules/cjs/loader.js:638

throw err;^Error: Cannot find module '../../tools/PackageManager'at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)at Function.Module._load (internal/modules/cjs/loader.js:562:25)at Module.require (internal/modules/cjs/loader.js:690:17)at require (internal/modules/cjs/helpers.

[2019-07-25 09:03] thymikee commented on #587
Fixed in 1.11.2, thanks for pointing me in good direction (forgot to clean the build folder before publishing)

[2019-07-25 09:03] #587 closed

[2019-07-25 09:04] thymikee commented on #586
Fixed in 1.11.2

[2019-07-25 09:04] #586 closed

[2019-07-25 09:04] thymikee commented on #584
Fixed in 1.11.2

[2019-07-25 09:04] #584 closed

[2019-07-25 09:12] amitme0014 commented on #586
thanks it worked now

[2019-07-25 09:29] pravin-maan commented on #586
same error  delete node_modules and package-lock.json  then update package.json
"dependencies": {
    "react":"16.0.3 to
    "react": "16.8.6",} and in scritps { "test":"jest"  } => npm install --save , expo start it's working in my code

[2019-07-25 13:00] gdguesser commented on #485
I'm getting this error too, the memory consumption grows and freeze my system...
Already tried using v12.4.0 as suggested but still got the same

[2019-07-25 20:40] MANTENN commented on #537
Yes. :)

[2019-07-25 21:26] MANTENN commented on #537
Done.
https://github.com/react-native-community/cli/pull/590

[2019-07-25 23:24] vladp opened #591 "A project with custom root fails at: cli-platform-android/native_modules.gradle' line: 191"
I am trying to upgrade to 60.4, and introduced the 'autolinking' capability by modifying my  settings.gradle and app/build.gradle.
Platform is Linux, RN platform is android only, cli is 2.8.0.

With that change, however I cannot run any gradle commands (not even gradlew clean):

bash gradlew clean
[code]

The cli version is latest, 2.8.0
The line where it is failing, trying to parse json output fr

[2019-07-26 00:37] vladp commented on #591
I fixed the problem.
Because of custom paths (I have essentially a form of mono-repo with many sub projects)
`PATH=$(npm bin):$PATH react-native config`
could not find where my root android part of the project was (it was not in standard directory relative to the JS part of the project)

I am not sure this point is covered if this nuance is convered in
https://github.com/react-native-community/cli

[2019-07-26 04:44] muthudevendra commented on #582
@thymikee Thank you for the solution. But even after I update the @react-native-community/cli my Podfile.lock still uses relative path. It happens for auto linking libraries `RNGestureHandler` and  `RNLocalize`. Any solution?

Thanks.

[2019-07-26 08:56] wuxiii opened #592 "Error: buildSettings.LIBRARY_SEARCH_PATHS.push is not a function"
## Environment
    Binaries:
      Node: 12.5.0 - /usr/local/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 12.1, macOS 10.14, tvOS 12.1, watchOS 5.1
      Android SDK:
        API Levels: 22, 23, 27, 28, 29
        Build Tools: 27.0.3, 28.0.3, 29.0.0
        Sys

[2019-07-26 12:37] svipas opened #593 "console.log doesn't log in terminal"
## Environment

[code]
## Description

If I try to access: `http://localhost:8081/log-to-console`, I get this error and I can't see any logs in the terminal

[code]

[2019-07-26 23:36] gitowiec opened #594 "Can't init RN project inside existing npm project directory"
## Environment

System:
    OS: Linux 5.1 Ubuntu 18.04.2 LTS (Bionic Beaver)
    CPU: (8) x64 Intel(R) Core(TM) i7-3610QM CPU @ 2.30GHz
    Memory: 422.88 MB / 15.52 GB
    Shell: 4.4.20 - /bin/bash
  Binaries:
    Node: 10.16.0 - ~/.nvm/versions/node/v10.16.0/bin/node
    Yarn: 1.17.3 - /usr/bin/yarn
    npm: 6.9.0 - ~/.nvm/versions/node/v10.16.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watch

[2019-07-27 00:10] gitowiec opened #595 "Error: Cannot find module '/tmp/rncli-init-template-LJ4MxS/node_modules/typescript/template.config'"
## Environment

System:
OS: Linux 5.1 Ubuntu 18.04.2 LTS (Bionic Beaver)
CPU: (8) x64 Intel(R) Core(TM) i7-3610QM CPU @ 2.30GHz
Memory: 422.88 MB / 15.52 GB
Shell: 4.4.20 - /bin/bash
Binaries:
Node: 10.16.0 - ~/.nvm/versions/node/v10.16.0/bin/node
Yarn: 1.17.3 - /usr/bin/yarn
npm: 6.9.0 - ~/.nvm/versions/node/v10.16.0/bin/npm
Watchman: 4.9.0 - /usr/local/bin/watchman
SDKs:
Android SDK:
API Levels:

[2019-07-27 00:20] gitowiec commented on #595
Unfortunately same thing happens when I downloaded react-native-template-typescript, unpacked it into folder and called `npx react-native init tax_identification_number_checker --template file:///home/marek/workspace/vatnumberchecker/react-native-template-typescript-master --npm` or without `--npm` :(

[2019-07-27 10:02] apolineaire commented on #595
I had the same problem couple weeks ago. I think this has to do that, as far as I know, the TS template doesn't support the different React Native CLI versions (see [here](https://github.com/react-native-community/react-native-template-typescript/issues/39)).

[2019-07-27 12:25] simonepizzamiglio commented on #487
@maciejsimka I solved the problem, I switched to node v10.14.2, reinstalled both react-native and rvm, opened xCode to set the command line tools and it also did some updates and not it's working 🎉

[2019-07-28 09:30] sbkl commented on #581
Ok found the issue. Was thinking it might be watchman related issue and wanted to use the command `brew reinstall watchman` to reinstall it. By running this command, I found an error `Error: Xcode alone is not sufficient on Mojave.
Install the Command Line Tools:
  xcode-select --install`
Looks like the command line tools for xCode was not available anymore.
I launched the command `xcode-select --

[2019-07-28 09:30] #581 closed

[2019-07-28 09:34] kaspot commented on #418
I have still the above described problem - also tried already to change all the proposed lines in node_modules/@react-native-community/cli/build/commands/runIOS/findMatchingSimulator.js Nothing seems to be working.

[2019-07-28 20:15] oleksandr-dziuban commented on #581
Thanks a lot, I will check this flow.

[2019-07-28 20:30] oleksandr-dziuban commented on #581
@sbkl, Nope, still doesn't work for me as expected

[2019-07-28 20:52] oleksandr-dziuban commented on #581
@sbkl I have deleted all cache, deleted npm and watchman cache, removed react-native-* cache, reinstalled node_modules, deleted iOS build folder and reassembling everything - still nothing

[2019-07-29 08:46] thymikee commented on #592
Can you share more details about it? How does the error look with `--verbose` flag passed to the `link` command?

[2019-07-29 08:47] thymikee commented on #593
@cpojer is this known and fixed on RN master?

[2019-07-29 08:54] thymikee commented on #594
There's no `--directory` flag that creates directory. Also, `react-native-template-typescript` supports new init on a `next` tag for now:

[code]

[2019-07-29 08:54] #594 closed

[2019-07-29 08:56] thymikee commented on #595
Use `next` tag of TS template for now:
[code]

[2019-07-29 08:56] #595 closed

[2019-07-29 10:36] cpojer commented on #593
Accessing this endpoint manually doesn't work, and I would expect it to throw that error.

However, we are changing this to use the websocket connection with Metro so the next RN release will have this feature working without requiring this in the CLI (I still recommend keeping it for now so that it works with 0.60).

[2019-07-29 10:36] #593 closed

[2019-07-29 16:23] nickcurran commented on #418
Rebooting did not solve this for me. Turns out that the Xcode Beta was set as the current command line version of code. Running

`sudo xcode-select -s /Applications/Xcode.app/Contents/Developer`

fixed it for me.

[2019-07-29 19:46] robertoachar opened #598 "Why can't we use a number as the first character of an identifier name?"
## Ask your Question

Why can't we use a number as the first character of an identifier name? Example: 1Ring.

[global-cli/index.js](https://github.com/react-native-community/cli/blob/eddfd4d20a62d11133687843b52f7095c5c88118/packages/global-cli/index.js#L163)
[code]

[2019-07-29 20:24] robertoachar commented on #598
OK. Found.

[code]

[2019-07-29 20:24] #598 closed

[2019-07-30 11:58] learnyst commented on #537
@koredefashokun I am also facing the same issue. Is there any soultion?

* What went wrong:
A problem occurred evaluating settings 'teachonline'.

[2019-07-30 12:44] learnyst commented on #537
@thymikee @koredefashokun

I am facing autolink issue in android with monorepo.

ReactNative version: 0.60.4
cli version: 2.8.0

If we run "yarn workspace mobile react-native config" in the root, The output is ok and the project details are filled. If we run "react-native config" in root then the project details are not filled.

When we execute "yarn workspace mobile react-native run-android" I am

[2019-07-30 12:54] thymikee commented on #537
What if you tell the CLI where the project is, resolving from the root?

[code]

See: https://github.com/react-native-community/cli/blob/master/docs/projects.md

[2019-07-30 13:19] learnyst commented on #537
@thymikee I tried setting sourceDir in react-native.config.js. But still the issue is same.

[2019-07-30 16:29] koredefashokun commented on #537
Can confirm that this issue still persists @thymikee @learnyst. I've been able to make iOS work, but the error manifests when attempting to run on Android.

[2019-07-30 20:49] spasecadet opened #599 "Can a package be instantiated with an arg in PackageList.java?"
I'm using `react-native-google-fit` and it requires that the package be instantiated with `BuildConfig.APPLICATION_ID` eg: `new GoogleFitPackage(BuildConfig.APPLICATION_ID)`.  I have not been able to figure out if this is possible using react-native.config.js.  I've read the docs here https://github.com/react-native-community/cli/blob/master/docs/platforms.md and https://github.com/react-native-co

[2019-07-31 06:20] forsen commented on #599
You can try to configure your `react-native.config.js` like this:

[code]

[2019-07-31 06:28] spasecadet commented on #599
Thank you, will give it a try.

[2019-07-31 07:07] thymikee commented on #599
Yup, that will do, we import `BuildConfig` in `PackageList.java` so it's available

[2019-07-31 07:07] #599 closed

[2019-07-31 09:29] sb-bartworx opened #600 "Unresolved reference: PackageList // native_modules.gradle"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory: 26.03 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.15.3 - ~/.nvm/versions/node/v10.15.3/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v10.15.3/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2019-07-31 09:30] thymikee commented on #600
cc @Salakar

[2019-07-31 14:33] Salakar commented on #600
I'm not sure specifically if this is the issue as it currently works as-is on fresh projects, do you have anything custom on your build maybe?

Having said that I've tested your suggested change and can confirm it still builds for me just like before - so if this fixes your project then let's get this change added? Can you send a PR?

I tested both the current code and your change by running `./gr

[2019-07-31 17:22] stevesweets commented on #485
On osx 10.14.6 rolled all the way down to 10 to get this to work for me;

brew uninstall node
brew install node@10

[2019-08-01 00:25] spasecadet commented on #599
That worked perfectly, thanks!

[2019-08-01 03:48] learnyst commented on #537
@thymikee any solutions?

[2019-08-01 06:44] sb-bartworx commented on #600
@Salakar thanks for testing it. You are right. I have some custom changes in my project. I use Kotlin and not Java. I'm sure the problem is related to it. I will test that to confirm that it is really related to Kotlin and then I will send a PR.

[2019-08-01 07:30] thymikee commented on #537
Ok, I've found the issue (at least one of them). Our config resolution relies on `package.json` with `dependencies` defined there to be present in the project root. Obviously, this is not working in monorepo setup. So what you can do now to unblock yourselves, apart from adjusting the `react-native.config.js`, is adding RN deps to the root package.json, e.g.:
[code]

While on it, how do you usuall

[2019-08-01 07:53] koredefashokun commented on #537
@thymikee I usually expect the packages to work from the package folder, but also in the root, via scripts added in the package folder's `package.json` file. Having to manually create a `react-native.config.js` may not be helpful in some cases (e.g. When the user has multiple packages that are React Native projects).

[2019-08-01 07:54] thymikee commented on #537
Yea, that's understandable. We'll work on making easier to integrate.

[2019-08-01 10:49] thymikee commented on #564
Closed via #601, published in v2.8.1

[2019-08-01 10:49] #564 closed

[2019-08-01 12:59] forsen commented on #600
I usually don't do "+1"s, but since it might strengthen the theory about kotlin being the culprit here.

We're experiencing the same problem with "Unresolved reference: PackageList", and are also using kotlin for our native code. Our "solution" for the time being was to disable autolinking, but with the suggested changes autolinking started to work.

[2019-08-01 13:00] thymikee commented on #600
Can you [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version? We've added some extra handling for Kotlin class names.

[2019-08-01 13:47] forsen commented on #600
I tried that fix (#563) before it was merged, but it seem that fix is for autolinking to be able to discover modules written in kotlin. It does not fix the issue where `MainApplication.kt` itself is written in kotlin and is unable to resolve `PackageList.java`.

[2019-08-01 13:49] thymikee commented on #600
Would you like to send a PR with the fixed proposed by OP?

[2019-08-01 14:33] #600 closed

[2019-08-01 14:35] thymikee commented on #600
Published in v2.8.2.

[2019-08-01 14:53] sb-bartworx commented on #600
@thymikee @forsen thank for your help. I just added small optimization.

[2019-08-01 15:25] eperedo commented on #485
On windows 10 build 18362 version 12.5/12.4 still got the leak. 10.16.1 works fine.

[2019-08-01 15:29] thymikee commented on #252
Closing due to lack of activity

[2019-08-01 15:29] #252 closed

[2019-08-01 15:40] thymikee commented on #462
Fixed in RN master: Fixes template build failed in release mode, nothing we can do on CLI side. I requested for this commit to be included in 0.60.x release, so fingers crossed 🤞

[2019-08-01 15:40] #462 closed

[2019-08-02 03:27] thekevinbrown commented on #418
Tried @nickcurran's approach, didn't work. Rebooted, didn't work.

I installed XCode 11 beta 5, which is when the problem started.

[2019-08-02 07:16] vgvishal538 commented on #467
@Salakar I am using react-native-community/cli-platform-android  "version": "2.8.2" but still facing issue can you please help with this

[2019-08-02 07:37] vgvishal538 commented on #467
@Salakar ```{{ packageImports }}
public class PackageList {
  private Application application;
  private ReactNativeHost reactNativeHost;
  public PackageList(ReactNativeHost reactNativeHost) {
    this.reactNativeHost = reactNativeHost;
  }

  public PackageList(Application application) {
    this.reactNativeHost = null;
    this.application = application;
  }
  private ReactNativeHost getReactNa

[2019-08-02 08:49] jounii opened #605 "Template auto-prefix does not respect npm scopes"
## Environment

react-native-cli: 2.0.1
react-native: n/a - not inside a React Native project directory

Right now the --template parameter takes in template name, or other template source as parameter. Unfortunately due private environments the direct git repository url is not working (archive not supported in Azure Devops). Alternative here was to use private npm repository. The way it is config

[2019-08-02 08:51] thymikee commented on #605
Please use new init (available e.g. through `npx react-native`) for such cases:
[code]
You'll need to update your template as well, see: https://github.com/react-native-community/cli/blob/master/docs/init.md#creating-custom-template

[2019-08-02 09:09] jounii commented on #605
Yes, sorry. I did not include the npx here in the report which I was using (version is still the latest). Also the template.config.js is in the template. However does not change the problem with the scoped template name.

The output shows:

`info Fetching template react-native-template-@privatescope/react-native-template-mytemplatename...`

and this fails as it is trying to fetch from public npm r

[2019-08-02 09:09] thymikee commented on #605
The new init doesn't support shorthand templates, you need to pass full name of the package/repo/path

[2019-08-02 09:10] thymikee commented on #605
Also, it's possible that when using `npx react-native` you still use the old version (npx is weird). Try `npx react-native@0.60` just to be sure.

[2019-08-02 09:16] jounii commented on #605
Does not help. Are you sure this line of code is not anymore used in the cli latest version (master branch)?

https://github.com/react-native-community/cli/blob/8c2d5b5f337db02c8868c627d9e4a3b39e0af329/packages/cli/src/tools/generator/templates.js#L74

[2019-08-02 09:19] thymikee commented on #605
I'm sure `generator/*` files are only used by a legacy init, which runs when you do `react-native init`. Where `react-native` is a global binary installed while doing `yarn global add react-native-cli` or similar.

Can you try `npx @react-native-community/cli init` then?

[2019-08-02 09:38] jounii commented on #605
Seems there was react-native-cli (2.0.1) in the ~/.npm cache. `yarn global remove react-native-cli` fixed that and more recent version of cli is now found.

Now having other issue .npmrc config from the template not being respected (local private repo configuration used by template), maybe it's in incorrect place, but have to debug this a bit.

[2019-08-02 09:53] jounii commented on #605
Okay thans @thymikee for your help pointing to right direction. I think the problem with .npmrc is that seems to be missing from my package right now, so have to see that one. Otherwise template installation works now with scoped template name as intended.

[2019-08-02 09:53] #605 closed

[2019-08-02 20:46] mmerickel opened #608 "are there plans to link arbitrary assets?"
## Ask your Question

It looks like the CLI only supports linking specific file types, and inconsistently across platforms. On iOS images and fonts are supported, and on Android only fonts. What is the path forward here to link arbitrary files into the app? Is it better as an application developer to extend the metro bundler with custom `require()` file types than to expect the linking to support

[2019-08-02 21:25] thymikee commented on #608
We'd like to make it better, thanks for asking. Do you have any ideas maybe?

[2019-08-03 03:14] janicduplessis commented on #356
Here's what the generated code should look like: https://gist.github.com/janicduplessis/6256d4bda0a59dd345654dacae106ea2.

Also this confirms that the approach of using a single `TurboReactPackage` is right https://twitter.com/nparashuram/status/1157483387864489984.

[2019-08-03 08:40] Darkle opened #610 "react-native init doesnt seem to be using the latest template files"
## Environment

System:
    OS: Linux 4.14 Debian GNU/Linux 9 (stretch) 9 (stretch)
    CPU: (1) x64 Intel(R) Xeon(R) CPU @ 2.20GHz
    Memory: 274.50 MB / 1.65 GB
    Shell: 4.4.12 - /bin/bash
  Binaries:
    Node: 10.14.2 - /usr/local/nvm/versions/node/v10.14.2/bin/node
    npm: 6.4.1 - /usr/local/nvm/versions/node/v10.14.2/bin/npm
  npmPackages:
    react: 16.8.6 => 16.8.6
    react-native: 0.6

[2019-08-03 11:00] ericyip commented on #537
When I pod install, the dependencies modules detect only works without using `use_native_modules!("../../../)` <- which points to the root project.

[2019-08-04 06:35] mmerickel commented on #608
Doing it via `require()` isn't the end of the world but there's definitely some blobular data that I need only accessible to native modules and right now I just need to manually copy it into the project for each platform and make sure it's up to date when I upgrade the modules. Being able to re-link those modules after upgrade and have the assets copied would be nice, or even nicer if instead of c

[2019-08-04 06:35] #608 closed

[2019-08-04 16:26] thymikee commented on #610
RN master branch is not published. `init` uses `latest` npm published tag, which is 0.60.4 at the moment. See how you can use local RN version as a template here: https://github.com/react-native-community/cli/blob/master/CONTRIBUTING.md#running-cli-with-react-native-from-the-source

[2019-08-04 16:26] #610 closed

[2019-08-04 16:49] thymikee commented on #608
cc @Salakar @dulmandakh

[2019-08-04 19:37] qwertzguy opened #615 "react-native link on Windows uses incorrect path separator for xcode"
## Environment

info
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz
      Memory: 5.49 GB / 15.89 GB
    Binaries:
      Yarn: 1.17.3 - C:\Users\gaspa\AppData\Roaming\npm\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.3.0.0 AI-182.5107.16.33.5314842

## Description

[2019-08-05 06:34] thymikee commented on #615
Would you like to send a PR with a fix? :)

[2019-08-05 08:52] Taym95 commented on #615
I would like to submit PR for this issue.

[2019-08-05 08:59] peat-psuwit opened #616 "React Native bundler no longer scans for symlinks in node_modules"
__Note:__ This issue is copied from facebook/react-native#21735

-------------

  - [ ] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
In React Native 0.56, the bu

[2019-08-05 09:00] peat-psuwit commented on #616
This issue still exists in React Native 0.60.4, with react-native-community/cli 2.8.3.

[2019-08-05 09:01] thymikee commented on #616
Have you seen https://github.com/react-native-community/cli/pull/278 and https://github.com/react-native-community/cli/pull/413? Do any of these solve your issue?

[2019-08-05 09:29] JackyChar opened #619 "run react-native run-android issue"
I  try to upgrade my project from 56.0 to 60.4.
Run "react-native run-android" have issue.

show error:
FAILURE: Build failed with an exception.

* What went wrong:
Project 'app' not found in root project 'myProjectName'.

Android studio not have "module app"

<img width="484" alt="android_app_no_show" src="https://user-images.githubusercontent.com/42757503/62454112-46b17580-b7a6-11e9-8156-cead6a9

[2019-08-05 09:31] peat-psuwit commented on #616
With both PRs applied, the problem still persists.

[2019-08-05 09:32] thymikee commented on #619
Can you share more details about your project? It's structure, deps, system used, anything that can help us diagnose it? Ideally a repro we can download

[2019-08-05 18:11] theweavrs commented on #619
@JackyChar show your `settings.gradle` file. Should be in the `android` folder.

[2019-08-05 18:20] theweavrs commented on #583
@thymikee this can be closed, I think.

[2019-08-05 18:39] theweavrs commented on #568
While going through the whole codebase (for the purpose of #609), I was very curious to see how external (templates, package.json etc.) `json` files are `require`d. Imagine someone putting an IIFE somewhere in there (and imagine if the victim was a _Windows_ user like me 😢)

There should be limitation in privilege that's given an external JS file. All JSON files should be read via `fs` and parsed

[2019-08-05 18:43] theweavrs commented on #471
@thymikee should be closed...

[2019-08-05 18:51] theweavrs commented on #326
@thymikee I can do it but I would need a little bit of specification as regards to what needs be done.

[2019-08-06 00:24] Salakar commented on #537
I came across this today on iOS for local packages in a monorepo, this is how I got around it, not sure if it works for everyone elses cases but let me know as I can send a PR: https://github.com/react-native-community/cli/pull/550#issuecomment-518400626

As a side note as well, the change in that PR should probably be using `File.expand_path` (same behaviour as path.resolve in nodejs) instead of

[2019-08-06 03:15] theweavrs commented on #96
@thymikee what's the status of this?

[2019-08-06 07:36] #583 closed

[2019-08-06 07:37] thymikee commented on #471
Yep! It's working now thanks to you :)

[2019-08-06 07:37] #471 closed

[2019-08-06 07:50] thymikee commented on #537
@Salakar we explicitly avoid resolving full path, because it's saved in a `Podfile.lock`, which is typically saved to git and e.g. read by the CI or other team members.

[2019-08-06 07:53] thymikee commented on #96
Debug logging is still not present in every command. We need to compile a list and let people work on it

[2019-08-06 08:46] ZsKLiQuid opened #622 "react-native run-ios --scheme issue"
## Environment

React Native Environment Info:
    System:
      OS: macOS 10.15
      CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 5.83 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.16.0 - /usr/local/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.10.2 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-08-06 08:52] Salakar commented on #537
@thymikee ah that makes sense. Not sure it can be avoided with symlinks though as they resolve to the full path as far as I can tell, which is what's causing the issue I think

[2019-08-06 11:34] theweavrs commented on #568
Changing `template.config` from JS to JSON would be a good step in this regard. But that's a breaking change and maybe should be implemented in 3.x.

[2019-08-06 13:02] umuterc commented on #545
I have the same problem when i write react-native run-android it starts and in the middle of the proccess it stucks and using a lot of memory and then i cant even use my mouse my whole computer stucks.Could you find a solution?

[2019-08-06 13:29] Crare opened #623 "Is the npm package up to date on npmjs.com?"
## Ask your Question

Hi,
is the npm package up to date on npmjs.com?

there is old dependencies including "ws" which is very old and has security issues.

I tried installing this with react-native version 0.60.4
and it installs this as child dependency. I've tried removing package-lock.json file and installing again, but it's still same version. However when I look at the react-native-community/c

[2019-08-06 13:44] thymikee commented on #485
There's a PR fixing it in upstream `jest-haste-map` package: https://github.com/facebook/jest/pull/8787. Please test it and report back if it works for you

[2019-08-06 13:47] thymikee commented on #623
The root package.json is private and not published, used as a monorepo setup. Published packages live here: https://github.com/react-native-community/cli/tree/master/packages.

There's a bunch of unpublished commits right now, but we try to release often.

[2019-08-06 13:47] #623 closed

[2019-08-06 14:18] ldco2016 opened #624 "A problem occurred evaluating settings ... Text must not be null or empty"
## Environment

[code]

## Description

I have this error in my Jenkins build only:

[code]
Others mentioned something about `app/build.gradle`, here is the relevant part of mine:

[code]

Mention was also made of `android/settings.gradle`, this one is mine:

[code]

From what I have gathered here:

https://react-native-community.github.io/upgrade-helper/?from=0.53.3&to=0.60.4

The above files are

[2019-08-06 15:45] niieani commented on #485
Actually the "fix" in `jest-haste-map` is just a workaround.

Here's a minimal reproduction of the `node` bug and a description of my findings: https://github.com/nodejs/node/issues/29001

[2019-08-06 16:50] Inovassist-dev commented on #545
After downgrading Node to the latest stable version fixed for me...
Can you run run-android command in verbose mode to see if something pops out?

[2019-08-07 06:46] umuterc commented on #545
Thank you i changed the version to v10.16.2.It is fixed.

[2019-08-07 08:54] Inovassist-dev commented on #545
You're welcome! 😉

[2019-08-07 09:41] maciejsimka commented on #537
@Salakar would you mind checking if [this](https://github.com/react-native-community/cli/pull/625) would work in your case?

[2019-08-07 14:01] Ashoat opened #626 "0.59.8 run-ios fails to link React Pods"
## Environment

[code]

## Description

I have a CocoaPods setup using React Native 0.59.8. I encountered [an issue](https://github.com/facebook/react-native/issues/20492) building an archive last week that had to do with duplicate build artifacts. To address it, I followed [@Salakar's advice](https://github.com/facebook/react-native/issues/20492#issuecomment-464343895) and [removed all the refere

[2019-08-07 14:09] #615 closed

[2019-08-07 14:11] Ashoat commented on #626
This issue was resolved by clearing DerivedData.

The reason it was working from Xcode was that Xcode stores DerivedData in `~/Library/Developer/Xcode/DerivedData`, whereas `react-native run-ios` uses a custom path in `ios/build`. Simply removing that folder and rerunning `react-native run-ios` resolved my issue.

[2019-08-07 14:11] #626 closed

[2019-08-08 10:13] maciejsimka commented on #573
@TheSavior during the init, have you seen other loading indicators and only the CocoaPods installation step didn't have any?

I tried to reproduce it and this is how it looks in my case: https://asciinema.org/a/SjZyniwPvWKoWSc12Fijqt8dP

[2019-08-08 15:08] #212 closed

[2019-08-09 11:38] openmaya opened #627 "Just create a project by expo and then just upgrade and Cannot read property 'toLowerCase'"
## Environment
mac, zsh
react-native-cli: 2.0.1
react-native: 0.59.8
npm 6.9.0
expo: 3.0.9

## Description
I just create a project by expo using expo-template-blank-typescript
and right then upgrade

## Reproducible Demo

expo init MyProject
cd MyProject
react-native upgrade

info No version passed. Fetching latest...
info Fetching diff between v0.59.8 and v0.60.4...
error Cannot read property 'to

[2019-08-09 21:46] mikehardy commented on #485
@thymikee I must admit, I'm confused on how to try the workaround. If I follow the CONTRIBUTING doc and yarn link to a jest checkout of the patch-3 branch with the workaround, that will link in all the packages as well, so I would get the jest-haste-map modifications?

Or maybe it would be faster to checkout the branch, build it, then just copy the built JS in there (and maybe create a patch-packa

[2019-08-09 21:49] thymikee commented on #485
@mikehardy since this is relatively small change I'd patch it manually in node_modules

[2019-08-09 23:15] mikehardy commented on #485
Workaround tested and working! status (and patch-package patch) attached to comment on PR https://github.com/facebook/jest/pull/8787#issuecomment-520091960

[2019-08-10 06:28] guruparan commented on #467
I'm using 2.8.3, I'm trying to upgrade to RN 60 and using React Native Navigation with code push, i'm having the same issue :(

[2019-08-10 15:54] Andrea-Arguello commented on #627
I am having this same issue, I am trying to work with a component that requires react-native to be 0.60.4 or greater and my project is 0.59, but I cannot upgrade because of this error

[2019-08-12 08:52] philjoseph commented on #626
@Ashoat You just explained why it was working on Xcode but you did not explained why it was not working from the command line. Can you please clarify how you succeed to link from the command line since I do have the exact same problem and do not yet figure out what is the solution

[2019-08-13 11:25] juroMin commented on #467
the same with @react-native-community/cli@2.8.3 and react-native 0.60.4
[code]

[2019-08-13 11:46] maciejsimka commented on #627
I take it that you haven't ejected?

[Upgrading Expo projects](https://facebook.github.io/react-native/docs/upgrading#expo-projects) works a bit differently and [latest SDK version supports RN 0.59.8](https://docs.expo.io/versions/latest/sdk/overview/#sdk-version), so your best bet is to wait for the next SDK version which is planned for September, I think.

If you have ejected, you're probably mi

[2019-08-13 12:17] openmaya commented on #627
@maciejsimka Thanks. I will keep the 0.59.8 and wait until Sep.

[2019-08-13 12:24] maciejsimka commented on #96
OK, so here's the list of commands, with the ones having `logger.debug` calls checked.

- [ ] `start`
- [ ] `bundle`
- [ ] `ram-bundle`
- [x] `link`
- [x] `unlink`
- [ ] `install`
- [ ] `uninstall`
- [x] `upgrade`
- [ ] `info`
- [ ] `config`
- [x] `init`
- [ ] `log-ios`
- [x] `run-ios`
- [ ] `log-android`
- [x] `run-android`

[2019-08-13 13:29] Esemesek commented on #96
In addition to @maciejsimka list:
- `log-android` and `log-ios` are using `logkitty` to log device logs. We don't need verbose logging there, because they are verbose by default.
- `info` and `config` are very basic and verbose logging there isn't necessary
- `install` and `uninstall` have verbose logging when `linking` happens - I think we don't need more logging there

[2019-08-13 19:49] thymikee commented on #467
Have you tried `yarn react-native run-android --tasks clean` or `cd android && ./gradlew clean` and then building again?

[2019-08-14 15:26] mikemcelligott commented on #468
The above did not fix the problem for me, but a similar update is getting me much closer (but still not working app.... and this is a brand new app):

{root}/node_modules/@react-native-community/cli-platform-android/native_modules.gradle:173

-def command = "node ./node_modules/react-native/cli.js config"
+def command = "node ./node_modules/react-native/local-cli/cli.js config"

[2019-08-14 18:52] thiagoferolla opened #633 "iOS autolinking not working in monorepo"
## Environment

System:
    OS: macOS 10.15
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Memory: 255.71 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.15.3 - ~/.nvm/versions/node/v10.15.3/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v10.15.3/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2019-08-15 08:30] cfantasy74 commented on #485
Patch is for 24.8.0, but current module version is 24.8.1. Is it possible to get a path for the current version?

[2019-08-15 14:32] mikehardy commented on #485
You'll have to hack it @cfantasy74 - just remove the hunk from crawlers/node.js (that file is modified for 24.8.0 but not needed for 24.8.1) and rename it.

[2019-08-15 18:05] christocracy opened #636 "Auto-linking with 0.60 and custom maven url in root build.gradle"
## Ask your Question

I'm a plugin author.  My plugin includes a custom `.aar` library in much the same way that `react-native` itself is imported, by adding a custom `maven url` to the root `build.gradle`

[code]

In the past with `react-native link`, I had used a custom `postlink` script to automatically open and write this required `maven url` to `build.gradle` (and corresponding `postunlink` s

[2019-08-15 23:57] gpfunk opened #637 "@babel/runtime devDependencies -> dependencies?"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 2.61 GB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 10.16.0 - ~/.nvm/versions/node/v10.16.0/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.9.0 - ~/.nvm/versions/node/v10.16.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2019-08-16 01:25] christocracy commented on #636
I found another way.

[2019-08-16 01:25] #636 closed

[2019-08-16 07:35] thymikee commented on #637
Looks like we don't need it at all, since we don't use `@babel/plugin-transform-runtime`: https://babeljs.io/docs/en/babel-runtime#usage.

[2019-08-16 07:38] thymikee commented on #637
Ah, didn't notice this is for init compat. It's a dev dep inside RN defaut template: https://github.com/facebook/react-native/blob/0.60-stable/template/package.json#L15. Please ask on RN core repo and come back if you turn out moving this to "dependencies". Closing for now :)

[2019-08-16 07:38] #637 closed

[2019-08-16 13:55] birkir commented on #633
[code]

[2019-08-16 16:26] thiagoferolla commented on #633
That actualyy didn't work. node_modules are in `../../../node_modules`  so when running `pod install` with the path that suggested I got the error:

`Invalid Podfile file: cannot load such file`

[2019-08-16 22:42] ErnesII commented on #468
For me it was just something stupid, in the file react-native.config.js, I just commented these lines:
[code]

[2019-08-17 03:13] ryohlan commented on #633
use `nohoist`.

in react-native-app/package.json

[code]

My monorepo repository https://github.com/ryohlan/monorepo/blob/master/mobile/package.json

[2019-08-17 06:36] Harsh2402 opened #638 "Generate Pod files issue after updating the react native version 0.59.9 to 0.60.5"
I have updated the react-native version `0.59.9` to `0.60.5`.

Before version:
[code]

After updating the version:
[code]
After updating the version, in `iOS` directory, can not see the pod file.
So I have run the following command to generate the `pod` file.

[code]

After applying the command I can see my pod file like below.
[code]

But when we create a new project then we can get following pod

[2019-08-17 06:39] thymikee commented on #638
If you upgrade, and it didn't apply the changes automatically, you need to manually adjust Podfile to look like the one from the template. We can't control `pod init`. Use https://react-native-community.github.io/upgrade-helper/ to help you with the upgrade process

[2019-08-17 06:39] #638 closed

[2019-08-17 17:16] vladp opened #639 "Including source code from outside root project"
Having difficulties figuring out how to include js source code from outside the root project

My index.android.js has
`
import { functionX} from './../rn.common/src/js.app/SomeFunctionsThatUseRN'
`

The above, unfortunately causes an error.
I saw how to [solve it](https://github.com/react-community/create-react-native-app/issues/232) with
getProjectRoots of the old rn-cli.config.js.
However, I cou

[2019-08-17 17:21] thymikee commented on #639
You'll need to configure Metro bundler using `metro.config.js`, look for [`projectRoot`](https://facebook.github.io/metro/docs/en/configuration#projectroot) and/or `watchFolders`

[2019-08-17 17:21] #639 closed

[2019-08-17 17:56] vladp commented on #639
Thank you for pointing to metro.config.js. I would not even think to look there.
Unfortunately watchFolders does not fix what directories are allowed in import statements.

And if I set projectRoot to the shared directory (rn.common) then nothing else works (as it cannot find index.android.js) and so on.

[2019-08-17 18:00] thymikee commented on #639
Looks like you could find some help on Metro issue tracker:
- https://github.com/facebook/metro/issues/391
- https://github.com/facebook/metro/issues/7#issuecomment-508129053

[2019-08-17 18:53] vladp commented on #639
Thank you for the pointers!.  I was looking at those as well.
I think the difference is that I am looking to share node_modules from ../common
I am just looking to include sources of javascript files there.

The part where they showed how to use metro resolver to 'expose' all the  node_modules in root dir
to  modules from outside of root dir, is neat though.

Thank you for your help, at any rate,

[2019-08-19 06:26] 77xi commented on #573
+

[2019-08-19 18:35] iampnelson commented on #418
I tried the above and nothing seemed to work.  The following command worked for me.
`sudo killall -9 com.apple.CoreSimulator.CoreSimulatorService`

[2019-08-20 00:57] wuxiii commented on #592
![image](https://user-images.githubusercontent.com/28565020/63309208-8b9de600-c328-11e9-830b-a4fad89992ca.png)

[2019-08-21 09:26] DanielTate commented on #485
still an issue on node 12.8.1

[2019-08-21 13:31] mikehardy commented on #485
@DanielTate there was nothing in the 12.8.1 changelog that would have led me to believe it would change. Here's what will cause it to change:

- [jest 24.9+](https://github.com/facebook/jest/pull/8787) needs to be in your project, that may happen but requires facebook-internal changes https://github.com/facebook/metro/pull/445#issuecomment-523347315
- Node upgrades V8 and releases 12.9 - looks lik

[2019-08-21 13:57] grabbou commented on #622
Thanks for digging into it! The solution looks great! I'll send a quick PR right now

[2019-08-21 14:25] grabbou commented on #622
Unfortunately, this solution is not really "good", because `scheme` in that context is always defined.

In line 60, we assign it a default value:
[code]

[2019-08-21 14:35] grabbou commented on #622
Before proceeding, we need to take a look at the historical commit that implemented the product name extraction from the build output: https://github.com/facebook/react-native/commit/8b55e50d1da91dbeadddd7a5a40cc6e4532f9551

We can't change the product name per schema, so I think we should change this logic to be:
[code]

What you think? Or shall we replace the `getProductName` with a better alter

[2019-08-22 10:56] ZsKLiQuid commented on #622
Hum,

In my case buildOutput has many "FULL_PRODUCT_NAME".

[code]

This line take the first occurence but the good one is the last occurence.

What do you think ?

[2019-08-22 17:43] NRamirezCR commented on #434
@robertying do you still have this issue? I noticed that you added `reactNativeCodePush_androidDeploymentKey` in `res/values/codepush.xml`. Can you try adding it in `res/values/strings.xmls` instead? That fixed the problem for me.

[2019-08-22 20:24] robertying commented on #434
@NRamirezCR this issue has been resolved by my pull request so it should be good now for everyone. Thanks anyway!

[2019-08-22 20:51] t-hughes commented on #303
You can always open Finder and find the `launchPackager.command` file under `node_modules/react-native/scripts/`. Right click the file, choose get info, then change the "Open with:" section to iTerm, and click on Change All.

[2019-08-23 05:15] abhirup03 commented on #484
I have recently upgraded to RN 0.60.0 from 0.57, after running "**react-native run-android**" the configurations from build.grade executes successfully. But the metro bundler launches and doesn't loads and says it's done. The app crashes, as the metro bundler doesn't run.

Any approach to fix this?  @thymikee
![Screen Shot 2019-08-23 at 10 43 46 AM](https://user-images.githubusercontent.com/336018

[2019-08-23 07:45] thymikee commented on #484
Does running `react-native start` first help? Also, if you use Node 12, make sure to upgrade to 12.9+, there was a bug in V8 that affected Metro.

[2019-08-23 12:32] GaetanB999 commented on #484
Same issue here.

System:
    OS: macOS 10.14.6
    CPU: (6) x64 Intel(R) Core(TM) i5-8500B CPU @ 3.00GHz
    Memory: 2.19 GB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.9.0 - /usr/local/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.10.2 - /usr/local/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 12.2, macOS 10.14, tvOS 12.2, watchOS 5.2
  IDEs:
    Xcode: 10.2

[2019-08-23 15:23] ldco2016 opened #643 "UNMET PEER DEPENDENCY react-native@0.60.4"
## Environment

[code]

## Description

I wanted to look into `native_modules` file inside of `@react-native-community/cli` and I noticed that the folder did not exist in my `node_modules`.

So I did an `npm ls @react-native-community/cli` and I got this readout:

[code]

I have removed package-lock file I have removed and reinstalled node_modules and I continue to get the above error.

This is my

[2019-08-23 15:29] thymikee commented on #643
It's inside `@react-native-community/cli-platform-ios/native_modules.rb` for iOS and `@react-native-community/cli-platform-android/native_modules.gradle` for Android.

[2019-08-23 15:29] #643 closed

[2019-08-23 15:31] ldco2016 commented on #643
@thymikee , I do have `@react-native-community` now, but why am I getting:

[code]

regardless of what I try to remove it?

[2019-08-23 15:33] thymikee commented on #643
Because you don't have `react-native` installed? Or npm fails to do its job. It's just a warning anyway.

[2019-08-23 15:35] ldco2016 commented on #643
`react-native` is installed. Not a `react-native-community/cli` issue, understood.

[2019-08-23 15:36] thymikee commented on #643
Yup 🙂 This project you linked use Yarn, so I'd use that. It's better in my experience and I always recommend it.

[2019-08-23 16:26] amadeu01 opened #644 "Android Studio doesn't inherit the environment variables you defined in your shell."
## Environment

[code]
## Description

This [line](https://github.com/react-native-community/cli/blob/master/packages/platform-android/native_modules.gradle#L173):

[code]

that is totally fine if you are running the gradle with command line, but if you are running the gradle using Android Studio you have a problem of Android Studio not being able to inherit environment variables.

The current wor

[2019-08-23 16:37] thymikee commented on #644
Would like to fix it? :)

[2019-08-23 16:39] KalebPortillo commented on #540
I was stuck in the same issue, but I coudn`t jsut start a new react-native project and migrate all files.
So what I did was:
- Finde the file at path: `node_modules/react-native/Libraries/Utilities/HMRClient.js` and change the line: `const MetroHMRClient = require('metro/src/lib/bundle-modules/HMRClient');`
to: `const MetroHMRClient = require('../../../@react-native-community/cli/node_modules/metr

[2019-08-23 22:28] ddeath opened #645 "App init does not work with directory option"
## Environment

[code]

## Description

[code]

## Reproducible Demo

`react-native init MyApp --directory ./mobile`

If you run command without directory option it works

[2019-08-23 22:51] ddeath commented on #645
Ok this is probably because I use yarn workspaces so and rn does not know how to work with it...

[2019-08-24 14:28] amadeu01 commented on #644
@thymikee I didn't find any solution to this yet. (Besides open the AS with terminal - which isn't the optimal solution 😢 )

[2019-08-24 17:46] damianham commented on #639
After finding no way to solve this I ended up using gulp to watch external modules and copy them into node_modules of my RN app.

[2019-08-25 09:50] abhirup03 commented on #484
@thymikee trying out that I got the following errors:
![Screen Shot 2019-08-25 at 3 19 46 PM](https://user-images.githubusercontent.com/33601838/63648318-e336ba00-c74b-11e9-9440-8c4cef8ec239.png)