[2019-08-25 19:48] abhirup03 commented on #484
My system's node version is : 12.9.0 @thymikee

[2019-08-26 04:26] abhirup03 commented on #484
Did anyone face a same issue? Any particular approach to follow and fix this? Please kindly update.

[2019-08-26 05:24] thymikee commented on #484
Did you actually read the error message? The registry is down for some reason and it cannot download Android deps. It's not related to Metro anyhow.

[2019-08-26 05:36] abhirup03 commented on #484
Hi @thymikee  I encountered that yesterday and tried making few changes. Now, as you can see in the picture below the build is successful, but the metro bundler doesn't load.
![Screen Shot 2019-08-26 at 11 01 15 AM](https://user-images.githubusercontent.com/33601838/63667469-85f54400-c7f1-11e9-9839-d1fb03492c22.png)

[2019-08-26 06:28] thymikee commented on #484
Looks like Metro is running fine (see the "Loading dependency graph, done." message). It's possible that your app is not able to connect to it. See https://stackoverflow.com/questions/42064283/react-nativecould-not-connect-to-development-server-on-android or similar.

[2019-08-26 09:13] StasD opened #647 "Why CocoaPods?"
At the end of initialization of the new project I'm getting this question:

I'm answering "**no**". Then I'm getting:

And further down:

Why is CocoaPods needed at all? Just a few months ago react native cli did not try to install it. I remember installing CocoaPods in the past for some reason, and if I remember correctly, what it does it creates a HUGE folder with all sorts of useless repositori

[2019-08-26 09:21] thymikee commented on #647
It's a decision React Native core team made to simplify dependency management and essentially allow for autolinking on iOS.

[2019-08-26 09:21] #647 closed

[2019-08-26 09:26] StasD commented on #647
So, if I don't install it, nothing will work? Or there are some workarounds?
Also, do I need to re-init the above project after installing CocoaPods?

[2019-08-26 09:30] thymikee commented on #647
That's right, the default template won't work without CocoaPods. You can create your own that does not base on CocoaPods, or research if there's something like this already done. But RN is moving more parts into CocoaPods and not following that will become a burden.

No, after installing CocoaPods, you need to run `pod install` inside `ios` directory to install deps and then open `*.xcworkspace` f

[2019-08-26 09:31] StasD commented on #647
OK, understood... Thanks!

[2019-08-26 09:48] alloy commented on #647
Unsure if you’re referring to the spec repo in `~/.cocoapods/repos/master`. If so and re-trying to use CocoaPods, you may want to try out the new CDN repo http://blog.cocoapods.org/CocoaPods-1.7.2/, which will become the default in v1.8.0 http://blog.cocoapods.org/CocoaPods-1.8.0-beta/.

[2019-08-26 09:56] thymikee commented on #647
@alloy yes please! <3

[2019-08-26 12:42] StasD commented on #647
Managed to get it working, finally.
First, installed latest ruby with homebrew (mainly to avoid using sudo): `brew install ruby`
Then made it preferred by modifying .bash_profile file:
`export PATH="/usr/local/opt/ruby/bin:$PATH"`
Then installed your recommended cocoapods 1.8.0 beta: `gem install cocoapods --pre`
For some reason, the pod binary was not exposed after that, so had to modify .bash_pr

[2019-08-26 15:13] abzainuddin opened #648 "Use custom host for run-android"
When running `react-native run-android --help`, there is an option to specify the port with `--port`.
Is it also possible to specify the host?

Use case: I'm using https://github.com/budtmo/docker-android to run an android avd inside a docker container, but would like to run the js server on another container.

[2019-08-26 15:19] thymikee commented on #648
cc @grabbou you were interested about use cases for custom host

[2019-08-26 15:37] Esemesek commented on #644
@amadeu01 How did you define/export your env variables?

It seems like everything should be working just fine. Android Studio supports reading env variables from your profile, so you need to include them in your shell configuration.

Here is documentation: https://developer.android.com/studio/command-line/variables

[2019-08-26 15:43] Esemesek commented on #645
Is your project initialized properly? It seems like only `pod install` is failing.

[2019-08-26 15:51] ddeath commented on #645
What do you mean if it is initialized properly? The init command failed. Also it has an issue to build an android app.

But as I said it is an issue with yarn workspaces - I mean they are working properly, just react do not know how to handle them. Basically what will happen when you are using workspaces, the packages get hoisted to the root `node_modules` directory so react-native cannot find the

[2019-08-26 16:03] Esemesek commented on #645
Can you please read error message you posted? Init command failed on pod installation, but project should be initialized without pods installed.

[2019-08-26 17:16] ddeath commented on #645
yes but think is you are not able to build the android and ios app either... and usually when you run the init command you expect the success and not failure. How the user should know that it is ok to fail like this? What if there were 20 more steps in init process? It is not clear from that error message...

Anyway... I found my solution to it...

[2019-08-26 17:16] #645 closed

[2019-08-26 17:28] Esemesek commented on #645
@ddeath You titled your issue that `init` is not working correctly, that is why I am asking about it. You didn't mention any other commands not working. If you read the error message instead of posting an issue here, you would most probably find another ticket, where we track this exact [issue](https://github.com/react-native-community/cli/issues/633).

[2019-08-26 18:15] Esemesek commented on #644
Not sure if Android Studio will use `zsh` shell when running a new process. Documentation is suggesting a ~/`.bash_profile` to put your env variables. Could you try it?

[2019-08-26 22:29] a-c-sreedhar-reddy opened #649 "Create a new native app does not run."
## Environment

System:
    OS: Linux 5.0 Ubuntu 19.04 (Disco Dingo)
    CPU: (4) x64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz
    Memory: 271.98 MB / 7.71 GB
    Shell: 5.0.3 - /bin/bash
  Binaries:
    Node: 10.15.2 - /usr/bin/node
    Yarn: 1.13.0 - /usr/local/bin/yarn
    npm: 6.5.0 - /usr/local/bin/npm
  npmPackages:
    react: 16.8.6 => 16.8.6
    react-native: 0.60.5 => 0.60.5
  npmGlobalPa

[2019-08-26 22:40] thymikee commented on #649
Can you share what's on the red screen? We need more details

[2019-08-26 22:49] a-c-sreedhar-reddy commented on #649
@thymikee updated the comment.

[2019-08-27 06:18] thymikee commented on #649
You need to be on a WiFi connection, looks like you aren't.

[2019-08-27 06:57] a-c-sreedhar-reddy commented on #649
I have connected my device via USB.

[2019-08-27 07:36] thymikee commented on #649
You still need to connect to the same WiFi network for Metro server to see your device. It is expected behavior that CLI exits after starting intent. Closing, as this is an issue with your environment.

[2019-08-27 07:36] #649 closed

[2019-08-27 07:44] a-c-sreedhar-reddy commented on #649
@thymikee I connected to the same network and tried. But still the issue exist.

[2019-08-27 07:53] GospelHW commented on #487
I have same error when i run `react-native init NewRN` ,
I fix step is :
1. add `pod 'boost-for-react-native', :podspec => 'https://raw.githubusercontent.com/react-native-community/boost-for-react-native/master/boost-for-react-native.podspec'` in Podfile
2. `pod install`
my Podfile like ：
![image](https://user-images.githubusercontent.com/24928406/63751774-946f5880-c8e2-11e9-8763-a72b2fe46dd7.png)

[2019-08-27 07:57] thymikee commented on #487
I don't know why you need `boost-for-react-native`, it's not necessary. Have you tried running `pod install --repo-update`?

[2019-08-27 08:00] thymikee commented on #649
Hope this helps: https://facebook.github.io/react-native/docs/running-on-device.html

[2019-08-27 08:07] GospelHW commented on #487
yes I tried but same error agin
![image](https://user-images.githubusercontent.com/24928406/63752447-d51ba180-c8e3-11e9-92cf-fe2fcfe805c7.png)

`boost-for-react-native` that is some people's method  to solve this error, then this is right way for me, anyway i want to know why run `react-native init ` have error in `react-native 0.60.5`

[2019-08-27 08:21] RioFiveJack commented on #521
hi, i would like to ask if it's possible to override package's `react-native.config.js` ? sometimes i want to have different packages constructor for my app ?

[2019-08-27 08:23] thymikee commented on #521
@RioFiveJack https://github.com/react-native-community/cli/blob/master/docs/dependencies.md#platformsandroidpackageinstance

[2019-08-27 08:48] a-c-sreedhar-reddy commented on #649
@thymikee Solved this issue .
 1) ran `react-native start` in one console.
 2) ran `react-native run-android` in another console. This uploaded the app and stopped. But the app loaded js bundle from 1).

Dont know if this the way it should be done or is it  a bug.

[2019-08-27 08:50] thymikee commented on #649
It's hard to say without reproducing the environment. But I wouldn't bother if it works this way. I, for example, always run `start` and `run-*` separately because I like to place them in a certain way on my terminal window :D

[2019-08-27 09:01] tbergq commented on #468
Hi, I am also getting this error, and . I cannot seem to configure it correctly with the current options(I am hoping there is something I missed 😊 )

currently we have a structure like
[code]

Setting root to the project root, it will try to run `node ./node_modules/react-native/cli.js config` in the project root, and report error on this line : `this.packageName = json["project"]["android"]["pack

[2019-08-27 09:19] #561 closed

[2019-08-27 09:24] RioFiveJack commented on #521
@thymikee thanks for quick reply , i've read it before, but could i put on my project folder and override node_modules packages setting ? if the package also have `react-native.config.js`

[2019-08-27 09:25] thymikee commented on #521
Your root config will override the package's one.

[2019-08-27 16:01] mauron85 commented on #429
Post link hooks are still useful. As far I know there is not possible autolink more then one gradle project.

Consider you have library that consist of two gradle projects/submodules. So basic rn example would be:

[code]

And `submobule1` can depend on `submobule2`( but that's not relevant here). I believe currently you can only autolink one module.

In previous version, I've used postlink script

[2019-08-28 01:46] GospelHW commented on #487
@thymikee  i means use `boost-for-react-native` can solved my error , but i don't know why. if it's not necessary.how to fix it ,can you help ?

[2019-08-28 04:50] thymikee commented on #487
I think there's an issue with your local env. I haven't seen anybody else experiencing this.

[2019-08-28 11:12] lgh06 commented on #142
Same issue. I have to open Android Studio => AVD manager => emulator manually.

[2019-08-28 13:52] tbergq commented on #468
@thymikee @grabbou please ^^ 🙏

[2019-08-28 14:33] maximedupre opened #652 "`react-native upgrade` No conflicts delimiter for "project.pbxproj""
The struggle to upgrade react-native in my project has arrived once again.

	$ react-native upgrade
	info No version passed. Fetching latest...
	info Fetching diff between v0.60.4 and v0.60.5...
	info Applying diff...
	warn Excluding files that exist in the template, but not in your project:

	error Excluding files that failed to apply the diff:
	- ios/my-project.xcodeproj/project.pbxproj
	Please

[2019-08-28 14:35] thymikee commented on #652
The rule of thumb is: you don't.
Changes in `*.pbxproj` are usually because different versions of Xcode producing results that are ordered differently.
If there is something that requires your attention, we will tell you inside https://react-native-community.github.io/upgrade-helper/ as a comment to this very file.

[2019-08-28 14:50] thymikee commented on #652
@maximedupre I've edited the comment

[2019-08-28 14:51] #652 closed, assigned to nobody

[2019-08-29 04:42] lgh06 commented on #142
https://github.com/wswebcreation/start-android-emulator/issues/3
https://github.com/antonholmberg/android-emulator/issues/3

[2019-08-29 19:52] brunolemos commented on #537
I'm trying to upgrade from react-native 0.59 to 0.61 and having the exact same issue on android:
`Cannot get property 'packageName' on null object`

Although [this comment](https://github.com/react-native-community/cli/issues/537#issuecomment-517159093) does seem to fix this specific issue, it installs the react-native app inside `packages/mobile/node_modules` instead of the root `node_modules`, w

[2019-08-29 21:35] koredefashokun commented on #537
I have the same issue @brunolemos. I would appreciate any solution that does not involve me to install `react-native` in the specific folder, instead of in the root of the monorepo. This is arguably a better approach, especially since users may have more than one package dependent on `react-native`. Not sure if this is considered a priority in this repo. Would appreciate if anyone could point me i

[2019-08-30 06:07] thymikee commented on #537
@Esemesek would you find some time to dig it? I'm pretty swamped for the next few weeks, so can't commit to that unfortunately

[2019-08-30 06:55] rendomnet opened #654 "react-native.config.js not working"
## Environment

System:
    OS: macOS 10.14.3
    CPU: (8) x64 Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz
    Memory: 1.61 GB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 8.13.0 - ~/.nvm/versions/node/v8.13.0/bin/node
    Yarn: 1.15.2 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v8.13.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platf

[2019-08-30 06:58] thymikee commented on #654
Can you please provide a repro? Also, you don't need the `assets` entry if you use `react-native-vector-icons`, it's already been handled

[2019-08-30 08:14] rendomnet commented on #654
@thymikee repo is very big sorry can't provide it. I'm moving my project from 0.59.9 to 0.60.5.
I tried to find documentation for react-native.config.js settings but could not.
As I understand it suppose to be in the root of react-native project and will be handled automatically if we use 0.60+.

I followed this steps https://github.com/microsoft/react-native-code-push/issues/1668#issuecomment-524

[2019-08-30 08:38] thymikee commented on #654
Documentation can be found here: https://github.com/react-native-community/cli/tree/master/docs

[2019-08-30 10:44] rendomnet commented on #654
@thymikee Sorry i'm trying to understand the issue. Right now in RN 0.60> CodePush conflicting with SSZipArchive on 0.59.9 it was not. Setting CodePush to NOT be autolinked using **react-native.config.js** should resolve the issue?

[2019-08-30 10:46] thymikee commented on #654
If you disable code push from linking, it's not gonna be autolinked. It will also not work with `react-native link <package>` – you'll need to either link manually or first run `link`, then disable linking in config file.

[2019-08-30 14:12] Linoa65 commented on #467
Hello !

Same here, unable to build on RN 0.60.4 with error 'cannot find symbol PackageList'
I'm currently upgrading my app, it's such a pain to resolve all conflict/dependencies problems...

[2019-08-30 14:17] mikehardy commented on #467
@Linoa65 examine line 6 from the android/app/src/main/java/com/rndiffapp/MainApplication.java file here https://react-native-community.github.io/upgrade-helper/?from=0.59.10&to=0.60.4

I believe you are just missing the import based on your error message, and in general the upgrade helper https://react-native-community.github.io/upgrade-helper/ site is fantastic for upgrades

[2019-08-31 01:37] brunolemos commented on #537
Should we open a new issue? If not, please reopen this one.

[2019-08-31 07:04] thymikee commented on #537
Let's open a new one please, this issue tries to handle too many cases and platforms.

[2019-09-01 06:43] yasir-netlinks commented on #434
Hi there, I updated code push to latest, but i am still getting this issue!!

[2019-09-01 07:14] brunolemos opened #655 "Cannot get property 'packageName' on null object"
## Environment

System:
    OS: macOS 10.15
    CPU: (4) x64 Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz
    Memory: 2.70 GB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.8.0 - /var/folders/xh/gcxkb1qx2rd3fmqz5vxrs2lh0000gn/T/yarn--1567321836628-0.386672585258681/node
    Yarn: 1.17.3 - /var/folders/xh/gcxkb1qx2rd3fmqz5vxrs2lh0000gn/T/yarn--1567321836628-0.386672585258681/yarn
    n

[2019-09-01 07:16] brunolemos commented on #537
Ok, opened https://github.com/react-native-community/cli/issues/655.

[2019-09-01 12:34] IljaDaderko opened #656 "[monorepo] bundling doesn't work (workaround available)"
To kick off: I also posted clone of this issue in rn repo https://github.com/facebook/react-native/issues/26259

Although I'm almost sure that it is related to cli somehow due to errors that get output. My instinct is either something changed to platform flag where `ios` value is invalid or due to usage of multiple cli paths while archiving. Full details below. If this does sound like a cli issue,

[2019-09-01 22:46] broros commented on #573
still have problems.. on macOS Mojave

[code]

[2019-09-01 22:58] broros commented on #573
you must install yarn

```brew install yarn```

[2019-09-02 11:06] alloy commented on #573
@TheSavior @thymikee I assume this is because it’s cloning the specs repo. [In v1.7 a CDN version of this was added](http://blog.cocoapods.org/CocoaPods-1.7.2/), which only fetches the specs you need during dependency resolution and is thus much faster, however only [in v1.8 will it become the default](http://blog.cocoapods.org/CocoaPods-1.8.0-beta/). I.e. I wouldn’t spend a lot of time on this ju

[2019-09-02 12:13] Esemesek commented on #656
I have initialized a new project from `cli` master branch and everything is working just fine. It seems like you're having issue with [this line of code](https://github.com/facebook/react-native/blob/88d0ac17e8bf20c4134ba1b17827fa33eeec2ed2/scripts/react-native-xcode.sh#L120). Do you have any custom platform configurations that might cause those issues? Can you paste your `react-native.config.js`?

[2019-09-02 12:23] IljaDaderko commented on #656
@Esemesek just tried it with new project and it is working for me as well. So I am now trying to figure out if there are any specifics in my project causing this.

As it is now:

1. I'm not using any custom platform
2. My project doesn't have `react-native.config.js` (I assume it would be using default one?)

Only difference compared vanilla "rn" project is that I'm within monorepo environment i.e

[2019-09-02 12:25] thymikee commented on #656
You're in a monorepo, that's very important information. If you run your RN app from root of the project, you'll currently need to add `react-native` to your root `package.json` dependencies. We're working on better monorepo integration, but not there yet.

[2019-09-02 12:30] IljaDaderko commented on #656
@thymikee yeh, not sure how I forgot to include that bit of info, my bad.

`react-native` package is located in my root `node_modules` folder (just checked). It is, however, installed from `packages/myTestApp-app/package.json`, but it is not `nohoisted`, does this satisfy your requirement?

[2019-09-02 12:32] Esemesek commented on #656
@IljaDaderko I am currently working with monorepo project. From my experience, it is better to `no-hoist` all the packages that are linked/autolinked.

[code]

[2019-09-02 12:38] IljaDaderko commented on #656
I'll give this approach a try, I think in rn 0.61 they got rid of haste, so `nohoist` is no longer necessary? I also don't have auto linked deps, just few manually added cocoapod ones.

Never the less, this seems to be specific to my project, so will keep digging.

Just out of curiosity is your monorepo project working on 0.61rc @Esemesek ?

[2019-09-02 12:49] Esemesek commented on #656
@IljaDaderko nope. We are using on `0.60.5`.

[2019-09-02 12:51] IljaDaderko commented on #656
Alright, I'll keep digging into my issue, will report here if I find anything interesting. Thank you for your time guys, this seems like something specific to my project.

[2019-09-02 16:17] MoOx opened #657 "use_native_modules! should take in consideration pod install `--project-directory=ios` option"
## Environment

[code]

## Description

If you don't run `pod install` from `./ios` folder (eg: via `pod install --project-directory=ios` instead of `cd ios && pod install`, you can get this error

[code]

In this precise scenario, (`pod install` with `--project-directory=ios`), using `use_native_modules!(".")` instead of `use_native_modules!` does the trick (as default root value is `".."`).

Tha

[2019-09-03 08:23] jaysbytes opened #658 "bug: react-native run-ios cannot find any simulator (after installing Xcode 11 beta)"
## Environment
[code]

`xcrun simctl --version`

@(#)PROGRAM:simctl  PROJECT:CoreSimulator-675

## Description

After installing a beta version of Xcode 11 command-line tool `simctl` was upgraded.
It results in a different list of ios simulators and inability to use `react-native run-ios` since invocations claim that there is not `iPhone X` simulator. Actually it's impossible to use command even w

[2019-09-03 08:31] thymikee commented on #658
Looks like we need to check if `availability` is `(available)` or `undefined`. Can you send a PR? Xcode changes their output all the time, but if we can fix it by adding one extra case, I'm down with that

[2019-09-03 11:55] subashtimalsina commented on #655
I am also facing the same problem though my react-native version is 0.59, I couldn't fix this issue. If you have any optional idea please share me.

[2019-09-03 11:56] subashtimalsina opened #659 "Unable tho install react-native-community through npm i @react-native-community/async-storage"
## Environment

## Description

## Reproducible Demo

[2019-09-03 13:41] #51 closed

[2019-09-04 06:26] bensonyang2015 commented on #655
I met the same problem and I got it to work by adding a file `react-native.config.js` to describe my custom android project info.
check this [document](https://github.com/react-native-community/cli/blob/master/docs/projects.md).

[2019-09-04 07:55] M45ter opened #666 "init project with template"
## Ask your Question

when I use template in local folder, it works, but I want to use template in my github like npm install git files as [npm install \<git remote url\>](https://www.npmjs.cn/cli/install), that is more convenient then local folder and npm package, and switch branch is useful when manage some templates  , but it's not works, throw error...

[code]

[2019-09-04 08:06] jaysbytes commented on #658
Yes, I will send a PR probably today

[2019-09-04 09:38] M45ter opened #667 "Error in version of template dependencies"
## Environment

react-navite-cli: 2.0.1
react-native: 0.59.10
pc os: win10
## Description

[code]

common dependencies.json
[code]

but in templateTest1 package.json
[code]

I think in init project package.json antd-mobile version should be ^2.1.8

[2019-09-04 09:48] bartolkaruza opened #668 "Init project with template typescript error on RC version of RN"
Moved from https://github.com/facebook/react-native/issues/26303 by @GreatAuk

Original issue
---

React Native version: 0.61.0-rc.0

## Steps To Reproduce

excute ```npx react-native@0.61.0-rc.0 init RNTest --template typescript```

but ```npx react-native init RNTest --template typescript``` is ok.

Snack, code example, screenshot, or link to a repository:
![image](https://user-images.githubuser

[2019-09-04 10:40] Esemesek commented on #668
In the latest version, we dropped support for template name shortcuts.

`--template typescript` was resolved to `react-native-template-typescript`, now it will be resolved just to `typescript`.

You will need to use `next` version on `react-native-template-typescript` which is available on the separate branch https://github.com/react-native-community/react-native-template-typescript/tree/master-cl

[2019-09-04 10:40] #668 closed

[2019-09-04 11:04] Esemesek commented on #667
The issue is connected to `old` initialization flow. The [template](https://github.com/suwu150/react-native-template-common) you're using is not suitable to be used with the `new` init flow.

[2019-09-04 11:12] Esemesek commented on #667
I tried mentioned command and everything worked fine on macOS. This issue seems to be connected to the Windows platform.

[2019-09-04 13:39] jaysbytes commented on #658
I've got this issue in a project with 1.x version of CLI, It is fixed in 2.x so I will close the issue 🙃 🤦‍♂

[2019-09-04 13:39] #658 closed

[2019-09-04 14:21] jaysbytes commented on #142
Hey there! Is anybody working on this? I would like to pick this issue :)

[2019-09-04 17:09] Esemesek commented on #659
Closing due to lack of description.

[2019-09-04 17:09] #659 closed

[2019-09-04 19:57] brunolemos commented on #655
Is it possible to upgrade to react-native 0.61 on a monorepo while this is not fixed? Any older version of `@react-native-community/cli` I can use that would work? I'm holding off upgrading just because of this.

[2019-09-05 03:53] M45ter commented on #667
I publish a package named react-native-template-zey-common, then run cmd
[code]
I find other bug, then the template has pictures, on windows os , it throw error like
[code]
on macOS, it worked fine

[2019-09-05 07:03] vinchentsoKN commented on #317
I had a problem after upgrade to RN 0.60 - The packager wasn't starting
Using your package script I have managed to run it ! :)

[2019-09-05 20:58] GoodPBC commented on #41
@grabbou is there any progress or work around for this. We are building a CLI at nyc.gov that extends the react-native-cli and automates build processes across multiple targets and ENV's.

This has the potential to be a big blocker for us.

also in 0.60+, is the link call hidden or is it actually replaced, allowing for multiple targets to be linked up without issue?

[2019-09-06 00:57] tientruongvan1995 commented on #324
yeah still getting this in RN 0.60.5. I updated from 0.58.5 and everything's corrupted :'(

[2019-09-06 07:28] Blizard commented on #655
We have exactly the same problem for 0.56.5. Same project structure setup. We've got this error when we set autolinking as it's described [here](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#platform-android).

Any idea what to do?

[2019-09-06 08:26] orta commented on #317
Yep, I can confirm that's the right thing to do

I think the react-native upgrade tool would need to add support for this

[2019-09-06 22:24] brunolemos commented on #656
@IljaDaderko I have the same issue (https://github.com/brunolemos/react-native-web-monorepo/issues/16), how did you fix?

[2019-09-06 23:09] brunolemos commented on #655
I was able to workaround this issue by disabling auto linking. Here's the [commit diff](https://github.com/brunolemos/react-native-web-monorepo/commit/8698c7acb88d37ea5396132223266b8fc7b002f1).

But I'm still stuck at 0.59 because when trying to upgrade to 0.60.5 I get [this error](https://github.com/facebook/react-native/issues/25552) and to 0.61 I get something similar to [this error](https://gi

[2019-09-07 05:37] IljaDaderko commented on #656
@brunolemos move `react-native` to root package.json, it has to be there in order for cli to apply `ios` and `android` as platforms here https://github.com/react-native-community/cli/blob/708211a6451ee6ac1d3575016a045b30982b3ad0/packages/cli/src/tools/loadMetroConfig.js#L38

I've been told better monorepo support is coming soon.

[2019-09-07 17:36] Billydubb opened #678 "How to bundle debug build without packager running"
## Ask your Question

I am trying to bundle and build the debug build of the application to put on the phone and have it run without the packager running.

What I have tried so far are the following two ways:

`react-native bundle --dev false --platform android --entry-file index.js --bundle-output ./android/app/build/intermediates/assets/debug/index.android.bundle --assets-dest ./android/app/buil

[2019-09-07 17:49] devagul93 commented on #656
I have the same setup as @brunolemos
adding react-native to root package.json did resolve it but I have little ideas as to why.

[2019-09-08 02:11] Jarred-Sumner opened #680 "Auto-detecting RN module pods sometimes breaks pod install (scoped packages)"
## Environment

[code]

## Description

After installing some scoped NPM packages (e.g. `@vforvasile/react-native-photos-framework`), `pod install` fails every time.

Example output:
[code]

This is likely the error:

The podspec for `react-native-photos-framework` does exist, but it does not exist in the `@vforvasile` directory within `node_modules`. It's in `node_modules/@vforvasile/react-native

[2019-09-08 08:20] thymikee commented on #666
You're using legacy init, which we don't maintain anymore. Please use the new one:
[code]
Notice `npx` and using either `version` or `template`, not both. Also, template needs to conform to a new, simpler format: https://github.com/react-native-community/cli/blob/master/docs/init.md#creating-custom-template

In case `npx react-native` gives the same results, you should be able to fix it by running

[2019-09-08 08:20] #666 closed

[2019-09-08 09:31] thymikee commented on #41
@GoodPBC in 0.60+ we use autolinking with CocoaPods for automatic native modules discovery, no need for `react-native link <package>` which is now quite useless and soon to be removed hopefully.

[2019-09-08 10:40] thymikee commented on #678
I wonder what's the use case of having debug build on a device, without packager instance? Anyway, there's a big comment blob inside `app/build.gradle` of your project. You'll need to adjust these. Feel free to also check the source of what's passed to the bundle command (it's ran by `react.gradle` script anyway so no need to run it by yourself other than for debugging purposes): https://github.co

[2019-09-08 10:41] thymikee commented on #678
Closing, as this is not a CLI issue and there's a documentation on how to use it. This might have been easier to find though. PRs to official RN docs are always welcome :)

[2019-09-08 10:41] #678 closed

[2019-09-08 10:43] thymikee commented on #656
@devagul93 it's because of how CLI looks for deps to look for (takes those from package.json and from react-native.config.js). We want to come up with a more ergonomic solution.

[2019-09-08 10:47] thymikee commented on #680
The name of the package needs to be valid pod name, ideally the same as the podspec file.

Please change [this line](https://github.com/vforvasile/react-native-photos-framework/blob/master/react-native-photos-framework.podspec#L5) to just `react-native-photos-framework`.

[2019-09-08 10:47] #680 closed

[2019-09-08 10:52] thymikee commented on #680
Sent a PR: https://github.com/vforvasile/react-native-photos-framework/pull/1

[2019-09-09 09:08] Billydubb commented on #678
Alright thanks, I'll look into it. I did come across that file but didn't think I'd have to modify anything there as the answers to [this](https://stackoverflow.com/questions/35283959/build-and-install-unsigned-apk-on-device-without-the-development-server) stackoverflow question indicated that all that would have to be done is run `react-native bundle` and then `./gradlew assembleDebug`

As for th

[2019-09-09 09:16] thymikee commented on #678
I don't think it's a good idea to give debug builds to testers. They're way slower than release builds, plus include visible warning/error messages. I'd advise using a proper distribution platform, like App Center, if possible. It makes distribution quite easy, worth giving it a shot.

[2019-09-09 09:28] Billydubb commented on #678
We do use a distribution platform. Sometimes it's a lot more convenient and faster to just put a build directly on the phone from your laptop (as those distribution platforms can take quite a while).

As for the visible warnings/error messages: According to the [docs](https://github.com/react-native-community/cli/blob/master/docs/commands.md#--dev-boolean) passing the `--dev true` option should di

[2019-09-09 09:42] Billydubb commented on #678
Yes, sorry I miswrote. I meant `--dev false`

[2019-09-09 09:44] thymikee commented on #678
Yea, this would produce production JS bundle, that's right.

[2019-09-09 09:49] Billydubb commented on #678
Alright.
By the way does this

mean that all the answers on the linked Stackoverflow question are wrong, as none of them ever mention adjusting anything in the app/build.gradle file?

[2019-09-09 09:52] thymikee commented on #678
The answer is just an approximation of the solution and it's from 2016. The actual paths may have been changed since then. That's why you need to make sure the `react.gradle` script is able to reach for your manually built JS bundle.

[2019-09-09 09:53] Billydubb commented on #678
Ah okay, that makes sense. If I figure it out I'll make sure to add it to the docs.

[2019-09-09 17:43] thymikee opened #683 "☂️Umbrella: TypeScript migration"
## Describe the Feature

Some time ago we started migrating CLI to TS package by package. The infrastructure is already set up, so we can work with TS and Flow files without issues.

Currently all packages except for `packages/cli` are converted. We need your help in converting the rest of the codebase 💪.

## Work plan

If you'd like to help with migrating any of the packages mentioned below, plea

[2019-09-09 19:11] FLGMwt commented on #683
👋 Hey stranger ; D

I'm happy to give it a shot. I'd like to try to start with something small like `commands/info`. Could use some guidance about what to do about `ConfigT` from `types` which seems to be the only imported flow type.

[2019-09-09 19:12] thymikee commented on #683
Hey! You can find shared types like `Config`, `Command` etc in `@react-native-community/cli-types` package.

[2019-09-09 19:45] netochaves commented on #683
I would like to work in `config` if that's ok.

[2019-09-09 20:47] thib92 commented on #683
Would love to take the ˋdoctor` command!

[2019-09-09 20:48] thymikee commented on #683
@netochaves @thib92 go for it!

[2019-09-09 21:14] FLGMwt commented on #683
I was pulling the thread on tools/releaseChecker so I can pull that and replacePathSepForRegex + walk + yarn in too.

[2019-09-09 21:58] gvarandas commented on #683
I can tackle the `commands/init` 🤖

[2019-09-09 22:10] DanielUche commented on #683
I will like to tackle command/install

[2019-09-09 23:04] Naturalclar commented on #683
I'd like to help with `commands/tools/merge.js`

[2019-09-10 01:34] sasurau4 commented on #683
I'd like to help with `commands/tools/copyFiles.js` 👍

[2019-09-10 04:18] anikethsaha commented on #683
I can help with **`link`** command

[2019-09-10 05:15] luizcieslak commented on #683
I'd like to work with `commands/tools/copyAndReplace.js`!

[2019-09-10 06:54] pveyes commented on #683
I'd like to help with `command/tools/findSymlinkedModules.js` 👋

[2019-09-10 07:24] konojunya commented on #683
I'd like to help with `commands/tools/assertRequiredOptions.js`💪

[2019-09-10 07:30] moriyuu commented on #683
I'd like to help with `commands/tools/packageManager.js` !

[2019-09-10 07:56] radko93 commented on #683
I can do `loadMetroConfig.js`, `isValidPackageName.js` and `assign.js`

[2019-09-10 07:59] thymikee commented on #683
There's only 5 files/directories left unassigned. You are amazing! 💕

[2019-09-10 08:10] KangYoosam commented on #683
I'd like to help with `commands/tools/generator/` 😁

[2019-09-10 08:25] lucasbento opened #694 "Doctor command"
## Describe the Feature

This lists the work that we still need to do in order to get `react-native doctor` ready to ship.

⚠️ This list will be kept up-to-date with whatever issue I encounter. ⚠️

➡️ **If you want to work on any of this just comment what you want to work on to be assigned.**

<details>
  <summary>Specify why a health check is showing status as failed - #763</summary>

  Be more s

[2019-09-10 08:56] assuncaocharles commented on #683
Hey, I do like to start helping with
```commands/tools/gracefulifyFs.js``` and then take something bigger. :D

Btw, it seems ```commands/tools/install.js``` is done

[2019-09-10 09:10] Quadriphobs1 commented on #683
I'd like to help with `commands/bundle` 😄

[2019-09-10 09:57] ptrocki commented on #683
I would like to help with `commands/tools/config/`

[2019-09-10 14:21] Noeza commented on #683
I would like to help if there are any files left, not yet taken

[2019-09-10 14:27] Billydubb commented on #678
PR created!

[2019-09-10 14:28] thymikee commented on #683
@Noeza you could take a look at __e2e__ directory and convert tests. We would also use some help with reviewing PRs :)

[2019-09-10 15:16] nitaking commented on #683
I want to raise my hand for the next help!

[2019-09-10 15:40] Sly777 commented on #683
I can also help with code review or for converting tests.

[2019-09-10 15:46] nickytonline commented on #683
Anything else to grab? I [helped migrate the Refined GitHub extension](https://github.com/sindresorhus/refined-github/commits?author=nickytonline) to TS. Happy to work on any part of this.

[2019-09-10 15:50] akhan118 opened #702 "error Failed to fetch diff for react-native@0.60.5. Maybe it's not released yet?"
[code]

what's up with this ? why can't I upgrade ?

[2019-09-10 16:19] thymikee commented on #683
Looks like we're out of work that's not assigned to anybody. But maybe we missed something, so feel free to identify that. If not, code review is always welcome. Or PRs improving type coverage!

[2019-09-10 16:55] Esemesek commented on #702
Closing due to lack of information about the bug and not following the report template.

[2019-09-10 16:55] #702 closed

[2019-09-10 17:39] fottin opened #706 "Error in file getDevToolsMiddleware.js"
## Ask your Question

I have not seen this issue posted yet, so I'm assuming there may be something wrong with my set up. I completed the steps to upgrade from react-native 0.59.5 to 0.60.4, but I encounter this error when I run the command 'react-native run-android'

/node_modules/@react-native-community/cli/build/commands/server/middleware/getDevToolsMiddleware.js:86
__esModule", {
          ^^^

[2019-09-10 18:45] thymikee commented on #706
Does it happen on a newly initiated project? What about re-installing your node_modules?

Can you send me the output of this command as well: `yarn list --pattern @react-native-community/cli`?

[2019-09-10 18:58] fottin commented on #706
yarn list --pattern @react-native-community/cli
yarn list v1.16.0
├─ @react-native-community/cli-platform-android@2.9.0
├─ @react-native-community/cli-platform-ios@2.9.0
├─ @react-native-community/cli-tools@2.8.3
└─ @react-native-community/cli@2.9.0
✨  Done in 1.42s.

[2019-09-10 19:38] fottin commented on #706
This is an existing project where we are attempting to upgrade react-native 0.59.5 to 0.60.4. I've tried several times reinstalling the node_modules.

[2019-09-10 20:01] thymikee commented on #706
Please run `npx react-native init TestProject` and see what's there. I'd like to rule out an issue with your environment. Or some babel/Metro cache (please make sure to clear it with `yarn start --reset-cache`)

[2019-09-10 20:28] Acidfabric commented on #702
I got the same error.
This is output when I run react-native info:

[code]

when I run react-native upgrade from 0.59.9 got an error:
[code]

[2019-09-10 20:30] Acidfabric opened #707 "error Failed to fetch diff for react-native@0.60.5. Maybe it's not released yet?"
## Environment

[code]

## Description

when I try upgrade from 0.59.9 got an error:
[code]

## Reproducible Demo

[code]

[2019-09-10 21:46] thymikee commented on #707
Can you run this command with `--verbose` flag and paste the output?

[2019-09-10 22:19] Acidfabric commented on #707
[code]
[code]

[2019-09-10 22:55] akhan118 commented on #702
Seriously bro ? Can you at least leave the ticket open and I’ll update it later .

[2019-09-10 22:59] Esemesek commented on #702
Duplicate with https://github.com/react-native-community/cli/issues/707

[2019-09-11 00:40] reactjsexample commented on #418
There is a simple solution that does not require any fancy stuff:
See my comment here: https://github.com/facebook/react-native/issues/23282

[2019-09-11 07:08] thymikee commented on #707
Ah, you're on an older version of the CLI. Can you please run the standalone? It should output more information:
[code]

[2019-09-11 07:10] thymikee commented on #707
Anyway, I suspect there's something misconfigured with your network, maybe firewall, proxy or vpn? Can you access this link: https://raw.githubusercontent.com/react-native-community/rn-diff-purge/diffs/diffs/0.59.9..0.60.5.diff ?

[2019-09-11 09:57] draperunner opened #711 "--version prints nothing on RN 0.60.5"
## Environment
[code]

## Description

`react-native --version` simply prints nothing. I expected it to print the version of the CLI, as stated in `react-native --help`.

## Reproducible Demo

1) In a RN v0.60.5 project:
[code]
The output is only warnings of the type "The following packages use deprecated "rnpm" config that will stop working from next release". No version number.

2) Using npx
[co

[2019-09-11 10:08] thymikee commented on #711
Seems like a bug. Maybe you'd like to contribute a fix? :)

[2019-09-11 10:16] draperunner commented on #711
I'll try!

[2019-09-11 12:01] draperunner commented on #711
The issue is due to a naming conflict with built-in commander methods. https://github.com/tj/commander.js/issues/1020

I have submitted a PR now: #713

[2019-09-11 14:33] fottin commented on #706
No problems creating and running TestProject.
I tried to run the following commands on my project, but still encountered the same error executing the last command.
watchman watch-del-all
rm -rf $TMPDIR/react-native-packager-cache-*
rm -rf $TMPDIR/metro-bundler-cache-*
rm -rf node_modules/
yarn cache clean
yarn install
yarn start --reset-cache

[2019-09-11 14:54] thymikee commented on #706
Likely something cache related. I'd advise running `cd $TMPDIR` and removing everything that has "metro" and "haste" inside a name.

[2019-09-11 15:18] fottin commented on #706
I think I have uncovered the issue. Under scripts in the package.json, I have "postinstall": "rndebugger-open". I removed the line and reinstalled node_modules. When I ran "yarn start --reset-cache", there was no error and the Metro was running.
It appears that the when postinstall is run the ./node_modules/react-native/local-cli/server/middleware/getDevToolsMiddleware.js code is replaced. That's

[2019-09-11 15:20] thymikee commented on #706
I have no idea what "rndebugger-open" does, but I don't think we can protect from that, sorry. Closing, as it's not actionable. Thanks for coming back with the resolution :)

[2019-09-11 15:20] #706 closed

[2019-09-11 15:54] ptrocki commented on #683
@nitaking @Sly777 @nickytonline
I am struggling with this PR https://github.com/react-native-community/cli/pull/710 . Can you help me with this ?

[2019-09-11 16:30] fottin commented on #706
Upgrading react-native-debugger-open to version 0.3.22, from 0.3.19, when using react-native version 0.60 helped me.

[2019-09-11 18:33] patrice4github opened #714 "Incorrect package generated by cli.js"
## Environment

[code]

## Description

When I run: `node ./node_modules/react-native/cli.js config` I get the following output, see attached output (zipped json). See the incorrect snippet:

[code]

[reactNativeConfigOutput.json.zip](https://github.com/react-native-community/cli/files/3602187/reactNativeConfigOutput.json.zip)

At line 71, the package should be `com.lufinkey.react.spotify.RNSpotif

[2019-09-11 18:35] thymikee commented on #714
You can override it: https://github.com/react-native-community/cli/blob/master/docs/dependencies.md#platformsandroidpackageimportpath

[2019-09-11 18:37] thymikee commented on #714
You can use it as:
[code]

[2019-09-11 18:38] #142 closed

[2019-09-11 18:41] nickytonline commented on #683
I'll take a peek tonight @ptrocki.

[2019-09-11 18:45] patrice4github commented on #714
Thanks for the workaround!
I'll wait a bit so someone directs me to final way to fix this.

Thanks!

-Patrice

On Wed, Sep 11, 2019 at 2:37 PM Michał Pierzchała <notifications@github.com>
wrote:

[2019-09-11 19:04] Acidfabric commented on #707
@thymikee yes, you are right. The problem was proxy. Thanks for help 👍

[2019-09-11 22:01] #707 closed

[2019-09-12 07:21] peksi commented on #707
I had the same issue. Upgrading node helped.

[2019-09-12 12:02] tbergq opened #717 "Properly configuring cli"
Question was originally asked [here](https://github.com/react-native-community/cli/issues/468#issuecomment-525210128), but I still have no answer, so I will make a new issue for it instead.

I am also getting this error(`"Text must not be null or empty"`), and I cannot seem to configure it correctly with the current options(I am hoping there is something I missed 😊 )

currently we have a structure

[2019-09-13 13:08] #408 closed

[2019-09-13 19:09] AireshBhat opened #720 "error Failed to fetch diff for react-native@0.60.5. Maybe it's not released yet?"
## Environment

React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU: (4) x64 Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
      Memory: 36.62 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 11.7.0 - /usr/local/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.5.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-09-13 21:01] thecodrr opened #721 "Glitch when opening multiple debugger tabs"
## Environment
[code]
## Description
There's a glitch in the `debugger-ui` if multiple `debugger` tabs are open. The text `Another debugger is already connected` keeps refreshing like crazy. Also, there are continuous output in the `Dev Console`.

## Reproducible Demo
1. Start metro using `react-native start`
2. Open two tabs with the `debugger-ui`

[2019-09-14 01:45] bars0um commented on #678
I'm having a somewhat similar issue. I'm trying to run instrumentation AndroidTests on a headless emulator but keep getting the "unable to load script" error. Does the bundleInDebug not carry over to the installDebugAndroidTest directive somehow?

[2019-09-14 13:30] ahmedu007 commented on #189
Is this still open?

[2019-09-14 16:07] Rizaldinurm commented on #173
I have some issues when I run in Android Real Device. iOS wok well.
any solution?

[2019-09-15 17:41] thymikee commented on #189
We still don't show the "breaking changes" section. It's still not clear how we want to display it.

[2019-09-15 17:46] thymikee commented on #720
Duplicate of #707

[2019-09-15 17:46] #720 closed

[2019-09-15 17:47] thymikee commented on #721
cc @Esemesek, as he's working on extracting the debugger-ui to a separate package

[2019-09-16 06:56] darknesszy opened #725 "Typescript Template initialised as a folder"
## Environment
System:
    OS: macOS 10.14.4
    CPU: (4) x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
    Memory: 3.57 GB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.15.3 - /usr/local/bin/node
    npm: 6.9.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 12.2, macOS 10.14, tvOS 12.2, watchOS 5.2
  IDEs:
    Xcode:

[2019-09-16 09:29] thymikee commented on #717
We're still working on better story for monorepos, as current support is quite tricky to get and it seems like we lack some documentation around it as well.

[2019-09-16 10:32] thib92 commented on #694
For the recognition of the package manager, we could use [`npx prefix`](https://docs.npmjs.com/cli/prefix) to find the closest directory with a `package.json`. I'm guessing that the `yarn.lock` and `package-lock.json` will always be in the same directory than `package.json`. Though running `npm prefix` required to have NPM installed, even if the repo uses Yarn. WDYT?

[2019-09-16 10:43] lucasbento commented on #694
@thib92: that can be a solution, yeah.

I'm already working on that and I did something simpler, I try to identify the lockfile, if there's none then I just print a question asking the user which package manager to use and do the same as in #718.

[2019-09-16 11:20] thib92 commented on #694
@lucasbento sounds good too, simpler indeed!

[2019-09-16 11:36] JoelOnGithub commented on #725
I have this same issue.
Command used: `react-native init AwesomeProject --template typescript`

This leads to the following files
[code]

Now when I run `react-native run-ios`, the bundlers says
[code]

[2019-09-16 11:58] darknesszy commented on #725
I was able to get it working by uninstalling react-native-cli globally, and using
`npx react-native init myproject --template react-native-typescript-template`

This is the recommended method on [react-native-cli](https://github.com/react-native-community/cli) github page as of 0.60; however, the official document on [React Native](https://facebook.github.io/react-native/docs/getting-started) stil

[2019-09-16 11:59] darknesszy commented on #725
@JoelOnGithub I had the same error report, its because you have 2 /ios folders in the project, one in the main project folder and one in /template folder

[2019-09-16 15:00] tbergq commented on #717
Might I suggest that you add some config for where the actual react-native project lives? So that we can get the config correctly from the workspace we want to target?

For now, we have no other way than replacing the line in your code with `/node_modules/.bin/react-native config`, and I feel that solution is quite 💩

[2019-09-16 18:29] brunolemos commented on #655
Successfully upgraded to react-native 0.61 here: https://github.com/brunolemos/react-native-web-monorepo

I did have to add “react-native” dependency to the root package.json though. Not a big deal but hopefully that get fixed.

[2019-09-16 19:33] george-lamperis commented on #387
Is there a desire to move functionality like this to react-native-cli?

I have some semi-finished work for a "clean" command. I hadn't seen @mikehardy 's plugin before, but that does look promising. I'll look into it more.

However, I really like the idea of a clean script that has official blessing from react-native.

[2019-09-16 19:35] mikehardy commented on #387
Just a note to say that react-native-clean-project isn't my plugin, I just found @pmadruga's work when I was looking for a clean function, and simply PR things there any time I find some new nook or cranny that isn't cleaned yet. So far seems thorough to me

[2019-09-16 19:48] george-lamperis commented on #387
I was considering doing the same, PR-ing to an existing project. There are other similar projects, such as rn-game-over: https://github.com/taboulot/rn-game-over

If we think an official implementation of this should be part of react-native-cli then I'm happy to move forward and PR it.

[2019-09-17 14:01] CaptainJeff commented on #656
I'm sorry @devagul93 or @IljaDaderko can you help me understand what you mean by "adding react-native to root package.json"

[2019-09-17 14:03] thymikee commented on #656
Adjust the `package.json` in the root directory of your project where you run `yarn react-native ...` from, to look like this:
[code]

[2019-09-17 14:17] CaptainJeff commented on #656
@thymikee thanks! I'll give this a try right now and report back

[2019-09-17 14:40] CaptainJeff commented on #656
I misread your note. I thought you had this under "devDependencies"

I have

[code]

And i'm still getting the `main.jsbundle does not exist.` any other considerations you have or anything I should try that you can think of?

[2019-09-18 07:38] TanviQpro opened #727 "On React native 0.60.4, The library is showing Deprecated"
How to solve it ?

[2019-09-18 07:43] thymikee commented on #727
By following the issue template :)

[2019-09-18 07:43] #727 closed

[2019-09-18 11:27] thib92 commented on #694
I'll try adding some tests, starting with the individual healthchecks if that's ok

[2019-09-18 11:33] lucasbento commented on #694
@thib92 thank you!

[2019-09-19 02:47] dbw03135 commented on #485
@mikehardy
I tested on node lastest release (v12.10.0) and it work! thanks.

[2019-09-19 07:07] tosifkhan01 opened #731 "Not able to link any module with react-native link moduleName."
React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz
      Memory: 3.75 GB / 7.88 GB
    Binaries:
      npm: 6.2.0 - C:\Users\Tosif Khan\AppData\Roaming\npm\npm.CMD
    IDEs:
      Android Studio: Version  3.4.0.0 AI-183.6156.11.34.5522156

react-native-cli: 2.0.1
react-native: 0.59.0

**Issue**:
When I'm using react-native lin

[2019-09-19 07:19] thymikee commented on #731
Looks like the XML inside your Android manifest is invalid. We use it to determine the package name.

[2019-09-19 07:23] tosifkhan01 commented on #731
@thymikee Yes, I had commented code in manifest and now when I removed that code it's working fine. Thank You. :)

[2019-09-19 07:23] #731 closed

[2019-09-19 13:26] sai-public-user opened #732 "Unable to make API calls in React Native for Wear OS"
## Environment
System:
    OS: macOS 10.14.6
    CPU: (8) x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
    Memory: 1.31 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.9.1 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.11.2 - /usr/local/bin/npm
  IDEs:
    Android Studio: 3.5 AI-191.8026.42.35.5791312
    Xcode: /undefined - /usr/bin/xcodebuild
  npmP

[2019-09-19 13:30] thymikee commented on #732
This is not an issue with the CLI, which is not responsible for _running_ your code, but bundling it. Please report this to React Native repo with a reproduction one can download. Otherwise it's not really actionable.

[2019-09-19 13:30] #732 closed

[2019-09-19 15:39] ahmedu007 commented on #189
I can have a go at it if we have some kind of idea what we want to display

[2019-09-19 23:31] imgregduh opened #733 "react-native init template.config?"
React Native version:
[code]

## Steps To Reproduce

1.`npm i -g @react-native-community/cli`
2.`react-native init MyApp`

Describe what you expected to happen:
Tried to `init` with `react-native` globally installed.  It seems to be attempting to download the template and attempting to copy it from my temp directory even though I see that file sitting in the global `node_modules/react-native` dire

[2019-09-20 05:26] subashtimalsina opened #734 "react-native link Linking issues"
I am using react-native 0.59 on my project but i am facing react-native linking issue.
error Something went wrong while linking. Error: Expected "/* Begin ", "/* End ", "\"", or [A-Za-z0-9_.] but "<" found.

This was the actual problem.

[2019-09-20 07:07] thymikee commented on #733
Please don't install the `@react-native-community/cli` globally. We use a temp directory to store the downloaded template there, copy to your desired directory and then remove it. Can you try with verbose flag for more information?
[code]

[2019-09-20 07:11] thymikee commented on #734
You likely have merge conflicts somewhere that result in a Xcode project not being parsed (but maybe you have issue on Android? I don't know because you didn't tell me). Also, please follow the issue template and provide more information.

[2019-09-20 07:11] #734 closed

[2019-09-20 09:54] ishabo commented on #624
I had the same issue while upgrading from react-native 0.59.5 to 0.60.5. Did you find a solution?

[2019-09-20 10:07] joaovpmamede commented on #655
@brunolemos is auto linking working for you on this new version?

[2019-09-20 10:32] jacquesdev opened #735 "Metro bundler doesn't start and/or doesn't generate bundle on iOS"
## Environment

System:
    OS: macOS 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Memory: 469.09 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.10.0 - ~/.nvm/versions/node/v10.10.0/bin/node
    Yarn: 1.15.2 - ~/.yarn/bin/yarn
    npm: 6.11.3 - ~/.nvm/versions/node/v10.10.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2019-09-20 10:47] thymikee commented on #735
cc @lucasbento

[2019-09-20 14:08] imgregduh commented on #733
[code]

[2019-09-20 14:24] ishabo commented on #468
I made a PR that fixed the problem for me: https://github.com/react-native-community/cli/pull/737

[2019-09-20 14:24] ishabo commented on #717
I made a PR that fixed the problem for me: https://github.com/react-native-community/cli/pull/737

[2019-09-20 16:56] brunolemos commented on #655
@joaovpmamede haven't tried yet, please fork and try: https://github.com/brunolemos/react-native-web-monorepo

[2019-09-20 19:17] luco commented on #655
Getting this as well.

[2019-09-20 20:48] joaovpmamede commented on #655
Auto link didn't work for me.

[2019-09-20 21:37] Quadriphobs1 commented on #725
@darknesszy  I actually don't think the command would word because internally the `cli` prefix your template input with `react-native-` so if you have `react-native-typescript-template` it will resolve to `react-native-template-react-native-typescript-template` which doesn't exist

[2019-09-20 23:07] darknesszy commented on #725
@Quadriphobs1 I thought the same initially, and had that resulting error. But after following the official instruction to uninstall the react-native-cli globally and use **npx react-native**, it resolved without an issue. I assume they must've changed how it works :/

[2019-09-21 04:28] rsalunga29 commented on #418
When I run `xcrun simctl list devices` my terminal shows `Unavailable: com.apple.CoreSimulator.SimRuntime.iOS-12-4`.

Apparently, iPhone X is not available on the iOS 13.0 simulators

[2019-09-21 10:11] tbergq commented on #717
Ok, I figured out how to make this work.

In [this](https://github.com/react-native-community/cli/blob/master/packages/cli/src/tools/config/index.js#L68) line you have `function loadConfig(projectRoot: string = process.cwd())` which is being called from `setupAndRun` like this `const ctx = loadConfig();`

If I replace `process.cwd()` with `/apps/rn-app-1` then the project builds and runs as expect

[2019-09-21 10:22] thymikee commented on #725
`react-native init` and `npx react-native init` are separate commands, the former being "legacy" and the later being the "new init" and the one we recommend currently. We didn't remove legacy init yet, because there's a lot of training material using it. And we had pretty good reasons to create a new command. The new one doesn't support template shorthands, you need to pass full name of npm packag

[2019-09-21 10:22] #725 closed

[2019-09-21 21:18] mikehardy commented on #623
@thymikee The underlying issue here is valid I think. I just saw it in a repo I've got, specifically:

There is a dependency on package 'ws' at version ^1.1.0
https://github.com/react-native-community/cli/blob/master/packages/cli/package.json#L65

That version of ws and all versions up to 3.3.1 have a vulnerability triggers a github warning
https://github.com/websockets/ws/commit/c4fe46608acd61fbf

[2019-09-21 21:20] thymikee commented on #623
A PR to update "ws" would be appreciated!

[2019-09-21 21:21] thymikee commented on #623
Here's how to test the change: https://github.com/react-native-community/cli/blob/master/CONTRIBUTING.md#running-start-command

[2019-09-21 22:06] mikehardy commented on #623
I'll give it a shot but I'll admit my mild OCD is totally triggered by this report :-)

May I also assume that for something as fundamental as the websocket layer that the CI will also exercise it?

[code]

[2019-09-22 05:13] nnennaude commented on #487
There was a strange issue with my local environment as well. See how I resolved it here: https://github.com/facebook/react-native/issues/25561#issuecomment-533850473

[2019-09-22 13:43] Resten1497 opened #739 ""iPhone X" simulator is disabled"
React Native version: 0.60.4

## Steps to reproduce

<img width="626" alt="스크린샷 2019-09-22 오후 10 17 33" src="https://user-images.githubusercontent.com/19689492/65388500-54877e00-dd87-11e9-9b41-a645a5aa5cbb.png">

The Xcode is updated version 11 and the "iPhone X" simulator is disabled and cannot be run with an existing "react-native run-ios".

[2019-09-22 14:13] ScreamZ commented on #739
F*ck apple:

Workaround solution awaiting fix :

`yarn react-native run-ios --simulator "iPhone 11 Pro Max"`
`npx react-native run-ios --simulator "iPhone 11 Pro Max"`
`react-native run-ios --simulator "iPhone 11 Pro Max"`
`./node_modules/.bin/react-native run-ios --simulator "iPhone 11 Pro Max"`

[2019-09-22 17:22] thymikee commented on #739
The message I got from @bartolkarouza having this issue:

Have you tried restarting Xcode _and_ Simulator as well?

[2019-09-22 17:56] satya164 commented on #739
I just upgraded to Catalina and XCode 11 today and I have only iPhone 11 simulators. I didn't have iPhone X simulator open during the upgrade.

<img width="659" alt="Screenshot 2019-09-22 at 7 55 30 PM" src="https://user-images.githubusercontent.com/1174278/65392256-06687f80-dd73-11e9-8535-f9e94ef2f7f4.png">

[2019-09-22 18:00] thymikee commented on #739
@satya164 this seems like a bug in Simulator, likely because Catalina is still in beta

[2019-09-22 18:07] generalpiston opened #740 "Android Studio synchronization fails"
## Environment

[code]

## Description

Android Studio synchronization fails with the following error:

[code]

I've traced it to the following file/line: https://github.com/react-native-community/cli/blob/891ce9c0d9cb7b4e67bc0d00668c3c3f4eb034a5/packages/platform-android/native_modules.gradle#L191.

`def bufferedReader = new BufferedReader(new InputStreamReader(cmdProcess.getInputStream()))` does

[2019-09-22 18:09] thymikee commented on #740
cc @Salakar @thecodrr

[2019-09-22 18:10] satya164 commented on #739
@thymikee XCode 11 is stable though

[2019-09-22 18:13] thymikee commented on #739
Hah, this is the list I have, and surprisingly no iPhone X there :D
![image](https://user-images.githubusercontent.com/5106466/65392431-31ec6980-dd75-11e9-9eb2-3098c3c66792.png)

I guess we'll need to change the logic to:

1. try "iPhone 11"
1. try "iPhone X"
1. try "iPhone 8"
1. bail

What do you think, makes sense?

[2019-09-22 21:03] carloshuerta commented on #418
Apparently iPhone X is not available on the iOS 13.0 simulators, but you can easily add it by going to xcode and add it manually, once you add it there, run the "react-native run-ios" command again and it works.

[2019-09-23 01:00] wbadam commented on #739
Another workaround is to add back the removed iPhone X in Simulator's Hardware > Device > Manage Devices menu

[2019-09-23 13:24] rahulbhankar786 commented on #418
@carloshuerta
I added iPhone X manually in Xcode
but still it is not working.

[2019-09-23 21:00] ldco2016 opened #744 "Text must not be null or empty"
## Environment

[code]

## Description

When we try to run a build in Azure DevOps, specifically to generate apks, we get the following error:

[code]

That line 191 is in reference so this line of code here:

`def json = new JsonSlurper().parseText(reactNativeConfigOutput)`

I do have the latest version of `@react-native-community/cli` in my `package-lock.json` file:

[code]

## Reproducible Demo

[2019-09-24 05:28] dotconnor opened #745 "Correct way to link assets?"
## Ask your Question

With the new addition of auto-linking to the cli, what is the correct way to link assets without running `react-native link --all`?

I have tried creating a `react-native.config.js` with the following but it still doesn't link the assets correctly, unless there is a command I'm missing. Thanks.

[code]

[2019-09-24 06:23] tunshiyu commented on #418
i also added iPhone X manually in Xcode，by instal ios 12.2。
and still it is not working

[2019-09-24 07:08] thymikee commented on #745
Just `react-native link` without any extra arguments links assets only.

[2019-09-24 07:08] #745 closed

[2019-09-24 07:39] evrimfeyyaz commented on #418
Adding an iPhone X simulator through the command-line solved the issue for me, as I couldn't find an iPhone X simulator to install in the GUI on Xcode 11. Here is the command-line code:

[code]

[2019-09-24 08:55] programmer-yang commented on #418
react-native : 0.57.8

update code:
[code]
change the virtual machine version to iphone8
have tried
it still doesn't work

[2019-09-24 10:18] ken0x0a commented on #418
##

react-native version "<60.0.0" which resolve "@react-native-community/cli" => "^1.0.0" is not compatible to Xcode 11.

Xcode simulator list format is not compatible to "@react-native-community/cli@^1.0.0"

1 solution is using "resolutions" in package.json,

[code]

Or, patch every time for
./node_modules/@react-native-community/cli/build/commands/runIOS/findMatchingSimulator.js
using "postinst

[2019-09-24 11:53] Jyrno42 commented on #655
Having same issue with an example app of a package which contains no native modules

[2019-09-24 12:05] tunshiyu commented on #418
i update my package.json
**"react": "16.8.6",
    "react-native": "^0.59.4",**
it woks,but there is new isue . you can have a try.  😿

[2019-09-24 13:54] methuz commented on #418
I solved by upgrading to react-native 0.60

[2019-09-25 02:26] GreatAuk opened #747 "init project get a fault version"
## Environment

[code]

## Description
Type
```npx react-native@0.61.0 init RNBlog --template react-native-template-typescript@next``` or ```npx react-native@next init RNBlog --template react-native-template-typescript@next```

Get version
![image](https://user-images.githubusercontent.com/20253809/65564081-5ff0ca00-df7e-11e9-81b6-8342166bbe4c.png)

## Reproducible Demo

[2019-09-25 04:05] sasurau4 commented on #739
I met the same problem and @wbadam 's workaround works fine to me. 👍
Thank you!

[2019-09-25 06:27] thymikee commented on #747
It's because the `--template` (here `react-native-tempate-typescript`) is a source of truth and it targets 0.60.3. That's expected behavior. You'll need to either manually adjust the numbers in package.json for now, or wait for the maintainers to release a new version, e.g. v2.0 tagged additionally on npm as `rn-0.61`. cc @radko93

[2019-09-25 06:27] #747 closed

[2019-09-25 07:00] mustafawm commented on #418
@methuz  [react-native 0.61](https://facebook.github.io/react-native/blog/2019/09/18/version-0.61) was released earlier today so it's downgrading if you're starting today with .60

[2019-09-25 12:23] lucasbento commented on #694
@thymikee @thib92: we are looking good in terms of what is left to do, do you both think that adding more tests is required for shipping this to production?

Any ideas on how we can do the `Agree on version ranges` point? do you see any version range in there that must be different?

[2019-09-25 12:28] thib92 commented on #694
More tests would be nice to have, but I think it's pretty safe to ship it as is.

When I rewrote the command to TS, I didn't find anything too weird, and TS definitely gives confidence already.

For the `Agree on version ranges`, I don't have any background on what exactly are needed from RN core. Is this info coming from the core team?

[2019-09-25 12:28] thymikee commented on #694
I'm good with shipping it as is. I'll hopefully be back to do a proper release next week :)

[2019-09-25 12:30] lucasbento commented on #694
We don't really have anyone to tell what version should be good or not, we just need to make sure that whenever we implement something new, it must be tested against that version range or the range itself must be changed.

Let's hold this a little bit as I want to do a little bit more testing next week if that's okay, I'll update here once I am done.

[2019-09-25 12:32] thib92 commented on #694
I'll probably have some time to add more tests in the meantime!

[2019-09-25 19:19] morikawa77 commented on #739
I change my package.json to solve this temporarily:

"scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios --simulator=\"iPhone 11 Pro\"",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint .",
    "postinstall": "jetify"
  },

[2019-09-25 20:23] ilkinnamazov commented on #418
Hi All,

I found other solution without changing any source code in node_modules directory.

1. Create react-native project folder (command: react-native init projectName)
2. Open file projectName/ios/projectName.xcworkspace file in Xcode 11
3. Choose device that you want to use (iPhone X not in list anymore after releasing iPhone Pro, so you need click on plus button and add to current list of de

[2019-09-25 21:36] radko93 commented on #747
@GreatAuk sorry for the delay, a new version is going to be releases soon

[2019-09-26 09:07] radko93 commented on #747
@GreatAuk it's up and running now, but you don't have to use`@next`. If you're using latest RN you don't need to point to template version.

[2019-09-26 09:12] lucasbento commented on #747
@thymikee: perhaps this deserves a small message printed out when doing `react-native init` with a template?

We could check the latest version published against the version on the template and just print a small warning.

[2019-09-26 09:22] thymikee commented on #747
But if you run `--template template-npm-package` it's gonna take the `latest`. If there's anything we could improve though, I'm happy to add it.

[2019-09-26 09:23] lucasbento commented on #747
I meant that we can check the latest version of `react-native` against the `react-native` version specified on the template and then, if needed, show a warning.

[2019-09-26 09:30] thymikee commented on #747
Not really sure about it. Would it make a real difference for a user to warn that this is not the latest version? @GreatAuk what do you think, is there anything more we can do for template users to feel less confused?

[2019-09-26 09:38] GreatAuk commented on #747
@thymikee Sorry, I just a newbie, I don't have any good options😭

[2019-09-26 09:53] radko93 commented on #747
It makes some sense, as it's confusing right now when template is not up to date.
Maybe something like

[2019-09-26 10:05] thymikee commented on #747
PR welcome then!

[2019-09-26 12:36] rezamn21 opened #750 "hi how can i use this state in my function? i have this error"
## Ask your Question

[2019-09-26 12:36] #750 closed

[2019-09-26 12:42] rezamn21 opened #751 "Hi how can i use this state in my render item?"
default class page1 extends Component {

  state = {

      paused : true,
    markers: [
      {

        title: "vidoe 1",
        Video: Videos[0],
      },
      {

        title: "video 2",
        Video: Videos[1],
      },
      {

        title: "video 3",
        Video: Videos[2],
      },
      {

        title: "video 4",
        Video: Videos[3],
      },
      {

        title: "video

[2019-09-26 13:07] thymikee commented on #751
Hey! I'm sorry, but this repo is for the CLI of React Native, not React Native. Please ask this question on StackOverflow or on some support forum, but it's not here.

[2019-09-26 13:07] #751 closed

[2019-09-26 14:17] ldco2016 commented on #124
This may be a relevant issue for me as well. I have a script that generates apks and it generates all the flavours correctly except for INT:

[code]

When its time for the INT flavour to generate, I get this:

[code]

instead of `ENGAL-IN.apk` in the `dist/` directory where the others are placed. I thought it was a naming convention, but I have tweaked the naming and I continue to get this output.

[2019-09-26 14:17] mikehardy opened #752 "template init w/3rd party dependencies might fail if pod repo out of date"
## Environment

This is a bug in the CLI during template init, so `react-native info` is not that useful. However, the command starts with `npx @react-native-community/cli ...` so the version should be current, even though the `--version` apparently doesn't produce output as a temporary thing...

## Description

This is interesting to @Salakar and @thymikee

This is related to:
- https://github.co

[2019-09-26 17:41] nar213 opened #753 "React Native 0.61 - Autolinking"
## Are we no longer able to use modules that are unable to be auto linked in iOS?

In the React-Native 0.61 blog post it stated that ```Remove React .xcodeproj. In 0.60, we introduced auto-linking support via CocoaPods. We have also integrated CocoaPods into the e2e tests runs, so that from now on, we have a unified standard way of integrating RN into iOS apps. This effectively deprecates the Reac

[2019-09-26 18:58] thymikee commented on #753
No, you can use other libraries without CocoaPods , but React itself will be consumed only from CocoaPods.

[2019-09-26 18:58] #753 closed

[2019-09-26 19:52] generalpiston commented on #740
react-native cli was not using the correct node installation. It was not apparent since the error logs of the react-native config subprocess are not propagated (https://github.com/sigillabs/cli/blob/891ce9c0d9cb7b4e67bc0d00668c3c3f4eb034a5/packages/platform-android/native_modules.gradle#L191).

I've updated https://github.com/react-native-community/cli/pull/741 to propagate the error stream to log

[2019-09-26 19:52] #740 closed

[2019-09-26 22:48] AndreiCalazans commented on #725
For anyone else getting this issue

if react-native-cli was installed via yarn:
1) `yarn global remove react-native-cli`

if npm:
1) `npm uninstall -g react-native-cli --save`

then

2) `npx react-native init YourAppName --template react-native-template-typescript`

Since you no longer have `react-native-cli` globally when when `cd` into your directory do

3) `npx react-native run-ios` or `npx rea

[2019-09-27 15:12] kormic commented on #735
Don't know if it's the same bug but for me also when running react-native run-android the metro bundler doesn't start automatically. I need to run first react-native start and then in a separate window react-native run-android. It's a fresh project created with react-native cli. The @react-native-community/cli version is 2.9.0 and node version is 10.15.3

[2019-09-27 15:49] ldco2016 commented on #468
@thymikee , how can I confirm if this -> https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#custom-root-monorepos-1

is the issue with Azure DevOps build? I do not get this error locally, but my Azure DevOps person consistently does. Do you or anyone know if the above is something that must be applied when building react-native in Azure?

[2019-09-27 16:09] artyorsh opened #755 "Template: config not found"
Hi guys. I'm really confused about why this occurs, but:
I have two template packages with absolutely same structure. [One](https://github.com/akveo/react-native-ui-kitten/tree/master/src/templates/template-ui-kitten) and [two](https://github.com/artyorsh/react-native-template-ui-kitten)
Both of them are published on npm, but for any reason I'm not able to use the first one, while the second is wo

[2019-09-27 16:39] cball opened #756 "Addition of a `postInstallScript` for running scripts after dependencies are installed"
## Describe the Feature
We have been manually running a setup script after `react-native init` on projects. The new `postInit` script is great! For our needs though, we're relying on a package that we list in `devDependencies`, and `postInit` runs before dependencies are installed.

I'd like to add a `postInstallScript` option that is run after dependencies are installed.

## Possible Implementati

[2019-09-27 18:38] ldco2016 commented on #591
can anyone assist on how this would relate to a build in Azure DevOps, this is where I get the error:

[code]

[2019-09-27 19:10] ldco2016 commented on #624
@ishabo , unfortunately, I am still running into this problem except that now we are not using Jenkins but Azure DevOps, but the error persists.

[code]

Currently, now my `app/build.gradle` looks like this:

[code]

my `android/settings.gradle` looks like this:

[code]

This is still the line it complains about:

`def json = new JsonSlurper().parseText(reactNativeConfigOutput)`

[2019-09-27 19:33] ldco2016 commented on #470
anyone have experience getting this error on Azure DevOps? This is where we are continuing to get this error.

[2019-09-27 20:12] thymikee commented on #755
Maybe it's a permission issue with the temp directory?

[2019-09-27 20:13] thymikee commented on #756
Um, you can define a "postinstall" step in the package.json?

[2019-09-27 20:18] cball commented on #756
🤦‍♂ Ha! I have no idea why that didn't occur to me.

[2019-09-28 02:30] cball commented on #756
Hey @thymikee, turns out this isn't going to work.

Our setup script collects input from the user to perform certain actions. Unless the `--verbose` flag is used, that input is hidden, and the cli appears to be stuck on `installing dependencies`. We also output a few additional info lines on what we're doing which would also be hidden.

On top of that, we only want this script to run a single time

[2019-09-28 12:10] artyorsh commented on #755
Got this working. The issue was on my side :) Anyway, thanks for the reply

[2019-09-28 12:10] #755 closed

[2019-09-29 11:40] mohamadalmoayad commented on #739
Great, it solved the problem
good job
thanks

[2019-09-29 11:56] Kennytian opened #759 "error RangeError: Maximum call stack size exceeded"
[code]
envrionment info:
[code]

[2019-09-29 12:23] narghev opened #760 ""react-native run-ios" results in simulator not found error"
## Environment

React Native Environment Info:
    System:
      OS: macOS 10.14.6
      CPU: (4) x64 Intel(R) Core(TM) i5-6287U CPU @ 3.10GHz
      Memory: 53.52 MB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.15.1 - ~/.nvm/versions/node/v10.15.1/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.11.1 - ~/.nvm/versions/node/v10.15.1/bin/npm
      Watchman: 4.9.0

[2019-09-29 12:43] narghev commented on #760
Seems like the problem is solved in newer versions.

[2019-09-29 12:43] #760 closed

[2019-09-29 18:46] oytuneyucel commented on #759
hi @Kennytian could you check your `node` version? Had the same issue, and seems that this error is happening on `node v12.x.x`. When you rollback to `v10.x.x` the error seems to be gone and `react-native init` works properly on legacy and cli versions!

[2019-09-29 18:54] pauldijou commented on #759
@oytuneyucel I have the error on both node v10.16.3 and node v12.11.0, using the react-native cli v2.9.0. (on Ubuntu 19.04). cli was installed using `yarn global`.

[2019-09-30 00:57] Kennytian commented on #759
@oytuneyucel
[code]

[2019-09-30 04:51] walaman commented on #707
May be your cli is too old, try running `npm i -g react-native` before upgrade

[2019-09-30 07:50] timest commented on #759
the same to me
[code]

[2019-09-30 13:23] manojkyyba opened #761 "JailMonkey Issue"
React Native 0.60.3 JailMonkey.isJailBroken() returns null and not working.

[2019-09-30 18:45] thymikee commented on #761
I don't see how's that connected to CLI.

[2019-09-30 18:45] #761 closed

[2019-10-01 00:19] cmcaboy commented on #591
@ldco2016 I am receiving the same error on App Center (should be same as Azure). Were you able to find a solution?

[2019-10-01 04:11] xaphod commented on #456
Did this regress?

[code]

[2019-10-01 10:05] ger86 commented on #735
Add this script to your "Build Phases" of XCode in the third position

[code]

[2019-10-01 12:06] StasD opened #762 "Buggy behaviour in launchDebugger.js on macOS"
## Environment

[code]

## Description

I was wondering why do I still get the message "For a better debugging experience please install Google Chrome" while I do have it installed, and the debugger was opening in Safari before I changed the default browser to Chrome...

So I found that the file
`node_modules/@react-native-community/cli/build/commands/server/launchDebugger.js`
was responsible for

[2019-10-01 12:14] StasD commented on #762
Or, rather...

[code]

[2019-10-01 14:27] grabbou commented on #627
I am going to close this issue because the code responsible for this failure is no longer part of the CLI.

`toLowerCase()` has been removed (and likely other logic has been changed).

[2019-10-01 14:27] #627 closed

[2019-10-02 11:33] Federkun commented on #656
Had the same issue on android, fixed by changing the `cliPath`:

[code]

and create a `cli.js` in the root folder of the mono repo:

[code]

I never had the chance to check ios.

[2019-10-02 12:54] vitalyiegorov commented on #591
If anyone still facing this problem when using the monorepo approach please pay attention to [android/settings.gradle](https://github.com/brunolemos/react-native-web-monorepo/blob/master/packages/mobile/android/settings.gradle):
[code]
and [android/settings.gradle](https://github.com/brunolemos/react-native-web-monorepo/blob/master/packages/mobile/android/app/build.gradle):
[code]

`applyNativeMod

[2019-10-02 13:27] alexakasanjeev opened #764 "init with --template typescript creates template folder"
## Ask your Question
I'm trying to create a new project with typescript, it is mentioned to used
[code]

but when I'm doing that, there is template folder inside project, which again contains a react native project that contains typescript related code. Please check the repo, the entire files are created using above command, and when you will open template folder, you will see it is again one more

[2019-10-02 13:35] thymikee commented on #764
Please follow the instructions from the template itself 🙂: https://github.com/react-native-community/react-native-template-typescript/#arrow_forward-usage

[2019-10-02 13:35] #764 closed

[2019-10-02 13:40] thymikee commented on #762
`'google chrome'` shuold work according to official usage: https://www.npmjs.com/package/open#usage maybe it's `'Google Chrome'` now? Feel free to play with it and send a PR, would love to have this resolved :)

[2019-10-02 13:47] StasD commented on #762
`'google chrome'` does indeed work with `open`, but there is also a check (in `launchDebugger.js`) that whatever is sent to `open` also works as a general (bash) command. 'google chrome' does not work as a command, so the debugger gets open in a default browser (whatever it is, could be Chrome too), and there is a message that Chrome is not installed ...

[2019-10-02 13:48] thymikee commented on #762
We need to fix this logic then

[2019-10-02 14:06] adrienthiery opened #765 "Handle Work Profile / Several Android Users"
## Describe the Feature

We are using [Android for Work](https://www.android.com/enterprise/employees/) in our company, which makes a nice "sandbox" and makes sense in the context of our jobs.

A great feature would be to be able to install  the project ONLY in that profile and run it in that profile, instead of in the "first" profile.

In addition to a feature request, it is actually a feature pr

[2019-10-02 14:15] thymikee commented on #765
Sounds like a good idea. We can start with an interactive behavior + a flag for non-interactive mode and see how that works. Not yet sure what would be the most ergonomic way of configuring commands through the configuration. Let's leave that for a separate discussion.

One more thing, we'll likely make choosing an emulator interactive as well (on master there's a feature that it picks the first a

[2019-10-02 15:42] alexakasanjeev commented on #764
Thank you for the help :smile:

[2019-10-02 19:22] ridvanaltun commented on #591
Cleaning gradle cache works for me

Stop gradlew on Windows:
`gradlew --stop`

Stop gradlew on Mac or Linux:
`./gradlew --stop`

Clean cache on Windows:
`gradle cleanBuildCache`

Clean cache on Mac or Linux:
`./gradlew cleanBuildCache`

[2019-10-03 09:01] lysenkoo opened #766 "Cannot install Pods when init App"
## Environment

System:
    OS: macOS High Sierra 10.13.6
    CPU: (4) x64 Intel(R) Core(TM) i5-2557M CPU @ 1.70GHz
    Memory: 24.54 MB / 4.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.10.0 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.11.3 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 12.1, m

[2019-10-03 12:55] grabbou commented on #654
Going to close until we have a bare bones reproduction (at least file and folder structure). Please open a new issue in case you encounter any other problems. Thank you!

[2019-10-03 12:55] #654 closed

[2019-10-03 14:19] Taym95 commented on #762
I would like to work on this issue!

[2019-10-03 14:56] glenna commented on #401
Heya 👋, is this up for grabs? If so, I'd like to take it!

With RN 0.61.0 out the door with official support for `use_frameworks!` with Cocoapods, looks like the framework issue @orta mentioned is solved.

I'd go for something like `react-native init MySwiftApp --use-swift` to enable creating a Swift based RN project. Thoughts?

[2019-10-03 14:57] thymikee commented on #401
@glenna we prefer to defer such functionality to custom templates: https://github.com/react-native-community/cli/blob/master/docs/init.md#creating-custom-template

[2019-10-03 15:08] glenna commented on #401
@thymikee ahh, gotcha! I'll go in that direction, then.

[2019-10-03 15:25] grabbou commented on #752
Shall we `try/catch` this error and run `pod repo update` manually?

[2019-10-03 15:53] GoodPBC commented on #41
@thymikee how does this impact the multi-target/ multi-scheme approach? Basically will only the out of the box ios targets and schemes be auto-linked or does this bring new life to the multi environment approach?

[2019-10-03 15:55] thymikee commented on #41
With CocoaPods and autolinking you can use Podfile to do it for you:
[code]

[2019-10-03 15:59] grabbou commented on #655
@brunolemos

I have tried your repository and I don't think this is a correct way to run things.

The problem that appears here is that you have set `sourceDir` to be `packages/mobile/android`. That makes `react-native config` output `android: null`, which produces the auto-linking error.

I have removed this file entirely and run `react-native config` from within the `packages/mobile` (`cd ./pack

[2019-10-03 16:18] grabbou commented on #537
@brunolemos

[2019-10-03 16:18] grabbou commented on #537
I am going to look into this right now and resolve some of the confusion around `monorepo` setup. Unfortunately, none of the workarounds seem to be working 100% correct.

[2019-10-03 16:22] grabbou commented on #655
One thing we should do here is to "always resolve paths within configuration, relatively to the location of the configuration file".

[2019-10-03 17:02] glenna commented on #401
Here's a template: https://github.com/glenna/react-native-swift-template for use with 0.61.x ✨

[2019-10-04 08:43] Taym95 commented on #762
I was debugging this issues and I found that replacing `google chrome` by '/Applications/Google Chrome.app/Contents/MacOS/Google Chrome' will not work because the right command is `/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome` where the namespaces are replaced by `\ `, even if we change the command to `/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome` the output of

[2019-10-04 09:06] Taym95 commented on #762
I have found a solution I will submit a PR soon.

[2019-10-04 11:29] sebastos01 commented on #744
Got the same issue, works on local system but not in Jenkins.

[2019-10-05 11:08] codler commented on #739
Where is the default set for "iPhone X" in the source code? anyone knows?

[2019-10-05 14:55] chakrihacker commented on #739
I have downloaded ios 10 and it automatically added iPhone x and other devices

[2019-10-05 19:42] #762 closed

[2019-10-06 01:47] brunolemos commented on #655
I'm trying to update another project and autolink did work for me on ios, but not on android.

I only added `sourceDir` to fix this `Cannot get property 'packageName' on null object` error, so I definitely wouldn't say it is the cause of the error but the workaround to get it working

[2019-10-06 08:01] id-ilych opened #772 "Babel issue for android build"
## Environment

System:
    OS: macOS Mojave 10.14.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 258.95 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.10.0 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.11.3 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 13.0, Dri

[2019-10-06 14:05] thaiphan opened #773 "Support upgrading for TypeScript projects"
## Describe the Feature

At the moment, the `react-native upgrade` command only works for the default JS template. However, it would be really good if you guys can update that command so that projects using the [TypeScript template](https://github.com/react-native-community/react-native-template-typescript) are also able to use the command.

[2019-10-07 03:12] randomor commented on #418
With 0.61 and Xcode 11, my fix is just adding a script in package.json in the `scripts` object:

`"ios": "react-native run-ios --simulator 'iPhone 11 Pro'",`

So you can run `npm run ios`.

But the real solution is to stop hardcoding in React Native Cli and always use whatever was the last used simulator from Xcode.

[2019-10-07 07:29] ManAnRuck commented on #27
some news for PnP support?

[2019-10-07 07:30] thymikee commented on #27
None yet, unfortunately

[2019-10-07 17:54] gaguirre commented on #633
I think this would be fixed in #768

[2019-10-08 09:26] Salakar commented on #537
Sorry for the late response. Can confirm everything is now working. Auto-linking in a monorepo is working well for https://github.com/invertase/react-native-firebase - though admittedly it's not using a custom root or anything which I think is the case on some of the other issues here.

[2019-10-08 09:39] Hugo-Meiring commented on #655
Can confirm:

"Cannot get property 'packageName' on null object" happens on RN 0.61.0-rc3. Only Android is not building

[2019-10-08 19:44] grabbou opened #776 "Less Gradle paths tied to React Native"
Can we replace:
[code]
with a CLI-generated code? CLI is able to detect the path to `react-native` dynamically, would require fewer changes to be applied by users when dealing with a `mono repo`.

It would be great if we could also replace:
[code]
with
[code]
(e.g. previously set by the CLI global variable).

[2019-10-08 20:12] #655 closed

[2019-10-09 02:04] maedevisa commented on #766
I have similiar issue:
[code]

[2019-10-09 09:54] jgreen210 commented on #644
Fixing this using shell startup scripts can generally only be done for one project per home directory, and may conflict with other non-RN projects.

[2019-10-09 13:39] thinklinux commented on #418
@ilkinnamazov epic first comment! Congrats!

[2019-10-09 17:07] gsaandy commented on #418
quick hack without upgrading react native
change the file **node_modules/react-native/local-cli/runIOS/findMatchingSimulator.js** as below

![image](https://user-images.githubusercontent.com/1447416/66503615-4b1b4700-eae5-11e9-8835-18dd60260215.png)

[2019-10-09 17:29] waynemcfadden commented on #173
I have the same issue on Android Real Device (OS 8) Sony. The screen loads fine when using debug mode. Other simpler screens work fine as well on real device.

Not sure why this issue is closed because it seems that there are a number of people having it.

[2019-10-09 19:07] zRelux opened #778 "Run ios failing on new project"
## Description

I used this command to setup a new project `npx react-native init MyApp --template react-native-template-typescript` then after installation I ran `yarn ios` the simulator got opened but the app was not able to do so because my antivirus blocks port 8081, I tried to follow [change](https://facebook.github.io/react-native/docs/0.60/troubleshooting) but I coulnd't find `node_modules/

[2019-10-09 19:20] thymikee commented on #778
Ah yes, this is something I bumped a while ago as well. Custom port works on Android, but has issues on iOS. Would you like to investigate the fix? :)

[2019-10-09 19:27] zRelux commented on #778
Yes i'll keep you updated if I find something, may I know what we have tried just so I don't waste time retrying stuff?

[2019-10-09 19:32] thymikee commented on #778
Didn't try anything, but the code will be inside `packages/platform-ios`, I'm sure you can make it :)

[2019-10-09 19:37] zRelux commented on #778
Update using `react-native run-ios --port 3000` will make the app instance in the simulator but will run the metro bundler on `8081`, I can't find where the metro instance is instantiated any help?

[2019-10-10 15:27] grabbou commented on #766
Are you using Yarn workspaces? Can you verify that `node_modules/@react-native-community/cli-platform-ios` is a valid path?

Looks like either something is missing in your `node_modules` or you're using a monorepo and packages were hoisted.

Also, have you tried running:

as per the debugging info?

[2019-10-10 15:33] grabbou commented on #717
This issue will be closed once my PR is merged, which describes how to properly configure the CLI in a monorepo-like environments.

Thanks for the investigation here and time spent! It was really helpful while working on the PR.

[2019-10-10 17:41] grabbou commented on #744
Duplicate of #624

[2019-10-10 17:41] #744 closed

[2019-10-10 17:50] grabbou commented on #714
I would look here: https://github.com/react-native-community/cli/blob/master/packages/platform-android/src/config/index.ts#L134

The `packageName` has the wrong value. We get it from `AndroidManifest.xml` [here](https://github.com/react-native-community/cli/blob/master/packages/platform-android/src/config/index.ts#L20).

Looks like `AndroidManifest.xml` in the [library](https://github.com/lufinkey

[2019-10-10 18:25] zRelux commented on #778
Still can't figure out how to fix, may I know what you tried for android?

[2019-10-10 18:34] zRelux commented on #778
Made it work by adding
[code]

and `export RCT_METRO_PORT=3000; react-native run-ios` to package json

[2019-10-10 18:34] zRelux commented on #778
Still wanna see if I can update it in a better way

[2019-10-10 18:36] k3nda opened #779 "[Monorepo] Android bundle release - Process 'command 'node'' finished with non-zero exit value 1"
## Environment

System:
    OS: Linux 4.15 Ubuntu 18.04.3 LTS (Bionic Beaver)
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 9.62 GB / 31.21 GB
    Shell: 4.4.20 - /bin/bash
  Binaries:
    Node: 10.5.0 - ~/.nvm/versions/node/v10.5.0/bin/node
    Yarn: 1.12.3 - ~/.nvm/versions/node/v10.5.0/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v10.5.0/bin/npm
    Watchman: 4.9.0 -

[2019-10-10 22:09] drmohundro commented on #173
If anyone stumbles across this, I had a very similar issue, though my error was:

It was only happening on a few pages, so I removed the `justifyContent: 'left'` that I had from the component and then it worked for me. So maybe if you're seeing this for `flex` or a different property, try a different value on the screen? I'm not sure, but maybe this will help someone.

[2019-10-11 02:48] programmer-yang commented on #418
react-native : 0.57.8
i solved the problem

1. change the file `node_modules/react-native/local-cli/runIOS/findMatchingSimulator.js` 42 line as below
[code]

2. change the file `node_modules/react-native/local-cli/runIOS/findMatchingSimulator.js` 56 line as below
[code]

[2019-10-11 09:16] #537 closed

[2019-10-11 09:16] #657 closed

[2019-10-11 09:16] #717 closed

[2019-10-11 09:16] #633 closed

[2019-10-11 09:18] grabbou opened #781 "`run-android` should use config"
Follow up to https://github.com/react-native-community/cli/issues/12, we should make `run-android` use config and deprecate custom `--root` flag.

It is confusing and unnecessary.

[2019-10-11 09:22] grabbou commented on #779
This will be fixed with another release by #768.

[2019-10-11 09:22] #779 closed

[2019-10-11 09:23] grabbou commented on #624
Are you all running monorepo / Yarn workspaces? This error happens when project isn't properly configured and `project.android` is null.

Please attach your configuration (if any) and describe your project structure and where you run the CLI from.

Attached `zip` project would be the best.

[2019-10-11 09:23] grabbou commented on #624
This is probably fixed by #768 but I want to make sure with proper reproduction.

[2019-10-11 09:26] grabbou commented on #648
Please see this https://github.com/react-native-community/cli/issues/195. I don't think how `--host` flag would resolve your case (do you even need it?)

Please comment in that issue so that we can decide to drop it or not.

[2019-10-11 09:27] grabbou commented on #619
Going to close because there's no reproduction provided. Could've been an issue with the upgrade itself. Please feel free to reopen once more information has been provided.

[2019-10-11 09:27] #619 closed

[2019-10-11 09:29] grabbou commented on #521
Can we get an example of a library that doesn't support autolinking here to have a good testing environment?

[2019-10-11 09:30] grabbou commented on #530
You should be able to just set `metro.config.js` in the root of your project and Metro would read it from there.

[2019-10-11 09:30] #530 closed

[2019-10-11 09:31] thymikee commented on #521
@grabbou https://github.com/Tealium/tealium-react-native

[2019-10-11 09:32] k3nda commented on #779
in which version and when it will be please?

[2019-10-12 07:02] guhyeon opened #784 "Unable to resolve module"
## Environment

System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i5-3230M CPU @ 2.60GHz
    Memory: 694.41 MB / 7.95 GB
  Binaries:
    Node: 12.10.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.12.3 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.11.3 - C:\Users\guhyeon\AppData\Roaming\npm\npm.CMD
  SDKs:
    Android SDK:
      API Levels: 14, 15, 16, 17, 18, 19, 20, 21, 22,

[2019-10-12 09:59] caro-li opened #785 "Unable to determine the current character, it is not a string, number, array, or object"
## Ask your Question

[2019-10-12 11:38] lysenkoo commented on #766
@grabbou

How i can check this?

I think yes, because i see this path and files:
`LICENSE			build			native_modules.rb	package.json
`

How i can check this?

[code]

I think problem that Pod cannot find pods in `cli-platform-ios/native_modules` But i don't know Pods(native iOS libs ) are already builded in repo, or i need run build step for Pods. If second, so how i can run this step?

[2019-10-12 13:57] jeffcousins commented on #418
This fixed the error for me.

* Open XCode.
* Select **Window > Devices and Simulators** from the top menu bar.
* In the Devices and Simulators window, select the **Simulators** tab.
* Add the iPhone X (and any others) in the left sidebar.
* Don't give it a custom name since RN is looking for `iPhone X`.
* Click Create.

[2019-10-12 16:48] bkleef commented on #591
In my case `bash` was not installed in the Docker container.

[2019-10-13 08:32] alviankosim commented on #785
hello, in my case, it's because of my mistake. unfortunately i remove closing tag `>` inside `AndroidManifest.xml`. After i put it again, it works with no error.

But, before i find out the problem. On the internet, they suggest me to delete `android/app/build` folder.

hope it helps :)

[2019-10-13 13:19] VanLaerAshley commented on #173
any solutions?

[2019-10-13 14:04] madeeha96 commented on #342
/Users/madeeha/Desktop/allergy-app/allergyApp/node_modules/react-native/node_modules/@react-native-community/cli/build/cliEntry.js:131
  let output = [_chalk().default.bold(`react-native ${cmdName} ${argsList}`), this._description ? `\n${this._description}\n` : '', ...sourceInformation, `${_chalk().default.bold('Options:')}`, this.optionHelp().replace(/^/gm, '  ')];

[2019-10-13 22:01] #785 closed

[2019-10-14 04:23] waynemcfadden commented on #173
Another developer on my team (running Windows) took over the code and essentially took what I had done copied and pasted it into his branch and it worked. He's on Windows and I'm on Mac.

I'm thinking that I may have messed up the installation process and am going to try reinstalling and pulling in his branch.

Other simpler screens work, I can do hello world etc.

So short answer, is no solution.

[2019-10-14 10:06] thymikee commented on #784
Do you have some of the native libraries linked by `npm link` or `yarn link`? Anyway, this is not an issue with CLI, but likely Metro bundler. Try clearning up its cache: `react-native start --reset-cache` or go to tmp dir and remove all references to "metro" or "haste".

[2019-10-14 10:06] #784 closed

[2019-10-14 14:44] gaearon opened #786 "Confusing error message when Xcode wants to install extra components"
## Environment

[code]

## Description

Tried to run `yarn ios`. Got this:

<img width="886" alt="Screen Shot 2019-10-14 at 3 30 46 PM" src="https://user-images.githubusercontent.com/810438/66760066-436af200-ee99-11e9-9657-0ce063b545e1.png">

The actual problem was that when I started Xcode, it asked to install "missing components".

## Reproducible Demo

I suppose, run any projects when Xcode has

[2019-10-14 14:48] rickhanlonii commented on #786
Looks like this comes from a basic try/catch [here](https://github.com/react-native-community/cli/blob/77af4934049846c308c94d58817931ec30a9c494/packages/platform-ios/src/commands/runIOS/index.ts#L128).

To fix, as you said, we could print a message like:

Seems like a great first issue for Hacktoberfest, I'm happy to help out anyone who is interested

[2019-10-14 15:21] iansu commented on #786
I’m interested in working on this if it’s still available.

[2019-10-14 15:42] proof666 commented on #624
@grabbou, yes, I use monorepo setup with yarn workspaces. I can’t share my project, but it is simple to reproduce the issue - just setup monorepo folder structure, Init react-native project in /packages/mobile, change all URLs to root node_modules in android .gradle. That’s it.
I will try to create a new project with this setup today.

Currently I fix this issue with patch-package:

diff --git a/n

[2019-10-14 16:31] rickhanlonii commented on #786
Thanks @iansu, @SBinLondon is going to tackle this!

[2019-10-14 19:16] grabbou commented on #683
We have just replaced the remaining files as a part of #783.

[2019-10-14 19:47] #683 closed

[2019-10-14 19:49] grabbou commented on #786
Thanks for reporting. We can say something similar to: "Could not get simulator list from Xcode. Please open Xcode and try running project directly from there to resolve remaining issues".

Alternatively, we can also detect this particular "missing components" issue and prompt about it. Are you setting up a new machine @gaearon?

[2019-10-14 21:22] gaearon commented on #786
It was an existing machine. Maybe I did a system update or something.

[2019-10-15 13:22] grabbou opened #792 "Refactor existing test suites inside `ios` and `android`"
The test suite for utilties inside `ios` and `android` is really old and uses really old fashioned file system mocking.

We should rewrite that / refresh now that we have removed a lot of `rnpm` related code.

[2019-10-15 13:51] AndreiCalazans opened #793 "Gradle sync fail - ERROR: Text must not be null or empty"
## Env. Info
[code]

## Current cli version.

 Andrei  ~  desktop  ReactConf   native_navigation ✚ 1 … 1  yarn list @react-native-community/cli
yarn list v1.12.3
warning Filtering by arguments is deprecated. Please use the pattern option instead.
└─ @react-native-community/cli@3.0.0-alpha.2
✨  Done in 0.57s.

## Description

I'm able to build and run on device using `npx react-native run-and

[2019-10-15 14:29] gbalduzzi opened #794 "Disable console logging to the terminal"
In the new version of react-native-cli, the console.log output is forwarded to the terminal when `react-native start` is used.

While there are many situations when this is very convenient and helps with debugging, I would like to know if there is a way to disable it: I have created a custom logger for all network calls, that leverages `console.log` styling options to provide a nice reading experi

[2019-10-15 17:45] FernandoHT commented on #487
update gem xcodeproj gem
`gem update xcodeproj`

[2019-10-15 17:49] FernandoHT commented on #766
update gem xcodeproj gem
https://github.com/react-native-community/cli/issues/487#issuecomment-542327820

[2019-10-15 20:35] mkinfrared opened #795 "Doesn't build after project initialization"
After recent update in [cli-platform-android](https://www.npmjs.com/package/@react-native-community/cli-platform-android) the project doesn't start. Stating Cannot invoke method getErrorStream() on null object. I wanted to submit an issue for that package but I could not find a github repo for that.

[code]

I'm running on Windows 10 x64 and node version is 12.8.0

[2019-10-15 20:38] thymikee commented on #795
The code is here in this repo :) https://github.com/react-native-community/cli/tree/master/packages/platform-android. Fixing it is appreciated

[2019-10-15 20:40] thymikee commented on #795
I see `Cannot run program "npx"` in the error message. Can you verify `npx` works for you as a standalone command? It should ship with npm by default.

[2019-10-15 20:43] mkinfrared commented on #795
Yes it does. I created the project using this command

`npx react-native init MyApp --template react-native-template-typescript`

And I noticed that platform-android was updated recently. Before this update everything worked fine.

[2019-10-15 20:47] thymikee commented on #795
Ww change quite a bit there to improve monorepo support. We would appreciate further debugging on this

[2019-10-15 20:51] mkinfrared commented on #795
Funny as I have another project inside a monorepo. And obviously I had some issues there due to lack of symlinks support and I thought that I eventually found the solution. Reinstalled the dependencies and it stopped working because of this issue.

Also tried this command
`npx react-native init MyApp --template react-native-template-typescript@6.2.0`

It works just fine there

[2019-10-15 21:28] thymikee commented on #795
I just tried on this template and can't reproduce, so most likely it's Windows related. Can you run `npx --quiet react-native config` exactly? This is what we run under the hood. Maybe the `--quiet` flag is a problem?

[2019-10-15 22:08] franzon commented on #795
I'm also having this issue on a fresh created project on Windows.

`yarn react-native --version` output: `3.0.0-alpha.6`
node version: `12.10.0`
yarn version: `1.19.0`

[2019-10-15 22:55] pturchik opened #796 "Configure babel config"
How I can use different babel config for debug and release builds?

I generated base project using `npx react-native init MyApp` and then replace default `babel.config.js` content to
[code]

Debug build works fine, but release build (`yarn ios --configuration=Release`) throw an error `Error: Import statement may only appear at top level in file node_modules/react-native/Libraries/NewAppScreen/inde

[2019-10-16 01:40] erickriva commented on #795
I had started a project with **npx react-native**, but **react-native** was installed globally, I uninstalled it and everything is working fine now

[2019-10-16 01:52] levipro opened #797 "warnAboutPodInstall - TypeError: Path must be a string. Received null"
## Environment

System:
    OS: macOS 10.15
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 1.40 GB / 32.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 8.13.0 - ~/.nvm/versions/node/v8.13.0/bin/node
    npm: 6.4.1 - ~/.nvm/versions/node/v8.13.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 13.1, DriverKit 19.0, mac

[2019-10-16 02:12] fnando commented on #797
I had the same issue today, when upgrading from react-native v0.60.4 to v0.61.2 and, interestingly, my fix was exactly the same (came here to open an issue).

[2019-10-16 03:04] Kdoherty11 opened #798 "[run-ios] Wrong .app file path while installing on simulator"
I am able to build/run my app through Xcode but not through `react-native run-ios`. It looks like it gets through the build step successfully, but then doesn't use the correct `.app` path when actually installing on the simulator.

<img width="1019" alt="Screen Shot 2019-10-15 at 10 59 13 PM" src="https://user-images.githubusercontent.com/1815585/66884505-6e3f6e00-ef9f-11e9-85bd-1ff2db9e9e8c.png">

[2019-10-16 03:57] gauravagerwala commented on #795
I'm having this issue as well on a new project when i run
`react-native run-android`

Node version : `12.12.0`
react-native-cli version: `2.0.1`
react-native version: `0.61.2`

[2019-10-16 04:24] deepanjandas commented on #795
I'm also facing this issue from morning today. Till yesterday it all went fine.
react-native run-android

Node version : 10.16.3
react-native-cli version: 2.0.1
react-native version: 0.61.2

[2019-10-16 05:07] zrelyydereva commented on #795
I'm on same status
Node Version: v12.12.0
react-native --version
3.3.0-alpha.6

On Windows, npx command is "npx.cmd" and windows terminal can omit extensions for executables(i.e. bat,cmd,exe )
I modified native_modules.gradle L.153 "npx --quiet react-native config" to "npx.cmd --quiet react-native config" ,then I could run run-android
but it's not smart and not portable.

[2019-10-16 05:17] deepanjandas commented on #795
@zrelyydereva - this worked for the time being. thanks for that.

[2019-10-16 05:41] gauravagerwala commented on #795
It worked for me after I manually installed

[2019-10-16 05:45] JCMakoto commented on #795
Same error on Android.

Anybody have some idea with this condition?

[2019-10-16 05:50] thymikee commented on #797
That's a correct fix, can you send a PR?

[2019-10-16 05:50] nishank-kesari opened #799 "Unable to build the app . Build failed with an exception"
## Environment
IDEs:
    Android Studio: Version  2.3.0.0 AI-162.4069837
  npmPackages:
    react: 16.9.0 => 16.9.0
    react-native: 0.61.2 => 0.61.2

**

### THE PROBLEM:
UNABLE TO BUILD THE APP. I FOLLOWED ALL THE STEPS OF THE OFFICIAL DOCUMENTATION...DOWLOADED EVERYTHING CONNECTED MY DEVICE TO THE DEVELOPEMENT SERVER  USING ADB REVERSE....

**

_**this is how it went..**_
[code]
[code]

[2019-10-16 05:53] thymikee commented on #798
AFAIK, cfbundleidentifier is fixed in the RN 0.60+. Please upgrade :)

[2019-10-16 05:53] #798 closed

[2019-10-16 05:55] thymikee commented on #799
Duplicate of #795

[2019-10-16 06:03] nishank-kesari commented on #799
few things are different in the beginning his code deals with something called npx... there is nothing like that...please suggest me an easy way to run my app... i have already tried expo that too gets stuck while downloading js bundle... i followed each n every step on the guide still i have problems. even it mentions that it failed to start the emulator.

[2019-10-16 06:04] thymikee commented on #799
Please read carefully: `ReactNative:Cannot run program "npx": CreateProcess error=2` That's exactly the same issue.

[2019-10-16 06:14] mkinfrared commented on #795
I wonder if there's any way to rollback to previous version when it was working. I also noticed that all react native community dependencies do not appear in package.json. it would be great to have them there for a possibility to lock the version which is actually working.

[2019-10-16 06:17] nishank-kesari commented on #795
whats the command to do that..

[2019-10-16 06:19] thymikee commented on #795
CLI is a direct dependency of react-native and we want it to keep it this way. You can use yarn resolutions in package.json to pin to previous version:
[code]

[2019-10-16 07:18] #797 closed

[2019-10-16 07:46] lisong996 commented on #795
@react-native-community/cli-platform-tools  => @react-native-community/cli-tools

[2019-10-16 07:50] thymikee commented on #795
I've sent a PR with a possible fix: https://github.com/react-native-community/cli/pull/801 that @zrelyydereva suggested (thanks!). Can you make sure it works for you?

[2019-10-16 08:05] mllw commented on #655
I modify node_modules/@react-native-community/cli-platform-android/native_modules.gradle
at line 157
cmdProcess = Runtime.getRuntime().exec(command)
change to
cmdProcess = Runtime.getRuntime().exec(command,null,new File(System.getProperty("user.dir")).getParentFile())
work OK

[2019-10-16 09:33] thymikee commented on #795
Released `alpha.7` with a fix for that. Please test it and let us know :)

[2019-10-16 09:49] thymikee commented on #766
Please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version.

[2019-10-16 10:32] zrelyydereva commented on #795
thanks for Release new version.
It looks like work well!

[2019-10-16 10:53] xxapp opened #803 "There are two packages miss version 3.0.0-alpha.7"
## Environment

System:
    OS: macOS Mojave 10.14.4
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory: 1.28 GB / 8.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 10.13.0 - ~/.nvm/versions/node/v10.13.0/bin/node
    Yarn: 1.12.3 - ~/.nvm/versions/node/v10.13.0/bin/yarn
    npm: 6.9.0 - ~/.nvm/versions/node/v10.13.0/bin/npm
    Watchman: 4.7.0 - /usr/local/bin/watchman
  S

[2019-10-16 10:55] xxapp commented on #803
@thymikee Please take a look at this

[2019-10-16 10:56] thymikee commented on #803
Looks like the npm network cache or your lock file? They're all published:
https://www.npmjs.com/package/@react-native-community/cli-platform-android/v/3.0.0-alpha.7
https://www.npmjs.com/package/@react-native-community/cli-tools/v/3.0.0-alpha.7

[2019-10-16 10:56] #803 closed

[2019-10-16 13:09] lysenkoo commented on #766
Sorry, but it's not my situation.

[code]

with └─ @react-native-community/cli@3.0.0-alpha.7 same error.

[code]

[2019-10-16 13:28] thymikee commented on #766
Thanks. Can you setup a minimal repro which we could investigate?

[2019-10-16 13:32] junaidansari95 commented on #795
me tooo!!!!!!

[2019-10-16 15:38] vladp opened #804 "Android: latest release broke support custom react-native Root"
## Environment

System:
    OS: Windows 10
    CPU: (8) x64 Intel(R) Core(TM) i
    Memory: 15.44 GB
  Binaries:
    Node: 12.10.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.1 - C:\Users\v\AppData\Roaming\npm\yarn.CMD
    npm: 6.12.0 - C:\Program Files\nodejs\npm.CMD
  npmPackages:
    react: 16.9.0 => 16.9.0
    react-native: ^0.61 => 0.61.2

## Description
my directory structure is
andrap

[2019-10-16 15:46] thymikee commented on #804
cc @grabbou

[2019-10-16 16:33] thymikee commented on #804
AFAICT the change was intentional, to fix a lot of other custom structure issues. Now, if the RN app is nested in a directory, we expect users to call CLI from that nested directory, and we don't care whether the node_modules/react-native are hoisted or not. Please share your repo structure and the way you use it, so we can advise.

[2019-10-16 17:02] vladp commented on #804
Sure.  appreciate in advance your guidance.

I am showing quite a bit of complexity below (essentially most of our front-end project tree).
You will see there android app (under a),
web applications (aa1a) and  (ua1c) that are built in React Native Web.

Then you will see
rn.common
which is where our shared React-Native code is.
It is shared by Android app (that has just 1 activity with React nati

[2019-10-16 20:04] adrienthiery commented on #765
Hi @thymikee, I started to work on that but I can't seem to find how to test my changes.

I initialized a new RN App, and in it I tried :
* To `yarn add <local-path-of-cli-repo>/packages/cli` or `yarn link <local-path-of-cli-repo>/packages/cli` and then in my project `yarn link @react-native-community/cli`
* To `yarn add <local-path-of-cli-repo>/packages/platform-android` or `yarn link <local-path

[2019-10-17 01:09] tarunvella commented on #591
@vladp How do i perform PATH=$(npm bin):$PATH react-native config in windows, and where can i keep react-native.config.js in my project.

[2019-10-17 02:04] oaosman84 opened #805 "unknown tag !<!ruby/object:Pathname> when using with react-native-unimodules"
## Environment

[code]

## Description

We use react-native-unimodules, which require us to add a `use_unimodules!` to our `Podfile`, and our `Podfile.lock` then has entries like this:

[code]

Running `react-native run-ios` then results in an error:
[code]

It seems that `_warnAboutPodInstall` fails on checking Podfile.lock, and the entire command fails. Commenting out that line in `runIOS/index.

[2019-10-17 02:16] Maushundb commented on #805
It seems like this line is the culprit - https://github.com/react-native-community/cli/blob/926dcb78a3f9e8652b8a0e95d97ffd6283895b0e/packages/platform-ios/src/link-pods/getDependenciesFromPodfileLock.ts#L21

When `Podfile.lock` isn't a valid YAML file, `js-yaml` will throw an error on this check. In our case, starting an unescaped yaml string with a `!`,  `:path: !ruby/object:Pathname` causes the

[2019-10-17 03:29] Maushundb commented on #805
Changed that file to

[code]

With a test file of

[code]

Tried to create a PR but looks like I'm getting 403 permission denied when trying to push a branch.

[2019-10-17 07:46] thymikee commented on #805
@Titozzz @orta can you advise here?
@Maushundb you need to create a fork. See the contributing guide.

[2019-10-17 10:49] grabbou commented on #804
Thanks for reporting this over.

The CLI automatically resolves the "root" of your project by looking for the closest `package.json` in the directory structure. The "root" option you're referring to in the Gradle configuration is something different and that's what React Native uses for bundling resources.

I am surprised that this setup is working for you. Autolinking is looking for dependencies

[2019-10-17 11:00] grabbou commented on #804
One additional note regarding my previous comment:

I believe you have designed this folder structure to re-use code between mobile and web, hence "rn.common" folder with "common" code.

However, taking a closer look at its contents, it's not "common". It contains "index.android.js" (entry point for an Android mobile app) and many other things. So at the end of the day, it combines two things: And

[2019-10-17 11:24] grabbou commented on #805
@Maushundb, just wanted to say - great investigation here! I appreciate writing this all down including reproductions and some troubleshooting.

[2019-10-17 11:29] grabbou commented on #796
Your Babel configuration looks good to me and production/development keys should be picked based on the `react-native start` environment (start server in release/dev mode) or, for example, configuration for iOS build.

I would suggest opening an issue in the React Native / Metro repository or googling for an answer - this "import statement" error has been quite common case.

CLI itself works "just

[2019-10-17 11:29] #796 closed

[2019-10-17 11:31] grabbou commented on #793
Thanks for the report. Can you show me your project structure (where you have package.json(s), Android and iOS code)? Are you using a monorepo?

Please update to latest alpha and try once again. We have recently shipped a fix (two days ago or something) and closed the issues.

[2019-10-17 12:19] grabbou commented on #714
I am going to close this issue as it turned out to be issue with the Spotify package. I have sent a PR with a fix.

[2019-10-17 12:19] #714 closed

[2019-10-17 12:42] patrice4github commented on #714
Cool, Thanks.

[2019-10-17 14:08] pturchik commented on #796
Thanks)

[2019-10-17 14:28] joaodematejr opened #808 "How can I regenerate ios folder in React Native project?"
## Ask your Question

How can I regenerate ios folder in React Native project?

react-native-cli: 2.0.1
react-native: 0.61.2

❯ react-native eject
error Unrecognized command "eject".
info Run "react-native --help" to see a list of all available commands.

❯ react-native upgrade --legacy true
error: unknown option `--legacy'

[2019-10-17 14:41] thymikee commented on #808
You can init a new project that's named the same in another folder and copy ios dir over:
[code]
Make sure you have clean git history before doing so, in case you need to revert

[2019-10-17 14:41] #808 closed

[2019-10-17 14:55] OleksandrKucherenko opened #809 "gradle includeBuild fail the script"
## Environment

[code]

## Description

Composing the `react-native-library` project. Inside the project in a root I create gradle configuration that allows me to work with code from Android Studio.

root project `settings.gradle.kts`:
[code]

inside the example I try to use auto-link feature. when I run

[code]

output:

[code]

AND when I do:

[code]
everything works fine.

# Found workaround

[

[2019-10-17 14:59] thymikee commented on #809
Do you have a repro we can take a look at?

[2019-10-17 15:23] joaodematejr commented on #808
thanks

[2019-10-17 16:22] thymikee commented on #809
@grabbou In the "Cause of the problem" there's a "npx" mention, so the OP is on the latest version available.

[2019-10-17 16:39] Maushundb commented on #805
Ah I see, yeah happy to put up a PR if yall think excluding invalid parts of the file is the right way to go about it.

[2019-10-17 17:26] bathan commented on #794
+1 to this. Terminal logging provides no formatting nor collapsing of huge elements so It ends up being really annoying if , for example, you end up console.logging some 10k items array.

[2019-10-17 17:45] Adrianozk commented on #795
I was having the same issue when creating a new project, what worked for me was to restart the watchman tool.
`watchman shutdown-server`

[2019-10-17 18:02] vladp commented on #804
@grabbou  thank you for the follow ups.
Let me ask this,  -- is it possible, via configuration, to disable autolinking performed by the CLI?

Our Android app is a 'hybrid' (there is only one activity using RN), and we already specify the packages that must be 'loaded' by the RN Android runtime (there is only 1, vector-icons).
The rest of the packages in rn.common/package.json do not need to be loa

[2019-10-17 18:12] orta commented on #805
Hrm yeah, the ruby yaml parser must be leaking internal state - think @Maushundb  has a solid answer above

[2019-10-17 21:01] enaluz commented on #805
@Maushundb Thanks for this find! I *just* ran into this issue while I was trying to upgrade React Native from 0.59.1 to 0.61.2. How can I implement your fix into my project?

[2019-10-17 21:12] Maushundb commented on #805
For now I'd suggest using [patch-package](https://www.npmjs.com/package/patch-package) to implement the fix to that file (in your repo it'll be babelified, but still readable) until this is fixed and released.

[2019-10-18 00:35] enaluz commented on #805
In case this is helpful to anyone else with this same problem, the path for me to fix this issue was
`node_modules/@react-native-community/cli-platform-ios/build/link-pods/getDependenciesFromPodfileLock.js` (notice it's not Typescript like the file Maushundb referenced in one of the comments above). I simply replaced the final line of the `getDependenciesFromPodfileLock()` which looks like this:
[

[2019-10-18 01:22] Maushundb commented on #805
PR at https://github.com/react-native-community/cli/pull/810

[2019-10-18 07:02] #805 closed

[2019-10-18 07:30] koke commented on #739
iPhone 8 seems to be present in all the simulator runtimes from iOS 11.4 to 13.1, so it seems like the best possible default for now:

[code]

[2019-10-18 10:34] codler commented on #739
This have been fixed by https://github.com/react-native-community/cli/pull/758

[2019-10-18 11:08] KaneNguyen commented on #808
Omg, Why do that?, Can we use "react-native upgrade --legacy true or react-native eject" ?

[2019-10-18 11:59] thymikee commented on #739
@codler thanks for linking this. It's fixed for RN 0.61. We'll soon release patch versions for older versions, please be patient.

[2019-10-18 11:59] #739 closed

[2019-10-18 13:57] ifyapishore commented on #793
Hello

There is an issue with @react-native-community/cli-platform-android/native_modules.gradle in 3.0.0-alpha7

Under OSX, java do not inherit environment variables and you run command using simple cmdProcess = Runtime.getRuntime().exec(command).

Regards Gradle code (getReactNativeConfig method)

Runtime.getRuntime().exec(command) do not throw exception if invoked command return 0 and just repo

[2019-10-18 15:45] thymikee commented on #793
@ifyapishore It's likely that you have `react-native` or `react-native-cli` installed globally, please remove them. Also, if that doesn't help, please share your project structure. We expect `node_modules/react-native` to be accessible to Node resolution (so anywhere up the `android/` directory).

[2019-10-19 10:23] wvteijlingen opened #813 "Run instructions should be prefixed with `npm run`, `npx`, or `yarn`."
## Environment

[code]

## Description

After initialising a new project, the run instructions tell you to run `react-native run-ios` or `react-native run-android` in the project directory. This doesn't work, because these commands need to be prefixed with `npm run`, `npx`, or `yarn`.

## Reproducible Demo

[code]

results in: `-bash: react-native: command not found`

[2019-10-19 10:47] wvteijlingen opened #814 ""name" field in generated package.json can contain invalid characters"
## Environment

[code]

## Description

When initialising a new project, the "name" field of package.json is populated with the project name. This can result in an invalid name being used because npm imposes some rules on the allowed names. See https://docs.npmjs.com/files/package.json#name.

A solution would be to "slugify" the name, turning `MyCoolPackage` into `my-cool-package` for example.

##

[2019-10-19 13:04] Freir96 opened #815 "Cannot update React-native"
## Environment

react-native -v
react-native-cli: 2.0.1
react-native: 0.59.10

npm -v 6.12.0

node -v v10.16.0

## Description

After using react-native upgrade, as suggested in https://facebook.github.io/react-native/docs/0.60/upgrading I got:

info No version passed. Fetching latest... info Fetching diff between v0.59.10 and v0.61.2... error Failed to fetch diff for react-native@0.61.2. Maybe it

[2019-10-19 23:49] zxti commented on #759
I ran into the same issue. Running on macOS 10.14.1, node 10.15.1, yarn 1.13.0.

It only happened when I first ran `yarn global add @react-native-community/cli` and then `react-native init asdf`, with the same exact output:

[code]

However everything seems to work fine with `npx react-native init asdf`.

[2019-10-20 23:43] socialty commented on #808
think there should be an command like **eject**

[2019-10-21 05:46] ifyapishore commented on #793
Both installed locally. Please read my comment carefully. This code will NEVER work properly under OSX. You need to pass PATH variable.
[code]
You can test it with simple java app
![image](https://user-images.githubusercontent.com/17021281/67179510-b4ae2600-f400-11e9-9b64-6139b59e7b12.png)

I modified native_modules.gradle to fix the issue.

![image](https://user-images.githubusercontent.com/17021

[2019-10-21 08:21] mattdamon108 opened #816 "Gradle sync failed `cannot invoke getErrorStream()`"
## Environment

[code]

## Description

Android Studio failed to sync the gradle.
The error message `cannot invoke the method getErrorStream()`

## Reproducible Demo

[code]

I found out the solution after I've been investigating a while. This command can not be executed in Android Studio.

[code]

I found a workaround to run the Android Studio in terminal with command `/Applications/Android\ Stud

[2019-10-21 08:51] jegathispandian commented on #434
yes. This is the exception I got when I run my app

[2019-10-21 09:27] thymikee commented on #815
Duplicate of https://github.com/react-native-community/cli/issues/707 and many others

[2019-10-21 09:27] #815 closed

[2019-10-21 09:52] thymikee commented on #759
@zxti `@react-native-community/cli` is not intended to be used as global as it registers global `react-native` binary. Please remove it and use the one installed locally by `react-native` package.

Please upgrade the Node version to latest LTS and try installing again.

[2019-10-21 09:56] thymikee commented on #808
@socialty If you feel like it, please create a detailed feature request with a motivation for why it's worth to spend time implementing such a feature, when you can do so manually without too much hassle (no great DX, but possible).

[2019-10-21 10:02] thymikee commented on #816
cc @ifyapishore I think this may be related to your issue?: https://github.com/react-native-community/cli/issues/793#issuecomment-543759428

[2019-10-21 10:59] superandrew213 commented on #793
My project structure is something like this:

[code]

I run `fastlane` in`scripts` folder. `Fastfile` references android project in `app` folder.

Since upgrading RN from `0.60.5` to `0.61.2`, I have been getting the same issue as @ifyapishore for Android only.

[2019-10-21 11:05] thymikee commented on #793
@superandrew213 are you able to set up a reproduction repo, that we could check out and see what's up?

[2019-10-21 11:22] thymikee commented on #816
For now, please build android using `react-native run-android` command

[2019-10-21 11:56] ifyapishore commented on #816
Definitely, Runtime.getRuntime().exec(command) do not inherit PATH variable under OSX. As result npx command can't be found. I faced same issue.

My temp workaround is simple (have no time to find how to get desired PATH and execution dir in gradle):

1. Hardcode execution dir
2. Hardcode PATH variable

[code]

[2019-10-21 12:19] AndreiCalazans commented on #793
Here is a repo:
https://github.com/AndreiCalazans/rn-cli-test

I don't have `react-native` installed globally, I'm using `npx react-native`.
I just built a project this morning with `npx react-native init test`, I uploaded this project to the repo I linked above.

I'm on the latest version of the cli.
[code]

No modification to the project structure was made.

[2019-10-21 12:31] thymikee commented on #816
Dug a bit, and it's likely an environmental issue with your Android Studio. See: https://discuss.gradle.org/t/exec-execute-in-gradle-doesnt-use-path/25598/4

Make sure you're using Android Studio 3.5 or later, open:
[code]

Also, make sure the "Include system environment variables" box is checked, like here:

![image](https://user-images.githubusercontent.com/5106466/67204972-f940be00-f40e-11e9-98

[2019-10-21 12:31] #816 closed

[2019-10-21 12:32] thymikee commented on #793
@AndreiCalazans please see https://github.com/react-native-community/cli/issues/816#issuecomment-544492778 and let me know if it affects you.

[2019-10-21 12:41] superandrew213 commented on #793
@AndreiCalazans it runs fine for me.

@thymikee this fails for me for https://github.com/superandrew213/rn-cli-test-project.

[2019-10-21 12:55] thymikee commented on #793
@superandrew213 I'm running `./android/gradlew bundleRelease -p ./android/` from `app` folder and it works just fine (I've adjusted paths, because there's no need going outside of `app/` dir)

[2019-10-21 13:04] superandrew213 commented on #793
Try running it inside scripts folder. That is where I run fastlane. I don't keep the fastlane code together with the app code.

This was working before the RN0.61.2 upgrade.

[2019-10-21 17:03] david-laurentino commented on #795
Im facing the same problem on Ubuntu. I realized the cause is that "npx --quiet react-native config" command from file 'cli-platform-android/native_modules.gradle' is not being executed in root project directory, causing the error: "Unable to find React Native files. Make sure "react-native" module is installed in your project dependencies...".  Running the same command in root project directory v

[2019-10-21 17:05] thymikee commented on #795
@david-laurentino This message means that looking up from your android project directory, CLI didn't find any `package.json` with `react-native` dependency inside. Make sure you define it.

[2019-10-21 17:56] david-laurentino commented on #795
The file is defined:
{
  "name": "gfit-ts",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint .",
    "postinstall": "patch-package"
  },
  "dependencies": {
    "react": "16.9.0",
    "react-native": "0.61.2"
...
}
if I running the command

[2019-10-21 18:11] thymikee commented on #795
Since 3.0.0-alpha.7, running npx from any directory inside the project should successfully find the path to React Native and fetch configuration (try running it from android directory for example). Maybe Webstorm or AndroidStudio don't inherit PATH from environment correctly? What is the error by the way? It would be really more helpful if you created a new issue with _detailed_ error messages, en

[2019-10-21 18:30] david-laurentino commented on #795
In fact, running "npx --quiet react-native config" in any project directory successfully finds the path to React Native. But this command seems to be being running in wrong directory when executed on the line 159 of file cli-platform-android/native-modules.gradle

It seems that the $rootDir variable used by gradle is incorrectly. As I understand it, this variable comes from the getRootDir() method

[2019-10-21 18:32] thymikee commented on #795
Please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version, there's no `getRootDir` in latest CLI used by RN 0.61.

[2019-10-21 19:36] david-laurentino commented on #795
I have the alpha 7 version. I trying to install react native cli. According react native documentation, I must run "npm install -g react-native-cli", but if i understood right, now should install the community cli, so I must running "npm install -g @react-native-community/cli" instead. Is is right?

[2019-10-21 19:36] david-laurentino commented on #795
I have the alpha 7 version. I trying to install react native cli. According react native documentation, I must run "npm install -g react-native-cli", but if i understood right, now should install the community cli, so I must running "npm install -g @react-native-community/cli" instead. Is is right?

[2019-10-21 19:54] thymikee commented on #795
Docs are not updated yet. **Don't install anything globally**, uninstall global `react-native`, `react-native-cli` or `@react-native-community/cli` if you have any.

[2019-10-21 20:52] david-laurentino commented on #795
The solution was use react-native version "0.60.5" and @react-native-community/cli version 2.9.0. Use the last version of react-native (0.61.2) and the last version of cli (3.0.0-alpha.7) causes the automatic import of native modules fails due the command "npx --quiet react-native config" is being running in wrong directory instead of project directory. It occurs in method located in native_module

[2019-10-21 21:54] david-laurentino commented on #795
I found another solution for now: After installing last version of cli, I replace the file cli-platform-android/native_modules.gradle for the previous version one(2.9.0). That way it works and I can use last version of react-native and cli. I noticed the most recent version of this file detects the root of project automatically, as line 226 states: "Passing custom root is deprecated. CLI detects r

[2019-10-22 04:02] mattdamon108 commented on #816
I've checked the version of Android Studio 3.5.1 and the include system environment variables checked. But still have same error.

I'm opening the Android Studio in terminal to avoid the error.

![image](https://user-images.githubusercontent.com/36963424/67258516-0e2f5700-f4cc-11e9-8edc-1e85501bff35.png)

[2019-10-22 07:06] thymikee commented on #795
@david-laurentino please provide a repro that we can download. Otherwise it's not actionable.

[2019-10-22 07:34] mattdamon108 commented on #816
![image](https://user-images.githubusercontent.com/36963424/67265825-a982f500-f4e9-11e9-8efb-4990b012e710.png)

It seems my Android Studio can't get a npx path actually. The location of `npx` is `/Users/arnold/.npm-global/bin/npx`. How can I set a path in the Android Studio?

[2019-10-22 09:40] Taym95 commented on #813
I think this `-bash: react-native: command not found` means you don't have `react-native` globally installed?!

[2019-10-22 09:41] thymikee commented on #813
That's a good thing! Yes, run instructions should be prefixed with `npx` or `yarn`  to get the local `react-native` binary exposed by `@react-native-community/cli`

[2019-10-22 09:49] Taym95 commented on #813
Something like that `cd ${projectDir} && npx react-native run-ios` ?

[2019-10-22 10:10] thymikee commented on #813
Yup

[2019-10-22 11:01] david-laurentino commented on #795
I fount areplaced the file cli-platform-android/native_modules.gradle for the previous version one (2.9)

It occurs with any project created with react native version 0.62.1 and typescript, for example:
**npx react-native init TestApp --version react-native@0.61.2 --template react-native-template-typescript** on Ubuntu 18.04LTS
Omitting the version option, everything works as expected, but this wa

[2019-10-22 12:11] Usamaliaquat123 commented on #814
@wvteijlingen  in cli try using this `npx react-native init mycoolproject` instead if `npx react-native init MyCoolProject`

[2019-10-22 12:13] #813 closed

[2019-10-22 12:23] Naturalclar opened #818 "Allow initializing app in kebab case"
## Describe the Feature

This is a Feature Request, and if people are interested, I'd like to try implementing this feature.

Currently, when we try to initialize an app in kebab-case (e.g. `my-awesome-app`), it will fail to initialize due to invalid name.

I understand this is due to ios and android build files requiring alpha numeric name for a project.

This is just a personal preference, but I

[2019-10-22 12:25] AndreiCalazans commented on #816
I have Env Variables set up. I had this is all working on previous React Native versions, started happening after updating to latest CLI.

![Screen Shot 2019-10-22 at 09 23 31](https://user-images.githubusercontent.com/20777666/67285333-bbdf3d80-f4ad-11e9-8d91-5d87c0bcfc73.png)
![Screen Shot 2019-10-22 at 09 22 58](https://user-images.githubusercontent.com/20777666/67285335-bbdf3d80-f4ad-11e9-9c6b

[2019-10-22 12:25] AndreiCalazans commented on #793
I have Env Variables set up. I had this is all working on previous React Native versions, started happening after updating to latest CLI.

![Screen Shot 2019-10-22 at 09 23 31](https://user-images.githubusercontent.com/20777666/67285333-bbdf3d80-f4ad-11e9-8d91-5d87c0bcfc73.png)
![Screen Shot 2019-10-22 at 09 22 58](https://user-images.githubusercontent.com/20777666/67285335-bbdf3d80-f4ad-11e9-9c6b

[2019-10-22 12:26] martinezguillaume commented on #805
For a quick fix, you can use :
[code]
in your package.json to force the version

[2019-10-22 15:11] lysenkoo commented on #766
@thymikee Hi!
I remove "global" cache (in home dir ) for all components: npm, yarn, cocoapod. In other words i leave only binaries, than i upgrade all binaries - brew, cocoapod, npm etc.

And now i can init RN app 0.61, with cli 3.0-alpha without errors.

Thank you.

[2019-10-22 15:11] #766 closed

[2019-10-22 17:21] wvteijlingen commented on #814
Yeah, that is a workaround. But I think since initialising a project with capitals is allowed, it should make sure that it doesn't product an invalid package.json.

[2019-10-22 19:13] thymikee commented on #818
Similar scope to https://github.com/react-native-community/cli/issues/814

[2019-10-23 08:19] Esemesek commented on #818
During the initialization process, we rename files, change package names and other strings in the template. `Kebab-case` is not supported, because those names/file cannot use `-` character. If we want to support this type of casing we should investigate where it is appropriate to use certain names and make replacing login more complex.

[2019-10-23 12:57] Taym95 commented on #786
I had the same issue fixed with starting the Xcode application and it starts to install some pending tools update. After Xcode updates, my app started working normally.

[2019-10-23 14:27] waqaramjad opened #819 "fresh React Native project fails to start"
## Environment
System:
    OS: Windows 10
    CPU: (4) ia32 Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz
    Memory: 1.64 GB / 7.89 GB
  Binaries:
    Node: 8.9.4 - C:\Program Files (x86)\nodejs\node.EXE
    npm: 5.6.0 - C:\Program Files (x86)\nodejs\npm.CMD
  IDEs:
    Android Studio: Version  3.5.0.0 AI-191.8026.42.35.5791312
  npmPackages:
    react: 16.9.0 => 16.9.0
    react-native: 0.61.1 => 0.61

[2019-10-24 01:27] gaozhaoqun commented on #655
@mllw  thank you!!!

[2019-10-24 02:57] darrenmuliawan opened #820 "Unable to build a new react native project"
## Environment
System:
    OS: macOS Mojave 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory: 162.21 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.12.0 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 3.10.10 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 13.1, Drive

[2019-10-24 10:56] aevaldas opened #821 "WS vulnerability"
## Description

I've received a security alert from Github about ws in this package.

#### WS-2017-0421 More information
high severity
Vulnerable versions: >= 0.2.6, < 3.3.1
Patched version: 3.3.1

Affected version of ws (0.2.6--3.3.0) are vulnerable to A specially crafted value of the Sec-WebSocket-Extensions header that used Object.prototype property names as extension or parameter names could b

[2019-10-24 11:14] mohmdalfaha commented on #644
After upgrading to macOS Catalina, the default shell is zsh. What is the equivalent to .bash_profile in zsh ?? or should i just switch to bash to fix this ?

[2019-10-24 12:18] GitHubElectra opened #822 "App BUILD SUCCESSFUL but not open node in sequence."
##React-native: 0.54.1
## React: 16.3.1

Environment:
  OS: Linux 5.0
  Node: 11.0.0
  Yarn: 0.32
  npm: 6.4.1
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Not Found

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.54.1 => 0.54.1

## Hello, i've download an old React-native project of mine and just ran `npm install` an then `react-native run-android` it has show

[2019-10-24 12:30] thymikee commented on #822
Unfortunately, we can't provide feedback for version this old. It's out of scope of this repository. Please use Stack Overflow and github search, I'm sure people had similar issue and discussed potential fixes/workarounds.

[2019-10-24 12:30] #822 closed

[2019-10-24 13:44] waqaramjad commented on #819
i am going to closed that issue
it's due to node version
i upgraded from 8.0.9 to 12.0.0 and it work fine
don't install node v 12.11.0 it have a bug

[2019-10-24 13:44] #819 closed

[2019-10-24 14:29] cormander opened #823 "cli-platform-ios pod install failure"
## Environment

[code]

## Description

On a current project, after removing the `package-lock.json` and re-running `npm install`, a `pod install` in the `ios` directory fails:

[code]

## Reproducible Demo

[code]
Then if you remove `package-lock.json` and re-install and try the `npx react-native config` from the `ios` directory again:
[code]
I believe this is due to `npx react-native config` fai

[2019-10-24 15:19] carlosroberto555 opened #825 "App Package and BundleID"
## Describe the Feature
The CLI change the app package and bundle id, because is a boring work change this info always on create a app.
This feature reduce a lot of time and errors, I published 3 apps with wrong package name on Google Play, because the Google Play not alert you it like the Apple Store.

## Possible Implementations
For new projects
`npx react-native init ExampleApp --package com.ex

[2019-10-24 19:58] thymikee commented on #825
I'm not really sure what's the use case for this. If you have multiple apps, you'll still need to configure that manually. I don't see this is as a typical use case, so it's likely not going to be implemented in the core. However, you can write a plugin, here's how: https://github.com/react-native-community/cli/blob/master/docs/plugins.md

[2019-10-24 19:58] #825 closed

[2019-10-24 20:52] nuKs commented on #230
Had the same problem.

My assumptions:

Looks like it uses `git apply` behind the scene which relies on commit indexes in order to be able to  deliver 3way merges (3 ways as local, patch and remote). Thus it needs commit indexes in the current repo in order to generate that 3way merge (cf. https://stackoverflow.com/a/33577782/939741).

However, those commits aren't in the repo because they are fro

[2019-10-24 23:28] maxkorp opened #826 "Struggling to set up a monorepo with 2 RN apps and a shared package that includes native code"
## Ask your Question

Sorry for the impending wall of text, and thank you in advance for any help.

I have a monorepo (using yarn workspaces) that has several non-rn apps (a graphql server, 2 different websites, others) and as of now a single react-native ios/android app. This works by just nohoisting everything RN related, and some metro config to make sure it can find the js in the other package

[2019-10-25 10:59] ifyapishore commented on #823
Have same issue.

Check your node_modules.
![image](https://user-images.githubusercontent.com/17021281/67565964-d127c680-f750-11e9-9551-c147d7c6204d.png)

Remove node_modules/react-native-cli. It has old version 2.0.1

Looks like after few npm installs, old version appears in node_modules somehow and broke many things.

There is an issue with resolving modules in gradle and seems like they are rel

[2019-10-25 11:19] thymikee commented on #793
Here's a PR solving this issue: https://github.com/react-native-community/cli/pull/824. Please test in your environments.

[2019-10-25 14:04] detroit007 opened #827 "Updating Cli section uses instruction removed "@react-native-community/cli" still project not working"
## Ask your Question
when I'm running react-native run-android it shows "node_modules/@react-native-community/cli-platform-android/native_modules.gradle' line: 206 "

Cannot get property 'packageName' on null object

need help!

[2019-10-25 16:51] lucianomlima opened #828 "Error: Failed to get dependency config when try to unlink"
## Environment
[code]

## Description
Same problem of #273 and #498. I'm not using CocoaPods.

[code]

[2019-10-25 16:54] thymikee commented on #828
We're getting rid of `link` in favor of "autolinking" soon, so there's no incentive from us fixing these issues unfortunately. Thanks for caring to file an issue though, appreciated :)

[2019-10-25 16:54] #828 closed

[2019-10-25 17:05] lucianomlima commented on #828
What I can do so? We will upgrade the app soon, but not now and I need to get the cli working. What I can do?

[2019-10-25 17:42] thymikee commented on #828
Check out similar issues, like this one: https://github.com/react-native-community/cli/issues/273. If it doesn't help, you'll need to unlink manually (see manual instructions for linking for this library and apply in reverse order).

[2019-10-26 00:43] cormander commented on #823
Yep, that fixed it. Thank you!

[2019-10-26 00:43] #823 closed

[2019-10-26 20:31] mrwisu commented on #827
Are you using the newest version of CLI?
Note that, you shouldn't be using global installation of react-native. Try to run in your project directory:
npx react-native run-android

[2019-10-26 20:42] mrwisu commented on #820
I have the same output, but only in Android Studio.
When I run it in terminal (Ubuntu 18.04) it works fine.

Note that, you shouldn't be using global installation of react-native.
Try:
npx react-native init myapp
npx react-native run-android

[2019-10-27 00:31] asklar commented on #195
Used to run the packager in one machine and the app on another; see #829

[2019-10-27 02:08] robertying commented on #793
@thymikee this PR works for me. Thank you! 👍

There seem to be a lot of issues on this regression. I'd suggest moving fast on this fix.

[2019-10-27 21:19] agurtovoy commented on #418
Expanding on @programmer-yang's workaround, react-native relies on the output of `xcrun simctl list --json devices` to find the matching device, and starting from Xcode 11 that output changed from

[code]

to
[code]
See https://github.com/react-native-community/cli/commit/2f24a8c09daf9422461949ef0a8d69fbd7eeace0 for the corresponding fix in the official repo.

You still might need to add  "iPhone

[2019-10-28 06:41] detroit007 commented on #827
@mrwisu I tried your method " npx react-native run-android " in project directory but nothing change, facing same error.

[2019-10-28 07:31] detroit007 commented on #655
@gaozhaoqun did you find solution ? if yes then share pls!

[2019-10-28 08:28] sophister opened #830 "npx react-native init Demo --template react-native-template-typescript FAIL"
## Environment

System:
    OS: macOS Mojave 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory: 1.32 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.14.1 - ~/.nvm/versions/node/v10.14.1/bin/node
    Yarn: 1.9.4 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v10.14.1/bin/npm
    Watchman: 4.4.0 - /usr/local/bin/watchman
  SDKs:
    iOS SD

[2019-10-28 08:44] thymikee commented on #830
Looks like `npx react-native` resolves to a globally installed `react-native-cli`. Please remove it, it's not needed anymore.

[2019-10-28 08:44] #830 closed

[2019-10-28 09:34] mrwisu commented on #827
What version of react-native cli are you using?
$ npx react-native --version
3.0.0-alpha.7

See:
https://github.com/react-native-community/cli#updating-the-cli

[2019-10-28 10:26] detroit007 commented on #827
by updating the Cli I got:
GuessNum@0.0.1 /home/hami/GuessNum
└─┬ react-native@0.61.2
  └── @react-native-community/cli@3.0.0-alpha.2

[2019-10-28 10:47] #827 closed

[2019-10-28 11:23] detroit007 commented on #827
@thymikee error still exists it is'nt reoslve yet

[2019-10-28 11:29] thymikee commented on #827
Please follow the instructions and update the CLI to point to version alpha.7. I can't fix your lock file.

[2019-10-28 11:30] detroit007 commented on #827
yes I updated to the latest version but it still showing the old one

[2019-10-28 11:32] thymikee commented on #827
Maybe you're behind a proxy, where the version is not updated yet? `alpha.7` is published to npm, so it's definitely some kind of network caching.

[2019-10-28 11:36] detroit007 commented on #827
last time I update from this source "https://www.npmjs.com/package/@react-native-community/cli-platform-android/v/3.0.0-alpha.7 ", so what should I do now to update this to the latest version?

[2019-10-28 11:38] thymikee commented on #827
Please regenerate your lock file (e.g. remove it and run again) if you have issues. It's not this package fault, that npm can't fetch it for you, can't do anything about that.

[2019-10-28 23:27] maxkorp commented on #826
Update, added a single-native-app monorepo that breaks when I include a native module (react-native-add-calendar-event, in this case)

https://github.com/maxkorp/my-new-monorepo

This works (mostly) with iOS. Just `yarn && cd packages/mobileProfessional/ios && pod install && cd ../../.. && yarn workspace mobileProfessional ios`. However I get some error `package android.support.annotation does not

[2019-10-29 00:12] maxkorp commented on #826
Aha! So it turns out the jetifier runs automatically, but is not finding the modules at the root directory;
if I run `cd packages/mobileProfessional && npx jetifier` it finds nothing, but if I just run `npx jetifier` at the root it works. Still does not fix the metro pathing.

[2019-10-29 08:57] thymikee commented on #230
@nuKs that's interesting. Would you be interested in sending a PR fixing this?

[2019-10-29 17:38] vladp commented on #591
@tarunvella
I do not think your questions are particuarly related to the problem I reported.
Because it is not clear from your note,  that your custom RN root is, indeed, outside of the repository structure
expecatation of the new CLI release.  May be it is , but it is was not clear.

Because the support for `root: ` directive in app/build.gradle `project.ext.react`  is now removed from this cli b

[2019-10-29 17:49] vladp commented on #591
Please note, that
react-native-community/cli in RN 0.61 had remove the functionality where we can specify the custom RN root using  app/build.gradle `root:` directive in  `project.ext.react`

[code]

So starting from RN 0.61 if you have RN root folder located as a sibling or underneath of a sibling of your Android app directory, the CLI will not find it and Autolinking will fail

See my bug report

[2019-10-29 17:49] #591 closed

[2019-10-29 18:19] nuKs commented on #230
Big deadline ongoing.

I'll gladly do that once I have a bit of free time though (from 6th november and on hopefully) :)

[2019-10-30 03:10] codestersunion commented on #793
We found that downgrading the openjdk to 8 fixed this issue for us as a workaround.

[2019-10-30 03:26] scarcoco commented on #778
[code]
[code]

simulator -> No Bundle URL

[2019-10-30 10:07] thymikee commented on #804
@vladp I wonder if the change we cook here would help in your case? https://github.com/react-native-community/cli/pull/824

[2019-10-30 11:04] githuboftigran commented on #795
Had the same issue on linux.
Just installed npx to machine globally and everything worked:
`sudo npm install -g npx`

[2019-10-30 11:06] thymikee commented on #795
@githuboftigran are you using Node version lower than 8? `npx` is bundled with Node by default since then.

[2019-10-30 11:07] githuboftigran commented on #795
I'm using 8.10, but npx wasn't installed globally.

[2019-10-30 11:08] thymikee commented on #795
Seems like a bug in Node. Please update it to latest LTS then (v12). It's going to be a tad faster as well.

[2019-10-30 11:11] githuboftigran commented on #795
@thymikee yep, will do, thanks!

[2019-10-30 19:08] chawlatarika5 commented on #655
The solution is there:
Go to the node_modules/@react-native-community/cli-platform-android/native_modules.gradle
at line 157 (or find cmdProcess)
Is should be something like this:
```cmdProcess = Runtime.getRuntime().exec(command)```
Change it to
```cmdProcess = Runtime.getRuntime().exec(command,null,new File(System.getProperty("user.dir")).getParentFile())```

[2019-10-31 13:29] johnshroff commented on #655
@mllw suggestion worked for me!

[2019-10-31 20:52] andrewhavens opened #833 "Upgrade task never seems to work"
## Environment

[code]

## Description

I've tried using the upgrade tool on several upgrades, but every time, it never seems to work and I have to manually upgrade every file. It always fails with some sort of "git apply failed" error. I think this might have to do with the fact that we have removed the `ios` directory and are only using this for our Android app.

For example I am attempting to u

[2019-11-01 01:41] vladp commented on #804
@thymikee I just tested your update on top of 0.61, and it works for us!.
Thank you for this.

It seems that what you have done, is leveraged the fact that everybody in their
`app/build.gradle`
already had to specify where RN gradle is (and therefore where node_modules for RN is)
Then you assume that that's the directory with RN's node_modules, is the root of the RN project,
and that's where you n

[2019-11-01 16:38] cgrio opened #834 "warn The following packages use deprecated "rnpm" config that will stop working from next release: - react-native-nearby-api: https://github.com/badfeatures/react-native-nearby-api#readme"
## Ask your Question
warn The following packages use deprecated "rnpm" config that will stop working from next release:
  - react-native-nearby-api: https://github.com/badfeatures/react-native-nearby-api#readme
After install in react I receive this inforamation.

Using react-native 0.61

[2019-11-02 01:38] david-laurentino commented on #795
In fact there is no package.json inside projectRoot/android/ directory, but in projectRoot/ It exists. This android/package.json shouldn't be created automatically by react-native init? Even new projects doesn't have this file.

[2019-11-02 13:54] Alishgiri commented on #468
please first verify the `npm -v` and `node -v `gives you some version number.

The problem was with using yarn. I use yarn instead of npm and was getting this error. when I reinstalled node then the problem was resolved. No need to change the node_modules files as it did manage to run but created several other problems later on. Hope this helps yarn lovers!

[2019-11-02 13:57] Adarwall commented on #739
@thymikee is there a solution for older versions?

[2019-11-02 21:25] david-laurentino commented on #795
The problem here is that $PATH variable isn't inherited through getRuntime().exec. I do not know exactly why, but seams to be related to the NVM.

[2019-11-02 22:16] Adarwall commented on #739
never mind, I found the solution.

inside: **.../node_modules/@react-native-community/cli/build/commands/runIOS**
under: `var _default = {
  name: 'run-ios',
...`
I changed this:
`  options: [{
    command: '--simulator [string]',
    description: 'Explicitly set simulator to use. Optionally include iOS version between' + 'parenthesis at the end to match an exact version: "iPhone 6 (10.0)"',
    *

[2019-11-03 10:05] gagandeep opened #835 "Cannot get property 'packageName' on null object"
Reopening https://github.com/react-native-community/cli/issues/827 as I am also facing same issue. My point is it is this library assumption that broke the build not any other library.

Command output -

[code]

Let see Line 206 of native_modules.gradle
https://github.com/react-native-community/cli/blame/master/packages/platform-android/native_modules.gradle#L206

The statement `json["project"]["a

[2019-11-03 10:35] gagandeep commented on #835
In my case, `react-native-community/async-storage` was referring to `@react-native-community/cli-tools": "^3.0.0-alpha.7"` that caused the problem.

[2019-11-03 11:03] thymikee commented on #834
Please contact `react-native-nearby-api` maintainers using the link provided, to upgrade their setup to autolinking. Or even better, send a PR yourself! Removing these lines should do just fine: https://github.com/badfeatures/react-native-nearby-api/blob/master/package.json#L42-L46 since their setup is pretty common (I assume this library is automatically linked by the CLI, the warning is just for

[2019-11-03 11:03] #834 closed

[2019-11-03 12:55] gagandeep commented on #835
Downgrading the package `cli-platform-android` solved the issue for me.

```npm install @react-native-community/cli-platform-android@2.9 --save-dev```

[2019-11-03 18:49] artemkovalyov commented on #835
Worked perfectly for me after building collapsed because of this update.

[2019-11-03 20:31] Monte9 commented on #418
@thymikee your simple solution worked for me! Thanks 💯

[2019-11-05 04:49] QuantJames commented on #173
I have the same issue but with `alignItems` property. Have confirmed and double confirmed all props are valid. Works perfectly on iOS, not on Android. Same behaviour when running on different machines.

Really frustrating.

[2019-11-05 07:28] gagandeep commented on #835
@grabbou & @thymikee any update on this one.

[2019-11-05 18:33] alisabrigok commented on #655
I don't think it's a good idea to change any code that is inside node_modules folder. Since it's added via npm and ignored by git any changes you will make end up staying only on your local.

However, there's another solution that's mentioned in one of the recently opened issues. See https://github.com/react-native-community/cli/issues/835#issuecomment-549134018

Basically, add cli-platform-androi

[2019-11-05 21:14] hayanisaid commented on #794
I have to the same problem, and it's really annoying cuz I'm using redux and the redux logger print  all the data store into the console  the things that make my terminal crashes

[2019-11-05 21:46] dekameron22 commented on #794
+1

[2019-11-05 22:16] patgoley commented on #766
I got this same error and the problem was the version of Ruby I was using. I had been using Ruby v2.1.0 (same as issue author above). Upgrading to Ruby v2.4.1 fixed the issue (require_relative was not supported in eval'd files in 2.1.0).

[2019-11-07 08:35] b1ngx opened #838 "@react-native-community/cli-platform-android Build failed with an exception"
## Environment

react-native info
[code]
react-native --version
[code]

## Description

yarn android
[code]

## Reproducible Demo

[2019-11-07 11:51] Esemesek commented on #794
We would have to disable forwarding logs from `metro`. I guess we can add a flag to handle this use case.

[2019-11-07 13:02] thymikee commented on #794
@rickhanlonii isn't this something that you work on as a LogBox project?

[2019-11-07 13:54] Esemesek commented on #838
It seems like you have global `react-native-cli` installed, which causes name conflicts in `react-native` binary. Could you please remove global `react-native-cli` by running `yarn global remove react-native-cli` and try again with `yarn react-native run-android`?

[2019-11-07 13:59] thymikee commented on #838
@Esemesek since we call `npx`, it's npm records we want to update, so running
[code]
seems more appropriate.

[2019-11-07 21:26] nandorojo commented on #418
Yes! This worked with a bare expo project. Thank you!

[2019-11-08 00:38] b1ngx commented on #838
I haven't install `react-native-cli` any all.  Create the app with `npx react-native init AwesomeProject`.

[2019-11-08 00:49] bathan commented on #794
Would love to be able to toggle this on/off with a config.

Having all logs going to metro has some big impact on overall app performance when debugging.

This week I spent some decent amount of time debugging some performance issue that was affecting a screen where we have a tiny images list and we also use that screen to upload images to a server.

I could not find what was the cause for that wh

[2019-11-08 06:08] kamalparchitect commented on #448
"Your replies are many but none is relevant to the issue, please reply to the issue and provide a solution" Request you to please respond only if you are aware about the solution

[2019-11-08 10:48] Naturalclar commented on #96
are there any additional logging required for this issue?
the unchecked options are `bundle` and `ram-bundle`, which both leads to `buildBundle` which has loggings.

[2019-11-08 11:12] Esemesek commented on #96
@Naturalclar it seems like this issue should be closed. C:

[2019-11-08 11:12] #96 closed

[2019-11-08 17:07] jakewtaylor commented on #655
I'm also having this problem - @chawlatarika5's solution is working for me but obviously isn't ideal.

Some coworkers are able to run the same project with no issues, without editing node_modules. We can't spot any difference in environment - we're stumped!

[2019-11-08 19:38] david-laurentino opened #840 "adb error on windows"
## Environment

System:
    OS: Windows 10
    CPU: (16) x64 AMD Ryzen 7 2700 Eight-Core Processor
    Memory: 16.85 GB / 31.96 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.15.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
  IDEs:
    Android Studio: Version  3.5.0.0 AI-191.8026.42.35.5977832
  npmPackages:
    react

[2019-11-08 23:00] Gerlison opened #841 "placeholderName not replaced on generated project with template"
![image](https://user-images.githubusercontent.com/28146931/68516119-ec6ef780-0261-11ea-894c-a37669442c45.png)

I created this template, configured it as cli's doc recommends. When I create a new project using it, package.json 'name' and android/ and ios/ folders has not their names changed to name passed on init.

What am I doing wrong?
Did I forget some config?
How do I change some code in MainA

[2019-11-09 03:24] jgornick opened #842 "Use react-native cli for monorepo (workspace) configurations in native_modules.gradle"
## Environment

[code]

... in the workspace

[code]

## Description

Currently the native_modules.gradle captures the configuration calling the `cli.js` script in `node_modules`.

[code]

However, in monorepo (yarn workspace) setups, it's possible that the `node_modules` is hoisted to the root directory. Symlinks to the bins are available in the packages which means that the configuration can be

[2019-11-09 04:12] hzz780 commented on #805
Thanks.
RN 0.61
This one is ok.

@react-native-community/cli-platform-ios 3.0.0-alpha.7 is not ok
I changed this manually. I am waiting the the new package.

[2019-11-09 15:26] thymikee commented on #841
You're likely using a globally installed `react-native` or `react-native-cli`? Please remove these. Can you provide a repro with instructions on how you use this template? I'm going to close this for now, because it's unlikely an issue with the CLI.

[2019-11-09 15:26] #841 closed

[2019-11-11 12:28] rinorbytyci commented on #794
Any update to this, I would also love to be able to disable the console logs in terminal. I think maybe there should be some option in metro.config.js but apparently there isn't?

[2019-11-12 03:40] r0b0t3d commented on #759
For me, uninstalled global binary `react-native` then I can run `npx react-native init MyApp`  successfully.
You can do `npm list -g --depth=0` and `yarn global list` to check if `react-native` binary exists

[2019-11-12 14:48] Esemesek commented on #794
All the logging is present in the `metro` and there is no way to disable it. For now, I was able to get rid of logs by removing their logger using `patch-package` https://gist.github.com/Esemesek/00b49e8041bb27b6215c2cc8dafb2378. I will move this issue to `metro` issue tracker.

[2019-11-12 14:59] Esemesek commented on #794
Moved https://github.com/facebook/metro/issues/484.

[2019-11-12 14:59] #794 closed

[2019-11-12 15:13] Esemesek commented on #842
This is already fixed in the `master` branch and in the `alpha` release.

[2019-11-12 15:13] #842 closed

[2019-11-13 07:54] topsion-12345 commented on #785
How to fix this bug?
Solution 1: run npm i --save @react-native-community/cli-platform-android
Solution 2:Try deleting app\build\intermediates\signing_config\debug\out\signing-config.json

Works! Thnx

[2019-11-14 08:16] Glinkis commented on #655
@chawlatarika5's solution does not work for me, as I still get the exact same error.

[2019-11-14 13:49] Alcionei commented on #591
I deleted my build folder and it worked.

[2019-11-14 14:35] grabbou commented on #835
Thanks for reporting. Please paste or send me `react-native config` output - I need to investigate the structure a bit more.

CLI didn't recognize your Android project. This shouldn't never happen, because in that case, you wouldn't have a Gradle file.

A dump of your directory hierarchy would be good to see as well. Please provide that and I'll try to resolve this right away.

[2019-11-14 14:42] grabbou commented on #826
Hey,

Thanks for deep explanation of your issue. Please run `react-native config` from within your React Native mobile project and paste the output here or email me and we will go from there.

As a principle, you should always run the CLI from the root of your React Native project (especially, when you have multiple React Native projects).

Are you using Yarn Workspaces? If not, you should, and ea

[2019-11-14 14:45] grabbou commented on #821
Sounds good. We should do it.

CC: @Esemesek since you've been working on the `debugger`, you have the context already :)

[2019-11-14 14:46] grabbou commented on #818
I think we should definitely allow that, but convert to `camelCase` by default for iOS and Android.

[2019-11-14 18:00] danieltov opened #846 "`config` command throws ugly error when parsing AndroidManifest.xml fails"
`pod install` fails when I use the boilerplate Podfile which calls for `use_native_modules!`. It gives me the strange error:

[code]

What is file 767?

Without this my native modules are not properly installing.

React Native version:

[code]

## Steps To Reproduce

1. Upgrade from RN 0.59.9 to RN 0.61.4
2. Use boilerplate Podfile - https://raw.githubusercontent.com/react-native-community/rn-diff

[2019-11-14 19:09] thymikee commented on #846
The config loads iOS and Android platforms and it seems like android config resolver finds an XML that's invalid. Can you put some console logs in the node_modules you see in the error to check what file fails to parse?

[2019-11-14 21:20] maxkorp commented on #826
So we do use yarn workspaces _sortof_ , but due to how we have our bucklescript setup, we can't really do the dependency thing (the ocaml compiler doesn't work with the symlinks).

I have a bunch of new notes on this as we've found stuff. Currently we have almost working with some hackery, except for loading images out of hoisted node_modules on ios only during production builds. I'll try to write

[2019-11-14 22:29] maxkorp commented on #826
So there are currently a few issues. A lot of this is metro related I suspect more than anything else, but I don't know how much of it is something to resolve here in the meantime. At least one or two issues are with scripts from `react-native` itself, but
I don't know how much of that actually belongs here or is influenced by this project etc.

If you would like me to make individual issues for a

[2019-11-14 23:40] danieltov commented on #846
Interesting catch!

Here is the error I get now:

[code]

So I checked out Line 25 on AndroidManifest.xml and it's `</intent-filter>` It's part of this code block
[code]

I'm not sure what the syntax error is?

[2019-11-15 04:54] frederickjjoubert commented on #808
It appears the latest version of react native got rid of those commands :(

[2019-11-15 07:51] thymikee commented on #846
The problem is `<service/></service>`. Should be `<service></service>`. The best we can do is to throw an informative error message. Would you like to contribute this now that you have the context? :)

[2019-11-15 09:35] rohitpareek143 opened #847 "Invalid Podfile file: 767: 'pod install' fails with 'use_native_modules!'"
- [ ] ## Environment

## Description

## Reproducible Demo

[2019-11-15 09:51] thymikee commented on #847
Likely a duplicate of #846

[2019-11-15 09:51] #847 closed

[2019-11-15 10:24] rohitpareek143 commented on #846
@thymikee could you please help me solve below issue.
[code]

Steps to reproduce issue : -
1) Upgrade from RN 0.59.9 to RN 0.61.4
2) Use boilerplate Podfile - https://raw.githubusercontent.com/react-native-community/rn-diff-purge/release/0.61.4/RnDiffApp/ios/Podfile
3) Do a pod repo update and then a pod install

[2019-11-15 10:27] thymikee commented on #835
Please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version and let me know if that solves the issues. Closing for now, as there's no repro and it's likely fixed

[2019-11-15 10:27] #835 closed

[2019-11-15 12:35] rohitpareek143 commented on #823
facing same issue even after updating @react-native-community/cli..  @cormander  how you solved issue

**Environment**
[code]

**Steps to reproduce issue : -**
1. Upgrade from RN 0.59.9 to RN 0.61.4
2. Use boilerplate Podfile - https://raw.githubusercontent.com/react-native-community/rn-diff-purge/release/0.61.4/RnDiffApp/ios/Podfile
3. Do a pod repo update and then a pod install

current version

[2019-11-15 12:50] ifyapishore commented on #823
If node_modules/react-native-cli exists - remove it. Thrid party module can
install it accidentally and scripts use mix of 2.* and 3.* scripts.

On Fri, Nov 15, 2019, 19:35 Rohit Pareek <notifications@github.com> wrote:

[2019-11-15 12:51] rohitpareek143 commented on #823
@ifyapishore node_modules/react-native-cli not exists

[2019-11-15 12:55] grabbou commented on #838
Can you please run `yarn react-native config` and paste the output? It's interesting, because on [`master`](https://github.com/react-native-community/cli/blob/master/packages/platform-android/native_modules.gradle#L182), line 182 contains nothing but a function declaration.

I would recommend upgrading to "just released" version 3.0.0 and pasting the output again. The line should be different and

[2019-11-15 12:56] thymikee commented on #823
Check `node_modules/@react-native-community/cli`

[2019-11-15 12:58] grabbou commented on #189
That would be awesome! As discussed earlier, feel free to take inspirations from https://github.com/react-native-community/cli/issues/189#issuecomment-475653045

[2019-11-15 13:00] rohitpareek143 commented on #823
@thymikee yeah its exist
[code]

[2019-11-15 13:01] grabbou commented on #846
I am going to close this issue because it's unlikely a bug, more an error with some of the files. Please @rohitpareek143 consider pasting `yarn react-native config` here so that we can investigate it further.

[2019-11-15 13:01] #846 closed

[2019-11-15 13:02] thymikee commented on #846
@grabbou let's keep it open. I marked it as "good first issue" for improving the error message.

[2019-11-15 14:36] rohitpareek143 commented on #846
[code]

[2019-11-15 16:29] thymikee commented on #793
Reopening because of https://github.com/react-native-community/cli/pull/852. We need to find better solution

[2019-11-15 16:29] thymikee commented on #804
Reopening because of https://github.com/react-native-community/cli/pull/852. We need to find better solution

[2019-11-15 18:39] JindalPrashant commented on #484
I was using node 12.13.0 and facing the same issue. Now I downgraded it to 10.15.0 and metro bundle is running without fail.

[2019-11-15 18:40] JindalPrashant commented on #484
It worked for me.

[2019-11-17 00:57] tad3j opened #853 "Please bump metro version to 0.57.0 to solve issues on Windows with Node v12.x.x"
Bug is described and fixed with https://github.com/facebook/metro/commit/7c6f30b592b2fb23cee55b54f1aa4b7a522dec18. Commit was accepted and released under metro v0.57.0.

[2019-11-17 14:33] alvelig commented on #809
Had the same issue.

A bit of investigation gave me:
[code]
Then:
[code]

Resume: `/node_modules/@react-native-community/cli/build/commands/server/middleware/getDevToolsMiddleware.js:86` built incorrectly.

**Workaround**:
npm i @react-native-community/cli

[2019-11-17 15:16] alvelig commented on #809
/* react-native-debugger-patch end */ 🤦‍♂
It's a `react-native-debugger-open` issue.

[2019-11-18 04:27] mobigaurav commented on #418
You can add simulator in Xcode->Window>Device & Simulator then go to the simulator tab and add your missing simulator. Once done, on command prompt run > react-native run-ios --simulator "your added simulator name"

[2019-11-18 06:43] rohitpareek143 commented on #823
@thymikee  @grabbou please check below react-native config details.

[code]

[2019-11-18 09:16] #809 closed

[2019-11-18 09:17] thymikee commented on #418
Please [update the `@react-native-community/cli`](https://github.com/react-native-community/cli#updating-the-cli) to the latest version, it's fixed there.

[2019-11-18 15:05] Glinkis opened #854 "Fails to determine project configuration"
I'm trying to run react native in a monorepo, and if I run the project with the old `2.9` version, I can run in development mode, *if* I override the `native_modules.gradle`-file like this:
[code]
As well as run `react-native start` in my mobile folder, and `run-android` in my root folder in a separate terminal window.

But then can't build for production, due to it not finding the `node_modules/r

[2019-11-18 16:36] SirCameron commented on #418
I have RN-cli vesion 2.0.1 and I am still getting this error.

[2019-11-18 16:37] thymikee commented on #418
@SirCameron `react-native-cli` is legacy global module and is not `@react-native-community/cli`. Please remove it, as it often conflicts with the locally installed CLI.

[2019-11-18 19:16] SirCameron commented on #418
@thymikee so should I install ```@react-native-community/cli``` with npm or simply use npx?
when I tried ```npx react-native run-ios``` I get the same error about the simulator.

[2019-11-18 19:22] thymikee commented on #418
Please follow the instructions on the page I linked in my comment :)

[2019-11-18 19:26] SirCameron commented on #418
@thymikee I did.
[code]
is the output.

[2019-11-18 19:28] thymikee commented on #418
I think you didn't. Here's the latest version: https://www.npmjs.com/package/@react-native-community/cli/v/1.12.0. If you have troubles editing the lock file, remove it and install again.

[2019-11-19 01:43] b1ngx commented on #838
I use command `npx react-native init test ` create the project

#### yarn react-native config

[code]

#### yarn android

[code]

[2019-11-19 07:18] romanonthego commented on #805
I am still experience same issue with version 3.0.0 :(

[2019-11-19 07:19] thymikee commented on #838
Have you seen the error message?

[2019-11-19 11:36] melvynhills opened #855 "Doctor check for Xcode version doesn't work properly"
## Environment

[code]

## Description

When running doctor, I get an error for Xcode version even if it's fine.

[code]

Related: https://github.com/react-native-community/cli/pull/856

[2019-11-19 13:59] rborn opened #857 "Doctor is not detecting the correct Android SDK"
## Environment

[code]

## Description

Doctor seems not to detect the  correct Android SDK, but seems to be taking the first one in list (build-tools)

<img width="805" alt="Screenshot 2019-11-19 at 14 35 14" src="https://user-images.githubusercontent.com/406409/69152421-bee54200-0adc-11ea-85c2-f4494a0ab921.png">
<img width="1098" alt="Screenshot 2019-11-19 at 14 36 26" src="https://user-images.g

[2019-11-19 14:27] thymikee commented on #857
Thanks! This is a legit bug report. @lucasbento wdyt? We could sort the build-tools versions and pick the highest I guess? We now pick first, as you correctly noted.

[2019-11-19 15:59] grabbou commented on #854
Hey,

I know this may be confusing, but `run-android` doesn't use the `react-native config` yet. That's what @thymikee is working on in his PR: https://github.com/react-native-community/cli/pull/791. It has its own historical resolution mechanism and that's why it doesn't take into account your paths.

I would recommend you to drop custom React Native configuration and just run the CLI from within

[2019-11-19 16:26] Glinkis commented on #854
@grabbou
Thanks for the response. I cannot run `yarn react-native run-android` from within my `./packages/mobile`-folder, as react native can then not find the command `run-android`.

What I have to do is run `yarn react-native start` from my `mobile` folder, and `yarn react-native run-android --root ./packages/mobile` from the root folder.

I've already written this in the original question, thou

[2019-11-19 18:40] Maushundb commented on #805
Are you sure you're on the right version? If you're using RN, make sure you set your resolutions so that the CLI version gets resolved correctly:
[code]

[2019-11-19 22:29] luskin commented on #654
@rendomnet were you able to get code-push working on iOS on RN 0.60+? We are on RN 0.61.4 and are unable to get iOS working.

[2019-11-20 01:28] b1ngx commented on #838
I did not install `react-native` and `react-native-cli` , and i also run `npm uninstall -g react-native react-native-cli`

When remove the file `/node_modules/@react-native-community/cli-platform-android/native_modules.gradle' line: 194` comment `/* dir */`

[code]

to

[code]

it's runing.

[2019-11-20 08:42] jonasb opened #858 "Doctor doesn't identify Android SDK from local.properties"
## Environment

[code]

## Description

When running `npx @react-native-community/cli doctor` it doesn't identify my Android SDK. I'm not setting `ANDROID_HOME`, instead I have a file (`android/local.properties`) which includes the path to the sdk (`sdk.dir=/Users/jonasb/Library/Android/sdk`). In my experience `ANDROID_HOME` and `local.properties` work equally well to point out the SDK for various

[2019-11-20 08:52] thymikee commented on #855
Closed via #856

[2019-11-20 08:52] #855 closed

[2019-11-20 11:17] lucasbento commented on #857
Yes, that seems to be the way to fix it.

I'm gonna open a PR for this between today and tomorrow.

Thanks for reporting it @rborn!

[2019-11-20 16:28] rbalaga commented on #484
Thanks It worked for me. running 13.1.0 not worked. downgraded to 12.4.0 and it worked. :)

[2019-11-20 19:08] sibelius opened #860 "Invalid `Podfile` file: undefined method `[]' for nil:NilClass."
## Environment

[code]

## Description

[code]

## Reproducible Demo

my podfile
[code]

this is  a monorepo setup

this is a list of react-native packages used

[code]

[2019-11-20 19:12] thymikee commented on #860
When did it start happening? Can you provide a repro? Running `npx react-native config` would be helpful as well

[2019-11-20 19:34] sibelius commented on #860
we upgrade from cli v2 to cli v3

![image](https://user-images.githubusercontent.com/2005841/69270543-e0642d80-0bb1-11ea-8206-e1d090336cc7.png)

npx react-native config
[code]

[2019-11-21 01:26] sibelius commented on #860
same error on android

[code]

[2019-11-21 02:01] sibelius commented on #860
it is breaking here

[code]

https://github.com/react-native-community/cli/blob/master/packages/platform-ios/native_modules.rb#L29

I think this pull request caused the problem:
https://github.com/react-native-community/cli/pull/767

npx --quiet react-native config

returns

[code]

[2019-11-21 02:10] sibelius commented on #860
I think the problem is that `npx --quiet react-native config` returns different data when we run it inside `app/ios` and `app`

so, my guess is that `react-native config` is causing this trouble

[2019-11-21 02:38] sibelius commented on #860
fixed removing

@react-native-community/cli
@react-native-community/cli-platform-android
@react-native-community/cli-platform-ios

instead I've used the one that react-native 61 depends on

[2019-11-21 02:38] #860 closed

[2019-11-21 10:50] Work90210 opened #861 "ERROR: cannot find module : template.config"
After running "npx react-native init MyApp --template react-native-template-ui-kitten"

I am presented with an error.

× Copying template
error Error: Cannot find module 'C:\Users\kylef\AppData\Local\Temp\rncli-init-template-Qq6OrG\node_modules\react-native\template.config'
Require stack:
- C:\Users\kylef\node_modules\@react-native-community\cli\build\commands\init\template.js
- C:\Users\kylef\nod

[2019-11-21 11:33] #861 closed

[2019-11-21 11:33] thymikee commented on #861
Looking at the repo here: https://github.com/akveo/react-native-ui-kitten, there's no `template.config.js` which is mandatory for init to work.

[2019-11-21 11:39] thymikee commented on #861
However, seeing the error message is ugly, I'd be happy if you'd like to contribute a better one. Something like this would do:

[2019-11-21 14:07] Work90210 commented on #861
Hi @thymikee thank you for your response.

I have already spoken with react-native-template-ui-kittens team and they say they were unable to replicate the issue.

I then tried running npx react-native init MyApp, I was presented with the same issue.

Is this an issue on my side? How would one go about fixing it? I have tried uninstalling react and reinstalling it. I have updated it a few times and

[2019-11-21 14:11] artyorsh commented on #861
@thymikee the problem is that we have template.config - https://github.com/akveo/react-native-ui-kitten/tree/master/src/templates/template-ui-kitten

And running both Mac and win10 I was not able to reproduce it

[2019-11-21 14:15] thymikee commented on #861
Oh, I see, so the template is fine. Can you show output of `npx react-native --version`? Make sure to uninstall global `react-native-cli` and `react-native` if you have such.

[2019-11-21 14:17] artyorsh commented on #861
Yes, as a maintainer I have the latest versions (I have `@react-native-community/cli` installed globally). However, I'm not able to reproduce this running both `npx react-native init blah` and `npx @react-native-community/cli init blah`

[2019-11-21 14:18] artyorsh commented on #861
For any reason this still occur for reporter even after running this command, as I suggested [here](https://github.com/akveo/react-native-ui-kitten/issues/734#issuecomment-556032259)

[2019-11-21 16:15] globe21 commented on #694
has anyone had this error? "Running diagnostics...error Cannot read property '0' of undefined."
This happens when diagnostics is about to start running.
<img width="1320" alt="Screen Shot 2019-11-21 at 11 14 41 AM" src="https://user-images.githubusercontent.com/1266746/69355655-296abf00-0c50-11ea-9433-d814dd4841c3.png">

[2019-11-21 16:20] Work90210 commented on #861
Hi @artyorsh @thymikee
I am still running into the issue.  Does anybody have any suggestions for a fix?
I am unable to replicate anything without running into an issue.
When I run
`npx react-native init MyApp`

I get the same error message.

[2019-11-21 16:21] thymikee commented on #861
Thanks @artyorsh. The question was for @Work90210 because his environment is an issue.

[2019-11-21 16:27] Work90210 commented on #861
@thymikee I am running react-native v3.0.4

[2019-11-21 16:33] Work90210 commented on #861
To confirm, it is `npm un -g react-native` to uninstall?

[2019-11-21 16:35] thymikee commented on #861
Yes

[2019-11-21 16:48] Work90210 commented on #861
when i run `npm un -g react-native`
I get

[2019-11-21 22:08] SteveLockeUK commented on #733
Believe I have a similar issue. Attempting to follow the Getting Started guide results in the below error

[code]

[2019-11-21 23:13] fabiocosta88 opened #862 "Failed to parse React Native CLI configuration"
## Environment

## Description

## Reproducible Demo

[2019-11-21 23:13] #862 closed

[2019-11-21 23:16] fabiocosta88 opened #863 "Gradle exception: Failed to parse React Native CLI configuration"
## Environment

System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i5-3570 CPU @ 3.40GHz
    Memory: 1.47 GB / 7.96 GB
  Binaries:
    Node: 12.8.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.10.2 - C:\Program Files\nodejs\npm.CMD
  SDKs:
    Android SDK:
      API Levels: 25, 27, 28, 29
      Build Tools: 25.0.3, 28.0.3, 29.

[2019-11-22 12:40] nihp commented on #487
I am getting this error. How to fix this

[!] CocoaPods could not find compatible versions for pod "react-native-webview":
  In Podfile:
    react-native-webview (from `../node_modules/react-native-webview`)

Specs satisfying the `react-native-webview (from `../node_modules/react-native-webview`)` dependency were found, but they required a higher minimum deployment target.

[2019-11-22 20:11] Vednus commented on #795
I was running into this error: `Unexpected empty result of running 'npx --quiet --no-install react-native config' command from 'null' directory.` when building in appcenter (it built fine locally) and ended up having to downgrade `cli-platform-android` to `^2.9.0` based on this comment: https://github.com/facebook/react-native/issues/26929#issuecomment-555014695 In order to get it to work.

[2019-11-22 20:38] SteveLockeUK commented on #733
I've gotten around this issue by using yarn to install react-native-cli globally

[2019-11-23 09:54] gBusato commented on #484
I also downgraded to 12.4.0 and it worked

If you are using chocolatey on windows

`choco uninstall nodejs`
then
`choco install nodejs --version 12.4.0`

[2019-11-23 13:02] pjunior94 commented on #484
Same here, downgrading node from v12.13.1 to 12.4.0 to work

[2019-11-23 21:22] bneigher commented on #838
I am seeing this after upgrading to 0.61.4 react-native.  I've never installed react-native or react-native-cli globally.  Commenting back in the 2nd argument here didn't change it for me

[2019-11-23 21:30] bneigher commented on #863
I'm seeing this too - RN 0.61.4

[2019-11-23 21:40] bneigher commented on #863
Doing this: https://harrymoreno.com/2019/10/25/troubleshooting-react-native-androidx.html#upgrading-gradle seems to work for me

[2019-11-24 19:28] grabbou commented on #838
Looks like the JSON is invalid and `react-native config` works w/o issues here. So, to verify, could you run `npx --quiet --no-install react-native config` yourself and tell us what's the output? The CLI clearly has issues parsing the configuration.

[2019-11-24 19:39] grabbou commented on #863
@fabiocosta88, can you run

from `C:\Users\Master\Desktop\proj\UltimaTentativa`

and paste the output?

I wonder why Gradle says the JSON is invalid. Something must be wrong here and we need to get a reproduction to fix it for you and others!

Thanks for your collaboration

[2019-11-24 19:41] grabbou commented on #858
Sounds like we should extend the built-in check to go and check this file (if present) as well, because of the precedence?

[2019-11-24 19:42] grabbou commented on #857
One thing that I would like to understand here is: there's multiple build tools there (installed), how do we know which one is the active one? Because that may affect the report we provide under `doctor` command.

[2019-11-24 19:50] grabbou commented on #854
Can you make sure that your `./packages/mobile/package.json` lists `react-native` as a dependency?

In CLI 3.x, it's entirely decoupled from Android and iOS. That way, other platforms, such as Windows, can integrate in an easier way.

Now, the CLI detects the presence of a platform by looking up your `package.json` for projects. For example, if you have a `react-native` dependency listed in your `

[2019-11-24 19:52] grabbou commented on #853
Sounds like a plan. Would you mind sending over a PR? If there's no breaking changes, we can distribute it to existing React Native versions.

[2019-11-24 19:52] grabbou commented on #840
It looks like a good first issue to handle whitespaces. Thanks for reporting!

[2019-11-24 19:54] grabbou commented on #826
Thank you for sending this! I will look into it this week. There's some valid points here and I'd like to take some time to understand it and see if there's anything we can do to improve your DX. Appreciate time put into describing this.

[2019-11-25 10:18] lucasbento commented on #694
Hi @globe21, can you please open a new issue for this? It seems like a bug so we would like to fix it.

[2019-11-25 10:18] lucasbento commented on #694
I'm closing this issue as `doctor` has been released 🙂

[2019-11-25 10:18] #694 closed

[2019-11-25 10:24] lucasbento commented on #857
Perhaps @jmeistrich can help here as you worked on the current version of `androidSDK.ts`?

@grabbou: do you have any idea of which version is picked up when you run `react-native run-android`?

[2019-11-25 10:37] jmeistrich commented on #857
It was already using the first in the list before I got in there. But I added a bunch of code as a workaround because envinfo was not working on Windows. My pull request to envinfo made it in, so while you're at it you may want to reverse that part of my change and go back to using envinfo: https://github.com/react-native-community/cli/commit/05ef7bd6b0c4cadfe23f48cd38ff4c2d19c8eb1f

[2019-11-25 15:31] tad3j commented on #853
I've created a PR here: https://github.com/react-native-community/cli/pull/864

Not sure if new version of metro breaks anything, but seems like some tests are failing.

[2019-11-25 20:41] sibelius opened #865 "make React Native autolinkable"
## Describe the Feature

Right now we need to add a lot of pod specs to `link` react-native

check this https://github.com/facebook/react-native/blob/master/template/ios/Podfile#L42

[code]

This makes it hard to newcomers and also hard to support monorepo with yarn hoist, as we need to change from

../node_modules/react-native

to

../../../node_modules/react-native

## Possible Implementations

[2019-11-25 22:14] RichardLindhout commented on #865
Prefer the auto linking, since the react native libraries change a lot lately!

[2019-11-26 00:32] rita1987 opened #866 "Failed to create a react native project in win7 system"
# Environment
windows7

I use "npx react-native init AwesomeProject" to create a project in win7, but always failed.

![QQ图片20191126082819](https://user-images.githubusercontent.com/16029476/69589458-19bff180-1027-11ea-93c3-15a5b486faa3.png)

[2019-11-26 01:55] sibelius commented on #776
related to https://github.com/react-native-community/cli/issues/865

[2019-11-26 02:17] sibelius commented on #863
it looks like, it is a permission issue

Error: EPERM: operation not permitted, scandir

check if you have permission to write in this folder

[2019-11-26 02:18] sibelius commented on #854
I've solved like this on `native_modules.gradle`

[code]

[2019-11-26 02:18] sibelius commented on #838
I've solved like this on `native_modules.gradle`

[code]

[2019-11-26 02:20] sibelius commented on #793
I've solved like this on `native_modules.gradle`

[code]

[2019-11-26 02:21] sibelius commented on #624
I've solved like this on `native_modules.gradle`

[code]

[2019-11-26 05:03] Pinch1A commented on #866
suddenly same issue for me, having this error :
[code]

[2019-11-26 12:00] pasine commented on #863
I'm facing a similar issue on MacOS.
Not sure if this is related, but the error is also saying `Failed to parse React Native CLI configuration`.

I tried creating a new project from scratch.

This is working
[code]

This is not
[code]

[code]

[2019-11-26 12:48] fabiocosta88 commented on #863
Guys I just came back a backup that I had ... I don't know about the source of the error, but in this backup I just redid everything the same before and I didn't see the error again.

[2019-11-26 14:03] testshallpasswork commented on #795
I had same issue as @Vednus. I ended up adding the react-native-cli versions as resolutions in the package.json as described above.
[code]

[2019-11-26 15:36] julianD77 commented on #655
I was having a similar problem with this error message and then found that it was caused by a syntax error in my `package.json` (a missing comma 😞), so it is worth verifying that file is correctly formatted if it has been changed recently

[2019-11-26 17:10] danieltov commented on #735
Hey @ger86, Is there a similar fix for the exact same issue on Android? (https://github.com/facebook/react-native/issues/27334)

[2019-11-26 17:13] danieltov opened #868 "Metro not bundling Android ("done", but doesn't bundle)"
## Environment

[code]

## Description

Since upgrading to RN 61, I haven't been able to properly open my app on Android.

When I try to run the app with `react-native run-android`, the Metro bundler does not launch automatically.

When I run Metro with `npx react-native start --reset-cache`, it runs on port 8081 and loads the dependency graph but it doesn't bundle when I attempt to run the app on

[2019-11-27 08:38] nahidmbstu opened #869 "React Native CLI failed to determine Android project configuration."
## Environment

System:
    OS: Linux 5.0 Ubuntu 18.04.2 LTS (Bionic Beaver)
    CPU: (4) x64 Intel(R) Core(TM) i3-6006U CPU @ 2.00GHz
    Memory: 2.97 GB / 11.64 GB
    Shell: 4.4.19 - /bin/bash
  Binaries:
    Node: 8.10.0 - /usr/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.11.3 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  npmPackages:
    react: 16.9.0 => 1

[2019-11-27 14:12] lucasbento commented on #858
I opened the issue tabrindle/envinfo#137 as this problem can be solved there, if all goes well I'll open a PR there to get this issue fixed.

We are currently not using `envinfo` for the Android SDK check for the reason indicated [here](https://github.com/react-native-community/cli/issues/857#issuecomment-558095284) but we can easily switch to it.

[2019-11-27 14:13] lucasbento commented on #857
Okay, so, I'm currently investigating which version to use when running the doctor command, I would say it's the latest but I want to be sure.

If anyone knows how the sorting part of the versions works (or if it's set somewhere) please let me know, any help is appreciated 🙏

[2019-11-27 14:14] thymikee commented on #857
cc @dulmandakh ^

[2019-11-27 16:17] srthapa927 commented on #142
You can install plugins in android studio to auto run emulator.
Go to File > Settings > Plugins in android studio.
Search for [React Native Console](https://github.com/beansoftapp/react-native-console) or [ReactNativeTools ](https://github.com/smuyyh/ReactNativeTools) in marketplace and install.

[2019-11-27 16:37] WizardCodes commented on #869
am facing the exact same issue right now after running "gradlew clean"

[2019-11-27 20:38] satya164 opened #870 "RFC: Simplify workflow for native dependencies for libraries"
## The problem

Currently the CLI looks for packages in user's dependencies and links them if they contain native code that needs to be linked. Which works great for apps. But there's no way for libraries to specify any libraries they depend on that contain native code.

The current approach is to use peer dependencies to specify them. However, due to React Native core not including things like ge

[2019-11-27 21:07] thymikee commented on #870
Thanks for sending the RFC! Transitive deps indeed are a limitation we currently have with linking. Ideally we'd like to perform such discovery automatically. The biggest challenge I see is packages with different versions, when a dependency would add native deps to its own deps and mangling with all the prompts, choices, storing all of that – gets messy quickly.

That's why I'm leaning towards th

[2019-11-27 22:16] brentvatne commented on #870
I agree that option 1 seems better but I'm hesitant to overload `peerDependencies`.. future changes to npm may create problems for us if we do. I can't find tweet at the moment but I saw a mention from a npm employee of possibly installing `peerDependencies` automatically again. Behavior for warnings in `peerDependencies` is already is different between npm and yarn, and semver validation in `peer

[2019-11-27 22:41] rvgroup commented on #838
Try updating the Node to the version 10.17.0. It helped me.

[2019-11-28 05:32] maxkorp commented on #826
Sure thing! Please let me know if you have any questions or need me to try anything!

[2019-11-28 08:41] panda6412 commented on #808
As above react-native version, it seems like have been removed

[2019-11-28 09:58] grabbou commented on #838
@sibelius thanks! I remember @thymikee was saying `--quiet` mode did have its issues while running with `npx`. I will look into it this week.

[2019-11-28 11:11] Gerlison commented on #866
Could you try try with `npx @react-native-community/cli init AwesomeProject`?
It seems like a problem with react-native-cli template-config, that's the file wich indicates where the cli finds the template for your project.

[2019-11-28 11:19] HosseinAlipour commented on #484
I have the same issue with version 3.0.4, which is the latest right now, should I open a new issue?

[2019-11-28 12:08] sibelius commented on #838
another problem with `npx` that we can have mismatch version of `react-native` if you have many different projects in different react-native versions

[2019-11-28 14:23] richieamir commented on #733
si finally u used yarn to install.
now, i'm facing the same problem with u. pls give me advice

[2019-11-29 06:49] talatatac commented on #795
it's working. ty

[2019-11-29 07:27] shaoyinyi commented on #795
![image](https://user-images.githubusercontent.com/51771580/69851443-b3ec9780-12bc-11ea-8276-731069115912.png)
it seems we have the same problems ,by the way , my version : react-native-cli: 2.0.1
react-native: 0.61.5