[2018-09-26 21:38] grabbou opened #1 "Release checklist"
Using this issue to keep track of different things that have to happen in order for this to ship. Note that the list is not definitive and I expect some positions to be added over time.

- [ ] Work on the new file structure (possibly with Yarn workspaces)
- ...

[2018-09-28 11:50] lukewalczak opened #2 "Extend react-native-link command"
My suggestion/improvement for `react-native-link` command is to add an option to specify where new pod line should be added.

Why will you need it?

Let's say you have a project with multiple targets and multiple pods divided in some section like below:

[code]

Now if you are going to link new library eg. `react-native-screens` it would be awesome to have an option to indicate to which `def` sect

[2018-09-28 11:53] ferrannp opened #3 "Link assets customization for iOS and Android"
Right now we can do:

[code]

What do you think of:

[code]

In this way we won't link/copy assets that are not specific to one platform (like one font only used on iOS).

[2018-10-06 17:35] gowthamans268 opened #5 "bundling failed: Error: Unable to resolve module `./../../react-transform-hmr/lib/index.js`"
Looking for JS files in
   D:\LW_Mobile\Projects\helloworld

Loading dependency graph, done.
error: bundling failed: Error: Unable to resolve module `./../../react-transform-hmr/lib/index.js` from `D:\LW_Mobile\Projects\helloworld\App.js`: The module `./../../react-transform-hmr/lib/index.js` could not be found from `D:\LW_Mobile\Projects\helloworld\App.js`. Indeed, none of these files exist:
  *

[2018-10-07 15:33] gowthamans268 commented on #5
Update all the packages such as Node and react native cli
In Android studio install intel X86 Atom System Image, intel X86 Atom_64 System Image
Close all the npm Terminal
Open a new Command prompt and run react-native start --reset-cache
Open a new Command prompt and run react-native run-android

[2018-10-07 15:33] #5 closed

[2018-10-11 17:29] Esemesek opened #6 "local-cli package.json"
Create `package.json` with all necessary dependencies inside `local-cli` package.

[2018-10-11 17:51] grabbou opened #7 "Improve start-up time"
We need Babel because there are Flow types inside.

We should consider the following:
- convert the whole project to Typescript
- pre-compile the CLI before publishing to `npm` to speed up the start-up time (which is extremely slow right now)

I guess we can start with the latter and consider doing the former at some point. I am also a big supporter of ReasonML and would love seeing parts of the C

[2018-10-15 17:16] ferrannp opened #8 "Command to link only assets"
Something like `react-native link --assets` ? Right now I cannot find a way to do this and it's not good in my project to run the whole `react-native link`.

Another interesting stuff is that you can run `react-native link anyPackage` and it will also link all the assets too. Is that desirable ?

[2018-11-06 13:05] grabbou opened #12 "`run-ios` should use config"
Right now it has its own detection mechanism for `ios` files. Should use the config that already does that job.

[2018-11-06 14:33] grabbou opened #14 "`init` command has runtime errors that should be unit tests"
There's no need to validate React Native's package.json on client-side. This should be an error before we even publish React Native (or removed at all as it sounds like a fundamental feature of React Native).

Throwing this during runtime has no point.

https://github.com/react-native-community/react-native-cli/blob/a56441021f6455b61f353fcb137d17c86ccc0043/packages/cli/src/commands/init/init.js#L5

[2018-11-06 16:15] #1 closed

[2018-11-07 13:43] grabbou opened #16 "Use Babel instead of `metro-babel-register`"
We don't need a whole bunch of React Native-specific presets to be loaded. We can use a simple `babel-register` with `babel-preset-env` to determine a subset of transforms to run based on the current Node environment.

That should help us improve startup time and remove lots of code to support Jest tests (including `fbjs-scripts` package).

[2018-11-07 14:14] ferrannp opened #17 "Exclude a package from react-native link"
See: https://stackoverflow.com/questions/49851602/how-do-i-exclude-a-package-from-react-native-link

I think this will be useful (and maybe even necessary if some libraries break).

[2018-11-09 07:20] Krizzu opened #19 "Support Kotlin projects"
Adding support for Kotlin based Android projects.

Link could detect if project is Java/Kotlin based and act accordingly.

[2018-11-09 10:15] #16 closed

[2018-11-09 10:22] grabbou opened #21 "Decouple CLI from Metro"
In order to support different bundlers in the future (and also to clean up the codebase a bit), we should make a separate package for the `server` command. That would allow us prepare for decoupling in the future, but also to further decouple CLI from Metro where it doesn't need to use it.

[2018-11-09 10:45] grabbou opened #22 "Remove Node version check"
Package entry should be enough + `engineStrict`.

[2018-11-09 16:17] thymikee commented on #7
Also use [inline-requires](https://github.com/zertosh/babel-plugin-transform-inline-imports-commonjs) once we have the compilation, should speedup the init load significantly

[2018-11-09 16:20] thymikee opened #25 "Make link work for specified platform only"
Basically
[code]

[2018-11-14 20:16] empyrical opened #27 "Support for Yarn Plug 'n Play"
This is a meta issue to keep track of the things that need to be tweaked to give RN-CLI support for Yarn Plug 'n Play. This is probably non-exhaustive, more things might be found as others are tweaked.

 - [ ] Global CLI: Support for finding `react-native` and `react-native-local-cli` when PnP is enabled (in progress: #26 )

 - [ ] `react-native bundle`: Support for bundling dependencies with PnP.

[2018-11-16 06:11] empyrical commented on #21
Maybe a new plugin format could be made, like: `rnpm-bundler-metro`, `rnpm-bundler-haul`, `rnpm-bundler-parcel`, etc? and `app.json` could have the preferred bundler specified

[2018-11-20 09:58] grabbou opened #29 "Naming strategy"
Opening this issue to discuss the naming strategy for packages included in this repository in the npm registry.

Right now, there's this concept of a global CLI. It's meant to be installed only once and rarely updated. It's a single file that does two things:
- it installs `react-native` from npm registry and uses `local-cli` bundled with it to init a new project
- it proxies all calls to `node_mo

[2018-11-20 10:04] grabbou commented on #29
^ `react-native-scripts` is already taken by `create-react-native-app`. That said, the only alternative that comes to my mind is `react-native-tools`.

It's [already taken](https://www.npmjs.com/package/react-native-tools), but I think we can do something about it.

[2018-11-20 10:08] cpojer commented on #29
Yep, just adding here that as we are thinking of taking the cli out of the RN repo, it's a good opportunity to rethink the naming. `react-native-cli` absolutely makes sense as it is the user-visible entry point but the `local` in `react-native-local-cli` is not adding any value and I believe it's actually confusing when people have to deal with it.

[2018-11-20 11:53] thymikee commented on #29
How about using scoped packages and have `@react-native/cli`, is that possible?

[2018-11-20 12:05] cpojer commented on #29
I think @thymikee’s suggestion makes a ton of sense.

[2018-11-20 13:44] grabbou commented on #29
Right. I believe we already had a discussion regarding scoping slimenned modules under `react-native` namespace and came to a conclusion not to do so.

CC: @kelset do you remember this?

Either way, this means that:
a) we need to change `react-native-cli` to `@react-native/cli` which is a breaking change for all the people that have it already installed globally and something we wanted to avoid
b)

[2018-11-20 13:51] cpojer commented on #29
I would propose to keep `react-native-cli` as the global module, and rename the local cli to `@react-native/cli`. That way you have a global entry-point, but a scoped module that does all the work.

[2018-12-06 02:24] james1888 opened #31 "Metro automatically started when build with Release scheme on iOS"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.1
      CPU: (4) x64 Intel(R) Core(TM) i5-4570R CPU @ 2.70GHz
      Memory: 28.95 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.12.0 - /usr/local/opt/node@8/bin/node
      Yarn: 1.12.3 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/opt/node@8/bin/npm
      Watchman: 4.9.0 - /usr/local

[2018-12-06 15:36] ferrannp opened #32 "--appFolder on Android not really working as expected"
Let's say you have more than 1 app in your android directory. When you do:

[code]

It is installing all apps. This is because under the hood the cli is running `./gradlew installDebug`. (or whatever variant). Instead it should be:

[code]

[2018-12-07 14:22] grabbou opened #34 "Release notes"
I am working on a bunch of upgrades and will need to write a changelog soon.

Here's list of things to include before we release it - has to happen in time of next React Native RC:

- [ ] `config.getProjectConfig()` etc. are deprecated for plugin authors and the message says to check the release notes. Once we provide a public interface (in the subsequent PR), update the deprecation message with t

[2018-12-07 14:24] grabbou commented on #32
Is the use-case having many apps under `android` folder or simply having a different than `app` name?

What are the multiple apps for? Are all of them React Native ones? Trying to understand how e.g. `link` command should behave in such case.

[2018-12-07 14:25] grabbou commented on #32
Shall we detect when there are multiple apps and print a warning that multiple apps were detected and we selected the first one. Pass `--appFolder` flag to choose an appropriate one.

[2018-12-07 14:30] grabbou opened #35 "Roadmap"
There's a lot on the plate to be done in the upcoming months, I am going to write here a roadmap really soon for you to check and give some suggestions.

Right now, I want to focus on high-priority tasks (bug-fixing, improving "obvious" issues) while keeping work on the v2 in the meantime).

[2018-12-07 14:33] grabbou opened #36 "Improve overall interface"
The CLI experience is very `raw`. We should analyse what other CLI tools do in that space (Yarn, Jest and more - suggestions are welcome) and try to come up with our plan.

I've been working quite heavily on Haul where we did a "Create React App" - like interface that takes up the whole available space and cleans up the terminal when e.g. the build finishes.

I am leave this issue here open for di

[2018-12-09 06:25] bartolkaruza opened #37 "Make iOS linking to Podfile or directly linking as framework an option for library maintainer and for consumer"
Since the introduction of the Cocoapods check in this [PR](https://github.com/facebook/react-native/pull/15460), any project with a Podfile linking any library with .podspec will be linked by adding the library to the cocoapods. Although this is theoretically the desired behaviour and a much better way to link libraries, there are various reasons why some libraries need to be linked in the direct

[2018-12-09 13:33] gengjiawen opened #38 "Make make android signature config more easy."
This also benefit for user easily set up ci.
* add debug sig by default
* make release sig more easily.

[2018-12-10 00:42] cpojer opened #39 "Use the template from React Native"
The template can now be found in the root of react-native here: https://github.com/facebook/react-native/tree/master/template

Using the template from RN will allow us to keep the template in sync with RN, and it will allow the CLI to work with different versions of RN. If we do not use the template from the RN repo, the CLI repo will need to maintain the template for each version of RN it support

[2018-12-10 10:00] grabbou commented on #39
Thanks! I'll work on that as soon as my other PR gets merged. We need to implement this before cutting next RC.

[2018-12-10 10:20] n1ru4l commented on #17
Yes IMHO libraries should defined whether they can be `react-native link`'ed or not.

[2018-12-10 10:42] bartolkaruza opened #40 "Run-android does not support launching Activity with different applicationId from package name defined in productFlavor"
Migrated from React Native:
https://github.com/facebook/react-native/issues/22022

[2018-12-10 10:48] bartolkaruza opened #41 "React-native link only links to 1st Xcode target"
Migrated from React Native repo
 https://github.com/facebook/react-native/issues/22162

[2018-12-10 23:17] grabbou opened #42 "Update "react-native-cli" to use new CLI"
It has hardcoded paths to "react-native" (old CLI location).

Update: https://github.com/react-native-community/react-native-cli/blob/5d76ac9dcffa9cd5daa7e24bcd377b20e728faef/packages/global-cli/index.js#L64-L66 and https://github.com/react-native-community/react-native-cli/blob/5d76ac9dcffa9cd5daa7e24bcd377b20e728faef/packages/global-cli/index.js#L240-L249 to point to a new location.

Once this h

[2018-12-10 23:24] grabbou opened #43 "Fix duplicate Android packages being linked"
Recent commit updated Android part of the link mechanism to use "implementation" instead of "compile" to align with what Gradle recommends: https://github.com/react-native-community/react-native-cli/commit/c6c34a2a6e0d5898a62bc10b7c2936cadba3e071

Unfortunately, it breaks the detection of an already installed packages.

The way "link" detects an installed package on Android is by looking for "comp

[2018-12-10 23:33] grabbou commented on #43
Also - question - is the Gradle plugin version enforced by React Native? I am not really familiar, need to check, but... is the newer plugin version required, otherwise project will not build?

If not, I can see scenarios when `v3` is not used (hence "implementation" is not even present). In that case, we should detect Gradle version before even proceeding.

[2018-12-10 23:38] grabbou commented on #38
Since the HelloWorld template is still in React Native repository - I believe this issue belongs there, right?

The `templates` folder in this repository is going to be removed soon, when I finish migration between the two repositories.

[2018-12-10 23:51] dulmandakh commented on #43
IIRC, we landed Android Gralde Plugin 3.x in RN 0.56 and we must be using implementation because Gradle will show deprecation warning if you use compile or compileOnly. So we should've fixed linking a long before.

Usually, Android Gradle Plugin is versioned as same as Android Studio and used in it. And Google adds features, enhancements in it, so it's best to use latest version. Also Gradle versi

[2018-12-11 08:47] thymikee commented on #43
I'd like to add one more case where new CLI reports a duplicate:

[code]

Seems like the extra paren(s) before `project` is not taken into consideration

[2018-12-15 09:50] grabbou commented on #36
https://github.com/react-native-community/react-native-cli/pull/30#discussion_r240776317

[2018-12-15 09:50] #22 closed

[2018-12-15 09:55] grabbou commented on #21
Yeah. That's the way to go. We need to now extract "Metro" into a separate plugin to start with. Going to open an additional issue to track that.

[2018-12-15 09:55] #21 closed

[2018-12-15 09:57] grabbou opened #46 "Move "metro" commands to a separate package"
Right now, "start" and "bundle" Metro commands are hardcoded in the CLI. We should make a plugin, e.g. "react-native-metro-commands" and move them there.

Would be a good first step towards welcoming other bundlers.

Note: This is non-trivial since both start and bundle have some additional logic, such as "express.js" server that is used by React Native to provide dev tools.

I am pretty sure we n

[2018-12-15 10:04] grabbou opened #47 "Use "metro-react-native-babel-transformer" package"
Instead of requiring private transformer from the "metro/src/...". This is newly created package that has been added to React Native in this commit: https://github.com/facebook/react-native/commit/f5cb4b68ebd3188fcc321cd39210a0e56730e946

[2018-12-15 10:07] grabbou commented on #40
Thanks for importing this issue. Have you tried using `--appId` flag available for `react-native run-android`?

If yes, and it doesn't provide expected results, then it's something we should definitely fix.

[2018-12-15 10:09] grabbou commented on #8
That is a bug. It should link only assets from that project.

[2018-12-15 10:13] grabbou opened #48 "Make package name required for "link""
When you don't pass a package name to the "react-native link", it will try to look for all packages to link from your node_modules.

This is causing us a lot of issues, such as linking wrong packages or the ones that someone doesn't want to link (e.g. decided to use a different way of linking that is out of scope for this command).

We should simply stick to requiring package name.

[2018-12-15 10:14] grabbou commented on #17
Closing in favour of #48

[2018-12-15 10:14] #17 closed

[2018-12-15 10:17] grabbou opened #49 "Move "core" to a separate package, such as "cli-tools""
The `local-cli/core` is not really a core, it's just a set of useful "tools" that can be used to locate iOS project somewhere etc.

In order to make it easy for other plugins and packages to use this, we should definitely make it a separate package with public interface.

Right now, some developers are requiring them directly from "build" or "src" folder, which is dangerous.

[2018-12-15 15:26] prashantsaini1 opened #50 "iOS/Android test-app not able to even build after a complete new setup"

[2018-12-18 13:22] deadcoder0904 opened #51 "Health check command"
### Introduction

A way to verify react-native installation is complete and working?

### The Core of It

I was just checking out Flutter & I see there is a thing there called `flutter doctor` which ensures that installation is complete & working. I think it makes sense for React Native to have something like a `react-native doctor` or `react-native health` or something else.

### Discussion point

[2018-12-19 10:04] grabbou commented on #50
Can you please provide a better explanation of this issue?

[2018-12-19 11:51] grabbou commented on #36
I really like "Yargs" and the way it's set up in Metro CLI. I am thinking this should help us simplify the overall interface even more and get rid of custom "parsing" functions that are causing an unnecessary maintenance.

[2018-12-19 11:57] grabbou opened #53 "Use "templates" folder from React Native"
Right now, CLI uses its own "templates/HelloWorld". This folder should be removed entirely and we should use the "HelloWorld" template bundled with React Native.

[2018-12-19 12:09] grabbou commented on #51
Thank you for submitting this issue.

Have you tried looking at `info` command?

[code]

It has similar output and is something we can definitely work on.

[2018-12-19 12:10] grabbou commented on #51
CC: @fson - I know you already have similar command built into Expo (that checks project asynchronously via xdl). Would you mind providing some explanation whether that's super Expo-specific network request or something we could possibly extract to the CLI too?

If we can provide you a "good base" for your command, that's also a great benefit.

[2018-12-19 12:31] grabbou opened #54 "Few unit tests are disabled"
There are 3 unit tests that are disabled for historical reasons. Unfortunately. I don't really remember what was the original reason.

Let's re-enable them (might need some little adjustments).

[2018-12-19 12:36] grabbou commented on #51
@deadcoder0904 not sure I understand - are you saying that `info` could be improved as per the output you presented in the first post?

Generally speaking, I think we should look at the current output of "info" and try thinking of anything that's missing and what is causing users headaches too often.

For example - when "info/doctor" detects that given Xcode or Node version is not supported, shall

[2018-12-19 14:02] deadcoder0904 commented on #51
No, I am saying rather than using the command `node ./cli.js info`, maybe use `react-native info` for better UX.

Yes. Check out `flutter doctor` output above :)

[2018-12-19 16:50] grabbou commented on #51
Ah, yeah, "react-native info" is the way to do it. I was just running from within this repository (debug mode, running from source code).

[2018-12-20 06:42] dotconnor opened #57 "Custom Targets Break Link (buildConfigurationlist of undefined)"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
Run `react-native info` in your terminal and paste its contents here.
[code]
## Description
Describe your issue in detail. Include sc

[2018-12-20 18:17] IljaDaderko commented on #51
Info won't highlight any missing bits though would it? i.e. it shows you info about your project and setup, but `flutter doctor` also highlights missing bits in red i.e. "No android sdk" installed. Further down the error there will also be a suggestion like `Fix this by installing android studio from http....`

This could be a nice touch since when starting project without expo we do have few peac

[2018-12-20 20:49] Esemesek commented on #54
I'm on it C:

[2018-12-21 21:32] Esemesek commented on #53
Is this a duplicate of #39 ? 🔢

[2018-12-22 11:42] Esemesek commented on #39
I was investigating this issue. We can use `svn` to get the files without cloning the whole `react-native` repository. Sadly, `git` doesn't support this use case.
[code]

[2018-12-22 16:31] grabbou commented on #39
Not sure we need it. If you look at the init script - it installs React
Native to node_modules and they are already present at the time of the
command running. We can just access them from that folder.
On Sat, 22 Dec 2018 at 12:42, Kacper Wiszczuk <notifications@github.com>
wrote:

[2018-12-22 16:32] Esemesek commented on #39
Right. Forgot we have it already there :P

[2018-12-31 09:13] Jyrno42 opened #60 "Packager looks for project files in wrong directory when building from source"
I encountered an issue with a [test project](https://github.com/Jyrno42/rn-geoloctest) that uses RN built from source. For some reason I need to patch `getProjectRoot` inside `node_modules/react-native-local-cli/util/Config.js` to go up one more directory. Since the file resides in `<APP_ROOT>/node_modules/react-native-local-cli/util` the default `../..` results in packager looking for the app fil

[2019-01-02 13:15] gengjiawen opened #61 "Specify CI to be integrated while initing a new project"
Provide command line to make them easily integrate ci system.

CI file can check here https://github.com/react-native-community/ci-sample.

Related: https://github.com/facebook/react-native/issues/22779.

[2019-01-08 09:37] grabbou commented on #53
Yes, closing it.

[2019-01-08 09:37] #53 closed

[2019-01-08 09:38] grabbou commented on #19
This has to wait until we finish rewrite of the `link`. We don't know yet what is the outcome of that, postponing for now.

[2019-01-08 09:47] grabbou commented on #40
@bartolkaruza, were you able to confirm if my suggestion fixes the issue?

[2019-01-08 09:48] grabbou commented on #41
This is not something we can fix at the moment due to architecture limitations of the CLI. Keeping it for the future.

[2019-01-08 09:52] grabbou commented on #47
Fixed in
https://github.com/react-native-community/react-native-cli/commit/861947180c27105b7b4859fffdd957d2ed3eed68

[2019-01-08 09:52] #47 closed

[2019-01-08 10:00] grabbou commented on #60
This should be already fixed since "project" we listen for files now defaults to "process.cwd()" instead of "../../" (etc) which can result in weird issues.

Let me know whether this happens with 0.59.0-rc.0 release of React Native (to be released next week). I will update this issue when it's available.

[2019-01-08 10:00] #60 closed

[2019-01-08 10:02] grabbou opened #62 "Add contributing documentation"
Create "Contributing.md" and describe our testing process and how to contribute to the project.

CC: @Esemesek, based on our findings, most likely

[2019-01-09 05:03] bartolkaruza opened #65 "New Typescript projects created with the CLI do not build/run correctly"
Migrated from RN core: https://github.com/facebook/react-native/issues/22914

This issue covers points 2 and 3 from the React Native issue posted above.

adb: failed to stat app/build/outputs/apk/app-debug.apk: No such file or directory
Command failed: /usr/local/share/android-sdk/platform-tools/adb -s 99523a0828712a92 install app/build/outputs/apk/app-debug.apk
Could not install the app on the de

[2019-01-09 08:10] grabbou commented on #65
So this issue can be divided into two, separate parts: First, the OP has problems getting Typescript up & running (which is something to report to the maintainers of the Typescript template) and building the app on the simulator - which is something we should probably look at.

[2019-01-09 12:55] bartolkaruza commented on #40
Thanks for the reminder, just checked; works as documented and expected. Thanks a lot!

[code]

```react-native run-android --variant=blueDebug --appId=com.flavorrunandroid.blue```

[2019-01-09 12:55] #40 closed

[2019-01-09 15:56] Ragzzy-R commented on #40
I am having this same issue for a different scenario.  We wanted to rename the root package as we had some issues with the playstore and now my `react-native run-android` don't work.

I renamed the files properly on android studio side and it builds without any error.
I changed the  `external.linked.project.id="com.yourstory.mobile"`  attribute of `<Module>` in the .iml file.
changed rootproject n

[2019-01-09 17:08] fson commented on #42
Looks like this is already done, [`local-cli/cli.js` imports `react-native-local-cli`](https://github.com/facebook/react-native/blob/2f32fea79a50bdae303126f6d5288ea447f5331b/local-cli/cli.js#L12). I wouldn't go as far as removing that file from `react-native`, because existing projects created with `react-native init` reference it in the `start` script in `package.json` and tools like Expo CLI use

[2019-01-09 17:14] fson opened #68 "assetExts passed to `react-native start` as a command line argument is ignored"
I found this bug in React Native v0.57 and even though the Metro config handling in `react-native start` has changed a bit since then, it looks like this bug exists in `react-native-local-cli` as well.

It seems that we need to handle `assetExts` here, the same way `sourceExts` are handled: https://github.com/react-native-community/react-native-cli/blob/6de63fed2c931ba15296b3d51d85332030d741fd/pac

[2019-01-09 17:19] ferrannp commented on #43
There will be also an issue if you use:

[code]

[2019-01-09 22:48] Esemesek commented on #61
@gengjiawen So basically you want to have an additional command line flag passed to `init` command that will indicate if the user wants integration for chosen `ci` platform? For example:
[code]
Correct me if I misunderstood you C:

[2019-01-09 23:02] Esemesek opened #70 "Missing issue and PR templates"
We should add issue and PR templates to meet community standards. It should be something simmilar to https://github.com/facebook/react-native/tree/master/.github .

[2019-01-10 11:34] gengjiawen commented on #61
Not just that. He can still add or update any ci after the project is created.

[2019-01-10 11:36] gengjiawen opened #71 "[Feature request] create android util package."
Like add util wait for emulator online. Make it easier for android to do instrumentation test.

[2019-01-10 14:16] grabbou opened #73 "Fix failing flow issues"
There are flow issues in the repository that we were ignoring for a while. Opening this issue to keep track of them and work towards fixing them.

[2019-01-10 14:24] ferrannp commented on #25
A bit related to: https://github.com/react-native-community/react-native-cli/issues/3. Tbh I'd be nice first of all:

1. Not running the whole `link` because in most cases it causes things you do not want to happen
2. Have some config in `package.json` with list of packages to be linked and possibility to choose some only for android or ios

Anyway these are all ideas. What you propose should be m

[2019-01-10 14:24] grabbou commented on #42
Yeah, @fson, this is totally our idea. In this issue, we are talking about "react-native-cli" (npm package, global CLI) to call into the right file, instead of the proxy.

[2019-01-10 14:44] grabbou opened #74 "Some assets may get duplicated when running "link""
When linking two dependencies that define the same asset, "link" will copy (on Android) or link (on iOS) that asset twice.

We don't check if the asset already exists when linking. At the same time, we also can remove the asset when unlinking.

This is more a note when working on a next version of link.

[2019-01-10 14:51] grabbou commented on #71
Good idea. We want to do it (same for iOS), it's: #49. This is also something related to our work with Expo, where we want to make both of the CLIs work great together.

[2019-01-10 14:51] #71 closed

[2019-01-10 14:52] #32 closed

[2019-01-10 14:57] grabbou opened #75 "Unify "process.cwd()" calls"
This is easy one.

After creating a "config.root" value and explicitly defining "projectRoot" flag for every command, we should make sure that all the commands use it, instead of "process.cwd()".

Otherwise, it may give unexpected errors during runtime.

How to go about implementing it?

1) Make sure that none of the commands define their own "--root" or something. If they do, remove it and replac

[2019-01-10 14:59] grabbou commented on #35
We are wrapping up our work on high-priority issues. We are having an internal meeting next week to discuss the future roadmap and areas where we have to improve.

If you are reading it and want to be part of such meeting, please let me know.

[2019-01-10 15:00] grabbou opened #76 "Get rid of a global "react-native-cli" package"
Waiting for the detailed write-up from @thymikee on this one.

[2019-01-11 13:48] thymikee commented on #42
@grabbou do you mean replace the `start` command with this instead of proxy?
[code]

It would require users to install `react-native-local-cli` because of how package managers work (not every each of them hoists dependencies to the root node_modules – it's an implementation detail)

[2019-01-11 14:50] grabbou commented on #42
We only need to replace it with "start": "react-native start" I guess. When CLI is present in the "node_modules", it should call the "bin". Otherwise, I imagine it will call the global "react-native" CLI which proxies all the calls to "node_modules" anyway.

[2019-01-11 16:53] #42 closed

[2019-01-11 16:53] #43 closed

[2019-01-11 17:45] #25 closed

[2019-01-12 12:34] gengjiawen commented on #71
Thanks for the info.

[2019-01-12 12:36] gengjiawen commented on #49
Some features I love to have:
* Like add util wait for emulator online. Make it easier for android to do instrumentation test.

[2019-01-12 14:43] gengjiawen commented on #39
Is there anyway I can init template from the `facebook/react-native` repo now ?

[2019-01-14 12:48] grabbou commented on #70
Good idea.

@Titozzz - do you have something already set up in WebView that we could treat as a "standard"? If not, let's pick something and see if we can use it together.

[2019-01-14 12:48] grabbou commented on #68
Going to be fixed in #56

[2019-01-14 12:58] Titozzz commented on #70
We reeeeeally need one and we don't have one yet so I'm very happy to discuss that

[2019-01-14 14:13] pvinis opened #87 "Support for network connected devices on Xcode"
Xcode can connect and run apps on devices that are connected with wifi. It would be very useful to be able to run `react-native run-ios --device` and the app runs on a device that's connected with wifi, and not necessarily with a cable to Xcode.

I can try to make this happen. Is that alright? Would this be accepted?

[2019-01-14 14:32] pvinis commented on #35
Yes, please. How would that work? Thanks.

[2019-01-14 20:11] ashfurrow opened #88 "Project from react-native init no longer includes __tests__ directory"
Originally opened here: https://github.com/facebook/react-native/issues/19761

The project generated by running `react-native init` no longer includes a `__tests__` directory. At some point, it did but I can't find where in any changelogs that it was removed. I most recently tested this with `react-native-cli` version 2.0.1; you can read the issue linked to above for more context.

The `init` comm

[2019-01-14 20:29] mauricioscotton opened #89 "react-native link stuck"
- [YES] Review the documentation: https://facebook.github.io/react-native
- [YES] Search for existing issues: https://github.com/facebook/react-native/issues && https://github.com/react-native-community/react-native-cli/issues
- [YES] Use the latest React Native release: https://github.com/facebook/react-native/releases
- [YES] Googled A-LOT for this bug, nothing found.
- [YES] Posted in the wrong

[2019-01-15 00:34] fson commented on #51
`expo doctor` checks a bunch of things and prints error messages if something is wrong. We also perform the same checks asynchronously when you run `expo start` and before publishing project in `expo publish` etc. and I think this is how most of people see the warnings/errors, rather than running the `doctor` command per se.

Out of the checks we do, I think these are specific to Expo:
- Check tha

[2019-01-15 09:42] mauricioscotton commented on #89
Guys, my guess was right.
I've installed NVM4W (Node Version Manager 4 Windows),
Then, I've installed Node v10.15.0 and ran:
_nvm use v10.15.0_
_react-native link_
And the expected behaviour:
![image](https://user-images.githubusercontent.com/34411735/51171706-7ef47380-18a9-11e9-9336-c5da21199cf1.png)
![image](https://user-images.githubusercontent.com/34411735/51171731-90d61680-18a9-11e9-9419-7de0

[2019-01-15 09:46] mauricioscotton commented on #89
Guys, my guess was right.
I've installed NVM4W (Node Version Manager 4 Windows),
Then, I've installed Node v10.15.0 and ran:
_nvm use v10.15.0_
_react-native link_
And the expected behaviour:
![image](https://user-images.githubusercontent.com/34411735/51172101-66d12400-18aa-11e9-9078-6a7f3076ab30.png)

So now, the bug is reduced to new version of CLI with old Node v8.11.3..

Are you guys able to p

[2019-01-15 13:36] #68 closed

[2019-01-15 13:59] grabbou commented on #48
Please leave a comment if you are using `react-native link` to link your project assets and describe your use case. This behaviour will be also deprecated since the name of the package is going to be required.

[2019-01-15 21:52] voxspox opened #90 "git-upgrade fails if email is not set global for git"
see https://github.com/facebook/react-native/issues/18020

[2019-01-16 10:47] grabbou commented on #35
@pvinis we just had the meeting few days ago - I'll let you know when the next comes up upfront!

[2019-01-16 10:47] #35 closed

[2019-01-16 11:01] grabbou commented on #29
Going to go with `@react-native/cli` for the initial release.

[2019-01-16 11:01] #29 closed

[2019-01-16 11:03] thymikee commented on #89
We're planning on adding `--verbose` command that should improve it

[2019-01-16 11:04] #34 closed

[2019-01-16 11:04] grabbou commented on #39
Not yet, in a day or two, when we release this version, you will be able to just use the CLI to do it.

[2019-01-16 11:05] #41 closed

[2019-01-16 11:06] grabbou commented on #87
Yeah, sure, that sounds like a good option! Please feel free to do it. I think we already support '--device' flag, you should be able to use it, right?

[2019-01-16 11:08] grabbou commented on #90
I've reopened the original issue since `git-upgrade` is still in React Native repository. Sorry for the confusion!

[2019-01-16 11:08] #90 closed

[2019-01-16 11:09] grabbou commented on #49
CC: @fson - this is definitely area for us to discuss

[2019-01-16 11:11] grabbou commented on #51
This is a good idea! Would be great to have an established communication protocol for both CLIs to talk together.

[2019-01-16 11:12] thymikee opened #91 "Improve `init` command"
We should look at the `react-native init` behaviour and think about improving the way it works.

Here are some of the things that could be improved:
- Using custom templates. Right now, when you init a new project with a custom template, it gets applied on top of the default one. This makes it a bit confusing when applying e.g. a Typescript template, where you end up with Flow configuration (left-

[2019-01-16 11:22] grabbou opened #92 "Use `dependencies` command from Metro"
Now, that our PR is merged, we could easily use `dependencies` command from Metro, instead of the code we have here.

[2019-01-16 11:25] grabbou commented on #65
I wasn't able to reproduce this issue.

Closing as per this comment: https://github.com/facebook/react-native/issues/22914#issuecomment-452400079

[2019-01-16 11:25] #65 closed

[2019-01-16 11:25] #50 closed, assigned to nobody

[2019-01-16 13:01] pvinis commented on #87
yes, basically I want to expand that so it supports network devices too. cool.

[2019-01-16 13:11] cpojer commented on #76
One thing to consider is that `npx` and `yarn` use separate caches, so if you were using both, the cache has to be warmed up twice.

[2019-01-16 13:20] pvinis commented on #76
do you mean npx or npm?

[2019-01-16 13:22] cpojer commented on #76
They use the same cache for global modules.

[2019-01-16 13:31] thymikee commented on #76
@cpojer is there a proposal for `npx` equivalent for yarn? there was `yarn create` but I don't think it covers this use case?

[2019-01-16 13:33] cpojer commented on #76
I don't think there is but since the logic is already there with `create`, it should be easy to propose a new command and send a PR with the same feature.

[2019-01-16 13:41] thymikee commented on #76
Time to prepare a RFC for this then. I'll try to set this up this week, but if anybody willing to work on it earlier, feel free to do so and make us know :)

[2019-01-16 15:18] grabbou commented on #70
Some inspiration from another community package: https://github.com/react-native-community/react-native-camera/tree/master/.github/ISSUE_TEMPLATE

[2019-01-16 15:31] grabbou commented on #87
Let me know if you need any help - fingers crossed!

[2019-01-16 16:10] thymikee commented on #76
FYI I've spoken to @arcanis and I plan to PR a new `yarn gx` command (global execute) that would install the package globally populating the cache (would most likely base on `yarn create` code).

So, if you're npm fan you'll use
[code]
And for Yarn lovers:
[code]

How does that sound?

[2019-01-16 16:18] cpojer commented on #76
I think that's good. We could make it so that `react-native-cli` gets updated and just calls either of the two.

[2019-01-16 16:34] thymikee commented on #76
You mean for the back compat? I thought about ditching that package and don't mention it in official docs

[2019-01-16 16:35] cpojer commented on #76
Yeah, for backwards compat we should probably do it.

[2019-01-16 16:39] pvinis commented on #76
isn't `yarn bla` looking for a script called `bla` first, and then looking for a local bin called `bla`?

[2019-01-16 16:51] Esemesek opened #95 "Unify logging"
Unify logging through-out the `cli`. We will need a couple of levels of logging:
- `ERROR`
- `WARNING`
- `INFO`
- `DEBUG` - we will need it for `--verbose` logging

Could be very similar to Haul's logger: https://github.com/callstack/haul/blob/next/src/logger.js

[2019-01-16 16:54] Esemesek opened #96 "Add verbose logging to all commands"
Add `--verbose` flag to enable `DEBUG` log level.
Logger unification and implementation is tracked in #95

[2019-01-16 17:21] rickhanlonii commented on #76
@thymikee I'm not in love with it - it seems to do the same as `yarn create` but doesn't have most of the advantages of `npx`. If you put in an RFC, I can leave some thoughts

[2019-01-16 17:30] thymikee commented on #76
I'll let you all know once I make RFC, I didn't post everything in my comment :D

[2019-01-17 14:12] pvinis commented on #87
Alright, so two things:
- This repo is not yet integrated with the `react-native` repo right?
- I actually tried to `run-ios --device` using this repo for the local-cli, and it did find my network phone, but then `ios-deploy` doesn't support it. https://github.com/ios-control/ios-deploy/issues/370 and https://github.com/ios-control/ios-deploy/issues/320

[2019-01-17 19:12] Esemesek commented on #92
Since we deprecated `dependencies` in the current release, we might even remove this command entirely. WDYT?

[2019-01-17 19:57] grabbou commented on #92
That's what deprecation message says, yay!

[2019-01-18 16:48] #39 closed

[2019-01-19 15:06] thymikee commented on #76
FYI https://github.com/yarnpkg/rfcs/pull/113

[2019-01-19 21:07] Esemesek opened #103 "Create documentation"
Create `cli` documentation. Official `react-native` docs don't provider enough information about all commands, functionalities and examples.

[2019-01-21 12:40] #7 closed

[2019-01-21 13:07] grabbou opened #107 "Get rid of "CFBundleIdentifier" error"
This is super old issue that happens when you run "run-ios" (usually for the first time on a newly inited project). It's one of the pinned issues in React Native and one of the most popular errors people are struggling with.

If this is a "wont fix", we should consider changing the logic of the command itself to avoid this mistake.

I am opening this issue as a memo for the future.

Related: https

[2019-01-21 18:07] zabojad opened #110 "react-native init should have a folder option in addition to the current ProjectName one"
As written in the title, a `folder` option would be very welcome. It should allow to give a different location to the default one it currently uses.

We should be able to do:
[code]
or
[code]

[2019-01-21 18:08] thymikee commented on #110
I think that makes sense

[2019-01-23 11:16] punksta opened #111 "Don't copy font files into "assets" android folder in "react-native link""
`react-native link` is copping all fonts into assets folder for android.
For ios it is registering font files in ios project file without making files copies.

### problem
I don't want to store copies of all fonts in android assets folder.

### Suggestion
There are few ways of solving this:
1) We can make gradle task in https://github.com/facebook/react-native/blob/master/react.gradle which will c

[2019-01-23 11:19] thymikee commented on #111
We have quite a bunch of issues regarding improvements in link command, can you check if any of those relate to your request? Would be nice to consolidate some stuff if possible, but I think this one makes sense on its own.

cc @ferrannp @grabbou

[2019-01-23 11:21] punksta commented on #8
https://github.com/unimonkiez/react-native-asset this thing can link only assets

[2019-01-23 11:37] Trancever opened #112 "Tests doesn't work after fresh init."
After running `react-native init` generated project doesn't contain tests folder and also it lacks babel dependencies such as:

- @babel/core
- @babel/runtime
- babel-core

which leads to `yarn test` failure.

react-native v0.57.8

[2019-01-23 17:29] Esemesek commented on #95
I've added simple `logger` (`cli/src/util/logger`) to the project. It should be okay for now. We still need to replace all the `console.log`, `console.warn`, `console.error` and `npmlog`:
- [ ] - `cli/src/*`
- [ ] - `cli/src/bundle`
- [ ] - `cli/src/core`
- [X] - ~~`cli/src/dependencies`~~ - We are dropping this, so no need to add custom logging here
- [ ] - `cli/src/eject`
- [ ] - `cli/src/genera

[2019-01-23 17:38] thymikee opened #114 "Convert requires to imports"
Thanks to using `import`s instead of `require`s we're able to apply import transform to inline requires for faster startups :)

Basically like this:

[code]

[2019-01-23 18:20] grabbou opened #117 "Work closely with Expo for better CLI"
This is an umbrella issue. Opening so that we can track all the tasks.

## Description:

Expo CLI is great. It's stable, consistent and fast. There's a lot of things we could learn from it. Expo itself is also known for many great and important contributions to the React Native ecosystem. Expo team reached out to us and offered their help in boosting React Native CLI experience.

Over the past few

[2019-01-23 18:59] #75 closed

[2019-01-23 20:55] fson commented on #117
I would go a bit further in splitting out the functionality: we have a monorepo with Expo CLI related packages at https://github.com/expo/expo-cli/tree/master/packages. I think it would make sense to create smaller packages like `open-simulator` or `react-native-doctor` in this monorepo.

Creating small, focused packages makes it easier to decide what should go in it, both projects can mix and mat

[2019-01-23 22:18] vovkasm commented on #91
In the process of fixing template for upcoming 0.58 release (facebook/react-native#23128) I'am looked at the code and have some notes (copy pasted from discord chat):

It would be better to have generic and single rule to rename files, I see two potential variants:
1. We always replace pattern like `_[a-z]` to `.[a-z]` (but I don't like this much, because then we will need to escape underline char

[2019-01-24 17:16] #70 closed

[2019-01-24 18:06] Kielan commented on #107
I agree! I have my own internal documentation on all of the possibilities that can cause the :CFBundleIdentifier error but it needs to be clear for everyone.

[2019-01-24 18:07] Kielan commented on #103
We need a website, i hope I can be the one to find time to make the react-native-cli docs ^^ that would be cool, or someone else.

[2019-01-24 18:08] Kielan commented on #57
Maybe this issue should be renamed to contain the error title "buildConfigurationlist of undefined" as this is the source module that has a bug and is causing this error. let's figure out what is going wrong and fix the cli :)

[2019-01-24 19:08] Esemesek commented on #88
This is no longer a case on `master` branch. The newly inited project includes `__tests__` directory.

[2019-01-24 19:08] #88 closed

[2019-01-24 19:57] ashfurrow commented on #88
Cool, thanks! Looking forward to it getting released.

[2019-01-24 23:19] Kielan commented on #57
https://github.com/react-native-community/react-native-cli/blob/3aac9df01ccdbbde157e722ece09527668af32f8/packages/cli/src/link/ios/getTargets.js

[2019-01-24 23:20] Kielan commented on #57
well done and super fast @dotconnor pretty cool!

[2019-01-25 11:05] matart15 opened #124 "adb: failed to stat app/build/outputs/apk/app-debug.apk: No such file or directory"
## Environment

"react": "^16.0.0",
"react-native": "0.51.1",
Andriod Sdk: 26.0.2

## Description

[code]
## Reproducible Demo

same  issue
https://github.com/facebook/react-native/issues/18243

`android/app/build/output/apk` has child directories `debug` and `release`

https://github.com/react-native-community/react-native-cli/blob/03dc0768f762970b40a99285e8334ba6da7e1728/packages/cli/src/runAndr

[2019-01-25 11:48] zamotany opened #125 "RFC: use logkitty for `log-android` command"
## Describe the Feature

This is a proposal to use 3rd party tool for `log-android` for prettier messages and more flexible interface: https://github.com/zamotany/logkitty

![logkitty](https://user-images.githubusercontent.com/17573635/51744070-f6db4e80-209e-11e9-9c49-7fb46d2b5823.gif)

logkitty currently supports only Android (iOS in the future if requested) with better syntax for common tasks li

[2019-01-25 11:52] Jyrno42 opened #126 "ENOENT packager.env when building RN from source during `react-native run-android`"
## Environment

[code]

## Description

I have to manually create the directory `node_modules/@react-native-community/cli/scripts` to get the packager to start when using RN from source. Note, the issue only occurs when running `react-native run-android`.

## Reproducible Demo

1. Clone `https://github.com/Jyrno42/rn-geoloctest`
   - `git clone git@github.com:Jyrno42/rn-geoloctest.git`
2. `yarn`
3

[2019-01-25 12:13] Trancever commented on #114
@thymikee I can try to do it. Assign me if possible.

[2019-01-25 19:05] cherniavskii opened #129 "Wrong path in settings.gradle when linking dependency on Windows"
## Environment

react-native: 0.58.1

System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-4712HQ CPU @ 2.30GHz
      Memory: 6.09 GB / 15.91 GB
    Binaries:
      Yarn: 1.13.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.7.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.3.0.0 AI-182.5107.16.33.5199772

## Description
Expected path in `and

[2019-01-25 20:01] cito125 commented on #103
I agree, docs would be super useful.

[2019-01-26 09:52] thymikee commented on #129
`0.58.1` runs on cli located in RN repo: https://github.com/facebook/react-native/tree/0.58-stable/local-cli

@cherniavskii can you trace the commit this was added? I'm sure @grabbou can cherry-pick it to `0.58-stable` branch.

We'll also add similar fix to this repo as well.

[2019-01-26 10:01] cherniavskii commented on #129
@thymikee thanks for clarification.

That Windows patch was removed in https://github.com/facebook/react-native/pull/21203, it has something to do with CI, but IMHO that patch should be added back.

BTW, why is cli code duplicated in react-native and react-native-cli repos? Just curious how it works.

[2019-01-26 10:02] thymikee commented on #129
CLI was recently extracted to this repository so we can iterate faster.

[2019-01-26 10:06] cherniavskii commented on #129
@thymikee makes sense, thanks!

Would you like me to submit a PR?

[2019-01-26 10:07] thymikee commented on #129
I'm working on it right now, will appreciate your review and e2e testing, as I don't have Windows machine set up at the moment

[2019-01-28 05:47] EltonZhong opened #131 "ECONNRESE: cli process crashes sometimes."
## Environment

  React Native Environment Info:
    System:
      OS: Linux 3.10 CentOS Linux 7 (Core)
      CPU: (4) x64 AMD Opteron(tm) Processor 6348
      Memory: 1.88 GB / 7.64 GB
      Shell: 4.2.46 - /bin/bash
    Binaries:
      Node: 11.6.0 - ~/.nvm/versions/node/v11.6.0/bin/node
      npm: 6.5.0-next.0 - ~/.nvm/versions/node/v11.6.0/bin/npm
    npmPackages:
      react: 16.5.0 => 16.5.0

[2019-01-28 06:55] EltonZhong commented on #131
![image](https://user-images.githubusercontent.com/20570738/51819233-a2d5a180-230c-11e9-9951-23f6f811e67d.png)
Would logic above help?

[2019-01-28 08:48] thymikee commented on #131
Are you able to reproduce this on a clean project without Expo?

[2019-01-28 11:55] ysyyork opened #132 "--deviceId doesn't work with run-android"
## Environment

[code]

## Description

react-native run-android --deviceId=xxxxx will cause this issue:
[code]
This is because the apk file is actually under `app/build/outputs/apk/debug/app-debug.apk`. The path is missing variant folder.

## Reproducible Demo

Any repo run with --deviceId option set.

[2019-01-28 16:36] #129 closed

[2019-01-28 19:40] grabbou commented on #37
CC: @rhdeck - I would love to hear your input on the CocoaPods support.

[2019-01-28 21:24] rhdeck commented on #37
Seems to me that a solution for a library maintainer/owner is straightforward - don't include a podspec if you want it deployed using SLs. This makes it incompatible with CocoaPod(CP)-based React Native (RN) deployments, but since that's not the standard (e.g. `react-native init` uses static libraries) that doesn't seem a huge problem in the short to medium term.

For the app developer, seems to m

[2019-01-29 00:14] rhdeck commented on #37
OK, I blew away my previous comment because I didn't understand the issue at the time and managed to comment on the wrong thing.

So my thinking is:

1) Third party dependencies are best managed as cocoapods. I certainly do this, and created [`react-native-pod`](https://github.com/rhdeck/react-native-pod) to make this easier and declarative from the `package.json` level. Every package that i have

[2019-01-29 04:16] EltonZhong commented on #131
Well, I can't find a consistent way to reproduce it. It's not happening regularly, but it does crash sometimes and influent a lot.

[2019-01-29 15:54] sidferreira commented on #126
Had the same issue, but creating the folder didn't work for me.
I believe is related to
- 3aac9df01ccdbbde157e722ece09527668af32f8
- https://github.com/facebook/react-native/commit/1af390be19000b2756fc646e72f152dd383a0bb1

where a lot of stuff that was in the main `react-native` repo was copied to the `cli`, but the scripts folder still in the main repo.

I tried to copy the scripts folder to `nod

[2019-01-30 10:17] grabbou commented on #132
@ferrannp, would you mind looking into that? Is this something that could've been potentially fixed by https://github.com/react-native-community/react-native-cli/commit/5c35f00311e759f4f1a6f43ce9f5a87a31f61528?

[2019-01-30 10:18] thymikee commented on #112
This is fixed in RN 0.58 :)

[2019-01-30 10:18] #112 closed

[2019-01-30 10:22] grabbou opened #134 "Implement E2E tests"
We should start implementing E2E tests (to test init and e.g. running an actual "start" command) to make sure many simple issues do not happen in production.

@thymikee said he would prepare a good infrastructure for us so that we can start working on them.

[2019-01-30 10:38] grabbou opened #135 "Replace Commander with Yargs"
Our usage of Commander is a bit hacky. Let's switch over to Yargs as it seems to be an industry standard for handling commands right now (e.g. Metro, Expo). Also, that will allow to simplify the logic and implement other features, such as prompting for missing options, that we already have in Haul.

Mentioned in #36

[2019-01-30 10:40] grabbou commented on #135
Waiting for #134

[2019-01-31 02:49] brenwell commented on #37
This would be so helpful. I feel like my pod file gets a new hack to keep the React pods and subspecs working every other week.

Simply the —without-pods would be enough. Though it would require pods already added to the pod file to not be linked

[2019-01-31 17:34] sidferreira commented on #126
@grabbou Is there any planned schedule for that?

[2019-01-31 19:10] grabbou commented on #126
Yup. We want to fix this in next 2 weeks (see our "Next Release" project).

[2019-02-01 10:33] #107 closed

[2019-02-01 10:35] grabbou commented on #126
Ouch, this makes `run-android` totally broken. We are going to release a fix and include it in next RC.

[2019-02-01 10:50] grabbou opened #140 "Improve setup for setting Metro port"
Right now, when running React Native project, either command (e.g. run-android) or Xcode (as a part of a project's build phase - run-ios in this case does nothing special) needs to overwrite a React Native file "scripts/.packager.env" where it sets the packager port.

This should be improved, because:
- CLI relies on files that belong to React Native where they should be CLI specific
- We can set

[2019-02-01 12:24] grabbou opened #142 "run-android should also open default simulator, like run-ios"
Right now, run-android will fail when there's no emulator. It can be annoying sometimes. I think it would be great to have this feature supported.

@ferrannp was investigating this issue already

[2019-02-01 14:10] grabbou opened #143 "run-android|run-ios do not support RNTester out of the box"
Instructions to run RNTester recommend running Gradle / opening Xcode in order to run the app. We should add support for using the CLI, which will make it faster and easier to run RNTester and check when releasing new versions.

The biggest issue is in the detection mechanism that are inside `run-android` and `run-ios` (that are quite dumb).

[2019-02-01 14:36] #126 closed

[2019-02-03 00:14] pjay79 commented on #142
Agreed.

On first running the react-native run-android command, assuming a hardware device was not connected at the time, could you add command line prompts to allow selection of which emulator and virtual device to run as a default for the current project? eg:

`react-native run-android`
`Choose your emulator? (Android Studio, Genymotion)`
`Enter your virtual device name:`

After this, react-nati

[2019-02-03 13:11] sidferreira commented on #95
@Esemesek I would like to help on this one. Should I do it in a fork or wait to be assigned?

[2019-02-03 13:15] sidferreira commented on #114
@Trancever I worked this morning on this but I haven't seen that you wanted to help.

If you haven't started yet, you can take a look at https://github.com/sidferreira/react-native-cli/tree/refactor/replacesRequiresByImports and help me to check if there's anything missing...

[2019-02-03 15:11] Trancever commented on #114
@sidferreira Hi, I finished refactoring the codebase but I am currently struggling with making test passing again. I'll dm you tomorrow so we can collaborate on this.

[2019-02-04 08:55] Esemesek commented on #95
@sidferreira just tell me what part can you take, and I'll assign it to you C:

[2019-02-04 11:12] sidferreira commented on #95
@Esemesek is there a base branch for it? I may be wrong but it sounds like a quick task if done with regular expressions...

[2019-02-04 11:14] thymikee commented on #95
There's no branch, we just file small PRs to not disrupt others work too much :) Since there's not much left, feel free to send a PR with all of it 👍

[2019-02-04 11:21] sidferreira commented on #95
@thymikee Just to be sure: only on `packages/cli/src` right?

[2019-02-04 11:21] thymikee commented on #95
Yup!

[2019-02-04 11:45] sidferreira commented on #95
@thymikee @Esemesek seem that `npmlog` isn't in use anymore

[2019-02-04 11:46] thymikee commented on #95
Oh, that's cool! But there should be some regular `console.log`s that would be nice to convert to universal logger

[2019-02-04 11:49] sidferreira commented on #95
@thymikee yeah, I replaced any console.something

[2019-02-04 22:18] grabbou commented on #142
I was digging around today and found there's `emulator` command we can use to list available devices and make similar actions as we do on `run-ios`. Alternatively, I guess it's newer, non deprecated version, is `avdmanager`

[2019-02-05 16:52] michalchudziak commented on #142
@grabbou How would you determine default emulator?

@pjay79 I think your solution is good, but the prompt might be confusing especially for the newcomers.

I feel like choosing the first emulator listed by `emulator` / `avdmanager`, and logging some statement in there is none is also a reasonable approach.

[2019-02-05 18:20] grabbou commented on #142
Not sure, I would just keep it in sync with whatever we do on iOS. I
believe we just take the first simulator unless explicitly specified.

On Tue, 5 Feb 2019 at 17:52 Michał Chudziak <notifications@github.com>
wrote:

[2019-02-05 19:23] Trancever commented on #114
@thymikee I believe this can be closed. We can open another issue for replacing module.exports with ES module exports.

[2019-02-05 19:38] #114 closed

[2019-02-06 03:40] pjay79 commented on #142
@grabbou @michalchudziak

Yes, avdmanager +/- emulator is probably a better approach.

If using **emulator**, listing and starting a device is easy enough:

`emulator -list-avds`
`emulator -avd Nexus_5X_API_23`

But what if there is no device created yet, or it's a really old device on an older API? Could this cause problems? Also you have to implement the logic to decide which device to select. U

[2019-02-06 10:48] pjay79 commented on #142
@sidferreira Yes that sounds reasonable.

Although...

On the Genymotion front, there is **Genymotion shell** that can be opened from the command line. But it can only be used to interact with an **already opened** virtual device.

Genymotion also has something called the **GM Tool** that can be used to list **already installed** virtual devices, and start them from the command line, but this requ

[2019-02-06 11:04] sidferreira commented on #142
@pjay79 I think `genymotion` shouldn't be in the focus yet. But we should contact their team in order to get help to make this work. I believe they will be interested in it just like we do.

[2019-02-06 11:33] grabbou commented on #142
@sidferreira this is another topic - how (and what) we allow to be configured. Right now, there's `rn-cli.config.js` that is used by Metro (and all use-cases should be converted to `metro.config.js`).

I think we should/could use `cosmiconfig`, but we need to figure out what we need first.

How about we detect whether there's Genymotion available on the machine and if yes, we concat Genymotion dev

[2019-02-06 11:42] sidferreira commented on #142
@grabbou I think `genymotion` is the least prio. About the config, I agree with `cosmiconfig` but my suggestion was just an idea, not something we _need_ to prio.

IMHO (each item being one step of development, don't need to be all at once):

1. Check `avd` and load the first available and show an error if none is available;
2. Try to create an AVD (which one?), maybe ask if the user wants to crea

[2019-02-06 11:53] grabbou commented on #142
Sounds good to me. To be honest, I am using Android Emulator recently as
its quality much improved.

On Wed, 6 Feb 2019 at 12:42 Sid Ferreira <notifications@github.com> wrote:

[2019-02-06 13:30] sidferreira commented on #142
@pjay79 What if we ask about (create) the emulator and stuff on project setup (too)?

[2019-02-07 00:23] pjay79 commented on #142
@sidferreira @grabbou @michalchudziak

On the topic of which android device to create if one does not already exist...

If I have remembered correctly with react-native run-ios, older RN versions opened up older iPhone devices as the default. But an app built with the latest RN version, on my setup at least, automatically opens up iPhone X with iOS 12.1.

In a similar way should react-native run-a

[2019-02-08 15:09] michalchudziak commented on #91
I would like to have an opportunity to choose the language used within the generated template. Even if we keep all the modules written in obj-c and java, we might want to use swift and kotlin as a main native language in the generated app. Flutter CLI allows choosing it in pretty nice way  `flutter create --template=plugin -i swift -a kotlin hello` (https://flutter.io/docs/development/packages-and

[2019-02-08 16:10] cpojer opened #158 "Show help by default"
## Describe the Feature
Right now, when typing `react-native` without any arguments, it will print this:
[code]

Can we remove this and print the help screen? I think that's clearer.

[2019-02-08 16:11] thymikee commented on #158
Makes sense!

[2019-02-10 22:47] cyb3rsalih opened #159 "Android Gradle SDK Changes"
## Describe the Feature
Each time I build a RN project in Android. I am getting same
warnings during build phase. It says
`Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.`
`Configuration 'testCompile' is obsolete and has been replaced with 'testİmplementation'.`
etc.

Some of these warnings will appear until March 2019. After this date builds may fail.

#

[2019-02-11 11:20] #158 closed

[2019-02-11 11:23] cpojer commented on #158
@Esemesek thanks for the fast turnaround!

[2019-02-11 16:11] thymikee commented on #57
Closed via #123

[2019-02-11 16:11] #57 closed

[2019-02-12 14:11] #132 closed

[2019-02-13 15:00] grabbou opened #163 "Improve inter-op with React Native source"
You can't run `react-native run-ios` to run RNTester and `react-native run-android` to run an Android app.

We should make sure this is possible.

[2019-02-13 20:23] Kielan opened #164 "setup_env.sh ulimit script not actually calling"
My issue is specifically regarding Environment config and react-native

I am testing multiple environments, including users without admin access, and I initially suspected reviewing the code that the react-native-cli wouldn't even run without admin privileges, however the app did run at least up until 0.58.* and now on react-native link command throws

An error was encountered processing the comma

[2019-02-14 09:13] Esemesek opened #168 "Use react-native start"
After `global-cli` will be removed, and whole `init` command will exist in `@react-native-community/cli` we should preserve strategy to use `react-native start` (https://github.com/react-native-community/react-native-cli/blob/master/packages/global-cli/index.js#L235)instead of `cli.js` script. We should also add deprecation notices in `cli.js` in `react-native` repository.

[2019-02-14 17:11] safaiyeh opened #169 "Set a default iOS simulator"
`react-native run-ios` defaults to the iPhone X simulator; however, my preference is to use the iPhone XS Max. Could we have a way to set a default simulator? I understand there is a `--simulator` option; however, I would like a faster way to switch between simulators.

## Possible Implementations
`react-native set ios-simulator="iPhone XS Max"`

[2019-02-15 11:50] KerimHelal opened #173 "Error while updating property 'flex' in shadow node of type: RCTVIEW"
## Environment

[code]

## Description

I have an error that pops up only on android and not ios, the error is

## Reproducible Demo

[code]

[2019-02-15 11:54] #173 closed

[2019-02-15 22:44] maieonbrix commented on #169
Hello ! My I work on this if the community reallyd needs it ?
Maybe I can display a list of the available simulators so that the user can know which one to target
I managed to found that the cli.js takes into account the --simulator argument so you can to what you want from now on @JSafaiyeh by doing this :

[code]

It has to be the exact name simulator name.

Maybe instead of displaying a list I

[2019-02-15 23:02] thymikee commented on #169
@maieonbrix we'd love to have docs on that! Unfortunately, they don't exist yet. If you feel like it, how about starting to write the `packages/cli/README.md` in small steps? You can base it on what we already have inside `README.md` and `packages/global-cli/README.md` 😃

[2019-02-15 23:04] thymikee commented on #169
As for @JSafaiyeh, stuff like that would require CLI config, which we haven't established yet.

Also in the topic: https://github.com/react-native-community/react-native-cli/issues/12

[2019-02-15 23:08] maieonbrix commented on #169
@thymikee I would be glad to do this ! I'm counting on you to review my english 😅
I will work on this tomorrow night (in France)

How should I name the first header ? Or maybe can I just start with an option section like here : https://github.com/react-native-community/react-native-cli/blob/master/packages/global-cli/README.md#options and documenting what I can found in the cli.js file

[2019-02-15 23:24] thymikee commented on #169
Yup, start small, with just the options header for now

[2019-02-19 06:45] TheSavior opened #179 "Better building for release story for iOS and Android"
In the docs for running on device, it recommends running the following command on iOS:
https://facebook.github.io/react-native/docs/next/signed-apk-android#testing-the-release-build-of-your-app
[code]

and the following command for Android:
https://facebook.github.io/react-native/docs/next/signed-apk-android#testing-the-release-build-of-your-app
[code]

Is there a reason that these are different,

[2019-02-19 07:24] thymikee commented on #179
That's a good question to ask! "Variant", "Configuration" (and "Scheme") are platform specific and make sense for native developers. I usually use Fastlane to deal with all that and the options passed to specific actions/lanes are also platform-specific.

I think it would be great to unify the interfaces, but it requires someone with extensive iOS and Android building knowledge to come up with sim

[2019-02-19 08:47] ltcaosj commented on #48
I would like to be able to link my assets to iOS and Android projects.
I can do it with RN 0.57.8, but I cannot with RN 0.59.x
<img width="558" alt="link_assets1" src="https://user-images.githubusercontent.com/5376380/53001585-9355fe00-345d-11e9-877a-3472b36b5f42.png">
<img width="427" alt="link_assets" src="https://user-images.githubusercontent.com/5376380/53001591-97821b80-345d-11e9-927c-219adc9

[2019-02-19 13:30] thymikee opened #181 "Paths with spaces crash on Windows"
Moving https://github.com/react-native-community/react-native-releases/issues/79#issuecomment-464828893 there
cc @Sharlaan

[2019-02-19 14:39] Sharlaan commented on #181
Ok thanks for the move, copy-pasting the original issue :

Environment:
- Windows10
- Node 11.10
- expo: 32.0.0
- react: 16.5.0, then 16.8.2 (new hooks)
- react-native: sdk-32.0.0 then 0.59.0-rc.2

I made a fresh test with `expo init` which worked flawlessly :
![image](https://user-images.githubusercontent.com/2692027/52970962-fa1fdc80-33b5-11e9-9a61-9e505f449be6.png)

... but after upgrading, red

[2019-02-19 14:40] Sharlaan commented on #181
I made a few research about `childProcess.execFile` and found this in Node documentation :
https://nodejs.org/api/child_process.html#child_process_spawning_bat_and_cmd_files_on_windows
(especially last example)

Any space in the argument passed to `childProcess.execFileSync` tells it there is a command executable.
So maybe the solution would be to enclose the whole path string in quotes (using `JS

[2019-02-19 14:59] thymikee commented on #181
Please give it a try on Windows machine and let us know. AFAIK none of core contributors to this project use Windows, so that would be a huge help

[2019-02-19 15:01] Esemesek commented on #48
Yup. We plan to introduce a new command or flag that will link only project assets. For now, you should be able to link project assets with `yarn link`, but it is deprecated.

[2019-02-19 22:08] thymikee commented on #131
Closing, as reading through the comments in the linked issue it seems like an Expo problem.

[2019-02-19 22:08] #131 closed

[2019-02-19 23:41] ltcaosj commented on #48
thanks @Esemesek

[2019-02-20 07:38] thymikee commented on #181
@Sharlaan FYI we remove this script because it's just a placeholder and there's currently nothing it does, so no need to break stuff for anybody. We also guard this spawn call so it should fix your issue.

See: https://github.com/react-native-community/react-native-cli/pull/182

Let me know if this fixes your use case and if other `spawn`s are also affected

[2019-02-20 11:50] Sharlaan commented on #181
How ? (not merged)

[2019-02-20 11:52] thymikee commented on #181
It's a small change, easiest thing would be to adjust node_modules and see the outcome

[2019-02-20 12:56] Sharlaan commented on #181
ok i used this snippet into `build/cliEntry.js`
[code]
it didnot crash at this, but later on it did crash again, after message `Loading dependency graph, done.` :

This might be related to https://github.com/facebook/react-native/issues/4968

[2019-02-20 12:59] thymikee commented on #181
I don't think there's more this CLI can do for you then. Shall we close once #182 is merged? I think the best you can do is to create a smallest possible repro (as a GitHub repository) and post to Metro issue tracker: https://github.com/facebook/metro/issues

[2019-02-20 13:02] Sharlaan commented on #181
Yep let's close this.
Thanks for your help.
Too bad native development with RN is not smooth ...

[2019-02-20 13:04] thymikee commented on #181
We'll get there! :D

[2019-02-20 13:04] #181 closed

[2019-02-20 20:23] grabbou opened #183 "First-class CocoaPods support"
I am opening this issue to track work required to offer first-class support for CocoaPods in `link` and `unlink` commands.

@fson is [working on improving general CocoaPods support](https://github.com/react-native-community/discussions-and-proposals/issues/96) in React Native and making it the integral part of every new app inited with `react-native init`.

We should make sure that CLI work is don

[2019-02-20 20:25] grabbou commented on #183
I am going to investigate this tomorrow and publish an action plan.

@fson, do you have any deadlines on shipping this PR?

[2019-02-20 22:13] fson commented on #183
@grabbou it would be great to have CocoaPods in the default template for RN 0.60.

I want to ship features that use CocoaPods in Expo CLI soon (in February). Those features will initially have to patch the template for CocoaPods support (because we support older RN versions), but I’d like to stop patching and move to just use the upstream template as soon as possible.

[2019-02-20 22:20] ericlewis opened #184 "Template arg doesn't pick up absolute path"
## Environment

N/A

## Description

Trying to point template to an absolute path fails, even though this is a valid way to use `yarn`.
[code]

Offending code: https://github.com/react-native-community/react-native-cli/blob/72c3dd4282996891442c3ec779e99d989a74c440/packages/cli/src/generator/templates.js#L63

## Reproducible Demo

N/A

[2019-02-21 00:49] #184 closed

[2019-02-21 13:45] fson opened #186 "`init` with local react-native fails with EISDIR"
## Environment

Using https://github.com/fson/react-native/commit/8048dc7bba4cc554bcb8a36d3f1007cfb48ce727 and `@react-native-community/cli@1.2.4`.

[code]

## Description

I was trying to test https://github.com/facebook/react-native/pull/23563 end-to-end, so I ran ` react-native init HelloWorld --version <path-to-local-react-native-folder>`. This failed with `Error: EISDIR: illegal operation on

[2019-02-21 13:49] thymikee commented on #186
cc @Esemesek who's working on new version of `init`

[2019-02-21 14:33] Esemesek commented on #186
I am working on it. Right now, I don't think `--version` works like that - you can only pass custom rn versions. To have a custom version of `react-native`, I use `verdaccio` to publish new version of `react-native` to local npm proxy. I wrote about this [here](https://github.com/react-native-community/react-native-cli/blob/master/CONTRIBUTING.md#testing-init-command).

[2019-02-21 16:38] fson commented on #186
`--version` supports file paths, it's [explicitly documented in the code](https://github.com/react-native-community/react-native-cli/blob/0b12618bbf8331de45b632f68a69f671810c9c84/packages/global-cli/index.js#L53-L57). I think we should make sure that keeps working, so it's easier to make changes to the template and debug them.

I avoided using Verdaccio on purpose, because publishing to a local np

[2019-02-21 17:00] Esemesek commented on #186
I tried this briefly while moving codebase to separate repository and it seemed like it doesn't work. I agree that this is a painful flow to work with init.

[2019-02-22 07:59] cpojer opened #187 "[RN v0.59.0-rc.2] Live Reload does not work"
* * *
  This issue was originally created by @ltcaosj as facebook/react-native#23589.
  * * *

  ## 🐛 Bug Report
**Live Reload  feature does not work**, it seems that there is an issue related to networking.
## To Reproduce
1. create branch new react-native app by running: react-native init RN059 --version react-native@next
2. Run iOS project with simulator or a real device.
3. Turn on Live Reload

[2019-02-22 08:16] #164 closed

[2019-02-22 08:20] thymikee commented on #187
@Esemesek mind taking a look? You've fixed something with ports and hosts recently, maybe it introduced a regression?

[2019-02-22 16:28] Esemesek commented on #187
Sure

[2019-02-22 18:56] sijad commented on #48
currently it's not possible to link root assets with RN 59 rc2.

I've changed `() => linkAssets(platforms, project, assets)` to ` () => linkAssets(platforms, project, { assets }),` in [linkAll](https://github.com/react-native-community/react-native-cli/blob/master/packages/cli/src/link/linkAll.js#L47)
and it worked, but I'm not sure if it's proper fix.

[2019-02-22 19:14] Esemesek commented on #48
@sijad This is a bug. `linkAll` should link root assets. I'll fix that in a minute.

[2019-02-25 03:06] cpojer opened #189 "Show new version + upgrade help text in CLI"
The CLI is a good place to notify people of new releases and give them more information about upgrades.

My proposal:
* Periodically check for new RN releases when invoking the RN CLI and surface that people can upgrade with `react-native upgrade`.
* When running `react-native upgrade`, show the breaking changes in red with a link to a blog post and the changelog:

[code]

I'm not entirely sure wh

[2019-02-25 19:20] grabbou commented on #183
Interesting. I didn't know you were using React Native template (and init) internally at Expo and needed the CocoaPods support there.

Either way, that sounds like a fair timeline. Apologies for not getting back to you last week as promised, but I've run into other things that got my attention.

I am going to investigate it as soon as possible.

[2019-02-25 20:07] Krizzu opened #190 "Add flag to upgrade command, to change project name"
## Describe the Feature

So today we used `upgrade` in our project and we've spotted a small issue. The problem was that our `name` in `package.json` wasn't the same as the name we've initialized project with.

`upgrade` [uses `name` form `package.json` and and applies diffing based on it,](https://github.com/react-native-community/react-native-cli/blob/master/packages/cli/src/upgrade/upgrade.js#L

[2019-02-26 12:07] grabbou commented on #186
I can confirm what @fson describes is working - we use it when releasing React Native to test it works. An example of the call is:
[code]

[2019-02-26 12:12] grabbou commented on #186
I think we should make sure it's still possible to init a project by setting path to a React Native version. In the future, given the new `init` workflow, the `--version` will not be needed at all since CLI will pick React Native files directly from `node_modules`.

@fson, make sure to run `npm pack` and pass a path to a `tgz` file instead to a folder.

Should be:
[code]

Since you are testing iOS

[2019-02-26 12:16] #186 closed

[2019-02-26 12:26] grabbou commented on #179
If the command was `run` (rather than `run-ios` and `run-android`), I think unifying the names would make more sense. Still, I feel it is a very ambitious task with potentially high risk of limiting the API for future extension (what about features that are iOS specific?)

We could optimise for this particular use-case by aliasing both `--variant` and `--Configuration` with something else, e.g. `-

[2019-02-26 12:30] grabbou commented on #189
Since we need to check for a release anyway with a network request, we could read a section from the releases tab, e.g: https://github.com/facebook/react-native/releases/tag/v0.58.5

Additionally to what you've said, I'd leave an option to mute this banner on per-project for those who are intentionally using CLI with older versions.

[2019-02-26 12:31] grabbou commented on #190
Maybe instead of passing a flag, the upgrade script should read the name for a place where it's always correct?

We already have these utilities in the CLI (used for `link`) that are able to locate the application source files. We could use that to determine the name.

[2019-02-26 12:53] Krizzu commented on #190
I believe we could re-use some logic to make it happen our-of-the-box, but that could be a cumbersome task to do. IMHO, adding a flag to support it would be a faster and cleaner approach.

CC @thymikee @Esemesek

[2019-02-27 00:23] cpojer commented on #189
Parsing the info from the release and tagging the CLI output in a special block seems like a great idea to me.

[2019-02-27 03:18] SukritGupta17 commented on #87
Hey, are you working on integrating this feature?

[2019-02-27 07:10] pvinis commented on #87
No, I just found the issues in `ios-deploy`. I don't have time to do this now, I just use xcode, that supports wifi.

[2019-02-27 22:00] grabbou opened #195 "The purpose of `--host` option"
I've been recently looking at the `react-native start` command while working on #193 and #194.

From Metro documentation:

What can be the `host` value, rather than `0.0.0.0` (listen from all incoming APIs)? I think the general idea is that Metro should accept all incoming requests, regardless whether it's coming from `localhost` or from an IP address, e.g. when we are debugging on the remote devi

[2019-02-28 01:31] cpojer commented on #195
Should be any address that the server is reachable from, so any IP address. Theoretically you can run Metro on a different server than localhost and connect through that. In practice, it's probably `localhost` or `0.0.0.0` in 99% of the cases.

[2019-02-28 11:52] grabbou commented on #189
Sounds good. I'd love to pick this up after we cut 0.60-stable branch (around a week from now) and see what are the next steps. What do you think?

[2019-02-28 15:00] grabbou commented on #195
@cpojer, but even if you run Metro on a different server (say under `8.8.8.8` public IP), you still want Metro to listen at `0.0.0.0` so that it accepts incoming requests from `8.8.8.8` (when remote device is accessing Packager) or `localhost` (when local Simulator is accessing it).

That's why I am a bit confused as to when you might change this option.

What do you think? Would it make sense to

[2019-02-28 20:59] thymikee commented on #190
@Krizzu would you like to play with `link`'s mechanisms for determining names? If it takes too much time though, I'm still good with a flag for now.

[2019-03-01 01:36] cpojer commented on #195
I don't know the answer, I'm sorry. Maybe ask on twitter whether anyone uses it?

[2019-03-01 01:39] cpojer commented on #189
Yeah!

[2019-03-01 01:39] cpojer commented on #189
(You meant 0.59 stable I assume :) )

[2019-03-01 09:15] grabbou commented on #189
I'll try to see if I can make it land before we make 0.59 stable. If not, then it will be a 0.60.0 feature. Will do my best!

[2019-03-01 10:21] yleflour commented on #91
My issue with templating is the lack of a postInstall script.

If you check react-native-template-typescript a `setup.js` script needs to be executed manually after the template is copied. It would be great if the templating engine allowed a postinstall script.

For those who would argue about security and unknown scripts being launched, I can add any dependency I want to the template which can it

[2019-03-02 07:38] morenoh149 commented on #103
Are you open to using GitHub pages? At least add installation instruction in the readme. How do you install this?

[2019-03-03 07:13] weifuchuan opened #197 "Incorrect checking for "installed react-native globally" in Windows."
## Environment

[code]

## Description

The problem is to checked path error in `function isInstalledGlobally`:

[code]

RN0.59.0.rc project init will not exists '../../../package.json' that is 'node_modules/@react-native-community/package.json' . Now I must be create it voluntarily to ignore the error.

[2019-03-03 11:37] bartolkaruza opened #199 "Wrong path for static library file reference in Xcode project"
## Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
      Memory: 8.45 GB / 32.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.0 - ~/.nvm/versions/node/v10.15.0/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.4.1 - ~/.nvm/versions/node/v10.15.0/bin/npm
      Watchman: 4.

[2019-03-03 11:47] thymikee commented on #199
This is a diff I get when installing cameraroll:

[code]

Is there anything wrong with it?

[2019-03-03 11:52] thymikee commented on #199
The project builds normally for me as well. I'm using the new CLI (you'd need to install `@react-native-community/cli`), but the diff looked the same on older versions.

[2019-03-04 02:54] #197 closed

[2019-03-04 08:24] thymikee commented on #199
cc @grabbou @michalchudziak

[2019-03-04 14:35] grabbou commented on #199
Hmm... some paths could've been broken due to moving CLI into a subfolder of `@react-native-community`. I am going to look into it.

[2019-03-04 14:36] thymikee commented on #199
@grabbou the issue is about RN 0.58 which doesn't include the new CLI

[2019-03-04 14:37] grabbou commented on #199
Ah, right. `@react-native-community/cameraroll` is the path to camera roll. I'll see what I can do.

[2019-03-05 13:58] grabbou opened #203 "Normalize project name"
We need to escape `@` from the package name. Otherwise, it's causing errors with latest Gradle: https://github.com/react-native-community/react-native-netinfo/issues/27

We most likely need to update https://github.com/react-native-community/react-native-cli/blob/master/packages/cli/src/link/android/patches/normalizeProjectName.js

[2019-03-05 14:06] FLGMwt commented on #203
Looks like:

- remove '@'s
- replace '/'s with '-'

matt-oakes had to do both w/ netinfo

[2019-03-05 14:37] markcriswell1964 opened #204 "Great job no issue"
I'm moving sensitive documents to prvate folder

[2019-03-05 14:40] #204 closed

[2019-03-05 14:42] grabbou commented on #203
Turned out to be not an issue according to @matt-oakes. Going to close this one (tho we could get rid of `@` because it looks a bit ugly - if anyone cares)

[2019-03-05 14:42] #203 closed

[2019-03-05 14:44] FLGMwt commented on #203
SGTM, I guess I'll just find another reason to play around with my clone of -cli then ; D

[2019-03-05 15:14] matt-oakes commented on #203
Just to confirm, it was only the `/` which was in the disallowed list, `@` is actually fine. This is from the Gradle 5 error message:

[code]

[2019-03-05 15:58] #49 closed

[2019-03-06 07:32] Krizzu opened #207 "Eject command not working"
## Environment
[code]
## Description
`eject` is not working - gives an error:

`error ENOENT: no such file or directory, lstat '(project absolute path)/node_modules/react-native/@react-native-community/cli/templates/HelloWorld/(ios/|android)'`

## Reproducible Demo

1. Init project
2. Remove `android` and/or `ios` directories
3. run `eject`

[2019-03-06 08:31] thymikee commented on #207
The default template now lives in React Native repository. Likely the only thing that needs to change is a path to the template. Anyone interested in grabbing this? 🙂

[2019-03-06 09:59] Krizzu commented on #207
I'm on it

[2019-03-06 11:18] #207 closed

[2019-03-07 12:28] punksta commented on #37
`--ios_linking_method pod|xcodeproj` could be an option

[2019-03-08 11:07] bartolkaruza commented on #199
Hey, I thought I'd double check that the issue is really there and below steps should make it easier to reproduce with some more output info:

[code]
Add the following to `App.js`:
[code]
The following to `ios/linkTest/Info.plist`:
[code]

[code]

The project will compile without issues but if you see the screenshots below, the file path is not correct for the .a file from Xcode's perspective:

<i

[2019-03-08 23:18] belemaire opened #210 "Bump metro dependencies"
Would it be possible to bump the version of metro dependencies in next release ?

We're currently evaluating upgrade to RN 59 (using RC 3 as of now) for one of our application, and we faced a new error during bundling. After taking a closer look we realized that we were running into a metro bug, related to assets path resolution, that was fixed in Metro 0.52.0 (https://github.com/facebook/metro/co

[2019-03-09 01:57] superguineapig opened #211 "[command: run-ios][edge-case] app bundle fails to install to simulator"
## Environment

React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (8) x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
      Memory: 2.75 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.15.0 - ~/.nvm/versions/node/v8.15.0/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.4.1 - ~/.nvm/versions/node/v8.15.0/bin/npm
      Wat

[2019-03-09 08:34] thymikee commented on #210
Yup we shuold bump it, even though it's possibly breaking change (0.59 is the first public version this CLI is used in). Want to send a PR?

[2019-03-09 12:03] thymikee opened #212 "Run `pod install` after upgrade"
## Describe the Feature

`upgrade` command could use [installPods](https://github.com/react-native-community/cli/blob/master/packages/cli/src/tools/installPods.js) helper, and run:
[code]
after installing JS deps.

Here's how `init` uses it:
https://github.com/react-native-community/cli/blob/a3d468e54dd3de51c2a0c788c1c8962d1c6abfc1/packages/cli/src/commands/init/init.js#L164-L166

It's likely that

[2019-03-09 12:26] orta commented on #212
I think that's reasonable, yep 👍

[2019-03-11 09:16] Starryi opened #213 "--config option can support relative path"
## Describe the Feature
with current implementation, if the --config options was set  a path relative to rootProject,  command will crash, and report an error that the path doesn't exist.

[2019-03-11 09:17] thymikee commented on #213
Happy to accept a PR supporting relative paths :)

[2019-03-11 13:34] grabbou commented on #135
Closing for now as we decided to rework our Commander support to be less hacky. Let's see whether we need to do anything more in the future.

[2019-03-11 13:34] #135 closed

[2019-03-11 13:35] grabbou commented on #125
Given the amount of +1 on @zamotany issue, I think we can say this is a good proposal and should be implemented.

@zamotany, would you be willing to contribute this?

[2019-03-11 13:36] grabbou commented on #111
I am sorry @punksta to let you know, but this is unfortunately not a CLI issue. I will comment on the original issue with the details.

Thanks for filling this in - I didn't now that another way of doing that was possible.

[2019-03-11 13:36] #111 closed

[2019-03-11 13:46] grabbou commented on #37
Opening this issue again in order to make sure our CocoaPods support is first-class before 0.60 is cut.

@bartolkaruza, I messaged you on Discord to discuss some of the details and sync our work.

[2019-03-11 13:49] grabbou commented on #37
Do I understand correctly that the use-case presented in this issue is to let certain libraries still be linked the "standard" way even though the 3rd party library ships with Podspec? Why they ship with it in first place then?

[2019-03-11 13:54] #163 closed

[2019-03-11 13:57] grabbou commented on #124
CC: @sidferreira @ferrannp - do you have an idea why this could be happening (two folders inside `apk`?) There's some decent conversation happening in React Native repository too.

[2019-03-11 13:57] rhdeck commented on #37
@grabbou the answer to your question is that the library is trying to support both of the ways that RN can be deployed - via direct SLs or through CP. But if one deploys RN via the currently-stock SL method and then adds a Podfile to support 3P libraries (like react-reality does), a subsequent `react-native link` brings over the package as a pod, which then brings the train of dependencies, includ

[2019-03-11 14:01] sidferreira commented on #124
@grabbou AFAIK this is actually a gradle/android thing. In the past, I wanted to rename the generated files and it was a lot of work because it was forcing the folder even with me renaming the apk file.

[2019-03-11 14:08] sidferreira commented on #124
@matart15 What's your gradle version?

[2019-03-11 14:16] grabbou commented on #37
Thanks for explanation. Makes sense. This is going to be less of an issue
now that CocoaPods is going to be standard for all new projects from 0.60
on. We will still have to support older projects tho.

I guess a flag to manually choose linking method is going to be a good
solution to this problem. And we are going to default to CocoaPods when
Podfile is present in both places.

If anyone is willi

[2019-03-11 14:32] grabbou opened #214 "Printing help for commands without description"
Follow up to: https://github.com/facebook/react-native/pull/22045 - investigate the patch.

[2019-03-11 15:03] thymikee commented on #214
This is already fixed:

https://github.com/react-native-community/react-native-cli/blob/ccc179737b0aea3d0979bd2777f9ea4b50ad83a3/packages/cli/src/cliEntry.js#L55

[2019-03-11 15:20] grabbou commented on #214
Yes. Maybe I wasn't clear but following up my comment [here](https://github.com/facebook/react-native/pull/22045#issuecomment-471562100), the fix on line `55` (to conditionally check for description) is hacky.

We are setting `noHelp` in a different place to avoid calling this function w/o description set. In other words, this function should be called only when description is defined. If that's n

[2019-03-11 15:21] thymikee commented on #214
I foolishly assumed this was merged. We need to take a look

[2019-03-11 15:47] #214 closed

[2019-03-11 16:07] #14 closed

[2019-03-12 03:12] matart15 commented on #124
[code]

[2019-03-12 03:16] matart15 commented on #124
for now I am using workaround
[code]

[2019-03-12 07:37] grabbou commented on #124
I wonder if it's possible to somehow dynamically get this `apk` file just like we did with flavours recently.

[2019-03-12 08:01] sidferreira commented on #124
@grabbou can't we look for the newest generated APK in the folder?

[2019-03-12 08:06] grabbou commented on #124
That sounds like a plan!

On Tue, 12 Mar 2019 at 09:01 Sid Ferreira <notifications@github.com> wrote:

[2019-03-12 08:39] lypeng29 opened #223 "react-native link command delimiter error, replacing / for \"
## Environment
win10
react-native-cli: 2.0.1
react-native: 0.58.5

## Description
`react-native link react-native-webview`

When I run the command, I have to change '..\node_modules\react-native-webview\android'
to '../node_modules/react-native-webview/android' in `setting.gradle`

[2019-03-12 14:41] matt-block commented on #96
Is anyone working on this? If not, I'd like to give it a try 😄

[2019-03-12 14:46] thymikee commented on #96
@matt-block afaik nobody works on this currently. Feel free to grab it! :)

[2019-03-12 19:57] jacargentina opened #225 "Debugger is not opening anymore with 1.4.0"
## Environment

## Description

I 'm cross posting here, as it seems a bug originated on the CLI and not RN 0.59.0

https://github.com/facebook/react-native/issues/23873

## Reproducible Demo

* I've upgraded my project to RN 0.59.0 + "@react-native-community/cli": "^1.4.0"
* Trying to debug my app shows the provided screenshot on the issue i've linked
* I've downgraded to "@react-native-community

[2019-03-12 20:06] thymikee commented on #225
I can confirm that's a bug, please close the corresponding issue in RN repo

[2019-03-12 20:38] #225 closed

[2019-03-12 20:40] thymikee commented on #225
Fixed in 1.4.1. Thanks for reporting this quickly!

[2019-03-13 04:01] SaraChicaD commented on #225
How do you get this to kick in? I can only get projects _created_ with the right version to catch the debugger correctly. I've installed/uninstalled `react-native-cli` removed `node_modules`, restarted the computer, how do you get `1.4.1` to kick in correctly?

[2019-03-13 04:55] thymikee commented on #225
Remove and add react-native with the same version. react-native-cli is a global cli (a proxy to the real one, it hasn't been touched for 2 yrs). We know it's confusing and working towards fixing it

[2019-03-13 07:47] tallpants opened #228 "ENOENT error when linking fonts (RN 0.59)"
## Environment
[code]

## Description

Linking font assets causes an ENOENT. Worked fine in RN 0.58

[code]

## Reproducible Demo

* `react-native init` a new project.
* Create an `assets` directory in the root, and a `fonts` directory inside that with some fonts:

[code]

* Add this as a top-level key in `package.json`:

[code]

* Run `react-native link`

[2019-03-13 07:54] tallpants commented on #228
Some more information: I got around it for now by manually copying the fonts to `android/app/src/main/assets/fonts`. Running `react-native link` again after copying it manually doesn't throw any errors.

[code]

[2019-03-13 16:14] thymikee opened #230 "No conflicting files after `apply` fails in `upgrade` command"
Cross-posting from https://github.com/react-native-community/rn-diff-purge/issues/5

@Esemesek wrote:

After fail in applying diff to the repo, no conflicting files are dumped. I tried applying different patches, but none of them works. This situation happens only in some repositories, but I don't know what factor is causing the error. The repository is private, but I will try to make reproduction

[2019-03-13 21:17] wizebin commented on #228
Creating the `android/app/src/main/assets/fonts` folder manually will allow linking to function correctly. It looks like we just need to verify the whole tree exists before copying

[2019-03-13 21:18] thymikee commented on #228
#231 is fixing that regression. I'd appreciate verifying that :)

[2019-03-13 22:47] rborn commented on #211
Confirmed, I just lost few hours trying to understand why.
in my case I have this global setting

<img width="816" alt="Screen Shot 2019-03-13 at 23 45 39" src="https://user-images.githubusercontent.com/406409/54319586-53acad00-45ea-11e9-9d1e-4be7e47ce7f1.png">

[2019-03-13 22:48] thymikee commented on #211
cc @dratwas @michalchudziak

[2019-03-13 23:27] kennetpostigo commented on #48
I use it to link my font assets

[2019-03-14 09:32] #228 closed

[2019-03-14 10:31] voxspox opened #233 "react-native link fails copying assets"
## Environment

    React Native Environment Info:
      System:
        OS: Linux 4.15 ...
        Shell: 4.4.19 - /bin/bash
      Binaries:
        Node: 8.15.1 - /usr/bin/node
        npm: 6.9.0 - ~/bin/npm
      ...
      npmPackages:
        react: 16.6.3 => 16.6.3
        react-native: 0.58.6 => 0.58.6
      npmGlobalPackages:
        create-react-native-app: 2.0.2
        react-native-git-u

[2019-03-14 10:41] thymikee commented on #233
Duplicate of https://github.com/react-native-community/react-native-cli/issues/228. Fix landed on master and we'll release it shortly (you'll have to re-install `react-native` to make CLI update)

[2019-03-14 10:41] #233 closed

[2019-03-14 12:20] thymikee commented on #230
Update: we've improved error handling in v1.4.2 to take this issue into account (see #232).

I can also consistently reproduce the the `git apply` failing on bigger diffs.
If anyone is interested in inspecting this – change this reference:
https://github.com/react-native-community/react-native-cli/blob/a20aad7d9a596301d9371a64e7785d67d04be9f7/packages/cli/src/commands/upgrade/upgrade.js#L18
to `'h

[2019-03-14 12:32] Esemesek commented on #48
@kennetpostigo in the future there will be a separate command to link project assets.

[2019-03-14 16:49] omatrot commented on #230
@thymikee I've tried npx @react-native-community/cli upgrade as suggested
Here is the result:

[code]

[2019-03-14 16:54] Esemesek commented on #230
@omatrot That is exactly the issue we are experiencing. Is your repo open source

[2019-03-14 17:07] omatrot commented on #230
@Esemesek yep just right now:
https://github.com/omatrot/react-native-cli-issue-44

[2019-03-14 17:07] thymikee commented on #230
Also looks like you used version pre 1.4.2, where we improved the output To be more friendly about this scenario

[2019-03-14 17:09] baranonen commented on #48
I think that when "react-native link" is entered, it must ask if the user really wants to link all libraries. This way, it will be better for the people who installed more than one library and wants to link all of them, or if the user is new to React Native, this will be easier for him/her.

[2019-03-14 17:12] omatrot commented on #230
Here is the new output:
[code]

[2019-03-14 19:54] grabbou commented on #31
This is not an issue with the CLI, but with how React.xcodeproj is configured (it has `react-native-xcode.sh` that must be having problems).

I am going to leave this issue here and work on the fix in React Native repository instead.

[2019-03-14 21:00] grabbou commented on #31
Just submitted a PR. Will close this issue now.

[2019-03-14 21:00] #31 closed

[2019-03-15 00:25] fbartho commented on #48
We have `react-native link` setup in our PostInstall script so that when we update our dependencies any changes to the linking instructions get applied correctly.

We do not have Cocoapods, so we don't want there to be dependencies that are partially linked.

If the API changes so we have to enumerate all the packages we want linked, then what I would do is figure out the list of packages, and the

[2019-03-15 00:43] fukhaos commented on #48
I use for custom fonts!

[2019-03-15 09:04] #92 closed

[2019-03-15 09:08] #210 closed

[2019-03-15 10:04] saraervik opened #236 "react-native link adds duplicated lines to ios project.pbxproj file"
Recreating an issue reported in react-native project (https://github.com/facebook/react-native/issues/18295)

## Environment

Environment:
  OS: macOS Mojave 10.14.3
  Node: 10.15.1
  Yarn: 1.13.0
  npm: 6.4.1
  Watchman: 4.9.0

## Description

Linking multiple native packages results in duplicated lines in project.pbxproj:

[code]

## Reproducible Demo

Link 2 or more native packages

[2019-03-15 17:04] matei-radu opened #238 "Some files are missing the license header"
While working on #96 I stumbled across some files that are missing the usual copyright and license header (e.g. [`getDependencyConfig`](https://github.com/react-native-community/react-native-cli/blob/master/packages/cli/src/commands/link/getDependencyConfig.js), [`logger`](https://github.com/react-native-community/react-native-cli/blob/master/packages/cli/src/tools/logger.js)).

In general, are co

[2019-03-15 17:06] thymikee commented on #238
I don't think we actually need copyright headers in this project. They were added when it was moved to Facebook repository.

@cpojer @joelmarcey @hramos can you advise?

[2019-03-15 17:09] cpojer commented on #238
Could we keep using the FB copyright header for the cli, given that this project is the primary entry point for RN and the code was part of RN itself and mostly written by FB engineers in the past? I think removing them would not be right, technically.

[2019-03-15 17:11] thymikee commented on #238
Removing would certainly be wrong. We could omit them in new files, but then again – it raises confusion. I'm good with adding the copyright, just would be nice to adapt a script to enforce it (either copy the one from Jest or use eslint plugin header)

[2019-03-15 17:20] matt-block commented on #238
I have no legal background to express an opinion on whether the copyright notice should be there or not, but I think it wouldn't do any harm to mention just the license used (MIT in our case).

[2019-03-16 11:11] matt-block commented on #189
May I interest you in some GitHub APIs? Try this in your browser:

[code]
Docs: https://developer.github.com/v3/repos/releases/#get-the-latest-release

Here we have all we need:
* `tag_name` to check if the release is newer
* `draft` and `prerelease` to filter out newer but undesired releases
* `body` which is the entire release markdown as a string that shouldn't be too hard to display.

### What

[2019-03-17 08:42] Esemesek commented on #187
@ltcaosj I wasn't able to reproduce this bug on iOS simulator and Android physical device. Does this bug still happen to you in `0.59.1` version of `react-native`?

[2019-03-17 09:52] ltcaosj commented on #187
@Esemesek, thank you for following up this issue. It's fixed in the official release 0.59. I think we can close this issue.

[2019-03-17 09:56] #187 closed

[2019-03-17 11:00] pvinis opened #244 "Do we need to add the purge repo as a remote?"
## Describe the Feature

Maybe we can skip adding any extra remote repos to do an upgrade.
Let's investigate.

## Possible Implementations

We use the diff files from github, so maybe we don't need the remote anymore.

## Related Issues

[2019-03-17 17:08] pvinis commented on #244
We can close this then :D

[2019-03-17 17:08] #244 closed

[2019-03-17 18:13] rhdeck commented on #48
I use postlink hooks in a couple of "helper" packages (e.g. `react-native-pod`) to update native considerations based on the current state of the app directory (e.g. after modifying app-level `package.json`). This allows for dry code and a lot of leverage from `link`. Will there be hooks to allow other packages to listen for per-package link events, like a `postotherlink` (with a better name)?

Or

[2019-03-17 23:17] thymikee commented on #48
@rhdeck please create a new issue as it's not related to this one :)

[2019-03-18 07:59] cpojer commented on #189
That sounds great. Do you wanna send a PR? :)

[2019-03-18 08:46] matt-block commented on #189
Sure, I'll come up with something during the week

[2019-03-18 14:09] grabbou commented on #238
I think it makes sense to leave current copyrighted files "as is" and just add a React Native Community one to new files or the ones we refactor in a major way.

There are files that were done by Facebook engineers, but there are also files that were created in `rnpm` (e.g. core/link/unlik) too. I wouldn't add Facebook copyright to files created by the community.

I hope that makes sense.

I think

[2019-03-18 14:48] kelset commented on #238
Yeah, that's actually an interesting question.

I'm not sure what actual legal value the headers have "over" the License.md file hosted in each repo, but ideally for now let's keep the headers.

[2019-03-18 15:51] JoelMarcey commented on #238
Was this originally a Facebook project? Or has this always been a community project? Normally for code headers, we do something like:

[code]

[2019-03-18 16:03] thymikee commented on #238
@JoelMarcey community -> FB -> community (it's funny right? :D )

[2019-03-18 16:03] grabbou commented on #238
It's a mix. It was part of Facebook project and then, I added non-Facebook code [here](https://github.com/facebook/react-native/pull/7550). It's all extracted here now. It's worth mentioning that non-Facebook copyrighted code received SLA-signed contributions later too.

[2019-03-18 18:45] MaxLarue commented on #48
I use it when making quick poc or tests. For this kind of situation there's never that much of trouble. And it's quite convenient.

Maybe making it optional with a warning?

That's not too much of a hassle to type it whith every package name anyway. So no big deal.

[2019-03-18 20:04] brunolemos opened #246 "projectRoot not working as expected"
## Environment

[code]

I have the latest `@react-native-community/cli` 2.x installed globally and `react-native` 0.59 in the project.

## Description

Cannot run `react-native run-android ...` from the monorepo root.

For iOS it works: `react-native run-ios --project-path packages/mobile/ios`

## Reproducible Demo

`react-native run-android --projectRoot packages/mobile/android`
[code]

Project:

[2019-03-18 20:56] Esemesek commented on #246
It seems like common flags declared in `cliEntry`, are not passed properly to commands. This applies to `run-android` and `run-ios`. I'll investigate that.

[2019-03-18 21:50] Esemesek commented on #246
@brunolemos it seems like there is a mismatch between parameters that set `root` in `run-android` and `run-ios`. I was able to make things work in your project by running:
[code]
This seems very wrong and counter-intuitive to have different flags between commands. This might work as a temporary solution in your project, but we definitely need to fix that one.

[2019-03-18 22:40] suyashinpilani opened #247 "development server returned response error code 500"
## Ask your Question

[2019-03-18 22:47] suyashinpilani commented on #247
development server returned response error code 500

![image](https://user-images.githubusercontent.com/44916943/54568471-4e41cf00-49fd-11e9-9a90-c623ceddf227.png)

I have tried literally everything what people are calling as a solution and worked for them but it is not working for me.
clearing npm cache, reinstalling npm
changing versions of react native etc
nothing works for me.
What should i tr

[2019-03-18 23:40] grabbou commented on #246
This is not a bug with `projectRoot` per se. `projectRoot` describes the root of the CLI - the folder we should look for node_modules from. It defaults to `cwd`.

The `root` inside `run-android` is equivalent of `projectPath` inside `run-ios`. It's to explicitly set the location of the `android` folder.

Setting `projectRoot` to `packages/mobile/android` is not good since this is not really the ro

[2019-03-19 02:39] brunolemos commented on #246
Yes ideally the cli option should have the same name for both ios and android, don't know if there's any issue tracking this.

[2019-03-19 02:39] #246 closed

[2019-03-19 08:03] orta opened #248 "Automatic support for CocoaPods"
## Describe the Feature

Take inspiration from Expo's [unimodules](https://github.com/unimodules/react-native-unimodules/blob/master/README.md) support for CocoaPods, and build it into React Native CLI to simplify working with libs on iOS side.

## Possible Implementations

Excuse the naming, but you would add both:

[code]

[code]

---

This works by picking up any libs with Podspecs in your node

[2019-03-19 09:21] Esemesek commented on #247
https://stackoverflow.com/questions/22475849/node-js-what-is-enospc-error-and-how-to-solve

[2019-03-19 09:21] #247 closed

[2019-03-19 10:20] grabbou commented on #246
I guess #143 is a good one. I'll make sure to rename it, tho I am planning to make a detection system automatically detect unusual locations.

[2019-03-19 10:20] grabbou commented on #143
While doing it, rename `--root` in `run-android` to be less confusing (ideally, make it like the `run-ios`)

[2019-03-19 12:21] luky1984 commented on #48
i use it to add dependencies after npm install react-native-webview

[2019-03-19 12:21] cpojer opened #249 "resetCache and others from metro.config.json get overwritten"
* * *
  This issue was originally created by @jens-duttke as facebook/react-native#22835.
  * * *

    - [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
 React Native Environment Info

[2019-03-19 12:25] thinkmobilede commented on #48
if you add several dependencies at once and just want to link them all or update, it is much easier to use react-native link without package name. The command has the option to use a package-name if this is not want you want, so why deprecating or removing the other option?

[2019-03-19 12:35] grabbou commented on #195
CC: @sebmck, Rick told me that you are now working on Metro. Got some ideas whether this would be needed in the Open Source?

[2019-03-19 12:59] TheSavior opened #250 "scripts/launchPackager.command: line 11: cd: : No such file or directory"
## Environment

[code]

## Description

I tried to create a new project by running:

[code]

When this launched the metro window, the new window ran into these errors:

[code]

The end of the original window happened to also have these errors:
[code]

[2019-03-19 14:34] JoelMarcey commented on #238
IANAL, but my impression would be that given that this is no longer a Facebook managed project, that any original code with the FB license headers should remain, updates should have whatever license header underneath that. New code should have whatever license header you use now. But I will verify.

[2019-03-19 15:12] TheSavior opened #251 "More helpful error message for run-android sdk failures"
When running `react-native run-android`, I'm getting a bunch of errors on my computer. I think we can make the message more helpful.

[code]

Following the instructions, I opened Android Studio and opened the SDKManager to make sure things were installed. Everything was up to date and build-tools and sdk 28.0.3 were installed.

Eventually we found the problem is that Facebook laptops use a differe

[2019-03-19 18:32] RWOverdijk commented on #48
Like mentioned before, fonts.

[2019-03-19 20:34] bobber205 opened #252 "Not Able to Configure Which iOS Architectures Are Built (When Using AppCenter)"
## Environment

  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
      Memory: 40.06 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.6.0 - /usr/local/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.5.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watch

[2019-03-19 22:10] thymikee commented on #252
We'll need to investigate this. Can you provide a minimal repro we can run and see what happens?

Just to let you know, this probably won't be fixed in 0.58, as this repo contains the CLI for 0.59+ (unless the eventual fix will be easy to port an cherrypick to 0.58)

[2019-03-20 07:15] manuel-ahej commented on #48
I definitely only ever use 'react-native link' as my one and only go-to command to make sure that all my dependencies are linked. If you want to link a specific package, you already can. Maybe a new setting in the CLI could be added to lock this functionality from people who are worried about doing it accidentally; something like 'react-native set strict-link' perhaps, or maybe a command for unloc

[2019-03-20 19:56] sm1th commented on #48
I think the package name should be required. I have some packages linked with the cli and some through CocoaPods, and I don't want to mess up and accidentally link a dependency with the cli if I've already got it as a pod in my Podfile. Then again I guess I could run `react-native link --platforms=android`

Then maybe have a `react-native link assets` command so we could link fonts

[2019-03-21 14:28] Steffi3rd opened #257 "react-native link cause error with AntDesign Font with 0.59.0"
[code]

[code]

[code]

react-native info

[code]

[2019-03-21 15:24] thymikee commented on #257
Please reinstall react-native package. This was fixed already in a patch release of the CLI

[2019-03-21 15:24] #257 closed

[2019-03-21 15:34] Steffi3rd commented on #257
Can you explain why it fails? Do you have a link?

[2019-03-21 15:36] thymikee commented on #257
See: https://github.com/react-native-community/react-native-cli/pull/231

[2019-03-21 21:08] matheus-erthal commented on #48
I use just to link my custom fonts, as mentioned before

[2019-03-22 04:55] suyashinpilani commented on #247
Thanks, it worked for me with an addition of
adb reverse tcp:8081 tcp:8081

[2019-03-22 10:17] grabbou commented on #189
Awesome, thanks for taking up the work! If you need any help from the release format perspective, let me know! I think the style for now will be to just keep the "releases" tab small and link to a separate repository, so printing the whole "body" sounds like a plan.

[2019-03-22 14:57] matt-block commented on #189
@grabbou initially I thought to take a similar approach to npm and use [boxen](https://www.npmjs.com/package/boxen) to decorate the update message, so I ended up with:

<img width="688" alt="Screenshot 2019-03-22 at 15 34 14" src="https://user-images.githubusercontent.com/1713151/54831094-026f7e00-4cba-11e9-8e3e-8b00333c115a.png">

For this particular case, I'm not using our custom logger to avoid

[2019-03-22 19:40] rangav opened #260 "react-native create new project error"
## Environment

[code]
## Description

react-native new project create error

[code]

## Reproducible Demo
Create a new project to see the error
`react-native init testing348333
`

[2019-03-23 05:03] B4UGUYS opened #263 "TypeError: Path must be a string. Received undefined"
## Environment

  React Native Environment Info:
    System:
      OS: Linux 4.15 Ubuntu 18.04.2 LTS (Bionic Beaver)
      CPU: (4) x64 Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz
      Memory: 977.00 MB / 15.56 GB
      Shell: 4.4.19 - /bin/bash
    Binaries:
      Node: 8.15.1 - /usr/bin/node
      npm: 6.9.0 - /usr/bin/npm
    SDKs:
      Android SDK:
        API Levels: 16, 17, 18, 19, 21, 22, 23,

[2019-03-23 05:06] #263 closed

[2019-03-23 08:39] #260 closed

[2019-03-23 15:01] SoldierCorp commented on #260
Hi!

You closed this but you didn't released a new version so we can pull it in our locals.

[2019-03-23 15:31] thymikee commented on #260
I'm pretty sure I released 1.5.1 and tested it works today. Can you share some details? Maybe your package manager use cached version somehow?

[2019-03-23 15:56] fpersico commented on #260
@thymikee you forget to release a version for 2.0.1

[2019-03-23 16:13] thymikee commented on #260
2.0 should not be used by RN 0.59. If it is, that's a bug

[2019-03-23 16:16] thymikee commented on #260
Just confirmed it's not used there. Also 2.0 didn't get the commit that broke this. I'm curious about your environment and how you run init

[2019-03-23 17:55] SoldierCorp commented on #260
@thymikee It was the cache, now it's working!

Thank you :)

[2019-03-23 23:49] patrickkempff commented on #91
I have spend some time today trying to give the init command a cleaner look. I can create a PR when the new improvements of the init command lands, if there is any interest?

[Video version](https://sendvid.com/embed/a9lrtvjj)

<img width="973" alt="init" src="https://user-images.githubusercontent.com/310766/54873024-0f7d9180-4dce-11e9-8eb0-ffe3cab33dc1.png">

[2019-03-23 23:54] thymikee commented on #91
@patrickkempff this is great! I think we could make the ascii image a bit smaller (like 2-3x :D) but it looks pretty neat anyway :)

I see that it wasn't linked here, but @Esemesek is working on improving the command already here: https://github.com/react-native-community/react-native-cli/pull/241. Feel free to collaborate and review 🙂

[2019-03-24 13:40] patrickkempff opened #266 "ASCII art for init command"
Lets make the init command looking really awesome with some nice ascii art! I have spend some time trying to give the init command a cleaner look and posted a screenshot and video of the result here https://github.com/react-native-community/react-native-cli/issues/91#issuecomment-475914736.

Based on @thymikee comment I have tried some different variations and sizes. I would love to discuss those.

[2019-03-24 13:45] patrickkempff commented on #91
@thymikee awesome! I made a couple of different variations and sizes. Don't want to "spam" this issue with multiple screenshots so I created a new issue to discuss the ascii art. See https://github.com/react-native-community/react-native-cli/issues/266

[2019-03-24 22:26] thymikee commented on #266
I think I like the Variant 5 the most :) Awesome work!

[2019-03-25 10:38] MarcelBreasWAY commented on #266
Variant 6

[2019-03-25 11:25] jacargentina opened #267 "Updating to greater than 1.4.6, my app stops bundling"
## Environment

[code]

## Description

When upgrading from 1.4.6 to a greather version (1.5.0 or 1.5.1) my app stops bundling. When i downgrade to 1.4.6 it just works fine again.

## Reproducible Demo

1. git clone https://github.com/jacargentina/iResucito
2. cd iResucito
3. npm install; npm install @react-native-community/cli
4. react-natie run-ios

[2019-03-25 11:37] thymikee commented on #267
I cannot reproduce this, I can build and run your app just fine. One culprit – I removed `@react-native-community/cli` from deps and I'm using Yarn to install packages.

Looks like the issue is that you're installing `@react-native-community/cli` directly, while you shouldn't (it's a transitive dep of `react-native`). Remove it from package.json and from lockfile, install again. Should work.

Clos

[2019-03-25 11:37] #267 closed

[2019-03-25 12:31] grabbou commented on #266
Why don't we ship both and make a secret flag? Just kidding.

This is amazing work, I am so excited to see this finally implemented, great job! I am also voting for 5/6.

[2019-03-25 12:38] jacargentina commented on #267
@thymikee  did this:
1. rm -rf node_modules
2. removed dep you pointed from package.json
3. removed package-lock.json
4. npm install
5. react-native run-ios

Sadly for me, it's not working. I must stay in 1.4.6 😔

<img width="1431" alt="Captura de pantalla 2019-03-25 a la(s) 09 36 19" src="https://user-images.githubusercontent.com/517228/54920317-b2730000-4ee1-11e9-991f-5e07959fcc20.png">

**Note*

[2019-03-25 13:05] jacargentina commented on #267
@thymikee i've found this:

1. in a new terminal, run `react-native start` manually
2. in other terminal, run `react-native run-ios`

then it works. 🤔

[2019-03-25 13:15] weareyou-laurens commented on #266
My vote goes to variant 3.

[2019-03-25 13:33] jacargentina commented on #267
@thymikee I've just looked to git logs searching for something suspecting, and found that commit 88d7459695e62a5a226e70b2caf9bfadf0311f2a seems to remove an `await` when loading metro config.

Then i've cloned the repo, and built it on previous commit (which is c6d46b30d2adfd2ca7157fa8401f1cbcb2fea2cf), and copied to my project `node_modules/@react-native-community/cli`

Then `react-native run-ios

[2019-03-25 13:42] cpojer commented on #266
This is super cool! I would suggest 4, 7 or 8 because they take up less vertical space.

[2019-03-25 13:51] basfluijt commented on #266
Variant 2

[2019-03-25 13:53] cpojer commented on #189
I think this is a great start, feel free to send a pull request.

After that we can define a specific template that we'll follow for all releases so that we can print the header of the release section on GitHub right on the terminal, including the top breaking changes so they are shown right in people's faces.

[2019-03-25 13:58] thymikee commented on #189
To be even more friendly, and help those upgrading more than 1 version up, we need to batch breaking changes from previous releases (this will also be necessary if e.g. we upgrade from `0.59.0` to `0.60.4` – with naive approach the breaking changes from `0.60.0` would be gone.)

[2019-03-25 14:54] paullaros commented on #266
5

[2019-03-25 16:14] patrickkempff commented on #266
Awesome, thanks for the responses! Added variant 9, basically the same 5 but more smooth.

[2019-03-25 16:32] Esemesek commented on #266
This is amazing. Number 5 the best C:

[2019-03-25 17:18] peterjuras commented on #60
This is still an issue for us, if there is no packager started when running react-native run-ios from a yarn script

[2019-03-25 21:32] solkaz opened #269 "Unable to set build path when executing run-ios"
## Environment

[code]

## Description

I am upgrading a project from React-Native 0.58.6 to 0.59.1, and am encountering issues with _launching_ the iOS (using the CLI) after it has been built. I am able to build/install using XCode. We are building our app to something like `ios/build/Build` (which seemed to be a default at one point?), but after upgrading, `run-ios` expects the app to be located

[2019-03-25 21:36] thymikee commented on #269
Would you be able to provide a minimal repro so we can investigate?

[2019-03-25 21:36] solkaz commented on #269
Sure, I'll need some time since I don't have an OSS project off-hand with this issue.

[2019-03-25 21:37] thymikee commented on #269
Take all the time you need!

[2019-03-25 21:58] solkaz commented on #269
Thanks, created a repo [here](https://github.com/solkaz/rn-cli-build-path) that's a standard RN template generated with `react-native init MyApp`.

[2019-03-25 22:16] thymikee commented on #269
I actually cannot repro. Building both through Xcode _and_ `run-ios` works (builds, launches app, app displays welcome screen)

FYI this is the diff that introduced the new building path (it was a fix to an existing issue): https://github.com/react-native-community/react-native-cli/pull/128

[2019-03-25 22:44] solkaz commented on #269
I also was unable to reproduce using that repo on my personal machine, so I'm suspecting the global settings for XCode on my work machine. Unfortunately I cannot build the project in question on my personal machine.

[2019-03-25 22:47] thymikee commented on #269
I'll close the issue (because it's not a bug), but please feel free to post your findings, in case anyone else have similar problem.

[2019-03-25 22:47] #269 closed

[2019-03-26 00:30] disenio commented on #266
Great work! 5 get's my vote!

[2019-03-26 06:15] xingqiwu55555 commented on #250
I meet a same issue.

[2019-03-26 13:16] jacargentina commented on #267
@thymikee Any chance to help me with this? Last comment about that missing `await` .... ?

[2019-03-26 13:21] thymikee commented on #267
This diff shouldn't change anything, because that function is returning a promise, and we await it in every place it's used.

As already said, I couldn't reproduce the issue in your app (I even use the very same Xcode version). Maybe there's something else about your setup that makes it unique?

[2019-03-26 13:57] maxaggedon opened #271 "Upgrading does not work inside a monorepo"
I have a monorepo with this kind of structure :

[code]
`react-native upgrade` does nothing when I run it from my app's folder (`mobile`) because it tries to apply the patch at the root of the git repo (I guess).

Anyways I managed to upgrade manually with `git --apply ... --directory="mobile"` but there have to be other people expecting this to work out of the box, given that it did with the lega

[2019-03-26 14:07] thymikee commented on #271
Would you like to send a PR with a fix for that? :)

[2019-03-26 14:16] maxaggedon commented on #271
I'm looking into it right now, especially how to test it...

[2019-03-26 18:36] vandervidi commented on #48
And what will happen when one installs a package named "assets"? boom

[2019-03-26 18:52] RWOverdijk commented on #48
Maybe let link without arguments link assets by default, and simply stop linking all other things. That seems most sensual to me

Met vriendelijke groet / Kind regards,

Roberto Wesley Overdijk

SpoonX
Founder

M. +31 (0)6 15 55 32 43
W. www.spoonx.nl
E. wesley@spoonx.nl
KvK. 60422696
On 26 Mar 2019, 19:36 +0100, Vidran Abdovich <notifications@github.com>, wrote:

[2019-03-26 18:52] RWOverdijk commented on #48
Sensible*... Phones.

Met vriendelijke groet / Kind regards,

Roberto Wesley Overdijk

SpoonX
Founder

M. +31 (0)6 15 55 32 43
W. www.spoonx.nl
E. wesley@spoonx.nl
KvK. 60422696
On 26 Mar 2019, 19:36 +0100, Vidran Abdovich <notifications@github.com>, wrote:

[2019-03-26 18:56] Esemesek commented on #48
If you look closely into the PR (https://github.com/react-native-community/react-native-cli/pull/101) it already introduces `link-assets` command.

[2019-03-26 20:24] sm1th commented on #48
@vandervidi it was just an example. I agree that `link-assets` is better.

[2019-03-26 22:07] RichardLindhout commented on #48
I did link all because I needed to reset my project since I'm upgrading from a somewhat old version.

[2019-03-27 08:27] devmalvinder commented on #48
agree with @sm1th
link-assets is a better option

[2019-03-27 12:01] ebin-es commented on #48
It shouldn't be deprecated. The current commands are better. Those who want to to link any specific packages can link individually, while others could do it all at once with a single command.

[2019-03-27 18:13] patrice4github opened #273 "react-native link @react-native-community/async-storage fails"
## Environment

[code]

## Description

The link in this new lib fails. The commands states to to log a bug:

[code]

## Reproducible Demo

`react-native link @react-native-community/async-storage`

[2019-03-27 18:46] thymikee commented on #273
Can you reinstall `react-native` (e.g. remove from lockfile and install again) and see if that helps?

[2019-03-27 19:21] patrice4github commented on #273
Same thing after a complete clean.

[2019-03-27 19:24] thymikee commented on #273
I couldn't reproduce on a clean project. Can you set up a repo with reproduction so we can investigate?

[2019-03-27 19:36] patrice4github commented on #273
I'll have to admit,  "error Something went wrong while linking." is not the greatest error message. It seems like the stack trace is eaten. Perhaps we could start by displaying the full stack trace of the fatal error message and see what object "matched" is called on.

Let me see if I can re-create it outside an my private project.

[2019-03-28 13:06] #134 closed

[2019-03-28 13:54] rf1804 commented on #48
Why to deprecate? We have the option if someone want to link particular package then he/she can do that also.
If you have 30 libraries and you want to link them all in one go then you can do it with `react-native link` and if you want specific then you can do that also, then what is the need of removal?????

For Assets i feel there should be option, if someone only want to link assets.

[2019-03-28 18:24] Esemesek commented on #48
We decided not to introduce this change because the `link` command will be deprecated soon in favor of `autolinking` feature. Right now we are working on it, and it should be available in `0.60.0`.

[2019-03-28 18:24] #48 closed

[2019-03-29 09:40] dirkpostma commented on #266
Very cool!! #6

Does it animate?

[2019-03-29 11:39] jorgeants commented on #250
I'm with same issue too.

[2019-03-29 11:44] thymikee commented on #250
`launchPackager.command` is a part of RN core repo and this bug is currently tracked under https://github.com/facebook/react-native/issues/24112

[2019-03-29 11:44] #250 closed

[2019-03-29 13:49] thymikee commented on #273
FYI @Krizzu

[2019-03-29 14:27] Grohden commented on #271
@maxaggedon I think that not only the `upgrade` is not working, the `init` does not work too.. (I've linked the issue above)

@thymikee
I was trying to find the matching cli code from my local machine:
[code]
I couldn't find it here on the repo.. but i found this code that may be the updated version:
https://github.com/react-native-community/react-native-cli/blob/6a5e6e6b43917a6ef67b4763fc9480b6fa

[2019-03-29 14:38] thymikee commented on #271
@Grohden the `@react-native-community/cli` itself is not meant to be used as a direct dependency on your project. You should only use the CLI that comes with `react-native` as _its_ dependency. So you should be on 1.x now if you use RN 0.59. If you're below that, the CLI is still bundled inside RN core repo: https://github.com/facebook/react-native/tree/0.58-stable/local-cli and https://github.com

[2019-03-29 14:39] Grohden opened #277 "Init does not work with yarn workspaces"
Copy from https://github.com/facebook/react-native/issues/24202 and there's a related issue https://github.com/react-native-community/react-native-cli/issues/271

## 🐛 Bug Report
I'm using `react-native init` to create a simple app inside a monorepo, but the cli seems to have problems with the yarn workspaces (with hoisting) - I'm also using lerna, but i don't think that lerna is causing the probl

[2019-03-29 14:41] Grohden commented on #271
@thymikee done

[2019-03-29 14:43] thymikee commented on #277
Thanks! FYI @Esemesek

[2019-03-29 18:43] Grohden commented on #277
While this is still a problem, one could use `nohoist` as a workaround, yarn itself uses RN as a example:
https://yarnpkg.com/blog/2018/02/15/nohoist/ under `How to use it?` section

Also, there are usage examples [here](https://github.com/connectdotz/yarn-nohoist-examples/tree/master/workspaces-examples/react-native/rn-native) and I could make RN work following the readme :D

[2019-03-29 19:20] patrickkempff commented on #266
@dirkpostma I tried some simple animations but could not do it in a reliable way, it has a lot of limitations. Terminal support is a problem as well.  Did also some tests animating colors with chalk-animation see https://sendvid.com/ezmgdcqt

[2019-03-29 20:39] thymikee commented on #277
We should be able to fix it soon, but it will be only available in RN 0.60+

[2019-03-30 15:03] trogper commented on #181
This issue is still present. I use expo with project in space-including path. It fails on
[code]

[2019-03-30 19:34] thymikee commented on #181
@trogper you'll need to wait for Expo to update to RN 0.59 and use this CLI.

[2019-03-31 18:54] JosephSmith127 commented on #273
Getting the same not sure what it is, I also got it for `NetInfo` package and managed to get around it by basically re-doing all the pods and deleting node modules and doing a cache clean etc etc... but this time around (with async-storage) none of that seems to be doing it 🤔

[code]

[2019-04-01 13:10] grabbou commented on #273
I'll try to reproduce it and fix this. It's definitely a bug somewhere in the linking logic that might be happening due to specific structure of your project.

[2019-04-02 10:06] patrice4github commented on #273
This appears to be longer reproducible after an upgrade to 0.59.3.
I was replaced by another error after an upgrade from **0.59.2 to 0.59.3**.

`error Failed to get dependency config`

I'm not sure if this error stops the link execution and hides the previous error.
I'm attaching the package.json of my project. I've copied the file to brand new project, created with 0.59.3 and **this error no does

[2019-04-02 11:07] JosephSmith127 commented on #273
I'll check this out tonight thanks for the update @patrice4github

[2019-04-02 22:41] AlexMachin1997 opened #284 "React-Native linking issue"
## Environment

[code]
## Description
React-Native cli is currently linking native modules such as react-native-gesture-handler incorrectly. Within `./android/settings` it's pointing to the node_modules incorrectly, backslashes are used instead of forward slashes.

**What I exepct:**
`project(':react-native-gesture-handler').projectDir = new File(rootProject.projectDir, '../node_modules/react-nati

[2019-04-03 06:03] thymikee commented on #284
We fixed this in RN 0.59. Please use it instead, as 0.58 is not receiving updates and this repository has has the cli that's only used in 0.59+

[2019-04-03 06:03] #284 closed

[2019-04-03 08:15] grabbou commented on #179
@radex, sounds like a plan. Would you be up to sending a quick PR? ❤️

[2019-04-03 08:18] grabbou commented on #238
@JoelMarcey any update on that? We've been following that approach so far.

[2019-04-03 10:18] grabbou commented on #273
Can't reproduce on master with any of the packages and fresh `react-native init`. Please provide a reproduction (ideally package your entire project w/o node_modules and send it to my at grabbou@gmail.com).

[2019-04-03 10:43] grabbou commented on #249
This has been fixed after we have extracted CLI and should be good with 0.59. We have removed this https://github.com/facebook/react-native/blob/0.58-stable/local-cli/server/runServer.js#L57-L71 mutation and just use standard Metro resolving mechanism.

[2019-04-03 10:43] #249 closed

[2019-04-03 11:03] grabbou commented on #143
iOS part is being worked on in #287

[2019-04-03 11:17] grabbou commented on #143
@dulmandakh would you be able to explain why some Android projects have `android/gradlew` and others have `android/app/gradle` (RNTester)? Trying to handle both cases when doing `run-android` and I am a bit lost here.

[2019-04-03 11:19] grabbou commented on #168
What we should do here?

[2019-04-03 11:22] grabbou commented on #3
@ferrannp how big of a use-case this is for you? With new linking mechanism being out really soon, I want to focus on bug fixes instead of rolling out new features.

Auto-linking will have this solved.

@orta @Salakar

[2019-04-03 11:23] grabbou commented on #2
I am going to close this issue and label as a "wont fix". New auto linking mechanism will have this solved by default.

[2019-04-03 11:23] #2 closed

[2019-04-03 12:59] grabbou commented on #183
Going to close it in favour of auto linking.

[2019-04-03 12:59] #183 closed

[2019-04-03 13:04] grabbou opened #288 "☂️ Umbrella: Autolinking"
Opening this issue as an umbrella to discuss implementation details that are common to all platforms and track progress.

For rationale, please read this issue: https://github.com/react-native-community/discussions-and-proposals/issues/96

Check this [tweet](https://twitter.com/mikediarmid/status/1108514291886505984) with video for a demo.

### PRs:
- [x] #254
- [x] #281
- [x] #258
- [x] #256

The

[2019-04-03 13:08] Esemesek commented on #168
Default template already has `react-native start` in `start` script in `package.json`. Right now, there are 2 files called `cli.js` in `react-native` repo. We need one as an entry point for `init` command, so we need to keep at least one `cli.js` there. I think we should deprecate only `local-cli/cli.js`.

[2019-04-03 13:12] grabbou commented on #288
CC: @orta @alloy @Salakar @bartolkaruza - you would be the best to fill in iOS / Android parts with technical explanation behind each of the approaches. Don't want to take this pleasure out from you.

[2019-04-03 14:22] JoelMarcey commented on #238
@grabbou Just pinged an email. Should know today. Sorry for the delay.

[2019-04-03 17:32] orta commented on #288
Updated the JS / iOS side from https://docs.google.com/document/d/1WzMYo3Nv0jkrP30_BGLX7gNFaaiLEsdWxX-znMM0yBE/edit#heading=h.78ighmioc9n1

[2019-04-03 18:47] patrice4github commented on #273
Too bad we can't reproduce it.

About this:

`error Cannot read property 'match' of undefined`

I think we should focus on displaying the stack trace of such error. The code crashes, knowing where would give us the cause of the error right away, pretty much. Just a suggestion.

[2019-04-03 18:48] thymikee commented on #273
Right, give me a second, I'll publish a patch with a fix for that!

[2019-04-03 18:50] thymikee commented on #273
@patrice4github please try to re-install `react-native` to get the cli v1.6.0, you'll be able to run with `--verbose` which will show the stack trace :)

[2019-04-03 19:24] grabbou commented on #273
Linking AppCenter doesn't work too. Will check

[2019-04-05 13:39] blakek commented on #273
We ran into this when upgrading react-native versions with a project name containing a dash (it worked fine before the upgrade).
For some reason, the project name was passed to the react-native CLI as `project-name.xcodeproj`, but the Podfile had both `project` and `target` hard-coded to`projectname`. Replacing all instances of the dashed name fixed the issue for us.

[2019-04-05 18:32] mauriciord opened #293 "Init with template Typescript, Jest, Git hooks, Prettier and Semantic versions"
## Describe the Feature
Hi everyone,
I created a React Native template with:

- Typescript
- Jest
- Git hooks
- Commit-msg to help organize your commits messages and help your team scale your application
- Prettier to format your code
- Semantic versions (scripts to generate versions of your app)

It’s so simple to use it:
[code]

It's better than the `--typescript` mentioned on [React Native blog

[2019-04-05 18:36] thymikee commented on #293
Good news! It's gonna be possible with new init! See https://github.com/react-native-community/react-native-cli/pull/241 for details on how to adjust your template (you're gonna need `template.config.js` in your project root and point to your template there, we're also gonna copy _all_ the files you have in template, just like that)

Feel free to try it with `@react-native-community/cli@next` :)

[2019-04-05 18:37] thymikee commented on #293
I'll close this, because it's already addressed.

[2019-04-05 18:37] #293 closed

[2019-04-05 18:37] #91 closed

[2019-04-05 18:37] #266 closed

[2019-04-06 18:40] #271 closed

[2019-04-07 20:17] thymikee opened #298 "Rename repository to just `react-native-community/cli`"
## Ask your Question

`react-native-community/react-native-cli` -> `react-native-community/cli`

There's unnecessary duplication of `react-native` in our repository name. I think we should be good with just `cli` instead `react-native-cli`.

Pros:
- it would correspond directly with our main package name on npm `@react-native-community/cli`
- renaming GitHub repos is fairly straight-forward and su

[2019-04-07 20:23] cpojer commented on #298
I'm fine with this.

[2019-04-09 03:13] codeprolin commented on #273
run -------- react-native link react-native-webview

**error Something went wrong while linking. Error: Expected "/* Begin ", "/* End ", "\"", or [A-Za-z0-9_.] but "<" found.
Please file an issue here: https://github.com/react-native-community/react-native-cli/issues**

[2019-04-09 03:14] codeprolin opened #301 "react-native link react-native-webview fail"
## Ask your Question

run -------- react-native link react-native-webview

error Something went wrong while linking. Error: Expected "/ Begin ", "/ End ", """, or [A-Za-z0-9_.] but "<" found.
Please file an issue here: https://github.com/react-native-community/react-native-cli/issues**

So, how to resolve?

[2019-04-09 06:01] thymikee commented on #301
Please use issue template properly and provide repro. Otherwise it's not actionable in our side

[2019-04-09 06:01] #301 closed

[2019-04-09 10:36] grabbou commented on #298
Done.

[2019-04-09 10:36] #298 closed

[2019-04-09 10:37] grabbou commented on #273
@codeprolin can you open your project with Xcode and then, run `link` again? Let me know if that helps.

[2019-04-09 10:45] #125 closed

[2019-04-09 14:45] cpojer opened #303 "Open Metro in iTerm on macOS"
## Describe the Feature
A lot of people use iTerm 2 on macOS. When using `run-android` or `run-ios`, Metro is started in `Terminal.app` even when launched from iterm. Ideally we'd create a new tab or window in iTerm.

## Possible Implementations
* If there is a way to detect whether run-android/ios was invoked from within iTerm, use iTerm.
* Otherwise, provide a way to set this as a configuration

[2019-04-09 18:57] jbrodriguez commented on #288
Please consider making this a must for 0.60

As mentioned in https://github.com/react-native-community/discussions-and-proposals/issues/64#issuecomment-444921788, Cocoapods right now is painful on version upgrades.

[2019-04-10 12:22] #190 closed

[2019-04-10 14:38] davidsharp opened #307 "`react-native upgrade` always upgrades to current version"
I'm running `react-native upgrade`, and it completes "successfully", but always upgrades to RN 0.40.0, the version it's already on

Doing `react-native -v`, `react-native-cli` reports as being 2.0.1

I can't find any info on why this might be happening, and it seems to do it even when I specify the upgrade version.

Am I doing something wrong?

[2019-04-10 14:40] davidsharp commented on #307
[code]

[2019-04-10 15:27] davidsharp commented on #307
Fixed this using: `yarn global add @react-native-community/cli`

[2019-04-10 15:27] #307 closed

[2019-04-10 17:21] grabbou opened #308 "Command to reload Android / iOS simulator"
## Describe the Feature

Users should be able to run `react-native reload` in order to reload Android / iOS devices. The behaviour for reloading is different now on every platform and can be tricky to perform in some cases (e.g. no physical menu button on Android).

## Possible Implementations

There is one implementation that we should look at before implementing, CC: @TheSavior.

Before sending

[2019-04-10 17:21] grabbou commented on #308
CC: @pbitkowski

[2019-04-10 19:02] abachi commented on #181
I have the same issue on windows when I run `react-native run-android`:
info JS server already running.
info Building and installing the app on the device (cd android && gradlew.bat app:installDebug)...
Picked up _JAVA_OPTIONS: -Xmx512M

07:53:08 V/ddms: execute: running am get-config
07:53:09 V/ddms: execute 'am get-config' on 'TO85SCSKRGGQRCTC' : EOF hit. Read: -1
07:53:09 V/ddms: execute: retur

[2019-04-10 19:16] thymikee commented on #181
We're happy to accept help as none of us uses Windows machines for development.

[2019-04-10 20:03] grabbou commented on #308
We should consider doing a Jest-like mode, when running start command would also allow you to press certain letters in order to achieve an action. E.g. `r` for reload or running an iOS simulator.

[2019-04-11 09:56] pbitkowski commented on #308
Thanks for documenting this feature, @grabbou . I'll work on it this week.

[2019-04-12 01:36] gengjiawen opened #313 "cleanup asset"
## Describe the Feature
https://twitter.com/janicduplessis/status/1115025287329271808

## Possible Implementations
https://gist.github.com/janicduplessis/b8423f28977d80c1feda437756054627

## Related Issues
none

[2019-04-12 12:36] export-mike opened #315 "how to upgrade 0.58 to 0.59 using new command"
Hi I'm using react-native upgrade but it appears to only update to the latest 0.58 for me, is there a way to specify a range to get to 0.59?

[2019-04-12 12:41] thymikee commented on #315
Hey! Unfortunately we can't magically inject the new features into od React Native versions. The new `upgrade` command is available _from_ 0.59.0 and later.

What you can do however is to use the CLI as a standalone, e.g. by using `npx`. Feel free to try this:
[code]

Please note that the new `upgrade` command is also git-based and it can still fail. However, if it fails, it should provide you wit

[2019-04-12 12:41] #315 closed

[2019-04-12 13:44] zbluephoenix commented on #273
$ react-native link react-native-gesture-handler --verbose
debug Available platforms: iOS, Android
debug Targeted platforms: iOS, Android
debug Getting project config for iOS...
debug Getting project config for Android...
debug Package to link: react-native-gesture-handler
debug Reading /Users/jabin/CreateApplication/YYHQApp_iOS_RN/ios/Podfile
info Linking "react-native-gesture-handler" iOS depend

[2019-04-12 13:45] zbluephoenix commented on #273
@thymikee

[2019-04-12 13:48] thymikee commented on #273
@zbluephoenix thanks! @grabbou the error comes from `findLineToAddPod` function, can you investigate?

[2019-04-12 13:57] zbluephoenix commented on #273
@thymikee thank you for your reply。 I found a solution.
Add a comment to the Podfile file like this
<img width="637" alt="屏幕快照 2019-04-12 下午9 54 53" src="https://user-images.githubusercontent.com/19974872/56042481-be7a1100-5d6d-11e9-95b3-a37a47f4a302.png">

$ react-native link react-native-gesture-handler --verbose
debug Available platforms: iOS, Android
debug Targeted platforms: iOS, Android
debu

[2019-04-12 14:01] thymikee commented on #273
Thanks for posting this! I can see the code is designed to expect this line which is very weird design choice. It could be named better, like "DO NOT REMOVE. THIS IS FOR CLI POD INTEGRATION TO WORK" or so. Maybe we can squeeze the change to 0.60.

[2019-04-14 17:22] mschipperheyn commented on #107
Obviously, compilation failed. But a little helpful context, goes a long way.
`An application bundle was not found at the provided path.` WHICH path? Just so we can perhaps easily debug a path problem.

[2019-04-14 19:37] noahtallen opened #317 "react-native run-ios doesn't start packager in debug mode if React is linked via Pods"
## Environment

[code]

## Description
At some point through my iOS "journey", I must have disabled launching the packager. I think this happened at the same time I started linking react native exclusively through Pods. As a result, I have _no_ React libs imported into the xcode project manually. I got rid of all of that and did it all through Pods, which has been working _much_ better for linking

[2019-04-14 19:40] thymikee commented on #317
cc @lucasbento as he's working on similar field in #310. Feel free to check it out and suggest improvements!

[2019-04-15 01:34] oshimayoan commented on #27
I saw #26 was closed. So how is this going?

[2019-04-15 06:44] lucasbento commented on #317
@noahtallen: thanks for opening this issue!

By _doesn't always_ do you mean that it launches the packager sometimes and other times not?

Would you be able to provide a small repo with a code that I can reproduce locally?

[2019-04-15 11:58] thymikee commented on #110
@zabojad ping, would you like to take a stab at it? :) We've rewritten `init` to be a local command, so it's way easier to test now.

[2019-04-15 13:23] noahtallen commented on #317
I'll try to create a repo for that! No, I'm sorry for the poor phrasing. It never launches the packager for iOS ewhen running from xcode or from the cli. It does launch for Android.

Noah

[2019-04-15 17:59] Pranit-Harekar commented on #41
Please do something about this, the only workaround here is doing this manually which is cumbersome . Have some way to pass the target name to the `react-native link` command. @grabbou

[2019-04-16 07:29] lucasbento commented on #317
@noahtallen: alright, I'll wait for the project then.

[2019-04-16 19:52] grabbou commented on #273
We should definitely fix it by adding a better error message. I am going to work on it now.

[2019-04-16 19:53] grabbou commented on #308
@pbitkowski, were you able to look into that issue? I am trying to get an
idea whether we can ship it in next React Native or not.

[2019-04-16 20:07] thymikee commented on #168
@Esemesek I'm gonna close this issue as it refers to RN core repository. Feel free to suggest adjustments there, although I think there's still quite a bunch of tooling relying on `local-cli/cli.js` being present

[2019-04-16 20:07] #168 closed

[2019-04-16 21:17] grabbou commented on #273
@zbluephoenix what is the name of your `.xcodeproj` and what is the `target XXX do` line in Podfile? This is an edge case that I would like to fix.

[2019-04-16 21:37] grabbou opened #322 "Be more explicit about CocoaPods markers"
https://github.com/react-native-community/cli/pull/321

We use a string marker to indicate the line after which we should add CocoaPods dependencies. We are still going to support link for a while, after new link is rolled out.

Let's add "DO NOT REMOVE" and a special note that this is used for "link" + link to docs.

[2019-04-16 21:41] #273 closed

[2019-04-16 23:38] zbluephoenix commented on #273
[code]

YYHQApp.xcodeproj

@grabbou

[2019-04-17 01:42] noahtallen commented on #317
Howdy! Here's a repo reproducing the issue: [test-react-native-packager](https://github.com/noahtallen/test-react-native-packager). Please let me know if you have any questions. You should be able to see instructions in the readme. The rational behind removing the manually linked react is that I got _so_ many build errors conflicting with other Pods and whatnot when I had it linked _both_ ways! Ha

[2019-04-17 05:31] grabbou commented on #273
Thanks! So the issue is you have an array of targets and no text marker.
I’ve just shipped a better error message to explicitly say what needs to be
done in order to make link work.

This is going to be much better when we ship autolinking soon.

Meanwhile, I believe we can close this issue since it’s expeced.

On Wed, 17 Apr 2019 at 01:38, JabinZheng <notifications@github.com> wrote:

[2019-04-17 06:49] lucasbento commented on #317
@noahtallen: cool, I'll check it out!

[2019-04-17 07:48] lucasbento commented on #317
@noahtallen: FYI I see that you mentioned that you couldn't build it, I updated my local `cocoapods` to `1.6.1` and did this to get it to run: https://github.com/CocoaPods/CocoaPods/issues/8091#issuecomment-421538684.

[2019-04-17 08:06] lucasbento commented on #317
So, as per what I can see this is because the target `React` on `Pods` doesn't have a start packager build phase as it does when you use it without pods.

### Without pods

![image](https://user-images.githubusercontent.com/6207220/56271018-c502e280-60f7-11e9-8511-1b3cb31c8f7e.png)

### With pods

![image](https://user-images.githubusercontent.com/6207220/56271058-dd72fd00-60f7-11e9-8586-9f649b3b2

[2019-04-17 08:36] thymikee commented on #277
@Grohden I've submitted #320 to tackle it, feel free to test it locally!

[2019-04-17 08:42] cpojer opened #324 "Regression: Cannot connect to packager via IP or physical ios devices"
* * *
  This issue was originally created by @FrikkieSnyman as facebook/react-native#24002.
  * * *

  ## 💥 Regression Report
Upgraded to RN 0.59.0, and tried to run my app on ios. When I tried to enable remote debugging, I got an error saying that the connection to http://localhost:8081/debugger-proxy?role=client timed out.

I followed the troubleshooting here: http://facebook.github.io/react-nat

[2019-04-17 09:22] pbitkowski commented on #308
I weren't able to do so. I will work on that, but I don't think so that it will be ready for 0.60.

[2019-04-17 09:23] thymikee commented on #308
I second to @pbitkowski if we want to create a reliable watch mode, this is gonna take a while and I wouldn't rush it

[2019-04-17 11:50] grabbou commented on #308
Sounds good, I was just referring to his previous estimation.

On Wed, 17 Apr 2019 at 11:23, Michał Pierzchała <notifications@github.com>
wrote:

[2019-04-17 12:29] grabbou opened #326 "Check compatibility with new way of handling assets on Android"
Since [this commit](https://github.com/facebook/react-native/commit/f01c4e2a14c194c7a02bc5afe1900573af02b0c7), we no longer need to copy assets on Android. We can now handle them in a much better way.

We need to check whether there's anything to be done on the link side of things. For example, shall we `noop` on Android when linking assets of a dependency, that uses this new way?

How Gradle hand

[2019-04-17 18:56] #303 closed

[2019-04-17 20:06] orta commented on #317
The file `React.podspec` will want that script adding via [`script_phases`](https://guides.cocoapods.org/syntax/podspec.html#script_phases) key 👍

[2019-04-17 21:08] grabbou commented on #317
I was thinking we could do it as a part of new `autolinking` supporting
build phases. We could then tell React Native to declare it just like any
other dep.

On Wed, 17 Apr 2019 at 22:06, Orta <notifications@github.com> wrote:

[2019-04-17 21:19] orta commented on #317
That can work, you can see how the support works here: https://github.com/react-native-community/cli/blob/master/packages/platform-ios/native_modules.rb#L43-L62

I should get some docs on this out

[2019-04-18 08:05] mshavandi commented on #228
problem still exists

[2019-04-18 08:45] philjoseph opened #329 "react-native link assume Podfile first target is identical to project name"
## Environment

➜  myproj git:(RN594Upgrade) ✗ react-native info
info
  React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (4) x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
      Memory: 18.08 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 8.10.0 - ~/.nvm/versions/node/v8.10.0/bin/node
      Yarn: 1.15.2 - /usr/local/bin/yarn
      npm: 6.5.0 - ~/.nvm/

[2019-04-18 08:51] lucasbento commented on #317
I tried to investigate more of this but I don't really understand how this would fit in the autolinking, I'll be waiting for @orta's docs.

[2019-04-18 09:23] lucasbento opened #330 "UX: throw error about `ios-deploy` not being installed earlier in the process"
## Describe the Feature

For some reason I always get errors with `ios-deploy` not being installed so I have to install it again, right now I have to go through these steps to know that it's not installed:

- Run `run-ios` with `--device` argument;
- Wait a few minutes for the build;
- See the error;
- Install `ios-deploy`;
- Rerun `run-ios`.

This could be improved to show the error to the user a

[2019-04-18 09:34] thymikee commented on #330
Sounds like a nice improvement!

[2019-04-18 11:35] Salakar commented on #288
My PR has been updated to the latest changes now, #258

[2019-04-18 11:43] lucasbento commented on #330
I'll work on this later on this week.

[2019-04-19 12:35] #330 closed

[2019-04-19 17:47] #277 closed

[2019-04-19 18:04] thymikee commented on #288
And it's merged! Now testing time :)

[2019-04-19 18:04] #288 closed

[2019-04-22 17:42] mikeKane opened #342 "Bundling Android async function run() error"
## Environment

react-native-cli: 2.0.1
react-native: 0.59.4

## Description

I am attempting to bundle the android project using this

[code]

However I am getting this error

[code]

[2019-04-22 19:30] thymikee commented on #342
Which version of Node do you use? Can you run `react-native info`?

[2019-04-22 21:05] mikeKane commented on #342
Sure.

[code]

[2019-04-23 07:01] thymikee commented on #342
We'll definitely need a repo which we can download and investigate. Please provide one

[2019-04-23 09:15] wtrocki opened #343 "npm init react-native support"
`npm init react-native` finishes with error:
`command not found: create-react-native`

Current documentation is yarn based, while the general node community and react is basing on `npm init` command to create apps.
For example `npm init react-app my-app`.
Happy to contribute that change back to cli.

[2019-04-23 09:21] thymikee commented on #343
I don't think I understand what's the issue here, can you elaborate?

`create-react-native` is not a package React Native community maintains. There was `create-react-native-app` but it was deprecated.

The preferred way to init new RN projects currently is through global CLI and the instructions are well defined: https://github.com/react-native-community/cli/tree/master/packages/global-cli.

[2019-04-23 09:21] #343 closed

[2019-04-23 09:23] wtrocki commented on #343
I missed that. Thanks for the explanation.

[2019-04-23 10:26] #103 closed

[2019-04-23 10:30] grabbou opened #344 "Autolinking documentation improvements"
https://github.com/react-native-community/cli/blob/master/docs/autolinking.md

- We should extend Android documentation
- We should show "manual" steps to integrate (e.g. add a function to `pod install` yourself). This is useful for those who are upgrading

Feel free to add more here and pick any of these in a form of a PR.

[2019-04-23 15:17] thymikee opened #346 ""rnpm" deprecation warnings encourage library to not be backwards compatible"
## Description

If a package defines both `"rnpm"` key in `package.json` and a `react-native.config.js` file, we still produce warnings:
https://github.com/react-native-community/cli/blob/29ae2531393d42758b49a1b18a31f2ef0f897b64/packages/cli/src/tools/config/index.js#L41-L43

I don't think this is what we want, because if a package wants to get rid of the warning, they'll need to remove "rnpm" ent

[2019-04-23 16:33] mikeKane commented on #342
I'm not sure I am able to give access to this repo. Here is the output from Android Studio. Does this help?

`> Task :app:bundleReleaseJsAndAssets FAILED
/Users/_kane7161/Xcode/Connectify/pingifyV2/node_modules/@react-native-community/cli/build/cliEntry.js:168
async function run() {
      ^^^^^^^^
SyntaxError: Unexpected token function
    at Object.exports.runInThisContext (vm.js:76:16)
    at Mo

[2019-04-23 16:35] thymikee commented on #342
Is there a possibility that your Android Studio uses different Node version, i.e. below 8.3?

[2019-04-23 16:39] mikeKane commented on #342
I don't think but Im not very experienced with Android Studio. Do you know where I would check that? If I build debug it works fine. Release builds throw up this error

[2019-04-23 16:40] mikeKane commented on #342
I do see ```ndroid {
    compileSdkVersion rootProject.ext.compileSdkVersion

    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }
[code]

[2019-04-23 16:45] mikeKane commented on #342
`node -v
v6.4.0

If this helps also

[2019-04-23 16:46] thymikee commented on #342
React Native (and this CLI as well) doesn't support Node 6. You need to use Node 8.3+. Please upgrade and the error will be gone :)

[2019-04-23 16:46] #342 closed

[2019-04-23 16:53] mikeKane commented on #342
android _kane7161$ node -v
v10.15.3
 I still see the issue

[2019-04-23 16:58] thymikee commented on #342
Interesting fact: when you ran `react-native info` to provide us with details of your package, it also used the `cliEntry.js` file where you have your error reported. Please fix your environment, I have no ways to do so unfortunately.

Also make sure you're running the latest version of `@react-native-community/cli`, which is 1.9.2 (remove it from lockfile and install `react-native` again)

[2019-04-23 17:04] mikeKane commented on #342
@thymikee Can you explain a bit more about the first issue you described? Im not sure I follow what you mean

[2019-04-23 17:07] thymikee commented on #342
I'm talking about this message: https://github.com/react-native-community/cli/issues/342#issuecomment-485552401.

The error comes from `node_modules/@react-native-community/cli/build/cliEntry.js:168` which is used when running any command, e.g. `react-native info`. So I just say it's weird you get a syntax error when running one command, but not the other.

If you can't share the project, you can

[2019-04-24 04:26] Ashoat commented on #37
I spent today trying to move to a CocoaPods-based setup and didn't get very far. I went through each of the native modules I used, and ran `react-native unlink react-native-gesture-handler` (for example) and then `react-native link react-native-gesture-handler`. Very few of them worked out of the box. Most ended up having to be manually linked using the classic three-step process.

I would love to

[2019-04-24 08:14] kyle-ssg commented on #37
There’s no way I’d dependencies via pods, it’s so painful. react-native-linknopod is a great alternative

[2019-04-24 09:43] seriiix opened #351 "Can't upgrade from 0.59.4 to 0.59.5"
## Environment

[code]

## Description

When i use `react-native upgrade` on 0.59.4 it produces the following error:
[code]

## Reproducible Demo

Upgrade from 0.59.4 to 0.59.5

[2019-04-24 09:46] thymikee commented on #351
What's the error you get? Do you have a repro maybe? The only difference is the RN version, see: https://github.com/react-native-community/rn-diff-purge/compare/release/0.59.4..release/0.59.5

[2019-04-24 09:53] seriiix commented on #351
Sorry, I accidentally pressed enter on my keyboard and created this issue without writing anything. Now I edited and wrote the problem.

[2019-04-24 10:12] thymikee commented on #351
Oh, I forgot 0.59.5 was reverted and you should upgrade to 0.59.6, which is not available in `rn-diff-purge` repo yet. @pvinis can you fix it?

[2019-04-24 10:14] pvinis commented on #351
0.59.5 is correct, 0.59.6 was reverted and removed from purge.

[2019-04-24 10:19] thymikee commented on #351
Anyway, cli 1.x uses this link: https://github.com/react-native-community/rn-diff-purge/compare/version/0.59.4...version/0.59.5.diff
which doesn't produce any diff
The diff between 0.59.3 and 0.59.4 works as expected: https://github.com/react-native-community/rn-diff-purge/compare/version/0.59.3...version/0.59.4.diff
So it looks like it wasn't published as a tag as it used to (we still need to sup

[2019-04-24 10:20] pvinis commented on #351
Ah. This I can fix. ;)

[2019-04-24 10:27] pvinis commented on #351
fixed! @seriiix please try again. @thymikee your first link now produces the correct diff. all is well with the world. :)

[2019-04-24 10:28] pvinis commented on #351
I don't have permission to close this issue, so any of you two, feel free to do so.

[2019-04-24 10:29] #351 closed

[2019-04-24 10:40] thymikee commented on #351
Thank you @pvinis!

[2019-04-24 12:50] seriiix commented on #351
Thank you @thymikee and @pvinis!

[2019-04-24 16:51] Ashoat opened #352 "CocoaPods linking broken for yarn workspaces"
## Environment

[code]

## Description

I've discovered that if you're using yarn workspaces, the path to Podspecs need to be relative to the whole repo root. In effect, [this line](https://github.com/react-native-community/cli/blob/5f7dba3d6e5720e91c967bdd8bc6867d67485737/packages/platform-ios/src/link-pods/addPodEntry.js#L18) needs to have an additional `../` in front of it when using yarn works

[2019-04-25 08:02] lithin opened #356 "Support lazy/turbo packages"
## Describe the Feature
As described by Ram in his [article](http://blog.nparashuram.com/2019/04/lazy-native-modules-react-native-android.html), Android can greatly benefit from using `LazyReacktPackage` or `TurboReactPackage` to decrease startup time.

It requires adding annotations to native modules themselves but is also backwards compatible in the sense that if annotation is missing, the modul

[2019-04-25 13:04] carinlynchin commented on #48
I use it because some things need to be linked but I never really know what

[2019-04-26 14:15] karanpratapsingh opened #359 "normal linking will be deprecated?"
## Ask your Question
Hey guys, I was wondering if the normal linking (via build phases) will be deprecated after the official release of autolinking + cocoapods? or like how do we migrate from one linking to another and ensure working??

[2019-04-26 14:17] thymikee commented on #359
We hope it's gonna be deprecated some day, but not in the nearest future. We first need to make sure all major 3rd party React Native packages supports it without issues, which can take a while (we hope for joined community effort to help us with that).

The plan is to make autolinking so easy to use, that people will forgot what the `link` command is for – then deprecate it.

[2019-04-26 14:17] #359 closed

[2019-04-26 14:18] karanpratapsingh commented on #359
Thank you :D

[2019-04-28 05:39] michaellujan opened #360 "Error Something went wrong while linking. Error: Cannot find module './lib/parse'"
## Environment

System:
      OS: macOS 10.14.4
      CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
      Memory: 259.62 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.14.0 - /usr/local/bin/node
      Yarn: 1.15.2 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platform

[2019-04-28 07:26] thymikee commented on #360
Can you provide a repro? It's really hard to tell why it went wrong without more info

[2019-04-28 08:08] thymikee commented on #352
We could use `--reactNativePath` flag to infer this and fix the issue, but I don't think we're going to spend any time on that, since autolinking should make the source of the issue gone. Always happy to review a PR if anyone fancy :)

[2019-04-28 15:55] grabbou commented on #346
Good catch. We should have a check before doing it. I'll move `warn` to be printed in `index.js`, instead of inside `readLegacyDependencyConfigFromDisk` and that will solve it :)

[2019-04-29 06:46] michaellujan commented on #360
This is similar to the Yarn issue, in other open tickets, gonna close this one.

[2019-04-29 06:46] #360 closed

[2019-04-30 17:26] mzsanford commented on #342
@mikeKane here is what I found to solve this …

I just did a fresh install for the first time using the instructions at https://facebook.github.io/react-native/docs/getting-started (including a newly installed Node v10.15.3 via nvm) and I'm seeing this for both iOS and Android but not for `react-native info`:

[code]

Since `nvm` and paths can be a little crazy I added `console.log('Node: ' + proc

[2019-05-01 07:56] lucasbento commented on #96
Can we close this? it was done in #239 I believe.

[2019-05-01 07:57] lucasbento commented on #110
Is anyone working on this? If not I would like to do it.

[2019-05-01 07:59] matt-block commented on #96
It's been implemented but many commands of the CLI still don't have any debug level log messages.

Maybe we should track those as a list in a dedicated issue and close this 🤔

[2019-05-01 08:01] lucasbento commented on #96
@matt-block I second this :)

[2019-05-03 21:47] berdyshev commented on #273
I'm getting this error while trying to link custom fonts directory with
`react-native link ./src/resources/fonts`

[code]

Note: we are using lerna and RN project is under the `native` subdirectory

[2019-05-06 06:59] lucasbento opened #367 "Improve `run-ios` experience when selecting a device/simulator"
## Describe the Feature

This is similar to what has been brought up on [#142](https://github.com/react-native-community/cli/issues/142#issuecomment-460011052), basically add a simpler way to specify which device/simulator you want to run your app on.

## Possible Implementations

[code]

[2019-05-06 07:00] lucasbento commented on #367
cc @satya164, perhaps you have some thoughts on this as you are working on #142.

[2019-05-06 07:01] lucasbento commented on #367
Similar work has been done on https://github.com/wswebcreation/start-ios-simulator.

[2019-05-06 09:06] thymikee commented on #273
@berdyshev this is not a valid way to use `link`. You can only pass a valid RN module, like `react-native link react-native-config`. If you want to link assets, you'll need to use `"rnpm"` field for now, like:
[code]

[2019-05-06 11:08] grabbou opened #368 "Automatically run `pod install` when a template ships with a Podfile"
New React Native template has CocoaPods integration and other templates might soon have it too.

Unfortunately, the drawback is that you need to run `pod install` yourself after initing a project.

We want to improve this workflow and make CLI run `pod install` automatically for users when CocoaPods is available or attempt installing.

Since this code is only going to be run when platform is Mac,

[2019-05-06 11:24] berdyshev commented on #273
@thymikee ok, thank you. should I run any command after that? Or just restart the react-native's packager?

[2019-05-06 11:46] thymikee commented on #273
Yes, you need to run `react-native link` after that to make linking happen

[2019-05-06 12:18] lucasbento commented on #368
Any idea on how we would let the user skip the step of installing cocoapods and running `pod install`?

[2019-05-06 12:19] grabbou commented on #368
A `--skip-pods` flag? Why would you want to skip it tho?

[2019-05-06 12:20] lucasbento commented on #368
Just asked because of this :P

[2019-05-06 12:45] grabbou commented on #368
Ah, sorry! I meant something like this:
[code]
(and you can go with `n` if you don't want to do it).

[2019-05-06 15:44] thymikee commented on #367
Can you elaborate more on how to make the experience better? We already have `--device` flag and by default we run first device/some simulator (not sure about the logic here yet). It would be bad if we made the `run-ios` command always interactive imo.

[2019-05-06 17:36] thymikee commented on #248
Closed via 76f079ee8a2ebf9843a47422bdbcb86651b2b086

[2019-05-06 17:36] #248 closed

[2019-05-07 03:02] Vyazovoy commented on #368
I would discourage using `sudo` installation option for Cocoapods as it is rarely used. Usually people use Ruby installed with a help of `rbenv` instead of system one. Either way providing instructions how to install Cocoapods instead of installing it by `cli` looks like more wise approach. As end user suppose to know what is Cocoapods if they are going to use it as an iOS dependency manager.

[2019-05-07 07:38] thymikee commented on #368
Agreed, we should leave installation of CocoaPods to the user, as there are multiple ways it can be installed. The best we can do is to propose a bunch of solutions and link to official CP docs.

[2019-05-07 07:40] matt-block commented on #238
Do we have any updates on this?

[2019-05-07 09:18] lucasbento commented on #367
I'm also against making the `run-ios` command always interactive, this is more like an idea to add a different way of selecting a device to run on _and_ to improve the `--device` argument to accept part of device names.

Currently if you specify `--udid` or `--device` wrong you will get an error with a list of available devices which is currently the only way that you can see their info in the CLI

[2019-05-07 09:30] lucasbento commented on #368
IMO it's not harmful to ask the user if the CLI should automatically install it or not, the approach suggested is [the one recommended in the docs](https://guides.cocoapods.org/using/getting-started.html#installation), for me it just looks a bit weird to ask for user's password when doing it as it uses `sudo` (you can see on #373).

[2019-05-07 10:53] yinhangfeng opened #374 "Cannot read property 'update' of undefined"
## Environment

[code]

## Description

[code]

Server.js
[code]

## Reproducible Demo

maybe this pr #371 causes the reporter to be empty

[2019-05-07 11:02] zusinShinpei opened #375 "`run-android` doesn't start app on device when ANDROID_HOME not set"
## Environment
 React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Pentium(R) CPU G4600 @ 3.60GHz
      Memory: 2.37 GB / 7.89 GB
    Binaries:
      Yarn: 1.15.2 - C:\Users\Shinpei\AppData\Roaming\npm\yarn.CMD
      npm: 6.7.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.4.0.0 AI-183.5429.30.34.5452501

## Description
it doe

[2019-05-07 11:04] thymikee commented on #374
Released 1.9.4 with a revert, thanks for reporting!

[2019-05-07 11:04] thymikee commented on #374
cc @fson mind fixing it?

[2019-05-07 12:39] epileftro85 commented on #48
When you have a react native project and have to migrate to a new installation one run `react-native link` to link all dependencies, imagine if you have to linked them all manually, or when you want to copy bunch of package from an old package.json to a new package.json and some of them need to be linked, `react-native link` is a great tool

[2019-05-07 14:01] grabbou opened #377 "Interactively configure user environment"
## Describe the Feature

CLI could automatically set up and configure user environment while running `react-native init` for the first time on a new machine.

There are some known requirements such as having Android SDK / NDK (when you want to run from source), CocoaPods and XCode.

CLI could attempt installing them (by prompting users) or asking to install manually and press enter when done, to v

[2019-05-08 07:54] hemedani commented on #48
for a most of my new react native project i add a bunch of dependency which is some of that require to linking after that i just one time use `react native link` and it resolve all native issues.

expect that we linking are custom font with `react native link`. how can be link custom font with package name ??

[2019-05-08 08:51] ymeel commented on #352
@thymikee, having the same problem here with yarn workspaces and cocoapods. What's the 'autolinking' feature you're talking about here? Is this something coming in the near future or still a long way off?

[2019-05-08 08:56] thymikee commented on #352
@ymeel near future, see https://github.com/react-native-community/cli/blob/master/docs/autolinking.md

[2019-05-09 09:36] chaitanyaevoke opened #380 "Unable to link realm"
## Environment

Android and iOS

 React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
      Memory: 8.97 GB / 15.90 GB
    Binaries:
      npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.3.0.0 AI-182.5107.16.33.5314842

## Description

Installed realm using "npm install realm". And tryin

[2019-05-09 09:53] thymikee commented on #380
Can you run with the `--verbose` flag for more details where that happens?

[2019-05-09 10:01] chaitanyaevoke commented on #380
debug Available platforms: iOS, Android
debug Targeted platforms: iOS, Android
debug Getting project config for iOS...
debug Getting project config for Android...
debug Package to link: realm
error Something went wrong while linking. Error: Expected "/*" but "=" found.
Please file an issue here: https://github.com/react-native-community/react-native-cli/issues
error Expected "/*" but "=" found.
de

[2019-05-09 10:20] thymikee commented on #380
Looks like it comes from `xcode` so seemingly Realm is doing something unexpected in their `project.pbxproj` or maybe you have some merging issues?

[2019-05-09 10:37] chaitanyaevoke commented on #380
Yes, we got merging issues. Any workaround solution to resolve this issue?

[2019-05-09 11:18] Taym95 commented on #313
Hey @thymikee, I would like to give this issue a try, can you explain a litle bit? should we add a command `cleanupAssets`?

[2019-05-09 11:22] thymikee commented on #313
I'm not really sure if this should sit in core CLI? How about first making it a plugin and see if it gets traction? :) You'll find the docs on making plugins here: https://github.com/react-native-community/cli/blob/master/docs/plugins.md

cc @grabbou @satya164 @ferrannp what do you think about this `cleanupAssets` idea anyway?

[2019-05-09 11:22] grabbou commented on #313
I think it's a good idea to make it a plugin. No reason to put it in the core, especially now that we have a public interface that is nicely described.

[2019-05-09 11:27] thymikee commented on #313
Gonna close the issue then, but happy to keep the discussion going :)

[2019-05-09 11:27] #313 closed

[2019-05-09 12:12] lucasbento commented on #51
So, this is what I got so far to show in the `doctor` command:

### Platform agnostic

- Current folder is a `react-native` project (check if `react-native` is installed)
- `yarn` or `npm` are in a recent version (need to store the minimum version)

### Android

- Check if `ANDROID_HOME` is defined
- Android SDK
- Android NDK (consider not showing every time as it's not needed for everyone)

### i

[2019-05-09 13:34] lucarge opened #381 "Could not find iPad Pro (11-inch) simulator"
## Environment

[code]

## Description

With the version of the cli shipped with `react-native@0.59.5`, I'm not able to run my app on the `iPad Pro (11-inch)` anymore, even though the simulator is available (see the dump below).

Dump of available emulators (first argument of the `findMatchingSimulator` function).

[code]

## Reproducible Demo

1. Create a new React Native app with `react-native i

[2019-05-09 14:07] atrauzzi commented on #51
How lovely!  Some things that come to mind right away:

- `--fix` should have a `--dry` option that explains what it would do.  Especially if it's going to be modifying paths.
- Make sure `--fix` works on Windows
- Support checking JDK (Oracle JDK and openjdk) and perhaps can allow you to pick which to use if you have both available.
- Check for HAXM, qemu, hyper-v, etc...

Will add any more I com

[2019-05-09 14:10] sibelius commented on #51
can we also check if all native/bridge packages are linked properly?

[2019-05-09 15:21] matt-oakes commented on #51
Could this be a "yellow dot" instead of a red cross for a "warning"?

[2019-05-09 16:22] saxenanickk commented on #51
@lucasbento Also check for Android Build Tools Version.
And Node version & Watchman shouldn't be in iOS requirements.

[2019-05-09 17:12] lucasbento commented on #51
@atrauzzi: awesome idea, do you have an example of how this would look like?

Thank you for the other points, I'm trying to keep this as _MVP_ as possible, just include stuff that's necessary for the user right now and later on we can iterate over it.

[2019-05-09 17:14] lucasbento commented on #51
@matt-oakes: that's a good idea, I was thinking about that as well but I also want a way that's not too noisy for the user... perhaps just the warning is fine for now.

[2019-05-09 17:14] lucasbento commented on #51
@saxenanickk: good ones, thanks for pointing that out!

[2019-05-09 21:25] vitorverasm commented on #51
This is very useful

Signing configs for both Android and iOS could also be checked? I know that these configs are not required but it would be great if it showed something like:
[code]

[2019-05-10 01:38] lwinkyawmyat commented on #51
Should we check application version, package (or) bundle Identifier before build.

[2019-05-10 08:11] lucasbento commented on #51
@sibelius: sorry, I missed this as a question, soon we will have autolinking working (`0.60`, I belive?!) will that still be needed as if a package is not linked it means that it's a problem with the package itself? /cc @grabbou

[2019-05-10 08:12] lucasbento commented on #51
@vitorverasm: thanks for the idea, I'll keep that in mind for a next iteration.

[2019-05-10 08:13] lucasbento commented on #51
@lwinkyawmyat: I don't think this should be contained within the `doctor` as the initial setup for this already comes working fine from the `init` command.

[2019-05-10 11:05] IljaDaderko commented on #51
Would it be a good idea to include clickable link to resources like XCode / Android download page if they fail i.e. `you can get it at https://developer.android.com/studio` ?

[2019-05-10 12:08] atrauzzi commented on #51
@lucasbento - Probably enough to spit out all the commands it would run.  That way if people want to save a copy for their system setups, or tweak things before running, they can.

[2019-05-10 13:19] #251 closed

[2019-05-10 13:37] thymikee opened #382 "Add "optimize" command for images like Expo does"
## Describe the Feature

See: https://blog.expo.io/image-compression-with-expo-cli-d32d15cc8b73

[2019-05-12 07:38] #368 closed

[2019-05-12 08:53] jjlorenzo commented on #173
I have that error too, which was the solution? Thanks

[2019-05-12 20:18] devproivansurzhenko commented on #273
@thymikee I have pretty same issue as @berdyshev even if `react-native link` in action

[code]

[2019-05-12 20:42] devproivansurzhenko commented on #273
@berdyshev I have found a workaround. `react-native-asset` module ( https://www.npmjs.com/package/react-native-asset ) made the deal!

[2019-05-13 06:58] lucasbento commented on #51
@IljaDaderko: that's a very good idea, we are definitely doing that!

[2019-05-13 09:00] lucasbento commented on #382
Expo uses https://github.com/lovell/sharp.

[2019-05-14 04:49] sartaj opened #385 "Using template arg with `file:`, `.tgz`, or `https` fails"
## Environment

[code]
## Description

Using any non `react-native-template-*` path fails with the same error. This could be a regression, as the CLI code has tests for these different kinds of paths.

## Reproducible Demo

### `.tgz`

[code]
[code]

### Local file

_this is a clone of the typescript template_

[code]

[code]

[2019-05-14 07:14] thymikee commented on #385
We don't have incentive to work on legacy init at this point (by legacy I mean the one you access through global `react-native` binary exposed by global `react-native-cli` package). Since React Native 0.60 you will be able to do it with new `init` command that will be accessible through local `react-native` binary or directly from `@react-native-community/cli` package. It's already available in ou

[2019-05-14 07:14] #385 closed

[2019-05-14 11:34] lucasbento opened #387 "Add `clean` command"
## Describe the Feature

I catch myself quite often recommending [react-native-surrender](https://github.com/tiaanduplessis/react-native-surrender) to technical but mostly non-technical people to get to a _clean state_ when working with react-native. It would be nice to have an official `clean` command that cleans up dependencies such as from `yarn` or `cocoapods` as well as Xcode, Android and wat

[2019-05-15 05:06] mikehardy commented on #387
I am okay with almost any slicing (by layer - ios/android/react-native modules, by system - metro/node_modules/watchman/etc) so long as there is at least one simple version (perhaps the default? or something that sounds thorough like 'deep-clean") that eradicates absolutely every single bit of state it is possible to eradicate, ideally leaving you with what you would have if you just finished inst

[2019-05-15 13:38] #374 closed

[2019-05-15 16:50] garretteklof commented on #110
Is there a manual workaround for this? If I init a react-native project with an app name, then change the folder name (not app name) it will no longer build. I'm guessing there a few other things I need to change in some configs. The name of my folder can differ from the name of the app itself, correct? Any help would be greatly appreciated.

[2019-05-16 01:25] marimendes commented on #273
The same here:
[code]

[2019-05-16 06:29] lucasbento commented on #110
@garretteklof: changing just the folder should work fine, if you have a unix-like OS just do `mv MyProject my-new-project-folder` and that should be it.

[2019-05-16 14:07] garretteklof commented on #110
Yeah every time I do that (just change the folder name, or `mv`) it won't build.
<img width="773" alt="Screen Shot 2019-05-16 at 9 06 42 AM" src="https://user-images.githubusercontent.com/4140229/57860165-f4ba0e80-77b9-11e9-9715-3d115d9a4626.png">

[2019-05-16 14:21] thymikee commented on #110
@garretteklof this issue and @lucasbento response is about chaning the _root_ directory of your React Native project, not the Xcode or Android project name. Please mind the difference. The later is not supported automatically.

[2019-05-16 14:37] garretteklof commented on #110
@thymikee I'm aware. I definitely just want to change the root folder (I know there's a separate process for the project name). For me, what worked was deleting the `ios/build` folder, and then re-running `react-native run-ios`. Without doing that, build errors like the one I pasted above kept occurring. Hopefully this is of some help to someone. Thanks.

[2019-05-16 14:39] garretteklof commented on #110
@thymikee I'm aware. I definitely just wanted to change the root folder (I know there's a separate process for the project name). Apologies if I didn't spell that out well enough. For me, what worked was deleting the `ios/build` folder, and then re-running `react-native run-ios`. Without doing that, various build errors like the one I pasted above kept occurring. Hopefully this is of some help to

[2019-05-17 04:51] XingXiaoWu opened #392 "How to add a command for the scripts for a new project via the template file?"
I want to create my own template, and so far I'm about halfway there.

My file structure is as follows

<img width="438" alt="WeChat43f4293b0829b68fb1b66d06d7d4d087" src="https://user-images.githubusercontent.com/22769131/57903633-6faa2480-78a1-11e9-8773-c473119d88f6.png">

I created dependencies.json, devDependencies.json was successfully added to package.json, index.js, babel.config.js was also

[2019-05-17 05:36] mikehardy commented on #387
So I thought a plugin might be just as good, maybe? and I saw this existing project that was close to working as a plugin, so I did a thing: https://github.com/pmadruga/react-native-clean-project/pull/12

[2019-05-17 07:00] lucasbento commented on #387
@mikehardy: IMO a plugin should be fine as long as we can recommend it _in official channels_.

[2019-05-17 07:08] mikehardy commented on #387
Yeah - agreed about that ability to recommend or not. I'd leave it to the repo author, and if not, it will form the basis for a possible internal implementation, sort of an incubator of the idea

[2019-05-17 07:27] thymikee commented on #392
Yea, old way to init is pretty daunting and limited and AFAIK it's not possible because the `react-native-cli` is creating this package.json.

However, we've been working on the new `init` that doesn't have such limitations and you can create whichever template you like. Here are the docs on that: https://github.com/react-native-community/cli/blob/master/docs/init.md

You'll notice it's available

[2019-05-17 07:27] #392 closed

[2019-05-17 07:30] XingXiaoWu commented on #392
Sorry, I have read this document, but it doesn't solve my problem

My question is, how do I add a new command to the scripts in the package.json of a project created via template?

[2019-05-17 07:34] thymikee commented on #392
How do you run your init command?

From your screenshot it looks like you use:
1) `template.config.js` – this is only understood by new init
2) `dependencies.json` – this is irrelevant for new init, used by old init
3) `devDependencies.json` – same ^
4) `scripts.json` – same ^

In new init you just create your `package.json` with anything inside (i.e. certain scripts added) and it will be copied a

[2019-05-17 07:40] XingXiaoWu commented on #392
I think I probably understand what you mean, but I am confused and hope to get your reply.
1. From the point of view, this is prepared for react-native 0.60.0. The current latest version is 0.59.8. Is it applicable?
2. In the new init, I don't want to destroy the contents of the original package.json. I just want to add some configuration I need. I don't know if the content I created in package.js

[2019-05-17 07:45] thymikee commented on #392
You can use the new init through standalone CLI to install _any_ version of React Native, it will just be available in `react-native` from 0.60 (using `npx react-native init` spawn new init, and globally installed `react-native init` will use old for backcompat)

See the example of new template here: https://github.com/Esemesek/react-native-new-template/

Feel free to compare the `template/package

[2019-05-17 07:47] XingXiaoWu commented on #392
I think I probably understand what you mean,let me try,thanks:)

[2019-05-17 16:07] mikehardy commented on #387
Just cross-posting status for anyone following along: I have some good feedback to respond to on the PR, but it appears the repo maintainer likes it, so leaving the discussion of "recommandable in official channels" aside, that repo will have a nice clean plugin within a couple days

[2019-05-17 16:25] #110 closed

[2019-05-17 18:20] awesomeo99 commented on #273
I am having the same problem while installing fonts. I tried react-native-asset as suggested by @devproivansurzhenko and the fonts were still not installed.

[2019-05-20 12:06] grabbou commented on #380
The `pbxproj` is invalid and cannot be parsed. We should probably add a better error message for that error.

@chaitanyaevoke, please resolve remaining conflicts (or open the project with XCode) and then, try linking it again.

Also, please consider attaching `.pbxproj` here for debugging purposes. It's a file inside `YourProject.xcodeproj` (open it just like any other folder)

[2019-05-20 12:23] grabbou commented on #273
It would be great if you provided a source code somewhere (can be via private Github invitation) so we could look into that and fix it.

It's hard to debug locally w/o reproduction.

[2019-05-20 12:27] devproivansurzhenko commented on #273
@awesomeo99 did you receive any error at `react-native-asset` run?

[2019-05-20 12:41] devproivansurzhenko commented on #273
Interesting... created an RN app from scratch. `react-native link` works fine.

[2019-05-20 12:50] #346 closed

[2019-05-20 17:16] JamesFoley1 commented on #173
I have the same issue. Any information on the solution? Thanks

[2019-05-20 17:23] thymikee commented on #173
This is not an error that comes from the cli. Look it up in the react-native core repo or start a new issue with a minimal reproducible example

[2019-05-21 04:17] Eyesonly88 commented on #273
**Workaround:** doing `react-native link` works but doing `react-native link ./assets/fonts` gives the dependecy error. The downside of doing not specific link is that it will try and link all your dependencies.

[code]

**Environment**

[code]

**Package.json**

[code]

[2019-05-21 07:18] thymikee commented on #273
Folks, using `link` like this: `react-native link ./assets/fonts` **was never supported and will likely never be**. Where do you get this information from? The `link` command accepts only an npm package name or nothing, so:

[code]

[2019-05-21 07:29] FrikkieSnyman commented on #324
Any progress on this?

[2019-05-21 07:44] thymikee commented on #324
AFAIK nobody is currently working on this. The blocker for us internally was that we couldn't find a reliable way to test the `start` command locally after migration to monorepo. Thankfully we've recently found a way to do it, so if anybody is interested in investigating this, please use one of these commands:

[code]

The `REACT_NATIVE_APP_ROOT` flag lets Metro resolve local paths inside this dir

[2019-05-21 10:02] hardiknakrani25 commented on #273
i'm getting this error while linking the async storage

[code]

[2019-05-21 10:06] grabbou commented on #273
This has been fixed in https://github.com/react-native-community/cli/pull/321 and now, the error message is:

[code]

I am going to lock it

[2019-05-21 10:49] thymikee commented on #273
FYI this was fixed in the v2 of the CLI and wasn't yet ported to `1.x` branch which is used by React Native 0.59. We'd be grateful for a PR to 1.x branch with the PR mentioned by @grabbou ported

[2019-05-22 01:08] kochoru opened #399 "Why `react-native init` generates TypeScript code in `.js` file?"
## Environment
- OS:macOS
[code]

## Question

Why `react-native init` generates TypeScript code in Javascript file?
For example, `App.js` looks like that.

[2019-05-22 05:52] thymikee commented on #399
It's not TypeScript, it's Flow and there's nothing changed lately about that.

[2019-05-22 05:52] #399 closed

[2019-05-22 09:00] kochoru commented on #399
Thanks!

[2019-05-22 09:42] thymikee commented on #273
Went ahead and ported it to 1.x: https://github.com/react-native-community/cli/releases/tag/v1.9.5. Hope it's gonna be easier to track the problem now!

[2019-05-23 11:32] artechventure opened #400 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
## Environment

React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
      Memory: 2.16 GB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.15.3 - ~/.nvm/versions/node/v10.15.3/bin/node
      Yarn: 1.16.0 - ~/.nvm/versions/node/v10.15.3/bin/yarn
      npm: 6.9.0 - ~/.nvm/versions/node/v10.15.3/bin/npm

[2019-05-23 12:22] thymikee commented on #400
This is likely something leaking in your code or a Metro issue. Please move it there.

[2019-05-23 12:22] #400 closed

[2019-05-24 11:24] radex opened #401 "Swift support by React Native CLI"
## Describe the Feature

Continuing conversation in Kraków w/ @thymikee :

I think React Native Community should head towards embracing Swift.

- IMO it would be best to set up new RN projects with Swift configured
- this might be unnacceptable for some since this adds a couple of MB to the binary if supporting iOS <12.2. OTOH this is similar to how Android packages are at least a couple of MB bec

[2019-05-24 11:26] thymikee commented on #401
Thanks for bringing that up! cc @orta @alloy

[2019-05-24 11:42] orta commented on #401
As an (non-default) option that seems reasonable to me.

Adding support to rn-cli will need an extra level of integration testing in RN core because Facebook doesn't build React Native itself as a dynamic framework which will have to be officially supported also. That was a lot of the work which lived in [cp-rn-fixer](https://www.github.com/orta/cocoapods-fix-react-native because we use a framewor

[2019-05-24 13:55] radex commented on #401
Hold on, why do it as a dynamic framework, and not statically linked one? Dynamic frameworks have launch time overhead, and so ever since Swift supports static linking, it's been my impression that it's best to do it that way, unless you specifically want a framework, for, say, app extension sharing

[2019-05-24 15:03] orta commented on #401
I'm just used to writing dynamic framework, static/dynamic doesn't matter here - the framework aspect is what's important 👍

[2019-05-24 16:37] alloy commented on #401
Hey @radex 👋

That sounds great! I do agree with @orta that it should probably not be the default, because it may require the user to have to know more (as RN isn’t Swift) than they already wanted to know about the native bits.

[2019-05-24 18:22] tabrindle commented on #51
Here are two projects that would definitely help your development of this feature:

https://github.cxom/infinitered/solidarity - Solidarity is an environment checker for project dependencies across multiple machines.

https://github.com/tabrindle/envinfo/ - Generate a report about your development environment for debugging and issue reporting

Between these two, you may find you don't have an awfu

[2019-05-26 11:33] thymikee commented on #51
Thanks!

[2019-05-27 13:10] dkozma opened #405 "v1.9.6 breaks NPM install"
## Environment
[code]
## Description

Cannot install library since it fails during NPM install. v1.9.5 works fine.

## Reproducible Demo

v1.9.6 failure:
[code]

compare to v1.9.5 output:
[code]

[2019-05-27 13:15] thymikee commented on #405
Bad publish, fixed in 1.9.7, thanks!

[2019-05-27 13:15] #405 closed

[2019-05-28 03:42] youngjuning commented on #48
如果移除了，那么 react-native-template 项目怎么办

[2019-05-28 08:33] ou2s commented on #317
Also having this issue after linking react native exclusively with Cocoapods during 0.59.5 update. In our case the issue is ALWAYS occurring in Debug. So please change the title of the issue as @noahtallen confirmed it is the same for him.

I found a workaround:
- Add manually the Build Phase script and change the path of the launchPackager.command. Below you'l find the modified script
[code]

[2019-05-28 14:59] ibrahimahmed-io opened #406 "Cannot find module '@react-native-community/cli'"
## Environment

Running 'react-native info' throws that error as well.

internal/modules/cjs/loader.js:584
    throw err;
    ^

Error: Cannot find module '@react-native-community/cli'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
    at Function.Module._load (internal/modules/cjs/loader.js:508:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)

[2019-05-28 15:09] thymikee commented on #406
That's likely because you installed 1.9.6, please remove `@react-native-community/cli` and install deps once again.

[2019-05-28 15:19] ibrahimahmed-io commented on #406
@thymikee I am running 'react-native init App' and it fails after yarn install the modules so my package.json looks like this after that.

[code]

The only message i am getting is 'Error: Cannot find module '@react-native-community/cli' and no so much to go on from there i uninstalled the global react-native-cli and reinstalled but still the same error also removing '@react-native-community/cli' u

[2019-05-28 15:23] thymikee commented on #406
Which version of `@react-native-community/cli` is installed? Can you share this repo with me? I've ran init today with the same version and it works just fine. I'm assuming this is something with your environment.

[2019-05-28 22:49] ibrahimahmed-io commented on #406
@thymikee I guess it was a long file path issue it got resolved when i run the command on the root drive.

[2019-05-29 07:11] thymikee commented on #406
Ah, Windows...

[2019-05-29 08:42] doddys commented on #342
I was having the same problem. This solution works.

[2019-05-29 21:58] noahtallen commented on #317
I tried to put the meat of the issue in the title ;) @ou2s

[2019-05-29 23:12] mikehardy commented on #387
Final cross-post on this, but worth mentioning that the react-native-clean-project with [my PR to do `react-native clean-project-auto`](https://github.com/pmadruga/react-native-clean-project/pull/12) was accepted, merged, and has been published as version 3.2.1 on npmjs.com.

I believe a 3rd party plugin is good enough to be recommended through official channels so this issue might be resolved by

[2019-05-30 01:40] Federkun opened #408 "react-native link only works on ios when working with a monorepo"
## Environment

[code]

## Description

When working on a monorepo ( eg. https://github.com/brunolemos/react-native-web-monorepo ), and one of the multiple packages is a react-native application, running `react-native link` will correctly link iOS, but not android.

## The issue

It works on ios because https://github.com/react-native-community/cli/blob/c3b0d4729eed305d046344e8c56ba6db1d57a5f3/pac

[2019-05-30 05:47] thymikee commented on #408
Thanks! Looking forward to it

[2019-05-31 08:38] lucasbento commented on #387
@cpojer @kelset: what do you think about recommending @mikehardy's solution on the documentation in a troubleshooting section?

[2019-05-31 18:13] sibelius opened #411 "No podspec exists at path `packages/app/node_modules/react-native-app-auth/.podspec`"
## Environment

[code]

## Description

when running `pod install` it throws an error

[code]

## Reproducible Demo

[code]

It throws the same error both on single repo and on monorepo

[2019-05-31 18:21] thymikee commented on #411
Please file this issue in the https://github.com/FormidableLabs/react-native-app-auth repo, or better, send a PR with a podspec, ideally similar to this one https://github.com/react-native-community/react-native-webview/blob/master/react-native-webview.podspec :)