[2022-08-25 08:56] olivierlesnicki opened #1689 "npx react-native init fails"
## Description

It's impossible to use the cli to start a new react-native project on Mac OS.

Running

[code]
fails with error `error Failed to load configuration of your project.`

[code]

[2022-08-25 09:11] olivierlesnicki commented on #1689
By installing react-native and react-native-cli globally I'm able to go a bit further in the  process.
However this one ultimately fails with this error.

[code]

[2022-08-25 09:12] thymikee commented on #1689
@olivierlesnicki please remove the global `react-native-cli` package. It's very long deprecated

[2022-08-25 09:14] olivierlesnicki commented on #1689
@thymikee  Removing this package doesn't fix anything, since the issue existed prior to its installation.

[2022-08-25 09:14] olivierlesnicki commented on #1689
This issue shouldn't be closed.

[2022-08-25 09:22] olivierlesnicki commented on #1681
I have the same issue: https://github.com/react-native-community/cli/issues/1681

[2022-08-25 09:35] olivierlesnicki commented on #1689
Found the issue, I was trying to create MyApp in a directory that was a child of child of a directory that contained a package.json and an old local version of react-native and react-native-cli. Starting the project in a clean directory.

[2022-08-25 09:35] #1689 closed

[2022-08-25 20:11] CCB-cerivera commented on #1688
It is solved by uninstalling react-native-cli

[2022-08-25 20:11] #1688 closed

[2022-08-26 02:54] galihlprakoso opened #1690 "[profile-hermes]: no such file or directory, open '/data/user/0/com.sayurbox/cache/sampling-profiler-trace*.cpuprofile/sampling-profiler-trace*-converted.json"
## Environment

[code]

## Description

I have successfuly start and stop Hermes Profiling and the toast is showing the path of the *.cpuprofile path. But when I tried to run this command:
`npx react-native profile-hermes /data/user/0/com.mypackage/cache/sampling-profiler-trace8011683141873887643.cpuprofile`

This error was thrown:
[code]

When I checked it through adb shell, the file is there saf

[2022-08-26 03:18] galihlprakoso commented on #1690
Turns out my command was wrong I'm sorry.
[code]
This should be path directory:
[code]

[2022-08-26 03:18] #1690 closed

[2022-08-27 17:10] krmao commented on #1600
same problem as 0.68.2, when move android dir outer react-native js project use relative path

[code]

[2022-08-27 18:21] krmao commented on #1600
I found the key in native_modules.gradle

[code]

they force people use parent dir node_modules, can't custom clipath now.
please why do this?
[integrate rn to exsting app, it is really different parent dir.](https://reactnative.dev/docs/0.68/integration-with-existing-apps)

[2022-08-27 18:33] krmao commented on #1491
@kesha-antonov cliPath is not found in

[code]

please see (https://github.com/react-native-community/cli/issues/1600#issuecomment-1229240714)[https://github.com/react-native-community/cli/issues/1600#issuecomment-1229240714]

[2022-08-27 18:59] kesha-antonov commented on #1491
Sorry bro
I'm on the higher rn version and everything works

[2022-08-28 05:03] krmao opened #1691 "Error: Cannot find module 'react-native/cli'"
bug: Error: Cannot find module 'react-native/cli'  when move android dir outer react-native js project use relative path

I found the key in native_modules.gradle

[code]

same project with different dir got different output
[code]

[code]
this will force people use parent dir node_modules, can't custom clipath now.
[integrate rn to exsting app, we really need a different js dir, not must be a par

[2022-08-28 05:05] krmao commented on #1491
ok, we should be different problem, my android project is outter rn js project,[ latest code is same](https://github.com/react-native-community/cli/blob/main/packages/cli-platform-android/native_modules.gradle)

[2022-08-31 09:18] xiaohui-gsv opened #1692 "When running npx react-native xxxx, it will let me download react-native@0.69.5, and then failed with errors"
I want to initiate a new react-native 0.69 project, so I uninstall the `react-native-cli` with `npm uninstall -g react-native-cli`, and then I run the `npx react-native init rn69`, the prompt let me to download react-native@0.69.5, and then error happens, please refer to below screenshot:
<img width="611" alt="image" src="https://user-images.githubusercontent.com/38554198/187643941-291725f2-1564-4

[2022-09-01 02:53] xiaohui-gsv commented on #1692
Hi @adamTrz , I just tried, doesn't work. thank you.

[2022-09-01 03:26] xiaohui-gsv commented on #1692
Hi @adamTrz , the log said that found react-native@0.67.4, and I found this under `.npm/_npx` folder, please refer to below screenshot, I'm not sure if this has anything to do with him. Thank you.
<img width="806" alt="image" src="https://user-images.githubusercontent.com/38554198/187825255-c28b71fa-2e78-4f53-a3b1-df78aa91b720.png">

[2022-09-01 08:02] adamTrz commented on #1692
Try to delete `_npx` folder as well maybe?

[2022-09-01 09:02] xiaohui-gsv commented on #1692
@adamTrz will the `_npx` deletion affect my current project? since I have some projects base on 0.67.4, :)

[2022-09-01 09:17] adamTrz commented on #1692
It shouldn't I think :)
You can always make a copy just for safekeeping and rename it to sth like `_npx_backup`
Sth like that maybe? `cp -a /_npx/. /_npx_backup/`

[2022-09-01 20:14] pnogier commented on #885
Hi @ankitjainOfficial
Currently experiencing the exact same issue when upgrading from 0.66.4 to 0.69.5.

Were you able to find any solution for this issue ?

Thanks 🙏

[2022-09-02 01:44] xiaohui-gsv commented on #1692
It works, haha, thank you @adamTrz .

[2022-09-02 01:51] #1692 closed

[2022-09-02 03:28] karlmarxlopez opened #1694 "Possible bug, reporting unsupported watchman version"
## Environment

[code]
## Description

When I run, `npx react-native doctor` it's giving me an error that my current version `2022.08.29.00` is unsupported, even though that is the latest release 4 days ago.

## Reproducible Demo

1. Install watchman using `brew`
1. After installation, `npx react-native doctor` inside a react-native project.

[code]

[2022-09-02 03:32] xiaohui-gsv commented on #1681
I have the issue with `npx react-native init`, but the error is different, I deleted the `.npm/_npx` folder, and it works.
You can refer to [1692](https://github.com/react-native-community/cli/issues/1692) for more details to see if it can help.

[2022-09-02 12:30] adamTrz commented on #1694
Hi @karlmarxlopez
Unfortunately I cannot reproduce this issue :|
Just upgraded `watchman` to latest and run doctor in fresh project and all seems fine.
[code]

Have you done this check inside new project?

[2022-09-02 15:04] kuzkokov commented on #1627
I believe this is still legitimate question.
`react-native-asset` was last time published 2 years ago, so I am not sure if this is the best way to link fonts.

[2022-09-02 15:21] karlmarxlopez commented on #1694
@adamTrz , I tried it on 2 projects. Relatively new, but I did not tried it on a fresh project.

Both projects shows the same watchman version error.

[2022-09-02 18:28] rjatin007 commented on #1681
@xiaohui-gsv  mine doesn't even start the command

[2022-09-03 06:37] 0xf2dd55 commented on #1681
Hi, I have the same issue recently.
I did create one new project successfully and I still can run it but I can't create a new one or try to run another project I downloaded from a repo.
I do not have a cli installed globally and only have a few npm packages installed globally :
├── create-react-app@5.0.1
├── npm-check-updates@15.0.4
├── npm@8.18.0
├── patch-package@6.4.7
├── solc@0.8.15
└── truffl

[2022-09-04 20:09] rosenpin commented on #1111
This is dumb. Please re-open the issue.
It's elementary functionality, we shouldn't have to manually do find-replace project wide because of some uptight maintainer..

[2022-09-05 04:38] sabinss opened #1696 "Could not find method isNewArchitectureEnabled() for arguments on project :app of type org.gradle.api.Project"
## Environment

System:
    OS: macOS 12.2
    CPU: (8) arm64 Apple M1 Pro
    Memory: 2.98 GB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.16.0 - /opt/homebrew/opt/node@16/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.11.0 - /opt/homebrew/opt/node@16/bin/npm
    Watchman: Not Found
  Managers:
    CocoaPods: 1.11.3 - /opt/homebrew/bin/pod
  SDKs:
    iOS SDK:

[2022-09-05 08:26] thymikee commented on #1696
RN CLI v9 is not intended for RN 0.63, but for 0.70. Please don't use the `@react-native-community/cli` dependency directly. Remove it and leverage `npx react-native` which calls correct version of the CLI under the hood.

[2022-09-05 08:26] #1696 closed

[2022-09-06 07:30] allemanfredi commented on #1696
I'm using `"@react-native-community/cli": "v9.0.0-alpha.5"` but i get the same error.

[2022-09-06 07:50] allemanfredi commented on #1696
I'm using RN CLI v9 but i get the same error

[2022-09-06 08:37] allemanfredi commented on #1696
This is a patch that (i think) solves the above error.

[code]

Unfortunately now i get another error but i think it's not related to this.

[code]

[2022-09-06 10:04] liamjones commented on #1694
Might be related to this? https://github.com/react-native-community/cli/issues/1485

[2022-09-06 10:30] allemanfredi commented on #1696
SOLVED: i had to change `build.gradle` like [here](https://github.com/react-native-community/react-native-template-typescript/blob/main/template/android/app/build.gradle#L307).

[2022-09-06 13:02] mshavandi opened #1697 "Build failed on Android after upgrading to react-native@0.70.0"
## Environment

System:
    OS: Windows 10 10.0.19044
    CPU: (8) x64 Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz
    Memory: 3.46 GB / 15.84 GB
  Binaries:
    Node: 16.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.17 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 8.13.2 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
    Windows SDK: Not Found
  ID

[2022-09-06 13:41] thymikee commented on #1697
Is it possible you haven't updated your app/build.gradle to include the `isNewArchitectureEnabled` helper? Looking at https://react-native-community.github.io/upgrade-helper/?from=0.68.2&to=0.70.0 the helper is already there for 0.68 so maybe it was omitted earlier?

[2022-09-07 02:25] vieMengm commented on #1697
add this to the bottom of your build.gradle like this

`def isNewArchitectureEnabled() {
    // To opt-in for the New Architecture, you can either:
    // - Set `newArchEnabled` to true inside the `gradle.properties` file
    // - Invoke gradle with `-newArchEnabled=true`
    // - Set an environment variable `ORG_GRADLE_PROJECT_newArchEnabled=true`
    return project.hasProperty("newArchEnabled")

[2022-09-07 09:40] thymikee commented on #1485
Thanks for noting that! Makes sense to update the logic for Watchman then 👍🏼 cc @adamTrz

[2022-09-07 11:22] zain-khalid commented on #1457
Follow this, it worked for me.

For Mac users, use the following command:
open -a /Applications/Android\ Studio.app /path/to/my_android_project

For Windows users, use the following command:

start "" "C:\Program Files\Android\Android Studio\bin\studio64.exe" "X:\path\to\my_android_project"

reference https://stackoverflow.com/questions/35363546/open-androidstudio-project-from-command-line-on-osx

[2022-09-07 14:05] #1697 closed

[2022-09-08 11:02] AndreiBacescu commented on #885
In my case, I've deleted react-native-config.js and the error disappeared.

[2022-09-09 11:59] adamTrz commented on #1694
@karlmarxlopez can you please check if my [proposed fix ](https://github.com/react-native-community/cli/issues/1485)solves your issue? :)

[2022-09-09 15:43] buasuwan commented on #1697
I got the same error. There is no folder "/node_modules/hermes-engine"
Please try.

npm i hermes-engine
or
yarn add hermes-engine

After this error was gone, I had another problem. My app can't run on the Android emulator.

[2022-09-09 21:24] mjvestal commented on #1681
This is happening for me when trying to run `npx react-native --verbose` in a folder that is within another project that has a `package.json` (a monorepo).
I noticed that I **could** init a new project in my `Documents` directory just fine, so then I went back to the monorepo folder (a folder up from where I originally tried & failed to init a new React Native project) and deleted the `package-loc

[2022-09-10 12:09] webdevhayes commented on #885
I had this issue because i removed some dependencies from my package.json and the react-native-config.js file was still referring to those dependencies. I remove them from the .js file and I was able to pod install again.

[2022-09-15 12:37] cortinico commented on #1636
Reviving this as I believe this is a weird behavior we might want to warn the user about. See https://github.com/facebook/react-native/issues/34681

[2022-09-15 15:45] thymikee commented on #1636
Happy to accept a PR adding a warning about this behavior when both `--version` and `--template` are used

[2022-09-19 11:48] guillaume-g commented on #885
Thanks @webdevhayes, that was it!

[2022-09-19 19:16] adnan1234-ad commented on #785
I have no app/build folder in the project but getting the same error
I tried the same solution but did not fix it
Solution 1: run npm i --save @react-native-community/cli-platform-android
Solution 2:Try deleting app\build\intermediates\signing_config\debug\out\signing-config.json

[2022-09-19 19:37] #1218 closed

[2022-09-20 08:33] mrRubyDev commented on #885
I tried `npm uninstall -g` but for some reason it didn't remove it. You can check your global `node_modules` folder to see if it's still there.

[2022-09-21 14:26] masonlin commented on #1689
If you previously installed a global react-native-cli package, please remove it as it may cause unexpected issues:
npm uninstall -g react-native-cli @react-native-community/cli
(ref: https://reactnative.dev/docs/environment-setup)

[2022-09-21 15:05] harryt04 commented on #1311
it is outrageous that you closed this issue after a half-assed response like that.

[2022-09-22 01:10] swrobel opened #1702 "No Simulator Available bug after updating to XCode 14"
## Environment

[code]

I'm not sure why it's saying `@react-native-community/cli: Not Found`:

[code]

## Description

After updating to XCode 14, I can't run my application without manually specifying a simulator.

[code]

All instances of "iPhone 13" in `xcrun simctl list --json devices` have `"isAvailable" : false` ([gist](https://gist.github.com/swrobel/9c84ffb5c702da98b98a7d1774d122d5)), so

[2022-09-22 11:52] mo22 commented on #1379
This works for me:
[code]

[2022-09-22 12:44] thymikee commented on #1702
Addressed by #1701 which is in review

[2022-09-23 07:52] piyawong commented on #1681
i got this bug when i have expo-cli in my global list  try :
yarn global remove expo
yarn global remove expo-cli
npm uninstall -g expo
npm uninstall -g expo-cli

[2022-09-23 12:40] harrymash2006 opened #1703 "CLI: unexpected token '?'"
### Description

Hi guys,

just created a new project and it is throwing this error when doing archive on iOS and when doing build on Android

Showing Recent Messages
+ /usr/local/bin/node /Users/hardik/Documents/GitHub/ReactNApp/node_modules/react-native/cli.js bundle --entry-file index.js --platform ios --dev false --reset-cache --bundle-output /Users/hardik/Library/Developer/Xcode/DerivedData/A

[2022-09-23 13:41] cortinico commented on #1703
Here the correspondig issue on React Native: https://github.com/facebook/react-native/issues/34768 Let's close both once this is sorted out

[2022-09-23 14:01] mantegnous commented on #1703
same bug after updating to react 0.70.1 from 0.67.4

if i do npx react-native info, the cmd return me: Unexpected token '?'

[2022-09-23 18:44] rjatin007 commented on #1681
@piyawong it doesn't work. I even removed expo and expo-cli.

<img width="786" alt="Screenshot 2022-09-24 at 12 13 34 AM" src="https://user-images.githubusercontent.com/30732342/192035858-002fa471-5cc8-4f97-baf3-53972bae7201.png">

[2022-09-26 10:46] #1702 closed

[2022-09-26 14:09] harrymash2006 commented on #1703
@cortinico @jsierles @sharnik Is there any patch available for this fix? or can I use some alpha version which fixes this issue ?

[2022-09-26 16:16] mantegnous commented on #1703
Update note js to 16 resolve this problem

[2022-09-27 09:35] yashNiflr commented on #1103
same issue on ios

[2022-09-27 14:22] cortinico commented on #1703
As suggested, it seems like the issue is with your Node version.

[2022-09-27 17:01] SamAlexMunro commented on #484
Why is this matter closed?

This is still an issue with the latest version of React Native on a fresh project.

[2022-09-27 18:05] rjatin007 commented on #1681
@thymikee Can you please help here?

[2022-09-27 21:03] thymikee commented on #1681
Do you have a package.json somewhere in Desktop or "rn project" folder? If so, can you remove it?
Have you tried running the command in a folder name without whitrspaces?

[2022-09-28 07:58] rjatin007 commented on #1681
@thymikee I tried but still no success. Also, no package.json there. not even react-native-cli or react-native-community/cli
<img width="1680" alt="Screenshot 2022-09-28 at 1 26 52 PM" src="https://user-images.githubusercontent.com/30732342/192722134-bf327f56-2e30-4fb3-9449-6c5d6129de82.png">
<img width="1680" alt="Screenshot 2022-09-28 at 1 27 14 PM" src="https://user-images.githubusercontent.com

[2022-09-28 17:41] rjatin007 commented on #1681
@thymikee Any other information you would like me to provide?

[2022-09-28 18:57] thymikee commented on #1681
Unfortunately I don't have the capacity to help you directly. Maybe there's some kind of antivirus preventing you from doing things? You can try `npx @react-native-community/cli init` and see if that works. Hope someone from the community can step in

[2022-09-28 19:22] rjatin007 commented on #1681
I tried `npx @react-native-community/cli init` but still got same error.
<img width="938" alt="Screenshot 2022-09-29 at 12 52 40 AM" src="https://user-images.githubusercontent.com/30732342/192870496-0cbd5e08-b78b-45fc-b6c1-958efdad7ef6.png">

[2022-09-28 19:28] rjatin007 commented on #1681
`npx create-react-app` is working fine
<img width="650" alt="Screenshot 2022-09-29 at 12 57 42 AM" src="https://user-images.githubusercontent.com/30732342/192871430-3611e055-c59c-4acf-a537-27c4de5edc9a.png">

[2022-09-28 19:29] rjatin007 commented on #1681
@thymikee then issue seems to be in react native cli. Thanks for your time. Can you please tag someone who can help me.

[2022-09-28 21:09] thymikee commented on #1681
Another thing you could try to pin-point the issue is to install the `@react-native-community/cli` package as a dependency in a different directory, then modify the package's "index" file somewhat like this:
[code]
Then call the `path/to/cli/packages/cli/build/bin.js init` and see if the error is logged. Then you should have a better understanding of what's going on. Also, I'd be interested in why

[2022-09-29 09:49] vincentmegia commented on #785
in my case after upgrading grade plugin in android studio, I've noticed that package in AndroidManifest.xml was removed. Putting it back solved it

[2022-09-30 09:25] adamTrz commented on #1703
Hi @harrymash2006  @mantegnous - have you tried steps suggested here https://github.com/facebook/react-native/issues/34768 ? (remove old system-wide `node` and use latest? )

[2022-09-30 11:54] adamTrz opened #1706 "Add support for customising iOS build folder for `run-ios` command"
## Describe the Feature

#### Add support for customising iOS build folder for `run-ios` command.

By default, `DerivedData` folder is used for storing build artifacts, however in CI workflows it's often changed to `ios/build` (for caching purposes) but then you need to use `xcodebuild` directly instead of `yarn react-native run-ios` since currently it doesn't support customising this path which i

[2022-10-03 15:39] harrymash2006 commented on #1703
Still getting the same issue @adamTrz when doing archive of iOS build. It is still referring to /usr/local/bin/mode even after changing the system node pointing to NVM installed path.

![error](https://user-images.githubusercontent.com/5957516/193619057-544480b3-11bd-4660-8c16-73037a5995d6.jpg)

[2022-10-04 08:22] DrChrispoper opened #1707 "--simulator with name not working as expected after updating to 0.70.1"
## Environment

[code]
## Description

Running `react-native run-ios --simulator='iPhone 13'` no longer runs on iPhone 13 but the iPhone 12 Pro (first one available)

[code]

It is working on our previous version `0.69.1` with `@react-native-community/cli@^8.0.0`

## Reproducible Demo

[2022-10-04 08:59] liamjones commented on #1703
@harrymash2006 you're on 0.70.1 so you should be able to edit your `ios/.xcode.env` (or make an `ios/.xcode.env.local`) to override how it finds the node version to use

[2022-10-04 13:21] alexfoxy commented on #1707
This looks like an issue related to a change in `findMatchingSimulator.ts` in this commit: https://github.com/react-native-community/cli/commit/f0965532c8b079fc5b62ea813e273059089e0413

In the loop where it searches for a matching simulator the following was added:
[code]

This causes the first item in the list to always be found first, thus essentially exiting the loop.

[2022-10-04 13:27] alexfoxy commented on #1707
The function should be more like:
[code]

[2022-10-04 16:13] SufianBabri commented on #1063
I was receiving the following error when running `npx react-native init SocialMediaDownloader --template react-native-template-typescript`:
[code]

Replacing `npx react-native` with `npx react-native@latest` solved it for me.

[2022-10-04 17:39] #1707 closed

[2022-10-05 00:28] porfidev commented on #1119
Also, I just removed an Extra comma on package.json, that throw me error:

` {console.log(require('@react-native-community/cli').bin);} `

to install pods use `npx pod-install ios`  and `remove react-native/cli` that was I did

[2022-10-06 18:15] bigorangemachine commented on #1634
@adamTrz  & @TomSwift

I think I am investigating this issue now.  I'm trying to leverage [project config](https://github.com/react-native-community/cli/blob/main/docs/platforms.md#projectconfig) (as per docs).

What I see so far is after loading the config it doesn't include `project[platform]` provided value I set in `sourceDir`.  The value is null.

We're trying to use this configuration overri

[2022-10-07 08:27] web3walle commented on #1220
worked for me, this is mac complete

`vim ~/.zshrc`

[code]

`react-native doctor`

[2022-10-08 07:15] dasjideepak commented on #1598
Facing the same issue with react-native verison 0.64

[2022-10-08 18:00] zeejaydev commented on #1681
I still get the same error with react-native@0.70.2 cli
as a temp fix you can use an older cli it worked fine for me & you will still get the latest react-naive version 0.70.2
first clean up
if you use yarn
yarn global remove react-native-cli
yarn global remove react-native
if npm
npm uninstall -g react-native-cli
npm uninstall -g react-native
then
npx react-native@0.68.1 init MyApp

[2022-10-09 11:39] LitileXueZha opened #1712 "Pipe stderr to 'inherit'"
## Describe the Feature

react-native cli output errors when execute other programs, contains messy characters, usually in no-utf8 environment. It's very hardly to debugging.

## Possible Implementations

https://github.com/react-native-community/cli/blob/e89f296b1f1b27da23ffb77e3c8fc5bc2f4942ee/packages/cli-platform-android/src/commands/runAndroid/runOnAllDevices.ts#L89

## Related Issues

[2022-10-10 06:47] umarnsisar021 commented on #885
I was using ``react_native_config.js`` where i disabled the react-native-permissions. but after few days i removed this library from project.. then i tried to run ``npx pod-install`` it produced the error. I tried many methods but it didn't worked for me.. So i figured out that this happening because of ``react_native_config.js`` so i delete this file it get start working.

[2022-10-11 09:43] ZeeshanAhmadKhalil opened #1713 "Cannot find module 'ora'"
## Environment

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1 Pro
    Memory: 97.30 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.17.1 - /usr/local/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.15.0 - /usr/local/bin/npm
    Watchman: 2022.10.03.00 - /opt/homebrew/bin/watchman
  Managers:
    CocoaPods: 1.11.3 - /opt/homebrew/bin/pod
  SDKs:
    iOS SD

[2022-10-12 07:34] whyashif opened #1714 "How do I check if an app is installed on phone?"
How do I check if an application exists on phone.And make a conditional button.For eg:  if whatsapp exists on phone then only it will show open in whatsapp. Please help me out. ## Ask your Question

[2022-10-12 18:19] Aure77 opened #1715 "Config Validation Error: "project.android.mainFilePath" is not allowed"
## Environment

[code]

with react-native@0.70.3 & @react-native-community/cli@9.1.3

## Description

`yarn react-native info` or `yarn react-native config` crash with message "project.android.mainFilePath" is not allowed when using react-native.config.js with **mainFilePath** defined. This settings was working with previous version of cli.

## Reproducible Demo

create react-native.config.js with

[2022-10-13 17:49] smithkashyapdev commented on #808
Error: Cannot find module '@react-native-community/cli/build/tools/generator/copyProjectTemplateAndReplace'

[2022-10-14 08:55] adamTrz commented on #1715
Hi @Aure77 `mainFilePath` is indeed not supported but I won't name this as a bug.
What do you want to achieve by passing this config?
Maybe [platforms.android.sourceDir](https://github.com/react-native-community/cli/blob/main/docs/dependencies.md#platformsandroidsourcedir) would help?

[2022-10-14 09:14] adamTrz commented on #1713
Hi @ZeeshanAhmadKhalil - I wasn't able to reproduce this error - iOS app launched successfully.
Have you installed `node_modules` and `pods` as per [docs](https://reactnative.dev/docs/environment-setup#installing-dependencies)?
Closing as no repro but feel free to reopen if the issue pertains.

[2022-10-14 09:14] #1713 closed

[2022-10-14 09:18] adamTrz commented on #1714
I don't think it's possible to do a conditional button. Maybe you can try to use `Linking` module like described [here](https://stackoverflow.com/questions/52440796/how-to-check-if-whatsapp-is-installed-on-device)?

That being said it's definitely not issue with CLI so closing the ticket :)

[2022-10-14 09:18] #1714 closed

[2022-10-14 09:20] adamTrz commented on #1712
Hi @LitileXueZha  - could you elaborate more on your feature request and what can be improved here?

[2022-10-14 09:24] adamTrz commented on #1703
Hi @harrymash2006 have you tried the fixed mentioned above?
I'll close the issue for now but feel free to reopen if you still encounter problems when running the cli commands.

[2022-10-14 09:24] #1703 closed

[2022-10-14 09:25] adamTrz commented on #1485
Closing the issue since Watchman version check was resolved with #1700

[2022-10-14 09:25] #1485 closed

[2022-10-14 15:22] cmpdvd commented on #1598
Facing the same issue with react-native 0.67.4

[2022-10-14 16:15] abdallahshaban557 commented on #1063
That fixed the problem for me as well @SufianBabri !

[2022-10-14 18:45] cortinico commented on #1707
@adamTrz can we ship a release with this change as multiple users are surfacing it:
https://github.com/facebook/react-native/issues/34866
https://github.com/facebook/react-native/issues/34912

[2022-10-15 16:06] ShaswatPrabhat commented on #1293
Hi @thymikee is this issue still open ?

[2022-10-15 21:04] abdulrhman-alfeel opened #1717 "hlep"
## Help, I can't download it

[2022-10-16 11:26] #1717 closed

[2022-10-16 14:28] roysG opened #1718 "Error on build in ios"
System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1 Pro
    Memory: 90.52 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.15.1 - /usr/local/bin/node
    Yarn: Not Found
    npm: 8.11.0 - /usr/local/bin/npm
    Watchman: 2022.08.29.00 - /opt/homebrew/bin/watchman
  Managers:
    CocoaPods: 1.11.3 - /opt/homebrew/bin/pod
  SDKs:
    iOS SDK:
      Platforms: DriverKit 21.4, iOS

[2022-10-16 15:39] abdulrhman-alfeel opened #1719 "Unsupported class file major version 63"
FAILURE: Build failed with an exception.

* What went wrong:
Could not open settings generic class cache for settings file 'D:\project\tools\prouprint\android\settings.gradle' (D:\project\tools\gradle-7.5.1\caches\7.5.1\scripts\5o6jmz0o7vlzhu5xtvutuo3me).

* Try:

* Get more help at https://help.gradle.org

BUILD FAILED in 772ms

[2022-10-17 11:02] cortinico commented on #1719
There seems to be somethign going on with your Java version. Which version of Java are you using (you should be able to see it with `java -version`).

[2022-10-18 20:52] hszeto commented on #1598
Facing the same issue with react-native version 0.69.2

[2022-10-18 21:38] abdulrhman-alfeel commented on #1717
I removed jdk19 and installed jdk 17 and it worked, thanks for the solution

[2022-10-19 17:39] mustafaakb opened #1720 ""--simulator" option does not work for the latest version"
## Description

On v0.70.2 and v0.70.3 project template:
<--simulator="iPhone 14"> option does not work for any iPhone options that always launch the app default 'iPhone 8'

I have tested on template v0.69.6 that is working as expected, launch the app on any IOS simulator which is selected as <--simulator="iPhone 12 mini">

## Environment

Result of "react-native info":

System:
    OS: macOS 12.6

[2022-10-19 17:48] cortinico commented on #1720
Duplicate of https://github.com/react-native-community/cli/issues/1707
This is already fixed. Will be shipped in RN 0.70.4

[2022-10-19 17:48] #1720 closed

[2022-10-20 20:46] mqueiroz1995 opened #1721 "RN CLI relies on deprecated Package attribute in manifest file"
## Environment

[code]

## Description

[Package attribute in manifest file is deprecated](https://developer.android.com/studio/releases/gradle-plugin) on Android Gradle Plugin v7.3+. RN CLI has some kind of a bug that requires that the first folder (sorted alphabetically) in the project which has AndroidManifest.xml file, to have the package attribute. Otherwise, it will throw an error [[1]](http

[2022-10-21 08:46] adamTrz commented on #1719
@abdulrhman-alfeel any news on the issue? Have you checked you Java version?

[2022-10-21 08:48] adamTrz commented on #1293
@ShaswatPrabhat we would welcome your contribution here if you want to pick up the task :)

[2022-10-21 09:06] ShaswatPrabhat commented on #1293
Will share a PR for the same ASAP

[2022-10-21 09:29] adamTrz commented on #1718
Hi @roysG - could you please try to build app with terminal instead? Maybe we would be able to find some more meaningful error logs there :)

[2022-10-21 09:52] ShaswatPrabhat commented on #1293
[PR](https://github.com/react-native-community/cli/pull/1722) for the issue

[2022-10-21 11:53] #1293 closed

[2022-10-21 11:58] adamTrz commented on #1681
Hi. New version of cli have been released, could you please give it a go?

[2022-10-21 13:48] dstamou commented on #808
Same here. :-(

[2022-10-21 14:57] adamTrz commented on #1103
Steps to run the app from custom dir:

Imagine you have file structure like below:

![image](https://user-images.githubusercontent.com/13610886/197200171-11e669e2-d7f0-4e79-a35e-e21247a5adee.png)

Then you have to take those steps to have working iOS and Android Apps:

- specify custom `sourceDir` in `react-native.config.js`:
[code]

Adjust paths for `node_modules` like so:

### iOS:

- in `Podfil

[2022-10-21 15:01] adamTrz commented on #1677
Hi @imdadulhaque1 Does this issue still persist? Maybe try using new recommended approach using [bundler](https://reactnative.dev/docs/environment-setup#bundler)?

`bundle install` to install Bundler
If needed: install a [Ruby Version Manager](https://reactnative.dev/docs/environment-setup#ruby) and update the Ruby version
`bundle exec pod install` to install the iOS dependencies.

[2022-10-21 15:10] cortinico commented on #1721
@thymikee this is sort of critical as it's needed for the CLI version that lands on 0.71 (which contains AGP 7.3)

[2022-10-21 15:12] adamTrz commented on #1548
Hopefully this should work for you:
https://github.com/react-native-community/cli/issues/1103#issuecomment-1287081542

[2022-10-21 15:14] adamTrz commented on #1677
Closing the issue then :)

[2022-10-21 15:14] #1677 closed

[2022-10-22 13:38] BenMakesGames commented on #1719
I'm receiving this error as well.

[code]

`java --version` reports:

[code]

[2022-10-23 14:09] abdulrhman-alfeel opened #1723 "????*_*"
FAILURE: Build failed with an exception.

* Where:
Script 'D:\ppp\pro\node_modules\@react-native-community\cli-platform-android\native_modules.gradle' line: ???

* What went wrong:
A problem occurred evaluating script.

  [root:D:\ppp\pro\android, reactNativePath:D:\ppp\pro\node_modules\react-native, dependencies:[:], commands:[], healthChecks:[], platforms:[:], project:[:]]

[2022-10-23 19:49] abdulrhman-alfeel commented on #1719
Use jdk-17.0.4

[2022-10-23 19:51] abdulrhman-alfeel commented on #1719
I use jdk-17.0.4 and it is installed and there is no problem. How do I know if the problem is caused by it?

[2022-10-23 20:09] abdulrhman-alfeel commented on #1719
Excuse me, I only receive repository messages to email and I only open it often

[2022-10-24 03:24] rbarman commented on #1128
If anyone has an android device plugged in, you can run `npx react-native run-android --active-arch-only` to skip the emulator step.

[2022-10-24 10:04] thymikee commented on #1721
@adamTrz can you prioritize that? Looks like we need to update the `getPackageName` https://github.com/react-native-community/cli/blob/aed2572ccf03552d5ad82e104682f86291255f8a/packages/cli-platform-android/src/config/getAndroidProject.ts#L23-L26 to support the `namespace` from build.gradle. Since package is now deprecated, let's treat it as a fallback solution and use namespace first

[2022-10-24 16:06] cortinico commented on #1128
That's a workaround. The solution to this issue can't be just "plug an android device".

+1 for this approach

[2022-10-24 16:46] tmchale opened #1725 "Cannot get Turbo Native Example to build on M1 Mac"
I am trying to get a simple RN app to build accessing a Turbo Native ObjC++ module. I followed the example in the Turbo Native docs (https://reactnative.dev/docs/next/the-new-architecture/pillars-turbomodules). I did comment out fabric_enabled and flipper lines from the Podfile and that got rid of some warnings. But I still get this error and I do not know how to solve it:

The following build com

[2022-10-24 17:11] #1723 closed

[2022-10-24 18:00] abdulrhman-alfeel commented on #1723
I downloaded and installed the project again and the problem was solved

[2022-10-26 22:54] tmchale commented on #1725
After some diagnosis and getting to build in Xcode I think the problem is this. In the docs referenced above the last thing to do on iOS is make the RTNCalculator .h and .mm files. They respectively reference NativeCalculatorSpec and NativeCalculatorSpecJSI, both of which I cannot find defined anywhere. Are these typos?

[2022-10-27 10:38] cortinico commented on #1721
@thymikee @adamTrz I've took a stance at this as this was blocking me on RN's end.

Can you folks review and merge this on?
https://github.com/react-native-community/cli/pull/1727

[2022-10-27 10:57] adamTrz commented on #1721
Already approved. Thanks for jumping in :)

[2022-10-27 10:58] #1721 closed

[2022-10-27 15:36] bfischer1121 commented on #1681
If you search for "Failed to load configuration of your project." in node_modules, then modify it to:
[code]
it'll show the actual error. It'd be nice to make these changes [here](https://github.com/react-native-community/cli/blob/be3cb6a9fce4eaecfa62179221edf7e4201c89cc/packages/cli/src/index.ts#L174) or [here](https://github.com/react-native-community/cli/blob/be3cb6a9fce4eaecfa62179221edf7e4201

[2022-10-27 16:33] Ross-Landry commented on #1179
@pot2mayo Did that work for you?

I am trying to reduce my app clip size as well. I tried the work-around but I did not see a reduction in size. (I also didn't see any messages in the console about pods being skipped, so I'm not sure that my attempt to copy the patch worked.) Curious if you had success in this.

[2022-10-28 08:43] yunatamos commented on #838
open that android studio with command line

[2022-10-28 12:12] hb-webdev commented on #1649
I was trying to be a good little boy by installing a Ruby version manager (`rbenv`) like the docs suggest, even though I know I didn't install a Ruby manager in the past. Cue a multi-hour-long nightmare. In the end I uninstalled `rbenv`, and my problems magically disappeared.

`rbenv versions` (check the non-`system` Ruby version #)
`sudo rbenv uninstall 2.7.6`
`rbenv global system`
`rbenv local s

[2022-10-29 11:06] #1226 closed

[2022-10-29 22:31] Cnilton commented on #1625
Can also reproduce this issue using Bitrise, but cannot reproduce it locally.

# Environment

Windows 11 // works
Xcode 13.2.x on macOS 12.4 (Monterey) // Bitrise doesn't work
react: 18.1.0
react-native: 0.70.2 => 0.70.2

# Description

Running .\gradlew dependencies:

Welcome to Gradle 7.4.1!
Here are the highlights of this release:
 - Aggregated test and JaCoCo reports
 - Marking additional test

[2022-10-31 09:39] #1706 closed

[2022-10-31 17:16] sanders9 commented on #1600
Hello,

Any fix about this issue. I can reproduce with react-native": "0.68.2" 😢

[2022-10-31 19:58] rjatin007 commented on #1681
@adamTrz just tried this now, still same error.

<img width="1670" alt="Screenshot 2022-11-01 at 1 27 08 AM" src="https://user-images.githubusercontent.com/30732342/199098977-5263fef8-3c2d-4476-8ce1-11ad0f633a82.png">

[2022-10-31 20:22] rjatin007 commented on #1681
<img width="1236" alt="Screenshot 2022-11-01 at 1 50 52 AM" src="https://user-images.githubusercontent.com/30732342/199102855-7cbafc26-4faf-49b8-988e-7984b0133858.png">

@thymikee  I made directory rn_project then initialised it with npm inti -y. Next I installed the `@react-native-community/cli` package. And  in same directory from VScode terminal I called this command that you wrote.
Apparently

[2022-10-31 20:27] rjatin007 commented on #1681
@thymikee  Thanks a lot for suggestion, but I think it would have been much easier for me as a developer if it would have surfaced on earlier.

@bfischer1121 Thanks and I agree there should be some displaye of error like this console statement in the index js file too.

Closing this issue with this comment.

[2022-11-01 07:33] thymikee commented on #1681
@rjatin007 can you create a new feature request or even better a PR with the changes? Error should surface and we need to know why it didn't

[2022-11-01 07:34] rjatin007 commented on #1681
@thymikee Sure

[2022-11-01 08:45] aymeric75 opened #1733 "Using Autolinking on Windows in a Expo managed App"
Hello,

I am using:

- Windows 10
- Expo managed App

I want to install `react-native-async-storage`  (see install process [here](https://react-native-async-storage.github.io/async-storage/docs/install/)) and I did:

`npx expo install @react-native-async-storage/async-storage`

Now in the "Link" section, it is said that one must use that one must use [CLI autolink feature](https://github.com/react

[2022-11-02 02:30] TienRyo commented on #1311
'Flipper' => '0.95.0'  work for me

[2022-11-02 18:33] evangrim commented on #1311
Based on my experience, if you break your react-native-cli and use xcode as a workaround, you'll eventually pay for not dealing with the issue properly (whatever it is).

[2022-11-04 00:46] Ledenwifi commented on #1486
You just need to install the latest version of Nodejs, it worked in my case.

[2022-11-04 06:54] rjatin007 commented on #1681
<img width="1674" alt="Screenshot 2022-11-04 at 12 23 13 PM" src="https://user-images.githubusercontent.com/30732342/199910136-10
<img width="1680" alt="Screenshot 2022-11-04 at 12 18 45 PM" src="https://user-images.githubusercontent.com/30732342/199910167-dbd0fca8-70e0-48d4-96c9-5fdafe35783d.png">
12bbbd-7371-47c5-95d8-88c47538ce8c.png">

@thymikee  Sorry for delay in sharing , but i found that e

[2022-11-04 08:46] #1486 closed

[2022-11-04 15:00] thymikee opened #1740 "Redirect react-native-template-typescript to react-native"
## Describe the Feature

From RN 0.71 RN will be the default template language, which removes the need for the `react-native-template-typescript` template. To ease the migration, as this way of starting a TS project is referenced all over the docs/tutorials/guides/etc, we could detect users using this template and treat it as `react-native`. Outputting extra warning about what's happening under th

[2022-11-04 15:06] radko93 commented on #1740
The only concern would be creating projects with older RN versions, there are still some people doing that (look at the numbers lower than 6.12) https://www.npmjs.com/package/react-native-template-typescript

[2022-11-04 16:01] adamTrz commented on #1740
Quick check could look like so:
[code]

And then we could pass returned string here:

https://github.com/react-native-community/cli/blob/74bf4217f08fd87f76b60cf196774795679da28d/packages/cli/src/commands/init/init.ts#L184

Wdyt? @thymikee  @radko93

[2022-11-04 16:44] thymikee commented on #1740
Yeah along these lines. I'd be very explicit about matching this and only this template. We can figure out the best wording as well :)

[2022-11-04 17:16] radko93 commented on #1740
Agreed, looks good but needs to match the exact name not just `template-typescript`. Likely there are more templates with that phrase.

[2022-11-05 19:20] kraenhansen opened #1741 "`init` command failure should yield a non-zero exit status code"
## Environment

[code]

## Description

Any failure from the "init" command will result in a clean (0) exit code.
This is unfortunate if calling this from a script or on CI, as it leaves no chance for the caller to detect the failure mode.

## Reproducible Demo

1. Call the CLI to initialize a new React Native app: `npx react-native init MyApp`
2. Call the CLI to initialize the same app again: `np

[2022-11-07 02:44] StebanDev commented on #1637
@icefee's solution did the trick for me.

[2022-11-07 09:23] #1741 closed

[2022-11-07 10:30] adamTrz commented on #1740
Opened up #1743, can we move discussion there? :)

[2022-11-07 21:10] yorlandmurillo commented on #808
I was able to create a new folder for android and iOs.

I was installing the latest version of react-native-community, and after several tries failing, I decided to install a lower version:

`npm i @react-native-community/cli@8.0.6`

Remember to create an app.json file with these two lines:

`{
    "name":"YourProyect",
    "displayName":"YourProyect"
}`

And then, run the command 'react-native ej

[2022-11-09 17:58] vaibhav834 commented on #1649
Agree, tried everything, doesnt seem to work. Sadly no proper documentation anywhere.

[2022-11-09 18:18] vaibhav834 commented on #1649
Just install ruby using rvm instead of rbenv its life saving.
[https://nrogap.medium.com/install-rvm-in-macos-step-by-step-d3b3c236953b](url)

[2022-11-10 11:10] lifeeric opened #1745 "Installing Bundler failed"
Hey folks,
Thank you so much for this wonderful project! I'm creating a fresh new RN project, but it shows the below errors, even I installed the `ruby: 2.7.6` through the `rbenv` but it still shows this error.

[code]

***OS: macos big sur***

could anybody help me out? thank you

[2022-11-10 11:35] adamTrz commented on #1745
HI @lifeeric
Can you please provide output from `react-native doctor` command?

[2022-11-10 13:24] liamjones commented on #1745
This sounds like you have rbenv properly installed, so it's looking at `.ruby-version` to set the ruby version but you don't yet have Ruby 2.7.5 installed (this should maybe be something the CLI picks up on so it can advise you/fix it).

Try `rbenv install 2.7.5` and then creating the RN project again.

[2022-11-10 13:32] lifeeric commented on #1745
@liamjones
I get this error when I install the `2.7.5`

`rbenv install 2.7.5
To follow progress, use 'tail -f /var/folders/71/q60svfcn2qj2jn8k2b1n0y3c0000gn/T/ruby-build.20221110054707.1504.log' or pass --verbose
Downloading openssl-1.1.1q.tar.gz...
-> https://dqw8nmjcqpjn7.cloudfront.net/d7939ce614029cdff0b6c20f0e2e5703158a489a72b2507b8bd51bf8c8fd10ca
error: failed to download openssl-1.1.1q.tar.

[2022-11-10 13:47] liamjones commented on #1745
...

Looks like you machine is having an issue downloading files from the web. It failed to retrieve it from cloudfront and the backup of the openssl.org website directly.

[2022-11-10 14:40] lifeeric commented on #1745
@liamjones
it's downloaded but now I see a different error:

[code]

[2022-11-10 16:06] adamTrz commented on #1745
Can you try to install cocoapods manually?
[code]

[2022-11-11 10:40] tom-sherman opened #1746 "Changes to project.pbxproj and xcworkspace after pod install"
## Environment

[code]

## Description

The following diff is created after running `pod install` on a fresh project:

https://github.com/tom-sherman/react-native-sample-app-xcode-workspace-bug-repro/commit/cff976dd8d7de23a3465017a589a88cfe06e9d53

You can see the inverse of this diff was made in 0.70.4: https://react-native-community.github.io/upgrade-helper/?from=0.70.3&to=0.70.4

Excluding the

[2022-11-11 11:31] liamjones commented on #1746
I believe all of these are expected.

`"EXCLUDED_ARCHS[sdk=iphonesimulator*]" = i386;` is because your project has hermes enabled (apparently) and is set by the scripts you import into your Podfile: https://github.com/facebook/react-native/blob/7203187c808531b279ba9a9e2e73748c4254cbb6/scripts/cocoapods/utils.rb#L68

`REACT_NATIVE_PATH = "${PODS_ROOT}/../../node_modules/react-native";` is dynamical

[2022-11-11 11:33] liamjones commented on #1746
RN includes a `.gitignore` OOTB (https://github.com/tom-sherman/react-native-sample-app-xcode-workspace-bug-repro/blob/main/.gitignore) so standard things that shouldn't be committed (like the Cocoapods themselves) will generally already have an ignore statement: https://github.com/tom-sherman/react-native-sample-app-xcode-workspace-bug-repro/blob/main/.gitignore#L63

[2022-11-11 12:15] tom-sherman commented on #1746
@liamjones I'm aware of these. Should these things be added to the gitignore then? Or should we treat them as "generated" and commit them like we do Podfile.lock?

[2022-11-11 12:20] liamjones commented on #1746
The latter, tread them as generated changes you will want to commit

[2022-11-11 12:23] tom-sherman commented on #1746
Ah sorry I missed your first comment which explained this already, thanks for this!

[2022-11-12 17:20] Aashu-Dubey opened #1747 "ios, macos module conflict. `run-ios` command not working after adding `react-native-macos`."
## Environment

[code]

## Description

I have encountered conflict between ios and macos platform module if used together while running the `npx react-native run-ios` command, where `run-ios` fails to find the workspace file under ios folder after adding macos support using [this guide](https://microsoft.github.io/react-native-windows/docs/0.64/rnm-getting-started#install-the-macos-extension).

I

[2022-11-14 11:21] tamlyn commented on #1702
This fix is released in [v9.1.2](https://github.com/react-native-community/cli/releases/tag/v9.1.2).

If you're on an older version of React Native (and hence an older version of the CLI) then another solution is to just create an iPhone 13 simulated device by going to <kbd>File > New Simulator...</kbd> in the iOS Simulator.

[2022-11-15 14:09] MuhammadBilal60803 commented on #657
in your podfile, change the path from './node_modules/react-native-linear-gradient'  to '../node_modules/react-native-linear-gradient

[2022-11-16 16:46] homersimpsons commented on #765
Is there any news on this one ? Adding a cli options should be the first step, I don't think having an interactive behavior is desirable at first.

[2022-11-17 09:36] mrousavy opened #1749 "Every RN CLI command fails with `Error: Cannot find module './xcode'`"
## Environment

Can't run that, that command fails with the `Error: Cannot find module './xcode'` error as well.

## Description

When running `pod install`, it fails with this error:

[code]

## Reproducible Demo

Trying to run the VisionCameraExample app (https://github.com/mrousavy/react-native-vision-camera/tree/main/example), but on my other PC it works. So it definitely is an environment iss

[2022-11-17 10:01] thymikee commented on #1749
Is it possible that you have corrupted node_modules? This file (`healthchecks/index.js`) requires `./xcode` file which should be present next to the index.

[2022-11-17 10:12] mrousavy commented on #1749
Yea I know, the xcode file is not there for me in the doctor/ folder - but I reinstalled node_modules and it is always missing...
<img width="409" alt="Screenshot 2022-11-17 at 11 12 00" src="https://user-images.githubusercontent.com/15199031/202418854-5b65c390-03e5-434f-9e1d-6630b96135d8.png">

[2022-11-17 10:16] mrousavy commented on #1749
Apparently my yarn cache was corrupted. No idea how that happened, but I assume it had a partial version (with the xcode.js file missing) of RN CLI in it's cache. I fixed the issue by running

[code]

[2022-11-17 10:16] #1749 closed

[2022-11-17 10:23] thymikee commented on #1749
Happy you solved this. Thanks for following up!

[2022-11-17 18:15] elliotdickison opened #1750 "CLI fails when dev dependencies are not installed"
## Environment

[code]

## Description

The CLI fails with the error `Failed to load configuration of your project.` if any development dependencies listed in `package.json` are not installed (even if those dependencies are not actually referenced anywhere in the project).

Potentially related issues: #1169 #1681

## Reproducible Demo

1. `npx create-expo-app test-rn-app`
2. `cd ./test-rn-app`
5.

[2022-11-17 18:40] elliotdickison commented on #1750
Here's my temporary workaround (wrapping the config logic that searches through dependencies in a try/catch):

[code]

[2022-11-18 06:55] szymonrybczak commented on #1679
Hello @whaijungit - could you elaborate more on your issue?

[2022-11-18 09:27] rdhox commented on #1649
Thanks!
I had to reinstall cocoapods for having the ruby version with rvm knowing the right path.

[2022-11-18 10:48] TMisiukiewicz commented on #1750
Hi @elliotdickison, thanks for reporting a bug. Gonna take a look on this one

[2022-11-18 11:11] adamTrz commented on #1625
Hi @dineshspp
I can see you have cli globally installed. Could you please try to remove it and try again?

@Cnilton your issue seems a bit different. Do you have custom project configuration?
At the end of the log I can see:
[code]
Which point to android project being null and then crashing at gradle script.

[2022-11-18 11:16] #1489 closed

[2022-11-18 11:19] adamTrz commented on #387
Fixed by #1582

[2022-11-18 11:19] #387 closed

[2022-11-18 11:21] #1492 closed

[2022-11-18 11:22] #382 closed

[2022-11-18 11:36] #773 closed

[2022-11-18 11:49] adamTrz opened #1751 "Automate issues and PRs triaging"
## Describe the Feature

Nice to have feature would be to have some GH Actions automation that will triage new issues and close stale ones.
Same goes for pull request.

We can discuss implementation details here and then create some GH Action workflows as a result 💪

[2022-11-18 15:24] Darklaki commented on #1598
Facing the same issue with rn version `0.70.5`

[2022-11-19 07:56] phucph1998 opened #1753 "FETCH API"
## Ask your Question
 FETCH API

I'm fetching API data for up to 6 minutes then leaving the app in background and then reopening the app but the app doesn't receive a response from the api and the app waits forever

[2022-11-20 18:23] Cnilton commented on #1625
@adamTrz what do you mean by custom project configuration? react-native.config.js?

[code]

[2022-11-21 07:36] #1746 closed

[2022-11-21 07:45] szymonrybczak commented on #1753
Hello @phucph1998, are you sure that this is an issue with `@react-native-community/cli`?

[2022-11-21 09:58] TMisiukiewicz commented on #1751
Hi,
just a few question that come to my mind:

- how many days should pass to mark issue as stale? i'd say 30 days is reasonable
- how many days should pass from marking as stale to closing the issue? The default value is 7 days and i think it's totally fine
- how often should the CRON for this action run?
- should there be any labels exempted from stale? (if yes, i think there might be some diffe

[2022-11-21 10:57] #1753 closed

[2022-11-21 11:00] thymikee commented on #1753
@phucph1998 closing the issue as it's not related to the CLI. Please feel free to post some more information here or in Stack Overflow and hopefully someone will be able to help

[2022-11-21 16:01] thymikee commented on #1751
Added the "stale" label. Let the bot add the label and remove when anyone comments. We can run the cron once a month. I'd mark the issue stale after 90 days – check what others do. 7 days to close the issue is fine. We should check all issues, regardless the labels for now. Can tweak that later

[2022-11-22 10:34] #1750 closed

[2022-11-22 10:56] TMisiukiewicz commented on #1751
thanks for the answer, I'd suggest running cron once a day to constantly mark issues as stale and close them

[2022-11-22 12:07] lucasff opened #1754 "run-android with --deviceId triggers different build path"
## Environment

System:
    OS: macOS 12.6.1
    CPU: (10) arm64 Apple M1 Max
    Memory: 85.56 MB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.18.0 - /opt/homebrew/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.19.2 - /opt/homebrew/bin/npm
    Watchman: 2022.10.24.00 - /opt/homebrew/bin/watchman
  Managers:
    CocoaPods: 1.11.3 - /opt/homebrew/bin/pod
  SDKs:

[2022-11-22 15:06] nica0012 commented on #1598
I'm also having this issue.

[2022-11-22 18:56] szymonrybczak commented on #1747
Hey @Aashu-Dubey, you're using the `9.2.1` version of `cli`, but `react-native-macos` is using the `7.0.3`, and between these two version some things changed and this causes error. So to make that working you must use older `react-native` version 😄

[2022-11-22 18:56] #1747 closed

[2022-11-23 14:11] Arjan-Zuidema commented on #1634
I am currently in the progress of updating the example project for [CameraRoll](https://github.com/react-native-cameraroll/react-native-cameraroll) to the latest version of react-native. We are using `--project-path` [here](https://github.com/react-native-cameraroll/react-native-cameraroll/blob/master/package.json#L24) to run the project in the example directory. Would be nice if this option retur

[2022-11-23 19:35] adamTrz commented on #1751
Fixed with #1755

[2022-11-23 19:35] #1751 closed

[2022-11-24 09:39] adamTrz commented on #1638
`sourceDir` option put into `react-native.config.js` should allow that :)

[2022-11-24 09:39] #1638 closed

[2022-11-24 09:46] adamTrz commented on #1625
Yeah I meant `react-native.config.js`

Strange, nothing fishy going there...

Could you try to clone the CLI repo and try to debug a bit locally?

[2022-11-25 09:50] adamTrz commented on #1602
Hi.
As for now, recommended way to install Cocoapods is with bundler. There have been also some improvements merged into CLI that should address the issues you were facing.
I'll close the issue for now, please check if this is still valid and if so I'm happy to reopen :)

[2022-11-25 09:50] #1602 closed

[2022-11-25 16:08] MateWW opened #1759 "[Android] Add support for local AAR in libraries"
## Describe the Feature
I faced multiple times a situation when inside the library I had to use local AAR.
It's not a super common case but I was struggling with it twice lately and wasn't able to figure out an easy solution.

## Problem description

The issue can be established when we want to use some AAR files in our library as a developer.
For instance, I would like to link the local glide fil

[2022-11-26 00:37] cortinico commented on #1759
I don't believe this should be included in the CLI at all.
Out of curiosity, which library are distributing `.aar` as local libraries?

[2022-11-26 11:20] darkbasic commented on #1412
This makes no sense: I want to run git mergetool instead.

[2022-11-26 13:12] HaloWang commented on #1602
thank you for your reply. i will take a look at this problem when i back to
RN dev

On Fri, Nov 25, 2022, 5:50 PM Adam Trzciński ***@***.***>
wrote:

[2022-11-26 18:44] kraenhansen commented on #1493
This is still an issue.

[2022-11-27 01:18] trivikr commented on #1382
The issue is still valid.

[2022-11-27 11:17] aliraza-noon commented on #1269
Not stale

[2022-11-27 13:49] MateWW commented on #1759
@cortinico Thanks for your reply!
There are two common cases where I'm seeing these problems

- I've got some dedicated version of the native library that cannot be published for some reason.
- Another case is that some companies already have some private libs as AARs that are used in a native app.
They want to share them with RN implementing library architecture. Finally, in every RN app that is

[2022-11-27 14:36] cortinico commented on #1759
I would suggest you integrate those AAR using either:
* `mavenLocal()` (i.e. the `~/.m2/` folder)
* A local Maven repository stored inside your git repository (say a folder `./maven-repo` and you can include it as part of your build).
* A Maven repository that you can setup inside your organization to distribute the private packages (like nexus - https://www.sonatype.com/products/repository-oss-do

[2022-11-28 02:02] krmao commented on #1691
+1

[2022-11-28 10:02] MateWW commented on #1759
Those sound like a better solution however it seems like each of those solutions needs work on the application side.
Is there any solution that can be fully handled on the library side?

Besides that, I'm not a Gradle expert could you share some insight into why this is generally a bad solution?
[code]

[2022-11-28 10:12] #1054 closed

[2022-11-28 10:19] tido64 commented on #1588
Not stale.

[2022-11-28 10:20] tido64 commented on #1576
@mikehardy: Should we close this? Prefabs will be enabled as of 0.71 so I don't know how relevant this will be for 99% of use cases.

[2022-11-28 10:23] liamjones commented on #1391
Still waiting on PR #1571 to be approved and merged to fix this.

[2022-11-28 10:38] #1527 closed

[2022-11-28 10:38] #1507 closed

[2022-11-28 10:42] thymikee commented on #1269
@aliraza-noon maybe you'd like to tackle this feature? 🚀

[2022-11-28 11:01] TMisiukiewicz commented on #1622
not stale - PR open #1623

[2022-11-28 11:05] TMisiukiewicz commented on #1599
not stale

[2022-11-28 12:02] TMisiukiewicz commented on #1284
@thymikee is there still an error in the docs?

[2022-11-28 12:10] TMisiukiewicz commented on #1213
to be checked again with newer version of RN

[2022-11-28 12:20] TMisiukiewicz commented on #1169
@thymikee is there  any update in CLI on using v2 of yarn?

[2022-11-28 12:57] mikehardy commented on #1576
While I understand the Pareto Principle is critical to employ in much software development, I think the hope for the doctor scripts is that they are not just 80% good but that they are excellent / world-class, implying that they are 99.999% or similar. Which also implies that if there's a known incompatibility in certain combinations and it is detectable, it should be done.

But open source being

[2022-11-28 15:11] thymikee commented on #1284
@adamTrz would be the best to tell now, as he worked on build-android command recently

[2022-11-28 16:35] adamTrz commented on #1576
Hey @mikehardy  @tido64 , thanks for responding to the issue and turning it back life 🙂
Any wat we can help here?

[2022-11-28 16:48] mikehardy commented on #1576
I think a successful implementation will resolve via some exploration the questions in the comment above https://github.com/react-native-community/cli/issues/1576#issuecomment-1083165035

1- obtain and resolve Xcode settings to see if static analysis is enabled
2- determine if ccache is in use

For 1, it may be that doctor has an enhanced mode that allows for some otherwise-optional download+insta

[2022-11-28 16:48] adamTrz commented on #1169
@TMisiukiewicz can confirm issue is valid

[2022-11-28 17:20] adamTrz commented on #1213
Can confirm that issue is still present

[2022-11-28 17:27] adamTrz commented on #1150
There's ongoing effort to add custom gradle options with #1729

[2022-11-28 21:16] trozdol commented on #1194
I found removing any white space character from the name fixed it for me.

[2022-11-28 21:43] cortinico commented on #1759
As a library decides to don't publish on conventional repositories (NPM, Maven Central, etc.) you're effectively adding a cost to users. What you're effectively proposing is to move this costs inside the CLI, which would make sense if this would be a broad use case. Sadly, I believe it's an edge case, and we should not support it out of the box as it's not worth the maintenance cost.

Because you'

[2022-11-28 23:58] Cnilton commented on #1625
Running locally I couldn't reproduce this issue... but when running the cli through Bitrise workflow I can reproduce it. Even simply running ./gradlew dependencies will throw the same error.

[2022-11-29 09:36] thymikee commented on #870
not stale

[2022-11-29 09:37] thymikee commented on #896
@adamTrz can you take a look? :)

[2022-11-29 09:37] thymikee commented on #927
Still valid, anyone up for grabs? :)

[2022-11-29 09:40] TMisiukiewicz commented on #1213
@adamTrz I tried to investigate that, but cannot find where exactly the websocket messages are received - do you have any knowledge about it? Reloading the app works as excepted

[2022-11-29 11:04] TMisiukiewicz commented on #1169
When using yarn berry, adding this line to `.yarnrc.yml`  should do the trick:
[code]

[2022-11-29 11:41] #1759 closed

[2022-11-29 22:09] SocialAnxty commented on #1678
Currently facing the same issue.

[2022-11-30 07:52] #1455 closed

[2022-11-30 13:32] sryze commented on #1457
Anyone knows how to fix this in Dolphin? The above solutions didn't help me unfortunately 😞

[2022-11-30 18:01] #1740 closed